Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Correct typographical error (#1236)
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Added the keyboard shortcut for '~' on Windows (#1235)
  content/en/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: text improvements
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: text improvements (#1238)
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency sass-loader to v11
  package.json
  yarn.lock
Due: yarn lint:prettier

Update content/ru/guides/features/loading.md
  content/ru/guides/features/loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update `sass-loader` recommendation to v10 (#1226)
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/guides/configuration-glossary/configuration-css.md
  content/en/guides/directory-structure/assets.md
  content/en/guides/features/configuration.md
  content/es/guides/configuration-glossary/configuration-css.md
  content/es/guides/directory-structure/assets.md
  content/es/guides/features/configuration.md
  content/fr/faq/pre-processors.md
  content/id/guides/directory-structure/assets.md
  content/id/guides/features/configuration.md
  content/ja/faq/pre-processors.md
  content/ja/guides/configuration-glossary/configuration-css.md
  content/ja/guides/directory-structure/assets.md
  content/ko/guides/features/configuration.md
  content/pt/guides/configuration-glossary/configuration-css.md
  content/pt/guides/directory-structure/assets.md
  content/pt/guides/features/configuration.md
  content/zh/faq/pre-processors.md
  renovate.json
Due: yarn lint:prettier, yarn lint:markdownlint

Fix typo.
  content/ja/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix typo. (#1240)
  content/ja/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

alias typo fix
  content/en/guides/configuration-glossary/configuration-alias.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add Webpack Commands to docs
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

Make it clear that each plugin must match the created Vue variable
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add Webpack Commands to docs (#1242)
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: apply fixes for #1242
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency husky to v5
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(id): added translation to $nuxt.md
  content/id/guides/internals-glossary/$nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): improve translation to $nuxt.md
  content/id/guides/internals-glossary/$nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update all dependencies and sort package.json
  package.json
  yarn.lock
Due: yarn lint:prettier

remove Lazy prefix
  pages/docs/2.x/_book/_slug.vue
  pages/examples/_slug.vue
  pages/index.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

update nuxt.config
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

pin content to 1.12.0 due to issue
  package.json
  yarn.lock
Due: yarn lint:prettier

revert #1194
  README.md
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/guides/get-started/installation.md
  content/es/guides/get-started/installation.md
  content/fa/guides/get-started/installation.md
  content/fr/guides/get-started/installation.md
  content/id/guides/get-started/installation.md
  content/ja/_archives/guide/commands.md
  content/ja/guides/get-started/installation.md
  content/ko/_archives/guide/commands.md
  content/ko/guides/get-started/installation.md
  content/pt/guides/get-started/installation.md
  content/ru/_archives/guide/commands.md
  content/ru/guides/get-started/installation.md
  content/zh/guide/commands.md
  content/zh/guide/development-tools.md
  content/zh/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update pages/team.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(id): translate $nuxt.md to Indonesian (#1245)
  content/id/guides/internals-glossary/$nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

update nuxt/content to latest
  package.json
  yarn.lock
Due: yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
