Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

pull original page updates
  content/ru/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/component-glossary/pages-key.md
  content/tr/guides/components-glossary/pages-key.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/component-glossary/pages-layout.md
  content/tr/guides/components-glossary/pages-layout.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/component-glossary/pages-loading.md
  content/tr/guides/components-glossary/pages-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/component-glossary/pages-middleware.md
  content/tr/guides/components-glossary/pages-middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-telemetry (#1076)
  content/ja/guides/configuration-glossary/configuration-telemetry.md
Due: yarn lint:prettier, yarn lint:markdownlint

yarn add --dev textlint textlint-rule-preset-ja-spacing
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(ja): translate configuration-router (#1077)
  content/ja/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

yarn run textlint --init
  .textlintrc
Due: none

+ "ja-space-between-half-and-full-width": { "space": "always" }
  .textlintrc
  package.json
Due: yarn lint:prettier

yarn lint:all:textlint:ja
  content/ja/_archives/guide/index.md
  content/ja/guides/configuration-glossary/configuration-plugins.md
  content/ja/guides/configuration-glossary/configuration-rootdir.md
  content/ja/guides/directory-structure/middleware.md
  content/ja/guides/features/data-fetching.md
  content/ja/guides/features/file-system-routing.md
  content/ja/guides/features/live-preview.md
  content/ja/guides/get-started/commands.md
  content/ja/guides/get-started/conclusion.md
  package.json
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency eslint-config-prettier to v7
  package.json
  yarn.lock
Due: yarn lint:prettier

+ "ja-space-after-question": false
  .textlintrc
  content/ja/guides/get-started/conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/components-glossary/pages-scrolltotop.md
  content/tr/guides/components-glossary/pages-scrolltotop.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/components-glossary/pages-transition.md
  content/tr/guides/components-glossary/pages-transition.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/components-glossary/pages-validate.md
  content/tr/guides/components-glossary/pages-validate.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/component-glossary/pages-watchquery.md
  content/tr/guides/components-glossary/pages-watchquery.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(en): add info about dynamic config
  content/en/guides/configuration-glossary/configuration-build.md
  content/en/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove alerts
  content/en/guides/configuration-glossary/configuration-build.md
  content/en/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

yarn add --dev textlint-rule-preset-jtf-style
  .textlintrc
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(ja) fix directory-structure/static
  content/ja/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate pages-watchquery
  content/ja/guides/components-glossary/pages-watchquery.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: clarify note
  content/en/guides/configuration-glossary/configuration-build.md
  content/en/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate pages-scrolltotop
  content/ja/guides/components-glossary/pages-scrolltotop.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(en): add Github Actions to Github Pages
  content/en/faq/github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fixed some grammar errors
  content/pt/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix (#1099): add dynamic spacing for cookie banner
  components/templates/TheCookieBox.vue
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

refactor (#1099): improve naming of event
  components/templates/TheCookieBox.vue
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: correct function format (#1078)
  content/en/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(en): add Github Actions to Github Pages (#1097)
  content/en/faq/github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fixed some grammar errors (#1098)
  content/pt/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix (#1099): add dynamic spacing for cookie banner (#1100)
  components/templates/TheCookieBox.vue
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

Update content/ja/guides/directory-structure/store.md
  content/ja/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
