Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Use icons8 SVG Illustrations
  components/svg/fogg/team.vue
  layouts/error.vue
  pages/design.vue
  pages/shop.vue
  pages/support-nuxtjs.vue
  pages/support.vue
  pages/team.vue
  pages/themes.vue
  static/img/illustrations/404.png
  static/img/illustrations/design.png
  static/img/illustrations/shop.png
  static/img/illustrations/success.png
  static/img/illustrations/themes.png
  static/img/illustrations/welcome.png
  static/img/illustrations/workflow.png
Due: yarn lint:eslint, yarn lint:prettier

sponsors: update
  components/Affix.vue
  partials/home/backers.vue
  static/sponsors/clay.png
  static/sponsors/fire-stick-how.png
  static/sponsors/ux-planet.png
Due: yarn lint:eslint, yarn lint:prettier

feat: add saucelabs svg
  static/saucelabs.svg
Due: none

chore: add OC sponsors
  components/partials/home/sponsors.vue
  pages/support-nuxtjs.vue
  static/img/sponsors/crosswordsolver.svg
  static/img/sponsors/google-chrome.svg
Due: yarn lint:eslint, yarn lint:prettier

add resources
  components/partials/Header.vue
  components/partials/home/welcome.vue
  components/svg/PlayCircle.vue
  components/svg/Resources.vue
  pages/resources.vue
  pages/themes.vue
  pages/video-courses.vue
  static/courses/async-data-with-nuxtjs-2x.png
  static/courses/async-data-with-nuxtjs.png
  static/courses/nuxt-fundamentals-2x.png
  static/courses/nuxt-fundamentals.png
  static/courses/static-site-generation-with-nuxtjs-2x.png
  static/courses/static-site-generation-with-nuxtjs.png
Due: yarn lint:eslint, yarn lint:prettier

fix #274
  nuxt.svg
  static/logos/nuxt-logos.sketch
  static/logos/nuxt-square-white.svg
  static/logos/nuxt-square.svg
  static/logos/nuxt-white.svg
  static/logos/nuxt.svg
Due: none

[Examples] Modules, German
  content/de/examples/10.modules/1.local.md
  content/de/examples/10.modules/2.axios.md
  content/de/examples/10.modules/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: built with nuxt logo too
  static/logos/built-with-nuxt-white.svg
  static/logos/built-with-nuxt.svg
Due: none

add images in static folder
  components/partials/ads/BlackFriday.vue
  static/img/blackfriday/40off.png
  static/img/blackfriday/background.png
  static/img/blackfriday/percent.png
  static/img/blackfriday/title.png
Due: yarn lint:eslint, yarn lint:prettier

add logo on banner
  components/partials/ads/BlackFriday.vue
  static/img/blackfriday/vueschool_logo.svg
Due: yarn lint:eslint, yarn lint:prettier

chore: update sponsors
  components/partials/home/sponsors.vue
  pages/support-nuxtjs.vue
  static/img/sponsors/top-web-agencies.png
Due: yarn lint:eslint, yarn lint:prettier

chore: switch payfit to tediber
  components/partials/home/companies.vue
  static/img/companies/payfit.svg
  static/img/companies/tediber.svg
Due: yarn lint:eslint, yarn lint:prettier

add main image (#326)
  static/blog/understanding-how-fetch-works-in-nuxt-2-12/main.png
Due: none

Revert "add main image (#326)"
  static/blog/understanding-how-fetch-works-in-nuxt-2-12/main.png
Due: none

Update nuxt.config.ts
  nuxt.config.ts
Due: none

feat: Add /blog section (#307)
  assets/css/tailwind.css
  components/commons/HtmlParser.global.vue
  components/commons/Image.global.vue
  components/commons/blog/postAuthor.global.vue
  components/commons/blog/postItem/postItem.global.vue
  components/commons/blog/postNavigationLinks.global.vue
  components/commons/blog/postPreviewItem/postPreviewItem.global.vue
  components/partials/AlgoliaSearch.vue
  components/partials/Footer.vue
  components/partials/Header.vue
  components/partials/MobileMainNavigation.vue
  components/svg/Blog.vue
  modules/docs/dev.js
  modules/docs/server.js
  nuxt.config.js
  package.json
  pages/_section/_slug.vue
  pages/blog/_slug.vue
  pages/blog/index.vue
  plugins/vue-observe-visibility.client.js
  static/blog/introducing-smart-prefetching/main.png
  static/blog/nuxtjs-from-terminal-to-browser/main.png
  static/blog/understanding-how-fetch-works-in-nuxt-2-12/main.png
  store/index.js
  tailwind.config.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

replace krutie article image (#335)
  yarn.lock
Due: none

chore: add main image for sergey article
  static/blog/build-dev-to-clone-with-nuxt-new-fetch/main.png
Due: none

chore: add video for article
  components/commons/HtmlParser.global.vue
  pages/blog/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add educational partner (#350)
  components/partials/home/sponsors.vue
  static/img/partners/dark/vueschool.svg
  static/img/partners/light/vueschool.svg
Due: yarn lint:eslint, yarn lint:prettier

chore: change og:image
  pages/blog/_slug.vue
  pages/design.vue
  pages/index.vue
  static/nuxt-card.png
Due: yarn lint:eslint, yarn lint:prettier

chore: improve meta and add sponsor
  layouts/default.vue
  pages/_section/_slug.vue
  pages/_section/release-notes.vue
  pages/blog/_slug.vue
  pages/blog/index.vue
  pages/design.vue
  pages/index.vue
  pages/resources.vue
  pages/shop.vue
  pages/sponsor-nuxtjs.vue
  pages/support.vue
  pages/team.vue
  pages/themes.vue
  pages/video-courses.vue
  static/img/sponsors/dark/minitool.png
  static/img/sponsors/light/minitool.png
Due: yarn lint:eslint, yarn lint:prettier

chore: update bg of cover
  static/blog/seed-round/main.png
Due: none

chore: add cover
  static/blog/seed-round/main.png
Due: none

docs: add images color-mode blog (#363)
  components/commons/HtmlParser.global.vue
  static/blog/going-dark-with-nuxtjs-color-mode/main.png
  tailwind.config.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

add env article image (#374)
  static/blog/moving-from-nuxtjs-dotenv-to-runtime-config/main.png
Due: none

add Going Full Static image (#376)
  static/blog/going-full-static/main.png
Due: none

add creating-blog-with-nuxt-content main image (#381)
  static/blog/creating-blog-with-nuxt-content/main.png
Due: none

Update context diagram (#444)
  content/en/guides/concepts/context-helpers.md
  static/guides/context.jpeg
  static/guides/context.svg
Due: yarn lint:prettier, yarn lint:markdownlint

Update plugins diagram (#502)
  content/en/guides/directory-structure/plugins.md
  static/guides/plugins.svg
  static/raw/plugins.drawio
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add new sponsor moovweb (#506)
  components/partials/SponsorsBlock.vue
  components/partials/home/HomeSponsors.vue
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/moovweb-logo.png
  static/img/sponsors/light/moovweb-logo.png
Due: yarn lint:eslint, yarn lint:prettier

feat: add diagrams (#613)
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/content.md
  content/pt/guides/directory-structure/components.md
  content/pt/guides/directory-structure/content.md
  static/guides/components.png
  static/guides/nuxt-content.svg
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add zenarchitects logo (#679)
  components/partials/home/companies.vue
  static/img/companies/original/zenarchitects.svg
  static/img/companies/preview/zenarchitects.svg
Due: yarn lint:eslint, yarn lint:prettier

[japanse] add campany use-case (#676)
  components/partials/home/companies.vue
  static/img/companies/original/plaid.svg
  static/img/companies/preview/plaid.svg
Due: yarn lint:eslint, yarn lint:prettier

fix: remove company logo not using Nuxt (#743)
  components/partials/home/companies.vue
  static/img/companies/original/amplitude.svg
Due: yarn lint:eslint, yarn lint:prettier

feat: add new sponsor (#810)
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/vps-server.png
  static/img/sponsors/light/vps-server.png
Due: yarn lint:eslint, yarn lint:prettier
