Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Add AWS Amplify Deployment Instructions (#819)
  content/en/faq/deployment-aws-amplify.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: cypress tests issue breaking build in netlify
  cypress/integration/home.spec.js
Due: yarn lint:eslint, yarn lint:prettier

fix: cypress tests issue breaking build in netlify (#833)
  cypress/integration/home.spec.js
Due: yarn lint:eslint, yarn lint:prettier

fix: install cypress binary
  package.json
Due: yarn lint:prettier

Fix tests (#834)
  package.json
Due: yarn lint:prettier

feat: add sendcloud sponsor
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/sendcloud.svg
  static/img/sponsors/light/sendcloud.svg
Due: yarn lint:eslint, yarn lint:prettier

feat: add sendcloud sponsor (#835)
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add sendcloud sponsor (#835)
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/sendcloud.svg
  static/img/sponsors/light/sendcloud.svg
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency @nuxtjs/color-mode to v2
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: set secruity to false for cypress
  cypress.json
Due: none

fix: set secruity to false for cypress (#836)
  cypress.json
Due: none

fix: imporve get started
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): Provide Indonesian translation for configuration glossary (#795)
  content/id/guides/configuration-glossary/configuration-telemetry.md
  content/id/guides/configuration-glossary/configuration-transition.md
  content/id/guides/configuration-glossary/configuration-vue-config.md
  content/id/guides/configuration-glossary/configuration-watch.md
  content/id/guides/configuration-glossary/configuration-watchers.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate config-glossary/config-generate
  content/ja/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-global-name.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate config-glossary/config-global-name
  content/ja/guides/configuration-glossary/configuration-global-name.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-ignore.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate content/ja/guides/components-glossary/pages-loading.md into Japanese
  content/ja/guides/components-glossary/pages-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor: improve ref handling
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(import error note): Note on fixing import error
  content/en/guide/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor: improve ref handling (#839)
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): translate config-glossary/config-ignore
  content/ja/guides/configuration-glossary/configuration-ignore.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-hooks.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add commands page
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: improvements
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update node version
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add webstorm
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ja/guides/components-glossary/pages-loading.md
  content/ja/guides/components-glossary/pages-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: unnecessary sentence
  content/ja/guides/components-glossary/pages-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/get-started/commands.md
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
