Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: grammar /configuration-glossary/configuration-watchers.md
  content/fr/guides/configuration-glossary/configuration-watchers.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: grammar /configuration-glossary/configuration-vue-config.md
  content/fr/guides/configuration-glossary/configuration-vue-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: grammar /internals-glossary/nuxt-render-and-get-window.md
  content/fr/guides/internals-glossary/nuxt-render-and-get-window.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add fine vpn sponsor
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/finevpn.png
  static/img/sponsors/light/finevpn.png
Due: yarn lint:eslint, yarn lint:prettier

chore: add CODEOWNERS file
  .github/CODEOWNERS
Due: none

Update .gitignore
  .gitignore
Due: none

chore: fix team name
  .github/CODEOWNERS
Due: none

Update .stylelintignore
  .stylelintignore
Due: none

Update $nuxt.md
  content/ja/api/$nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update codeowners
  .github/CODEOWNERS
Due: none

Update loading.md
  content/ja/guides/features/loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add fine vpn sponsor (#866)
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/finevpn.png
  static/img/sponsors/light/finevpn.png
Due: yarn lint:eslint, yarn lint:prettier

feat: add fine vpn sponsor (#866)
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

[ImgBot] Optimize images
  static/img/sponsors/dark/finevpn.png
  static/img/sponsors/dark/sendcloud.svg
  static/img/sponsors/light/finevpn.png
  static/img/sponsors/light/sendcloud.svg
Due: none

fix: fix nuxt-components.md
  content/ja/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(en): add documentation for config property generate.nonRootPageExtension
  content/en/api/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ja/guides/configuration-glossary/configuration-generate.md
  content/ja/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ja/guides/configuration-glossary/configuration-modern.md
  content/ja/guides/configuration-glossary/configuration-modern.md
Due: yarn lint:prettier, yarn lint:markdownlint

change: panduan to panduan's
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update dependency nuxt-i18n to ^6.15.4
  package.json
  yarn.lock
Due: yarn lint:prettier

docs: transpile warning added for plugins
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(import error note): Note on fixing import error (#840)
  content/en/guide/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency @nuxtjs/eslint-config to v4
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): update actions/checkout action to v2
  .github/workflows/main.yml
Due: none

Update context.md
  content/en/guides/internals-glossary/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: improve redirect docs (#851)
  content/en/guides/concepts/context-helpers.md
  content/en/guides/internals-glossary/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add commands page (#844)
  components/partials/home/HomeModes.vue
  content/en/guides/configuration-glossary/configuration-generate.md
  content/en/guides/configuration-glossary/configuration-loading-indicator.md
  content/en/guides/configuration-glossary/configuration-modern.md
  content/en/guides/configuration-glossary/configuration-render.md
  content/en/guides/configuration-glossary/configuration-ssr.md
  content/en/guides/directory-structure/middleware.md
  content/en/guides/features/deployment-targets.md
  content/en/guides/features/loading.md
  content/en/guides/features/rendering-modes.md
  content/en/guides/get-started/commands.md
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add link to modules
  content/en/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update nuxt-config.md
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: Correct spelling mistakes
  content/en/guides/concepts/context-helpers.md
  content/en/guides/configuration-glossary/configuration-hooks.md
  content/en/guides/configuration-glossary/configuration-router.md
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/directory-structure/store.md
  content/en/guides/features/data-fetching.md
  content/en/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
