Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat(pwa): Add PWA mode
  .gitignore
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

misc: Avoid errors and remove CNAME
  components/CodeFundAds.vue
  static/CNAME
Due: yarn lint:eslint, yarn lint:prettier

feat(sponsor): Add Hapi.js as OC sponsor
  components/Affix.vue
  partials/home/backers.vue
  static/hapi-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

sponsor: Add Blokt partner
  components/Affix.vue
  partials/home/backers.vue
  static/blokt-logo.png
Due: yarn lint:eslint, yarn lint:prettier

fix(sponsor): Uptage picture
  static/blokt-logo.png
Due: none

fix: watch file with correct path
  modules/docs/server.js
Due: yarn lint:eslint, yarn lint:prettier

add doc version
  components/partials/Affix.vue
  components/partials/Aside.vue
  partials/home/why.vue
  static/blokt-logo.png
  static/hapi-logo.svg
  static/logo_nav.png
Due: yarn lint:eslint, yarn lint:prettier

add companies logo
  partials/home/companies.vue
  static/img/companies/fr/backmarket.png
  static/img/companies/fr/faire.png
  static/img/companies/fr/maison-du-monde.png
  static/img/companies/fr/roland-garros.png
  static/img/companies/fr/ubisoft-logo.png
Due: yarn lint:eslint, yarn lint:prettier

add companies logo for i18n and transition on sponsors
  partials/home/nuxters.vue
  partials/home/welcome.vue
  static/img/companies/en/backmarket.png
  static/img/companies/en/faire.png
  static/img/companies/en/maison-du-monde.png
  static/img/companies/en/roland-garros.png
  static/img/companies/en/ubisoft-logo.png
  static/img/companies/id/backmarket.png
  static/img/companies/id/faire.png
  static/img/companies/id/maison-du-monde.png
  static/img/companies/id/roland-garros.png
  static/img/companies/id/ubisoft-logo.png
  static/img/companies/ja/backmarket.png
  static/img/companies/ja/faire.png
  static/img/companies/ja/maison-du-monde.png
  static/img/companies/ja/roland-garros.png
  static/img/companies/ja/ubisoft-logo.png
  static/img/companies/ko/backmarket.png
  static/img/companies/ko/faire.png
  static/img/companies/ko/maison-du-monde.png
  static/img/companies/ko/roland-garros.png
  static/img/companies/ko/ubisoft-logo.png
  static/img/companies/ru/backmarket.png
  static/img/companies/ru/faire.png
  static/img/companies/ru/maison-du-monde.png
  static/img/companies/ru/roland-garros.png
  static/img/companies/ru/ubisoft-logo.png
  static/img/companies/zh/backmarket.png
  static/img/companies/zh/faire.png
  static/img/companies/zh/maison-du-monde.png
  static/img/companies/zh/roland-garros.png
  static/img/companies/zh/ubisoft-logo.png
Due: yarn lint:eslint, yarn lint:prettier

support page
  components/commons/Button.global.vue
  components/partials/Footer.vue
  components/svg/wallet/bch.vue
  components/svg/wallet/btc.vue
  components/svg/wallet/eth.vue
  components/svg/wallet/ltc.vue
  pages/resources.vue
  pages/support-nuxtjs.vue
  partials/home/welcome.vue
  static/img/wallet/bch.png
  static/img/wallet/btc.png
  static/img/wallet/eth.png
  static/img/wallet/ltc.png
Due: yarn lint:eslint, yarn lint:prettier

feat: add design page
  pages/design.vue
  static/logos/built-with-nuxt-white.svg
  static/logos/built-with-nuxt.svg
  static/logos/nuxt-emoji-white.png
  static/logos/nuxt-emoji-white@2x.png
  static/logos/nuxt-emoji.png
  static/logos/nuxt-emoji@2x.png
  static/logos/nuxt-icon-white.png
  static/logos/nuxt-icon-white@2x.png
  static/logos/nuxt-icon.png
  static/logos/nuxt-icon@2x.png
  static/logos/nuxt-logos.sketch
  static/logos/nuxt-square-white.svg
  static/logos/nuxt-square.svg
  static/logos/nuxt-white.svg
  static/logos/nuxt.svg
  static/logos/nuxtjs-typo-white.svg
  static/logos/nuxtjs-typo.svg
Due: yarn lint:eslint, yarn lint:prettier

add(design): logos/ directory in static
  static/logos/nuxt-profile-white.png
  static/logos/nuxt-profile.png
  static/logos/nuxt-square.svg
Due: none

static: Rename profile to icon
  static/logos/nuxt-profile-white.png
  static/logos/nuxt-profile.png
Due: none

wip: Add logos
  pages/logos.vue
  static/logos/nuxt-square.svg
Due: yarn lint:eslint, yarn lint:prettier

design: Add logos and retina support
  static/logos/nuxtjs-typo-white.svg
  static/logos/nuxtjs-typo.svg
Due: none

fix: Improve precision of nuxtjs-typo
  static/logos/nuxtjs-typo-white.svg
  static/logos/nuxtjs-typo.svg
Due: none

add: Sketch file for logos
  pages/logos.vue
Due: yarn lint:eslint, yarn lint:prettier

logos: Add built with Nuxt in /logos
  pages/logos.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(ad): remove event-info and use a page
  layouts/default.vue
  static/themes/nuxt-argon-dashboard-pro-2x.jpg
  static/themes/nuxt-argon-dashboard-pro.jpg
Due: yarn lint:eslint, yarn lint:prettier

feat(sponsor): Ad sparheld sponsor
  partials/home/backers.vue
  static/sponsors/de-black.png
Due: yarn lint:eslint, yarn lint:prettier

chore(sponsors): Add Icons8 as sponsor
  partials/home/backers.vue
  static/sponsors/icons8.png
Due: yarn lint:eslint, yarn lint:prettier

theme: Add nuxt scutum dashboard
  static/themes/nuxt-scutum-dashboard-2x.jpg
  static/themes/nuxt-scutum-dashboard.jpg
Due: none

theme: add Nuxt Now UI Kit
  static/themes/nuxt-now-ui-kit-2x.jpg
  static/themes/nuxt-now-ui-kit.jpg
Due: none

Fixed typo: supercharges -> supercharged (#212)
  static/nuxt-views-schema.svg
Due: none

support page
  pages/support-nuxtjs.vue
  static/img/sponsors/de-black.png
  static/img/sponsors/icons8.png
  static/img/sponsors/sparheld.svg
Due: yarn lint:eslint, yarn lint:prettier

Nuxt themes page
  .eslintrc
  .gitignore
  components/svg/streamline/help.vue
  pages/themes.vue
  static/themes/nuxt-black-dashboard-pro-2x.jpg
  static/themes/nuxt-black-dashboard-pro.jpg
  static/themes/nuxt-scutum-dashboard-2x.jpg
  static/themes/nuxt-scutum-dashboard.jpg
  static/themes/nuxt-scutum-dashboard.png
Due: yarn lint:eslint, yarn lint:prettier

sponsors: add two new silver sponsors
  pages/support-nuxtjs.vue
  static/img/sponsors/clay.png
  static/img/sponsors/ux-planet.png
Due: yarn lint:eslint, yarn lint:prettier

images: Optimise svgs
  assets/images/blocked.svg
  assets/images/github.svg
  assets/images/link.svg
  assets/images/tidelift.svg
  assets/images/twitter.svg
  static/img/partners/otechie.svg
  static/img/partners/tidelift.svg
  static/img/sponsors/hapi-logo.svg
  static/img/sponsors/shipshape-logo.svg
  static/img/sponsors/sparheld.svg
  static/img/sponsors/storyblok-logo.svg
  static/img/sponsors/vueMastery-brand.svg
Due: none

[Examples] Plugins, German
  content/de/examples/9.plugins/1.vue.md
  content/de/examples/9.plugins/2.client-only.md
  content/de/examples/9.plugins/3.external-packages.md
  content/de/examples/9.plugins/4.custom.md
  content/de/examples/9.plugins/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

theme: optiimise images
  pages/themes.vue
  static/themes/nuxt-argon-dashboard-pro-2x.jpg
  static/themes/nuxt-argon-dashboard-pro.jpg
  static/themes/nuxt-black-dashboard-pro-2x.jpg
  static/themes/nuxt-black-dashboard-pro.jpg
  static/themes/nuxt-now-ui-kit-2x.jpg
  static/themes/nuxt-now-ui-kit.jpg
  static/themes/nuxt-scutum-dashboard-2x.jpg
  static/themes/nuxt-scutum-dashboard.jpg
  static/themes/nuxt-scutum-dashboard.png
Due: yarn lint:eslint, yarn lint:prettier

add shop images
  pages/themes.vue
  static/shop/sweat_blue.png
  static/shop/sweat_white.png
  static/shop/tshirt_blue.png
  static/shop/tshirt_white.png
Due: yarn lint:eslint, yarn lint:prettier

sponsors: add fire-stick-how
  pages/support-nuxtjs.vue
  static/img/sponsors/fire-stick-how.png
Due: yarn lint:eslint, yarn lint:prettier

shop wireframe
  pages/shop.vue
  pages/themes.vue
  static/shop/new_stickers-2x.png
  static/shop/new_stickers.png
  static/shop/sweat_blue-2x.png
  static/shop/sweat_blue.png
  static/shop/sweat_white-2x.png
  static/shop/sweat_white.png
  static/shop/tshirt_blue-2x.png
  static/shop/tshirt_blue.png
  static/shop/tshirt_white-2x.png
  static/shop/tshirt_white.png
  static/shop/vintage_stickers-2x.png
  static/shop/vintage_stickers.png
Due: yarn lint:eslint, yarn lint:prettier

New design with illustrations
  components/partials/Affix.vue
  components/partials/Footer.vue
  components/partials/home/companies.vue
  components/partials/home/modes.vue
  components/partials/home/sponsors.vue
  components/svg/Bolt.vue
  components/svg/Fire.vue
  components/svg/Snow.vue
  layouts/error.vue
  pages/shop.vue
  pages/support-nuxtjs.vue
  pages/team.vue
  pages/themes.vue
  static/img/illustrations/404.png
  static/img/illustrations/shop.png
  static/img/illustrations/success.png
  static/img/illustrations/workflow.png
Due: yarn lint:eslint, yarn lint:prettier

add illustrations
  pages/design.vue
  pages/support.vue
  pages/themes.vue
  static/img/illustrations/design.png
  static/img/illustrations/themes.png
  static/img/illustrations/welcome.png
Due: yarn lint:eslint, yarn lint:prettier

add paypal
  pages/support-nuxtjs.vue
  static/img/wallet/paypal.png
Due: yarn lint:eslint, yarn lint:prettier

feat: add more japan companies
  components/partials/home/companies.vue
  static/img/companies/bijutsu-techo.svg
  static/img/companies/coin-ex.svg
  static/img/companies/kakao.png
  static/img/companies/kg.png
  static/img/companies/rere.svg
  static/img/companies/skeb.svg
  static/img/companies/suzuri.svg
Due: yarn lint:eslint, yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
