Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: order of files (#918)
  content/en/guides/get-started/conclusion.md
  content/en/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): guides/directory-structure/pages.md #143
  content/ja/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate context
  content/ja/guides/internals-glossary/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

navigation header
  components/TheAsideNav.vue
  components/TheAsideNavNewDocs.vue
  components/TheHeader.vue
  content/en/guides/release-notes.md
  i18n/en-US.js
  pages/examples.vue
  pages/examples/_slug.vue
  pages/guides/_book.vue
  pages/guides/release-notes.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix docs link
  components/TheHeader.vue
  components/TheMobileBottomNav.vue
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier

fix/lang nav
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

fix: icon-link clickable area
  assets/css/content.scss
Due: yarn lint:prettier

guides -> docs/2.x
  _redirects
  components/TheAsideNavNewDocs.vue
  components/TheMobileAsideNavNewDocs.vue
  components/common/AppPrevNextNew.vue
  components/partials/home/HomeWelcome.vue
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
  pages/docs/2.x/_book.vue
  pages/docs/2.x/_book/_slug.vue
  pages/docs/release-notes.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: redirect api and guide
  _redirects
Due: none

fix: redirect api and guide (#923)
  _redirects
Due: none

FAQ folder
  content/en/faq/appengine-deployment.md
  content/en/faq/async-data-components.md
  content/en/faq/bip-deployment.md
  content/en/faq/cached-components.md
  content/en/faq/css-flash.md
  content/en/faq/deployment-aws-amplify.md
  content/en/faq/deployment-aws-s3-cloudfront.md
  content/en/faq/deployment-azure-portal.md
  content/en/faq/deployment-azure-static-web-apps.md
  content/en/faq/deployment-cloud-run.md
  content/en/faq/deployment-pm2.md
  content/en/faq/dokku-deployment.md
  content/en/faq/duplicated-meta-tags.md
  content/en/faq/extend-webpack.md
  content/en/faq/external-resources.md
  content/en/faq/ga.md
  content/en/faq/github-pages.md
  content/en/faq/heroku-deployment.md
  content/en/faq/host-port.md
  content/en/faq/http-proxy.md
  content/en/faq/ios-phone-numbers.md
  content/en/faq/jsx.md
  content/en/faq/netlify-deployment.md
  content/en/faq/nginx-proxy.md
  content/en/faq/now-deployment.md
  content/en/faq/postcss-plugins.md
  content/en/faq/pre-processors.md
  content/en/faq/surge-deployment.md
  content/en/faq/using-nuxt-with-cloudflare.md
  content/en/faq/webpack-audio-files.md
  content/en/faq/webpack-plugins.md
  content/en/faq/window-document-undefined.md
Due: yarn lint:prettier, yarn lint:markdownlint

Redirections
  _redirects
Due: none

redirections clean
  _redirects
Due: none

footer add deployed by netlify
  components/TheFooter.vue
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

fix FAQ URLs
  components/TheAsideNav.vue
  components/TheMobileAsideNav.vue
  pages/faq.vue
  pages/faq/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

translate content/ja/guides/concepts/views.md into japanese
  content/ja/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: icon-link clickable area (#922)
  assets/css/content.scss
Due: yarn lint:prettier

fix: broken avatar url
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: broken avatar url (#925)
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

add note about accesing refs with client rendered comps
  content/en/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update nuxt-components.md
  content/en/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

tambah berkas middleware (selesai) dan content (belum) diterjemahkan
  content/id/guides/directory-structure/content.md
  content/id/guides/directory-structure/middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix imgbot automatic SVG optimisation issue
  .imgbotconfig
  static/guides/plugins.svg
Due: none

ignore only static/guides folder from imgbot
  .imgbotconfig
Due: none

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
