Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs(ja): copy content/en/guides/deployment to content/ja/guides/deployment (#1454)
  .textlintrc
  content/ja/guides/deployment/appengine-deployment.md
  content/ja/guides/deployment/bip-deployment.md
  content/ja/guides/deployment/cleavr-deployment.md
  content/ja/guides/deployment/deploy-on-moovweb.md
  content/ja/guides/deployment/deploying-to-21yunbox.md
  content/ja/guides/deployment/deploying-to-do-app-platform.md
  content/ja/guides/deployment/deployment-amazon-web-services.md
  content/ja/guides/deployment/deployment-azure-portal.md
  content/ja/guides/deployment/deployment-azure-static-web-apps.md
  content/ja/guides/deployment/deployment-cloud-run.md
  content/ja/guides/deployment/deployment-cloudflare.md
  content/ja/guides/deployment/deployment-platformsh.md
  content/ja/guides/deployment/deployment-pm2.md
  content/ja/guides/deployment/deployment-qovery.md
  content/ja/guides/deployment/dokku-deployment.md
  content/ja/guides/deployment/github-pages.md
  content/ja/guides/deployment/heroku-deployment.md
  content/ja/guides/deployment/hostman-deployment.md
  content/ja/guides/deployment/netlify-deployment.md
  content/ja/guides/deployment/nginx-proxy.md
  content/ja/guides/deployment/surge-deployment.md
  content/ja/guides/deployment/vercel-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

style: tiny rephrase in store example (#1453)
  content/en/_archives/guide/vuex-store.md
  content/en/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

Naming update for Moovweb and Moovweb XDN to Layer0
  content/en/guides/deployment/deploy-on-moovweb.md
  content/fr/guides/deployment/deploy-on-moovweb.md
  content/ja/guides/deployment/deploy-on-moovweb.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add word-break: break-word; to fix code overflow on markdown pages
  assets/css/content.scss
Due: yarn lint:prettier

docs: rename Moovweb -> to Layer0 (#1456)
  content/en/guides/deployment/deploy-on-moovweb.md
  content/fr/guides/deployment/deploy-on-moovweb.md
  content/ja/guides/deployment/deploy-on-moovweb.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add Koyeb Serverless Platform deployment guide (#1451)
  content/en/guides/deployment/deploy-on-moovweb.md
  content/en/guides/deployment/deployment-koyeb.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): lock file maintenance
  yarn.lock
Due: none

Fix markdown typo
  content/en/guides/deployment/deployment-koyeb.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/deployment/deployment-koyeb.md
  content/en/guides/deployment/deployment-koyeb.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add docker hub link (#1458)
  content/en/guides/deployment/deployment-koyeb.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: rename Nuxt.js to Nuxt
  content/en/guides/directory-structure/layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add word-break: break-word; to fix code overflow on markdown pages (#1459)
  assets/css/content.scss
Due: yarn lint:prettier

Title paramater should not be translated
  content/fr/guides/components-glossary/pages-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: Title paramater should not be translated (#1461)
  content/fr/guides/components-glossary/pages-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Add netlify as partner
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
  static/img/sponsors/dark/netlify-logo.svg
  static/img/sponsors/light/netlify-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

docs: Add netlify as partner (#1462)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
  static/img/sponsors/dark/netlify-logo.svg
  static/img/sponsors/light/netlify-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

docs: Add netlify as partner (#1462)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
Due: yarn lint:eslint, yarn lint:prettier

docs: Add layer0 partner
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
  static/img/sponsors/dark/layer0-logo.svg
  static/img/sponsors/light/layer0-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

docs: Add layer0 partner (#1463)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
Due: yarn lint:eslint, yarn lint:prettier

docs: Add layer0 partner (#1463)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
  static/img/sponsors/dark/layer0-logo.svg
  static/img/sponsors/light/layer0-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

justification of vocabulary in KBBI
  content/id/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

One extra "the"
  content/en/guides/get-started/directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: remove extra "the" (#1464)
  content/en/guides/get-started/directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): fix indonesia translate (#1426)
  content/id/guides/directory-structure/assets.md
  content/id/guides/directory-structure/plugins.md
  content/id/guides/directory-structure/static.md
  content/id/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: add livementor case study
  content/en/blog/case-study-livementor.md
  static/blog/case-study-livementor/main.png
Due: yarn lint:prettier, yarn lint:markdownlint

content: add livementor dashboard image
  content/en/blog/case-study-livementor.md
  static/blog/case-study-livementor/mockup-m1-3.png
Due: yarn lint:prettier, yarn lint:markdownlint

docs: change minimum node version to 12
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/get-started/installation.md
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/blog/case-study-livementor.md
  content/en/blog/case-study-livementor.md
Due: yarn lint:prettier, yarn lint:markdownlint
