Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update dist.md (#408)
  content/en/guides/directory-structure/dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove extra br tag
  components/partials/home/HomeWelcome.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove extra br tag (#422)
  components/partials/home/HomeWelcome.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: japanese iso
  i18n/ja-JP.js
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix: japanese iso (#424)
  i18n/ja-JP.js
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

Fix: Missing hyphen in getting started using NPX.
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

update: i18n fr-FR
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

update: i18n fr-FR (#426)
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

docs(blog): fix toc
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: iso ja
  i18n/en-US.js
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix: error in isos
  i18n/en-US.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

Fix japanese (#428)
  i18n/ja-JP.js
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

docs(blog): fix toc (#427)
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: japanese translations
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

Fix japanese (#429)
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update dependency defu to v3
  package.json
  yarn.lock
Due: yarn lint:prettier

Fix typo: create nuxt-app -> create-nuxt-app
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Updated a link and added a warning (#410)
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: create-nuxt-app add dash
  content/en/guides/get-started/installation.md
  content/fr/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: create-nuxt-app add dash (#432)
  content/en/guides/get-started/installation.md
  content/fr/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: blog generate
  _templates/new/blog/blog-template.md
  _templates/new/blog/blog.ejs.t
  _templates/new/blog/prompt.js
  _templates/new/blog/view.ejs.t
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: blog generate (#433)
  _templates/new/blog/blog-template.md
  _templates/new/blog/blog.ejs.t
  _templates/new/blog/prompt.js
  _templates/new/blog/view.ejs.t
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix routing content (PR #413)
  content/en/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Optimize english documentation (#413)
  content/en/guides/get-started/conclusion.md
  content/en/guides/get-started/installation.md
  content/en/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

add: i18n to pages
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
  pages/design.vue
  pages/resources.vue
  pages/shop.vue
  pages/sponsor-nuxtjs.vue
  pages/support.vue
  pages/team.vue
  pages/themes.vue
  pages/video-courses.vue
Due: yarn lint:eslint, yarn lint:prettier

add: i18n to pages (#434)
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
  pages/design.vue
  pages/resources.vue
  pages/shop.vue
  pages/sponsor-nuxtjs.vue
  pages/support.vue
  pages/team.vue
  pages/themes.vue
  pages/video-courses.vue
Due: yarn lint:eslint, yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
