Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Update content/ja/guides/directory-structure/store.md
  content/ja/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix minor typo
  content/en/examples/lazy-loading-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix minor typo (#1102)
  content/en/examples/lazy-loading-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update "Unknown Dynamic Nested Routes"
  content/en/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(zh): translate some examples
  content/zh/examples/data-fetching-async-data.md
  content/zh/examples/data-fetching-fetch-hook.md
  content/zh/examples/hello-world.md
  content/zh/examples/routing-active-links-classes.md
  content/zh/examples/routing-dynamic-pages.md
  content/zh/examples/routing-nested-pages.md
  content/zh/examples/seo-html-head.md
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(zh): update translated some examples
  content/zh/examples/custom-loading-component.md
  content/zh/examples/customize-loading-indicator.md
  content/zh/examples/customize-nuxt-loading.md
  content/zh/examples/helpers.md
  content/zh/examples/lazy-loading-components.md
  content/zh/examples/middleware-anonymous.md
  content/zh/examples/middleware-named.md
  content/zh/examples/middleware-router.md
  content/zh/examples/pre-processors.md
  content/zh/examples/seo-twitter-og.md
  content/zh/examples/transitions.md
  content/zh/examples/webpack-assets.md
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(zh): update middleware examples and happy Christmas~
  content/zh/examples/middleware-anonymous.md
  content/zh/examples/middleware-named.md
  content/zh/examples/middleware-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update "Unknown Dynamic Nested Routes" (#1103)
  content/en/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): import en file
  content/ja/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): title and description
  content/ja/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): body
  content/ja/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate pages-validate
  content/ja/guides/components-glossary/pages-validate.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate pages-transition
  content/ja/guides/components-glossary/pages-transition.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): update original documents
  content/ja/guides/concepts/nuxt-lifecycle.md
  content/ja/guides/concepts/static-site-generation.md
  content/ja/guides/directory-structure/assets.md
  content/ja/guides/directory-structure/content.md
  content/ja/guides/directory-structure/dist.md
  content/ja/guides/directory-structure/modules.md
  content/ja/guides/directory-structure/nuxt-config.md
  content/ja/guides/directory-structure/nuxt.md
  content/ja/guides/directory-structure/plugins.md
  content/ja/guides/internals-glossary/nuxt-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): fix configuration-router
  content/ja/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): update existing documents
  content/ja/guides/configuration-glossary/configuration-build.md
  content/ja/guides/configuration-glossary/configuration-hooks.md
  content/ja/guides/configuration-glossary/configuration-loading-indicator.md
  content/ja/guides/configuration-glossary/configuration-render.md
  content/ja/guides/configuration-glossary/configuration-router.md
  content/ja/guides/configuration-glossary/configuration-server.md
  content/ja/guides/configuration-glossary/configuration-telemetry.md
  content/ja/guides/configuration-glossary/configuration-watchers.md
  content/ja/guides/features/data-fetching.md
  content/ja/guides/features/live-preview.md
  content/ja/guides/features/loading.md
  content/ja/guides/features/nuxt-components.md
  content/ja/guides/features/transitions.md
  content/ja/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fixed missing typo
  content/fr/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

All examples have been updated to the latest translated version
  content/zh/examples/auth-external-jwt.md
  content/zh/examples/data-fetching-async-data.md
  content/zh/examples/data-fetching-fetch-hook.md
  content/zh/examples/hello-world.md
  content/zh/examples/layouts.md
  content/zh/examples/lazy-loading-components.md
  content/zh/examples/middleware-anonymous.md
  content/zh/examples/middleware-named.md
  content/zh/examples/middleware-router.md
  content/zh/examples/modules-axios.md
  content/zh/examples/modules-internal.md
  content/zh/examples/plugins-client-only.md
  content/zh/examples/plugins-custom.md
  content/zh/examples/plugins-external-packages.md
  content/zh/examples/plugins-vue.md
  content/zh/examples/pre-processors.md
  content/zh/examples/routing-active-links-classes.md
  content/zh/examples/routing-dynamic-pages.md
  content/zh/examples/routing-nested-pages.md
  content/zh/examples/seo-html-head.md
  content/zh/examples/seo-twitter-og.md
  content/zh/examples/vuex-store.md
  content/zh/examples/webpack-assets.md
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore(deps): update dependency vue-observe-visibility to v1
  package.json
  yarn.lock
Due: yarn lint:prettier

fix missing back quote
  content/ja/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

fixed missing typo (#1110)
  content/fr/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(zh): Update translation Chinese example (#1104)
  content/zh/examples/auth-external-jwt.md
  content/zh/examples/custom-loading-component.md
  content/zh/examples/customize-loading-indicator.md
  content/zh/examples/customize-nuxt-loading.md
  content/zh/examples/data-fetching-async-data.md
  content/zh/examples/data-fetching-fetch-hook.md
  content/zh/examples/hello-world.md
  content/zh/examples/helpers.md
  content/zh/examples/layouts.md
  content/zh/examples/lazy-loading-components.md
  content/zh/examples/middleware-anonymous.md
  content/zh/examples/middleware-named.md
  content/zh/examples/middleware-router.md
  content/zh/examples/modules-axios.md
  content/zh/examples/modules-internal.md
  content/zh/examples/plugins-client-only.md
  content/zh/examples/plugins-custom.md
  content/zh/examples/plugins-external-packages.md
  content/zh/examples/plugins-vue.md
  content/zh/examples/pre-processors.md
  content/zh/examples/routing-active-links-classes.md
  content/zh/examples/routing-dynamic-pages.md
  content/zh/examples/routing-nested-pages.md
  content/zh/examples/seo-html-head.md
  content/zh/examples/seo-twitter-og.md
  content/zh/examples/transitions.md
  content/zh/examples/vuex-store.md
  content/zh/examples/webpack-assets.md
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

ci: check links on push to `master` and allow manual trigger (#1085)
  .github/workflows/links.yml
  scripts/check-redirects.js
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): fix missing back quote (#1114)
  content/ja/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): change the translation of move
  content/ja/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): remove spaces
  content/ja/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): change the translation of instead of
  content/ja/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint
