Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

[docs-id] Translate guides/features (#631)
  content/id/guides/features/configuration.md
  content/id/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

[docs-id] Translate guides/directory-structure/ to indonesian (#645)
  content/id/guides/directory-structure/pages.md
  content/id/guides/directory-structure/plugins.md
  content/id/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

[docs-id] Translate guides/features (#659)
  content/id/guides/features/live-preview.md
  content/id/guides/features/meta-tags-seo.md
Due: yarn lint:prettier, yarn lint:markdownlint

[docs-id] Translate guides/features (#668)
  content/id/guides/features/nuxt-components.md
  content/id/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate guides/get-started directory to Farsi(Persian) (#722)
  content/fa/guides/get-started/conclusion.md
  content/fa/guides/get-started/directory-structure.md
  content/fa/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translated(es-ES) es/guides/features (#637)
  .env.example
  content/es/guides/features/configuration.md
  content/es/guides/features/data-fetching.md
  content/es/guides/features/deployment-targets.md
  content/es/guides/features/file-system-routing.md
  content/es/guides/features/live-preview.md
  content/es/guides/features/loading.md
  content/es/guides/features/meta-tags-seo.md
  content/es/guides/features/nuxt-components.md
  content/es/guides/features/rendering-modes.md
  content/es/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove company logo not using Nuxt
  components/partials/home/HomeCompanies.vue
  static/img/companies/original/amplitude.svg
Due: yarn lint:eslint, yarn lint:prettier

fix: remove company logo not using Nuxt (#743)
  components/partials/home/HomeCompanies.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove company logo not using Nuxt (#743)
  components/partials/home/HomeCompanies.vue
  static/img/companies/original/amplitude.svg
Due: yarn lint:eslint, yarn lint:prettier

[Korean] translate configuration.md
  content/ko/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix typo in "disain" and change to "desain"
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

Update content/ru/guides/get-started/installation.md
  content/ru/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: minor fixes spanish translations
  content/es/guides/components-glossary/pages-fetch.md
  content/es/guides/components-glossary/pages-layout.md
  content/es/guides/features/nuxt-components.md
  content/es/guides/features/rendering-modes.md
  i18n/es-ES.js
  pages/guides/_book.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: minor fixes spanish translations (#746)
  content/es/guides/components-glossary/pages-fetch.md
  content/es/guides/components-glossary/pages-layout.md
  content/es/guides/features/nuxt-components.md
  content/es/guides/features/rendering-modes.md
  i18n/es-ES.js
  pages/guides/_book.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

[Spanish] translate server-side-rendering.md
  content/es/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

add: data-fetching
  content/ja/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translated File-system-routing.md
  content/id/guides/features/file-system-routing.md
  content/id/guides/features/loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

add Spanish translations for rendering modes and deployment targets
  content/en/guides/features/rendering-modes.md
  content/es/guides/features/deployment-targets.md
  content/es/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

add: loading
  content/ja/guides/features/loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

i18n spanish
  content/es/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix typo in "disain" and change to "desain" (#745)
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

Added example of how to use serverMiddleware as an API endpoint (#711)
  content/en/guides/configuration-glossary/configuration-servermiddleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update rendering-modes.md
  content/en/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

Added translations in Bahasa Indonesia for guides/layouts and guides/pages
  content/id/guides/directory-structure/layouts.md
  content/id/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

add: configuration
  content/ja/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
