Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

fix: set ts-loader version
  package.json
  yarn.lock
Due: yarn lint:prettier

chore: more improvements
  components/molecules/ModulesCard.vue
  components/molecules/PageHero.vue
  components/organisms/modules/ModulesListing.vue
  content/en/modules.md
  content/fr/modules.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(ja): add modules
  content/ja/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update yarn.lock
  yarn.lock
Due: none

fix: ssr support
  components/organisms/modules/ModulesListing.vue
  plugins/modulesList.js
Due: yarn lint:eslint, yarn lint:prettier

translation 3.features/6.configuration.md
  content/ja/0.docs/3.features/6.configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 3.features/7.loading.md
  content/ja/0.docs/3.features/7.loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Made Prism (code block) section much clearer
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

Revert "Made Prism (code block) section much clearer"
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

changed Prism section to make it more clear to readers
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: changed Prism section to make it more clear to readers on create a blog page (#1607)
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: WIP on redirects file
  _redirects
Due: none

translate 3.features/11.live-preview.md
  content/ja/0.docs/3.features/11.live-preview.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add Azure App Service section
  content/en/guides/deployment/deployment-azure-portal.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: List URLs redirects
  _redirects
Due: none

feat: rename sponsor page
  components/organisms/resources/SponsorsBlock.vue
  content/en/index.md
  content/en/sponsor-nuxtjs.md
  content/fr/index.md
  content/fr/sponsor-nuxtjs.md
  content/ja/index.md
  content/ja/sponsor-nuxtjs.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

translate 3.features/10.transitions.md
  content/ja/0.docs/3.features/10.transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: update sponsors path on footer
  components/organisms/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: remove strapi as sponsor
  content/_sponsors/partners/2.ship-shape.md
  content/_sponsors/partners/2.strapi.md
  content/_sponsors/partners/3.layer-0.md
  content/_sponsors/partners/4.storyblok.md
  content/_sponsors/partners/5.64robots.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: remove strapi as sponsor (#1610)
  content/_sponsors/partners/2.ship-shape.md
  content/_sponsors/partners/2.strapi.md
  content/_sponsors/partners/3.layer-0.md
  content/_sponsors/partners/4.storyblok.md
  content/_sponsors/partners/5.64robots.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (sponsors) update sponsors
  components/atoms/icons/IconGIthubSponsors.vue
  components/atoms/icons/IconOpenCollective.vue
  content/_sponsors/donation/1.github.md
  content/_sponsors/donation/2.openCollective.md
  content/_sponsors/mvp-partners/1.netlify.md
  content/_sponsors/mvp-partners/2.chrome.md
  content/_sponsors/mvp-partners/3.vercel.md
  content/_sponsors/partners/1.swell.md
  content/_sponsors/partners/2.strapi.md
  content/_sponsors/partners/3.ship-shape.md
  content/_sponsors/partners/4.layer-0.md
  content/_sponsors/partners/5.storyblok.md
  content/_sponsors/partners/6.64robots.md
  content/_sponsors/sponsors/1.vue-mastery.md
  content/_sponsors/sponsors/10.remotely.md
  content/_sponsors/sponsors/11.flashdrive.md
  content/_sponsors/sponsors/12.movavi.md
  content/_sponsors/sponsors/2.legal-nature.md
  content/_sponsors/sponsors/3.sparheld.md
  content/_sponsors/sponsors/4.icons-8.md
  content/_sponsors/sponsors/5.firestickhow.md
  content/_sponsors/sponsors/6.minitool.md
  content/_sponsors/sponsors/7.vps-server.md
  content/_sponsors/sponsors/8.fine-vpn.md
  content/_sponsors/sponsors/9.sendcloud.md
  content/en/sponsors-nuxtjs.md
  content/en/sponsors-nuxtjs/chrome.md
  content/en/sponsors-nuxtjs/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:sparkles: (PageHero) add full width props for description
  components/molecules/PageHero.vue
Due: yarn lint:eslint, yarn lint:prettier

:globe_with_meridians: (sponsors) add translation
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

:bento: (sponsors) add square sponsors img
  static/img/sponsors/sponsors-square/64-robots.jpeg
  static/img/sponsors/sponsors-square/finevpn.png
  static/img/sponsors/sponsors-square/fire-stick-how.jpeg
  static/img/sponsors/sponsors-square/flashdrive.jpeg
  static/img/sponsors/sponsors-square/google-chrome.jpeg
  static/img/sponsors/sponsors-square/icons8.jpeg
  static/img/sponsors/sponsors-square/layer0.jpeg
  static/img/sponsors/sponsors-square/legal-nature.jpeg
  static/img/sponsors/sponsors-square/minitool.png
  static/img/sponsors/sponsors-square/movavi.png
  static/img/sponsors/sponsors-square/netlify.jpeg
  static/img/sponsors/sponsors-square/remotely.jpeg
  static/img/sponsors/sponsors-square/sendcloud.jpeg
  static/img/sponsors/sponsors-square/shipshape.jpeg
  static/img/sponsors/sponsors-square/sparheld.png
  static/img/sponsors/sponsors-square/storyblok.jpeg
  static/img/sponsors/sponsors-square/strapi.jpeg
  static/img/sponsors/sponsors-square/swell.jpeg
  static/img/sponsors/sponsors-square/vercel.jpeg
  static/img/sponsors/sponsors-square/vps-server.jpeg
  static/img/sponsors/sponsors-square/vue-mastery.jpeg
  static/img/sponsors/sponsors-square/vue-school.jpeg
Due: none

:recycle: (sponsors) refactor sustainability page
  components/atoms/icons/IconGIthubSponsors.vue
  components/molecules/SustainabilityCard.vue
  components/molecules/SustainabilityCardDonation.vue
  components/organisms/section/SectionSponsors.vue
  components/organisms/sustainability/SustainabilityDonation.vue
  components/organisms/sustainability/SustainabilitySection.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (SustainabilityMvpDetail) add single page mvp sponsors
  components/organisms/sustainability/SustainabilityMvpDetail.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (AppFooter) update footer
  components/organisms/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

Update components/organisms/app/AppFooter.vue
  components/organisms/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add example page for MVP partners
  content/en/sponsors-nuxtjs/.mvp_partner.example.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/fr/v3.md
  content/fr/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): uniformize nuxt3 coming soon page (#1578)
  content/fr/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (sponsors) add path to sqaure img
  content/_sponsors/mvp-partners/1.netlify.md
  content/_sponsors/mvp-partners/2.chrome.md
  content/_sponsors/mvp-partners/3.vercel.md
  content/_sponsors/partners/1.swell.md
  content/_sponsors/partners/2.ship-shape.md
  content/_sponsors/partners/3.layer-0.md
  content/_sponsors/partners/4.storyblok.md
  content/_sponsors/partners/5.64robots.md
  content/_sponsors/sponsors/1.vue-mastery.md
  content/_sponsors/sponsors/10.remotely.md
  content/_sponsors/sponsors/11.flashdrive.md
  content/_sponsors/sponsors/12.movavi.md
  content/_sponsors/sponsors/2.legal-nature.md
  content/_sponsors/sponsors/3.sparheld.md
  content/_sponsors/sponsors/4.icons-8.md
  content/_sponsors/sponsors/5.firestickhow.md
  content/_sponsors/sponsors/6.minitool.md
  content/_sponsors/sponsors/7.vps-server.md
  content/_sponsors/sponsors/8.fine-vpn.md
  content/_sponsors/sponsors/9.sendcloud.md
Due: yarn lint:prettier, yarn lint:markdownlint

:sparkles: (SustainabilityCard) update
  components/molecules/SustainabilityCard.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: use SVGs instead of jpeg for square logos
  content/_sponsors/mvp-partners/1.netlify.md
  content/_sponsors/mvp-partners/2.chrome.md
  content/_sponsors/mvp-partners/3.vercel.md
  content/_sponsors/partners/1.swell.md
  content/_sponsors/partners/3.layer-0.md
  content/_sponsors/partners/4.storyblok.md
  content/_sponsors/partners/5.64robots.md
  content/_sponsors/sponsors/1.vue-mastery.md
  content/_sponsors/sponsors/10.remotely.md
  content/_sponsors/sponsors/12.movavi.md
  content/_sponsors/sponsors/2.legal-nature.md
  content/_sponsors/sponsors/3.sparheld.md
  content/_sponsors/sponsors/4.icons-8.md
  content/_sponsors/sponsors/5.firestickhow.md
  content/_sponsors/sponsors/7.vps-server.md
  content/_sponsors/sponsors/9.sendcloud.md
  static/img/sponsors/sponsors-square/64robots.svg
  static/img/sponsors/sponsors-square/chrome.svg
  static/img/sponsors/sponsors-square/firestickhow.svg
  static/img/sponsors/sponsors-square/icons8.svg
  static/img/sponsors/sponsors-square/layer0.svg
  static/img/sponsors/sponsors-square/legal-nature.svg
  static/img/sponsors/sponsors-square/movavi.svg
  static/img/sponsors/sponsors-square/netlify.svg
  static/img/sponsors/sponsors-square/remotely.svg
  static/img/sponsors/sponsors-square/sendcloud.svg
  static/img/sponsors/sponsors-square/sparheld.svg
  static/img/sponsors/sponsors-square/storyblok.svg
  static/img/sponsors/sponsors-square/swell.svg
  static/img/sponsors/sponsors-square/vercel.svg
  static/img/sponsors/sponsors-square/vps-server.svg
  static/img/sponsors/sponsors-square/vue-mastery.svg
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (PageHero) overflow ellipsis on title
  components/molecules/PageHero.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (PartnersBanner) update img path
  components/molecules/PartnersBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (sponsors) update sponsors
  components/molecules/SustainabilityCard.vue
  components/molecules/SustainabilityCardDonation.vue
  components/organisms/section/SectionSponsors.vue
  components/organisms/sustainability/SustainabilityDonation.vue
  components/organisms/sustainability/SustainabilitySection.vue
Due: yarn lint:eslint, yarn lint:prettier
