Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs(ja): add missing pages in English to content/ja/guides/ (#1041)
  content/ja/guides/components-glossary/pages-middleware.md
  content/ja/guides/components-glossary/pages-scrolltotop.md
  content/ja/guides/components-glossary/pages-transition.md
  content/ja/guides/components-glossary/pages-validate.md
  content/ja/guides/components-glossary/pages-watchquery.md
  content/ja/guides/concepts/context-helpers.md
  content/ja/guides/concepts/nuxt-lifecycle.md
  content/ja/guides/concepts/server-side-rendering.md
  content/ja/guides/concepts/static-site-generation.md
  content/ja/guides/configuration-glossary/configuration-router.md
  content/ja/guides/configuration-glossary/configuration-server.md
  content/ja/guides/configuration-glossary/configuration-servermiddleware.md
  content/ja/guides/configuration-glossary/configuration-telemetry.md
  content/ja/guides/directory-structure/assets.md
  content/ja/guides/directory-structure/components.md
  content/ja/guides/directory-structure/content.md
  content/ja/guides/directory-structure/dist.md
  content/ja/guides/directory-structure/middleware.md
  content/ja/guides/directory-structure/modules.md
  content/ja/guides/directory-structure/nuxt-config.md
  content/ja/guides/directory-structure/nuxt.md
  content/ja/guides/directory-structure/plugins.md
  content/ja/guides/directory-structure/static.md
  content/ja/guides/directory-structure/store.md
  content/ja/guides/internals-glossary/$nuxt.md
  content/ja/guides/internals-glossary/internals-builder.md
  content/ja/guides/internals-glossary/internals-generator.md
  content/ja/guides/internals-glossary/internals-module-container.md
  content/ja/guides/internals-glossary/internals-nuxt.md
  content/ja/guides/internals-glossary/internals-renderer.md
  content/ja/guides/internals-glossary/internals.md
  content/ja/guides/internals-glossary/nuxt-render-and-get-window.md
  content/ja/guides/internals-glossary/nuxt-render-route.md
  content/ja/guides/internals-glossary/nuxt-render.md
  content/ja/guides/internals-glossary/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-server
  content/ja/guides/configuration-glossary/configuration-server.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): fix link
  content/ja/guides/configuration-glossary/configuration-rootdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): fix get-started/installation
  content/ja/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add half-width spaces at both ends of alphabet
  content/ja/guides/directory-structure/middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

Remove unnecessary whitespace
  content/ja/guides/directory-structure/middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

Correct half-width parentheses to full-width parentheses
  content/ja/guides/directory-structure/middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

Modify 「ユーザ」 to 「ユーザー」
  content/ja/guides/directory-structure/middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-server (#997)
  content/ja/guides/configuration-glossary/configuration-server.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): fix link (#1042)
  content/ja/guides/configuration-glossary/configuration-rootdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

Undo line accidentally erased
  content/ja/guides/directory-structure/middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate directory-structure/middleware (#1023)
  content/ja/guides/directory-structure/middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): fix get-started/installation (#1043)
  content/ja/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update devdependency @nuxtjs/pwa to ^3.3.1
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: links
  content/fr/guides/configuration-glossary/configuration-rootdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: twitter og example
  content/en/examples/seo-twitter-og.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: twitter og example (#1046)
  content/en/examples/seo-twitter-og.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update pt-BR.js
  i18n/pt-BR.js
Due: yarn lint:eslint, yarn lint:prettier

Update pt-BR.js (#1047)
  i18n/pt-BR.js
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency @nuxtjs/pwa to ^3.3.2
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(es): translate seo-twitter-og.md
  content/es/examples/seo-twitter-og.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): translate helpers.md
  content/es/examples/helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove fullstop to fix link
  content/es/examples/seo-twitter-og.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove 'and send it' to fix sentence structure
  content/en/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove 'and send it' to fix sentence structure (#1051)
  content/en/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency cypress to v6.0.1
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: update version number
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

docs(id): translated configuration-generate
  content/id/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint
