Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

fix: remove uppercase for consistency
  components/partials/home/HomeCompanies.vue
  components/partials/home/HomeModes.vue
  components/partials/home/HomeWhy.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove old packages
  package.json
  yarn.lock
Due: yarn lint:prettier

context diagram updated - added object
  static/guides/context.jpeg
Due: none

fix: translationand route fixes
  content/fr/api/configuration-rootdir.md
  content/ja/faq/webpack-plugins.md
  content/ru/api/configuration-css.md
  content/ru/guide/async-data.md
  content/ru/guide/commands.md
  content/ru/guide/configuration.md
  content/ru/guide/directory-structure.md
  content/ru/guide/vuex-store.md
  i18n/ru-RU.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Nuxt version updated from 2.13 to 2.14 on context diagram
  static/guides/context.jpeg
Due: none

context diagram updated - added config object (#396)
  static/guides/context.jpeg
Due: none

feat: add copy svg instead of text
  assets/css/content.scss
  pages/blog/_slug.vue
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: addition to azure deploy
  content/en/faq/deployment-azure-portal.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: update team websites and twitter accounts
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: update team websites and twitter accounts (#401)
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: roles in team page
  components/partials/team/TeamMembers.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: nuxt word fix
  content/en/guides/directory-structure/content.md
  content/en/guides/internals-glossary/$nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

blog: add new post with graph
  _templates/new/blog/prompt.js
  _templates/new/blog/view.ejs.t
  components/global/GenerateTimeGraph.vue
  content/en/blog/nuxt-static-improvements.md
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: graph
  components/global/GenerateTimeGraph.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: improvements to graph
  components/global/GenerateTimeGraph.vue
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: add more authors to post
  components/global/GenerateTimeGraph.vue
  content/en/blog/nuxt-static-improvements.md
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: copy button remove svg
  assets/css/content.scss
  content/en/blog/nuxt-static-improvements.md
  pages/blog/_slug.vue
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add blog image
  components/global/GenerateTimeGraph.vue
  content/en/blog/nuxt-static-improvements.md
  static/blog/nuxt-static-improvements/main.jpg
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix twitter link
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add new bar chart with vue-chart
  components/global/BarChartCacheBuild.vue
  components/global/GenerateTimeGraph.vue
  content/en/blog/nuxt-static-improvements.md
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add more tags
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

blog: update article
  components/global/BarChartCacheBuild.vue
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

blog: add last block
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: set to 2.14
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

docs: add docs link to article
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add links to projects
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add corejs option to configuration build docs
  content/en/api/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: team page
  components/partials/team/TeamMembers.vue
  pages/blog/index.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: spacing on team page
  components/partials/team/TeamMembers.vue
Due: yarn lint:eslint, yarn lint:prettier

team: add maintainer
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(blog): fix typo
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: use official country name
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(blog): fix typo (#405)
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: use official country name (#406)
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: improvements
  components/global/BarChartCacheBuild.vue
  mixins/copyCodeBlock.js
  package.json
  pages/blog/_slug.vue
  pages/guides/_book/_slug.vue
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

Update configuration-build.md
  content/en/api/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add corejs option to configuration build docs (#404)
  content/en/api/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add corejs to new guides
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

team: update team member
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier
