Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

fix: add star icon
  assets/icons/star.svg
  components/global/bases/BaseAlert.vue
  components/global/icons/IconStar.vue
  content/en/guides/get-started/conclusion.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: gitignore warn and headings changed
  .eslintcache
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: reorder page and headings
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add menu instead of title to prev and next
  components/common/AppPrevNextNew.vue
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: add toc to mobile
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: lint staged
  .eslintcache
  components/common/AppPrevNextNew.vue
  components/global/bases/Quiz.vue
  components/global/icons/IconStar.vue
  components/partials/home/HomeWelcome.vue
  cypress/integration/home.spec.js
  cypress/integration/modal-image.spec.js
  cypress/integration/modal.spec.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

lint: changes to lint staged
  .lintstagedrc
  package.json
Due: yarn lint:prettier

lint: test linters
  package.json
Due: yarn lint:prettier

lint: lint fixes
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  package.json
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add filename to blogs
  assets/css/content.scss
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/blog/creating-blog-with-nuxt-content.md
  content/en/blog/going-dark-with-nuxtjs-color-mode.md
  content/en/blog/going-full-static.md
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/understanding-how-fetch-works-in-nuxt-2-12.md
  package.json
Due: yarn lint:prettier, yarn lint:markdownlint

lint: test lint rules
  .eslintrc
  .eslintrc.js
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

lint: lint rules for precommit
  package.json
  yarn.lock
Due: yarn lint:prettier

lint: lint rules for precommit
  package.json
Due: yarn lint:prettier

lint: test linter
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

lint: test linters
  package.json
  pages/sponsor-nuxtjs.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

lint: testi linter rules
  package.json
Due: yarn lint:prettier

lint: test linter
  pages/sponsor-nuxtjs.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

lint: testing linters
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

lint: fix stylelint errors
  .stylelintignore
  assets/css/content.scss
  assets/css/main.scss
  components/TheMobileAsideNav.vue
  components/TheMobileAsideNavNewDocs.vue
  components/animated-svg/montains-globe.vue
  components/common/AppButton.vue
  components/common/AppMedia.vue
  components/common/AppResponsiveVideo.vue
  components/common/AppToc.vue
  components/common/LazyAppCodeSandbox.vue
  components/global/bases/AppModal.vue
  components/global/bases/BaseAlert.vue
  components/global/bases/CodeBlock.vue
  components/global/bases/CodeGroup.vue
  components/global/bases/CodeSandbox.vue
  components/partials/AffixBlock.vue
  components/partials/AlgoliaSearchInput.vue
  components/partials/DarkModeToggle.vue
  components/partials/ads/AdBlock.vue
  components/partials/ads/BlackFriday.vue
  components/partials/ads/CarbonAds.vue
  components/partials/ads/CarbonAdsText.vue
  components/partials/ads/CodeFundAds.vue
  components/partials/home/HomeCompanies.vue
  components/partials/home/HomeFeatures.vue
  components/partials/home/HomeSponsors.vue
  components/partials/home/HomeTargets.vue
  package.json
  pages/_section/_slug.vue
  pages/design.vue
  pages/guides/_book/_slug.vue
  pages/sponsor-nuxtjs.vue
  pages/support.vue
  stylelint.config.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix(renderingModes): highlight full mode code line
  content/en/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deploymentTargets): move hint to static
  content/en/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(home): title is shown twice
  components/partials/home/HomeWelcome.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(renderingModes): highlight full mode code line (#393)
  content/en/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deploymentTargets): move hint to static (#394)
  content/en/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update HomeWelcome.vue
  components/partials/home/HomeWelcome.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(home): title is shown twice (#395)
  components/partials/home/HomeWelcome.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add team page
  components/partials/team/TeamMembers.vue
  pages/team.vue
  stylelint.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix: team member
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

lint: reduce linter rules
  .eslintrc.js
  .prettierrc
  components/common/AppImage.vue
  components/global/bases/AppModal.vue
  components/global/bases/Quiz.vue
  components/global/icons/IconNext.vue
  components/global/icons/IconStar.vue
  package.json
  pages/resources.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: i18n interpolation
  .eslintrc.js
  components/partials/AlgoliaSearchInput.vue
  components/partials/home/HomeCompanies.vue
  components/partials/home/HomeModes.vue
  components/partials/home/HomeWelcome.vue
  components/partials/home/HomeWhy.vue
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier

feat: interpolation for i18n
  components/partials/NewsletterForm.vue
  components/partials/home/HomeCompanies.vue
  components/partials/home/HomeModes.vue
  components/partials/home/HomeWelcome.vue
  components/partials/home/HomeWhy.vue
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier

feat: title component
  components/common/AppTitle.vue
  components/partials/NewsletterForm.vue
  components/partials/home/HomeCompanies.vue
  components/partials/home/HomeModes.vue
  components/partials/home/HomeWhy.vue
  pages/blog/index.vue
  pages/design.vue
  pages/resources.vue
  pages/shop.vue
  pages/sponsor-nuxtjs.vue
  pages/support.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: modify title
  components/common/AppTitle.vue
Due: yarn lint:eslint, yarn lint:prettier

lint: remove lint rule
  .eslintrc.js
  components/common/AppTitle.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: interpolation for translations
  components/partials/NewsletterForm.vue
  components/partials/home/HomeModes.vue
  components/partials/home/HomeSponsors.vue
  components/partials/home/HomeWelcome.vue
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JA.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
  pages/themes.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: change core to nuxt team add link ambassadors
  content/ru/guide/index.md
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JA.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
  pages/blog/index.vue
  pages/support.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint
