Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: move 404 into pages
  pages/404.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: activate pt lang (#553)
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix: move 404 into pages (#554)
  pages/404.vue
Due: yarn lint:eslint, yarn lint:prettier

The concepts section is finished for Indonesia
  content/id/guides/concepts/nuxt-lifecycle.md
  content/id/guides/concepts/server-side-rendering.md
  content/id/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency sass-loader to v10
  package.json
  yarn.lock
Due: yarn lint:prettier

Update file-system-routing.md
  content/en/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

added indonesian documentation: the components-glossary directory
  content/id/guides/components-glossary/pages-fetch.md
  content/id/guides/components-glossary/pages-head.md
  content/id/guides/components-glossary/pages-key.md
  content/id/guides/components-glossary/pages-layout.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update data-fetching.md
  content/en/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add pt guides
  pages/guides/_book.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove status code from 404 page
  pages/404.vue
Due: yarn lint:eslint, yarn lint:prettier

The concepts section is finished for Indonesia (#556)
  content/id/guides/components-glossary/pages-fetch.md
  content/id/guides/components-glossary/pages-head.md
  content/id/guides/components-glossary/pages-key.md
  content/id/guides/components-glossary/pages-layout.md
  content/id/guides/concepts/nuxt-lifecycle.md
  content/id/guides/concepts/server-side-rendering.md
  content/id/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove status code from 404 page (#562)
  pages/404.vue
Due: yarn lint:eslint, yarn lint:prettier

Update file-system-routing.md (#558)
  content/en/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update data-fetching.md (#559)
  content/en/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: mountains title instead of name
  content/pt/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: mountains title instead of name (#563)
  content/pt/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add pt guides (#561)
  pages/guides/_book.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove langfallback old guide
  pages/_section/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove langfallback old guide (#564)
  pages/_section/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: variable in plugins.md and key attribute in components.md
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove fallback
  pages/guides/_book.vue
Due: yarn lint:eslint, yarn lint:prettier

Fix/pt guides (#566)
  pages/guides/_book.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: correct text for error page
  pages/404.vue
Due: yarn lint:eslint, yarn lint:prettier

Fix/404 error (#567)
  pages/404.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: api correction
  content/pt/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: variable in plugins.md and key attribute in components.md (#565)
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix/pt api (#568)
  content/pt/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
