Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

translated pages-transition.md
  content/es/guides/components-glossary/pages-transition.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update some markdown
  content/id/guides/components-glossary/pages-loading.md
  content/id/guides/components-glossary/pages-middleware.md
  content/id/guides/components-glossary/pages-scrolltotop.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated pages-validate.md
  content/es/guides/components-glossary/pages-validate.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update file-system-routing.md
  content/ko/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: nuxt-lifecycle spanish translation (#604)
  content/es/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update context-helpers.md
  content/en/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

update with new integrations
  components/TheAsideNavResources.vue
  components/TheMobileAsideNavResources.vue
  components/partials/resources/ResourceCards.vue
  nuxt.config.js
  package.json
  pages/integrations.vue
  pages/integrations/_name.vue
  pages/integrations/cat/_category.vue
  pages/integrations/index.vue
  pages/resources.vue
  pages/resources/modules/_name.vue
  plugins/integrations.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix description
  components/partials/resources/ResourceCards.vue
  pages/integrations/_name.vue
Due: yarn lint:eslint, yarn lint:prettier

sort by icon
  components/partials/resources/ResourceCards.vue
  pages/integrations.vue
Due: yarn lint:eslint, yarn lint:prettier

update integrations
  package.json
  yarn.lock
Due: yarn lint:prettier

revert some changes
  _templates/new/resource/prompt.js
  _templates/new/resource/resource-template.md
  _templates/new/resource/resource.t
  assets/css/main.scss
  components/ThisDocsButton.vue
  components/global/bases/Authors.vue
  components/global/bases/NpmButtons.vue
  content/en/guides/internals-glossary/context.md
  content/en/old-resources/cms-integrations.json
  content/en/old-resources/databases.json
  content/en/old-resources/devtools.json
  content/en/old-resources/images.json
  content/en/old-resources/ui-framework.json
  content/en/resources/cms-integrations/content.md
  content/en/resources/cms-integrations/prismic.md
  content/en/resources/cms-integrations/sanity.md
  content/en/resources/cms-integrations/strapi.md
  content/en/resources/devtools/axios.md
  content/en/resources/devtools/i18n.md
  content/en/resources/devtools/mdx.md
  content/en/resources/devtools/storybook.md
  content/en/resources/images/cloudinary.md
  content/en/resources/performance/pwa.md
  content/en/resources/security/auth.md
  content/en/resources/testing/test-utils.md
  content/en/resources/ui-framework/tailwindcss.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix button
  i18n/en-US.js
  pages/integrations/_name.vue
Due: yarn lint:eslint, yarn lint:prettier

revert js
  content/ja/guide/commands.md
  content/ja/guide/index.md
  content/ja/guide/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Added files for translation
  content/es/guides/internals-glossary/internals-nuxt.md
  content/es/guides/internals-glossary/internals-renderer.md
  content/es/guides/internals-glossary/nuxt-render-and-get-window.md
  content/es/guides/internals-glossary/nuxt-render-route.md
  content/es/guides/internals-glossary/nuxt-render.md
  content/es/guides/internals-glossary/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated(es-ES) internals-nuxt.md @ es/guides
  content/es/guides/internals-glossary/internals-nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

force full static generation for integration pages
  nuxt.config.js
  pages/integrations/_name.vue
Due: yarn lint:eslint, yarn lint:prettier

translated(es-ES) internals-renderer.md @ es/guides
  content/es/guides/internals-glossary/internals-renderer.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated(es-ES) nuxt.md @ es/guides
  content/es/guides/internals-glossary/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated(es-ES) nuxt-render.md @ es/guides
  content/es/guides/internals-glossary/nuxt-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated(es-ES) nuxt-render-and-get-window.md @ es/guides
  content/es/guides/internals-glossary/nuxt-render-and-get-window.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated(es-ES) nuxt-render-route.md @ es/guides
  content/es/guides/internals-glossary/nuxt-render-route.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: french translation of get started section
  content/fr/guides/get-started/conclusion.md
  content/fr/guides/get-started/directory-structure.md
  content/fr/guides/get-started/routing.md
  content/fr/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Algolia search and code blocks fixed in rtl theme
  assets/css/content.scss
  assets/css/main.scss
  assets/css/rtl.scss
  content/fa/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

add .nuxt directory-structure French translation
  content/fr/guides/directory-structure/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

remove EN part
  content/fr/guides/directory-structure/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original guides/get-started/routing
  content/ja/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Components glossary -> fetch translated
  content/fa/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

Readme updated
  README.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate guides/get-started/routing
  content/ja/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Minor change
  i18n/fa-IR.js
Due: yarn lint:eslint, yarn lint:prettier

translation(es-ES)/internals glossary v.2 (#609)
  content/es/guides/internals-glossary/internals-nuxt.md
  content/es/guides/internals-glossary/internals-renderer.md
  content/es/guides/internals-glossary/nuxt-render-and-get-window.md
  content/es/guides/internals-glossary/nuxt-render-route.md
  content/es/guides/internals-glossary/nuxt-render.md
  content/es/guides/internals-glossary/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

French : translate all get started section (#610)
  content/fr/guides/get-started/conclusion.md
  content/fr/guides/get-started/directory-structure.md
  content/fr/guides/get-started/routing.md
  content/fr/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

add .nuxt directory-structure French translation (#611)
  content/fr/guides/directory-structure/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

head, key, layout and loading translated
  content/fa/guides/components-glossary/pages-head.md
  content/fa/guides/components-glossary/pages-key.md
  content/fa/guides/components-glossary/pages-layout.md
  content/fa/guides/components-glossary/pages-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add diagrams
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/content.md
  content/pt/guides/directory-structure/components.md
  content/pt/guides/directory-structure/content.md
  static/guides/components.png
  static/guides/nuxt-content.svg
Due: yarn lint:prettier, yarn lint:markdownlint
