Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

chore: fix yarn.lock
  yarn.lock
Due: none

feat(aside): put back aside (wip)
  components/theme/app/AppHeader.vue
  components/theme/app/AppLayout.vue
Due: yarn lint:eslint, yarn lint:prettier

translate(ja): deployment/deployment-platformsh (#1661)
  content/ja/guides/deployment/deployment-platformsh.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency globby to v12
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): update devdependency node-fetch to v3
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): update devdependency textlint to v12
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): update devdependency textlint-filter-rule-allowlist to v4
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): lock file maintenance
  yarn.lock
Due: none

feat: add events collection
  content/en/_collections/events/2019.md
  content/en/_collections/events/2020.md
  content/en/_collections/events/2021.md
  content/en/_collections/events/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:construction: (Home) home refacto
  components/atoms/icons/IconCopy.vue
  components/organisms/home/HomeDiscover.vue
  components/organisms/home/HomeHero.vue
  components/organisms/section/SectionButton.vue
  content/en/index.md
  static/img/home/discover/discover.svg
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:sparkles: (HomeHero) add stars
  components/atoms/Star.vue
  components/molecules/ShootingStar.vue
  components/organisms/home/HomeHero.vue
  static/img/home/hero/star.svg
Due: yarn lint:eslint, yarn lint:prettier

docs: update and follow documentation (#1669)
  content/fr/_navigation/header.md
  content/ja/_navigation/header.md
  content/ja/releases.md
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: pages typo
  .env.example
  components/organisms/sustainability/SustainabilitySection.vue
  content/en/_collections/sponsors/mvp-partners/1.netlify.md
  content/en/_collections/sponsors/mvp-partners/3.vercel.md
  content/en/_collections/sponsors/mvp/chrome.md
  content/en/design/index.md
  content/en/partners/index.md
  content/en/partners/netlify.md
  content/en/partners/vercel.md
  content/en/sponsors/index.md
  content/en/support/index.md
  content/en/teams/index.md
  content/en/themes/index.md
  content/en/video-courses/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: content updates
  content/en/announcements/1.going-full-static.md
  content/en/announcements/2.understanding-how-fetch-works-in-nuxt-2-12.md
  content/en/announcements/3.nuxtjs-from-terminal-to-browser.md
  content/en/announcements/4.introducing-smart-prefetching.md
  content/en/index.md
  content/en/modules/index.md
  content/en/tutorials/2.improve-your-developer-experience-with-nuxt-components.md
  content/en/tutorials/4.moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/tutorials/5.build-dev-to-clone-with-nuxt-new-fetch.md
  nuxt.config.ts
Due: yarn lint:prettier, yarn lint:markdownlint

update logos
  components/organisms/animations/AnimFromScratchCodeblock.vue
  content/en/index.md
  static/icon.png
  static/img/home/learn/master/logo.svg
  static/img/home/learn/master/sidebar.svg
  static/preview.png
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat(aside): customise Docus `Aside`
  components/atoms/icons/IconChevronBottom.vue
  components/atoms/icons/IconClose.vue
  components/theme/app/AppAside.vue
  components/theme/app/AsideHeaderNavigation.vue
  components/theme/app/AsideNavigation.vue
  content/en/_collections/navigations/header.md
  docus.config.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat(dropdown): disable fade animation
  components/atoms/Dropdown.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(LangSwitcher): dropdown positioning
  components/molecules/LangSwitcher.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: footer components refactored
  components/molecules/footer/FooterNewsLetter.vue
  components/molecules/footer/FooterSocialLinks.vue
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: list for partner and integrations
  components/molecules/cards/ArticleCard.vue
  components/molecules/cards/ListCard.vue
  components/molecules/cards/ModulesCard.vue
  components/organisms/showcases/VueTelescopeExtensionCta.vue
  components/templates/List.vue
  content/en/examples/index.md
  content/en/integrations/deployments/index.md
  content/en/partners/64robots.md
  content/en/partners/google.md
  content/en/partners/index.md
  content/en/partners/layer-0.md
  content/en/partners/netlify.md
  content/en/partners/ship-shape.md
  content/en/partners/storyblok.md
  content/en/partners/swell.md
  content/en/partners/vercel.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: partners list
  components/molecules/cards/ListCard.vue
  components/molecules/cards/LogoCard.vue
  components/templates/List.vue
  content/en/partners/0.netlify.md
  content/en/partners/1.vercel.md
  content/en/partners/2.layer-0.md
  content/en/partners/3.storyblok.md
  content/en/partners/4.swell.md
  content/en/partners/5.ship-shape.md
  content/en/partners/6.64robots.md
  content/en/partners/google.md
  content/en/partners/index.md
  content/en/partners/storyblok.md
  static/img/partners/dark/64-robots.jpeg
  static/img/partners/dark/64-robots.svg
  static/img/partners/dark/layer0.jpeg
  static/img/partners/dark/layer0.svg
  static/img/partners/dark/netlify.jpeg
  static/img/partners/dark/netlify.svg
  static/img/partners/dark/shipshape.jpeg
  static/img/partners/dark/storyblok.jpeg
  static/img/partners/dark/storyblok.svg
  static/img/partners/dark/swell.jpeg
  static/img/partners/dark/swell.svg
  static/img/partners/dark/vercel.jpeg
  static/img/partners/dark/vercel.svg
  static/img/partners/light/64-robots.jpeg
  static/img/partners/light/64-robots.svg
  static/img/partners/light/layer0.jpeg
  static/img/partners/light/layer0.svg
  static/img/partners/light/netlify.jpeg
  static/img/partners/light/netlify.svg
  static/img/partners/light/shipshape.jpeg
  static/img/partners/light/storyblok.jpeg
  static/img/partners/light/storyblok.svg
  static/img/partners/light/swell.jpeg
  static/img/partners/light/swell.svg
  static/img/partners/light/vercel.svg
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: wip on events page layout and card
  components/molecules/EventsCard.vue
  components/organisms/events/AsideEvents.vue
  components/organisms/events/EventsListing.vue
  content/en/_collections/events/2019.md
  content/en/_collections/events/2020.md
  content/en/_collections/events/2021.md
  content/en/events/index.md
  i18n/en-US.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: update events content
  components/molecules/EventsCard.vue
  content/en/_collections/events/2019.md
  content/en/_collections/events/2020.md
  content/en/_collections/events/2021.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

updates
  components/molecules/cards/LogoCard.vue
  content/en/partners/2.layer-0.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add events description
  components/molecules/EventsCard.vue
  content/en/events/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat(aside): customise Docus `Aside` (#1674)
  components/atoms/icons/IconChevronBottom.vue
  components/atoms/icons/IconClose.vue
  components/theme/app/AppAside.vue
  components/theme/app/AsideHeaderNavigation.vue
  components/theme/app/AsideNavigation.vue
  content/en/_collections/navigations/header.md
  docus.config.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat(testimonials): fix container padding
  components/organisms/lists/Testimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(modules): dropdown population
  plugins/fuse.js
Due: yarn lint:eslint, yarn lint:prettier

fix: examples pages
  content/en/docs/index.md
  content/en/examples/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Footer Fix + Error page update
  components/theme/Error.vue
  components/theme/app/AppFooter.vue
  static/img/error/bg-error_desktop.svg
  static/img/error/bg-error_mobile.svg
  static/img/error/bg-error_tablet.svg
Due: yarn lint:eslint, yarn lint:prettier

Create Sjenica1
  Sjenica1
Due: none

feat(showcases): update hero and listing padding
  components/atoms/buttons/VueTelescopeCta.vue
  components/atoms/buttons/VueTelescopeExtensionCta.vue
  components/organisms/heroes/ShowcasesHero.vue
  components/organisms/lists/ShowcasesListing.vue
  content/en/showcases/index.md
  content/fr/showcases/index.md
  content/ja/showcases/index.md
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: disable recaptcha without the token
  components/molecules/forms/SupportForm.vue
  nuxt.config.ts
  plugins/technicalSupportForm.js
Due: yarn lint:eslint, yarn lint:prettier

chore: use default cursor on header link
  components/atoms/selects/Dropdown.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(releases): API response
  components/theme/Releases.vue
  content/fr/releases/index.md
  content/ja/releases/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: Integrations list and pages
  components/molecules/cards/LogoCard.vue
  components/templates/Guide.vue
  components/theme/app/AsideNavigation.vue
  content/en/_collections/navigations/header.md
  content/en/integrations/deployments/0.vercel.md
  content/en/integrations/deployments/1.netlify.md
  content/en/integrations/deployments/2.layer0.md
  content/en/integrations/deployments/21yunbox.md
  content/en/integrations/deployments/Stormkitio.md
  content/en/integrations/deployments/amazon-web-services.md
  content/en/integrations/deployments/azure-portal.md
  content/en/integrations/deployments/azure-static-web-apps.md
  content/en/integrations/deployments/bip.md
  content/en/integrations/deployments/cleavr.md
  content/en/integrations/deployments/cloudflare.md
  content/en/integrations/deployments/digital-ocean.md
  content/en/integrations/deployments/dokku.md
  content/en/integrations/deployments/fume.md
  content/en/integrations/deployments/github-pages.md
  content/en/integrations/deployments/google-appengine.md
  content/en/integrations/deployments/google-cloud-run.md
  content/en/integrations/deployments/heroku.md
  content/en/integrations/deployments/hostman.md
  content/en/integrations/deployments/index.md
  content/en/integrations/deployments/koyeb.md
  content/en/integrations/deployments/nginx.md
  content/en/integrations/deployments/platformsh.md
  content/en/integrations/deployments/pm2.md
  content/en/integrations/deployments/qovery.md
  content/en/integrations/deployments/surge.md
  content/en/integrations/index.md
  content/en/partners/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add description to past events
  content/en/_collections/events/2019.md
  content/en/_collections/events/2020.md
  content/en/_collections/events/2021.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(design): sponsors page and showcase header
  components/atoms/buttons/SectionButton.vue
  components/organisms/heroes/SponsorsHero.vue
  components/organisms/sections/SectionSponsors.vue
  components/organisms/sections/SustainabilitySection.vue
  content/en/_collections/sponsors/partners/1.swell.md
  content/en/_collections/sponsors/partners/2.ship-shape.md
  content/en/_collections/sponsors/partners/3.layer-0.md
  content/en/_collections/sponsors/partners/4.storyblok.md
  content/en/_collections/sponsors/partners/5.64robots.md
  content/en/sponsors/index.md
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat(showcases): transform description `vuetelescope` to link
  components/organisms/heroes/ShowcasesHero.vue
  content/en/showcases/index.md
  content/fr/showcases/index.md
  content/ja/showcases/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint
