Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

fix: logo height (#26)
  components/atoms/HeaderLogo.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: font and color options select for firefox (#27)
  components/atoms/NuxtSelectNative.vue
  components/molecules/footer/FooterColorModeSelector.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (SectionButton) change required props to false (#28)
  components/organisms/section/SectionButton.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: update Docus@0.8.6 (#29)
  content/en/0.docs/index.md
  content/fr/0.docs/index.md
  package.json
  yarn.lock
Due: yarn lint:prettier, yarn lint:markdownlint

remove: ads img (#30)
  assets/img/blocked.svg
  components/molecules/ads/AdsFallback.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (index /fr) add aside nav (#31)
  content/en/1.examples/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: doc issues (#32)
  content/en/0.docs/1.get-started/3.directory-structure.md
  content/en/0.docs/2.concepts/3.server-side-rendering.md
  content/en/0.docs/3.features/5.meta-tags-seo.md
  content/en/0.docs/3.features/8.nuxt-components.md
  content/en/0.docs/4.directory-structure/3.components.md
  content/en/0.docs/4.directory-structure/8.modules.md
  content/en/0.docs/7.components-glossary/7.transition.md
  content/en/0.docs/7.components-glossary/8.scrolltotop.md
  content/en/0.docs/8.deployment/10.github-pages.md
  content/en/0.docs/8.deployment/11.google-appengine.md
  content/en/0.docs/8.deployment/12.google-cloud-run.md
  content/en/0.docs/8.deployment/13.heroku.md
  content/en/0.docs/8.deployment/14.hostman.md
  content/en/0.docs/8.deployment/15.koyeb.md
  content/en/0.docs/8.deployment/16.layer0.md
  content/en/0.docs/8.deployment/17.netlify.md
  content/en/0.docs/8.deployment/18.nginx.md
  content/en/0.docs/8.deployment/19.platformsh.md
  content/en/0.docs/8.deployment/20.pm2.md
  content/en/0.docs/8.deployment/21.qovery.md
  content/en/0.docs/8.deployment/22.surge.md
  content/en/0.docs/8.deployment/23.vercel.md
  content/en/0.docs/8.deployment/24.cloudflare.md
  content/en/0.docs/8.deployment/9.fume.md
  content/en/releases.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (SustainabilitySection) add missing button (#33)
  components/organisms/resources/SustainabilitySection.vue
  content/en/sponsors-nuxtjs.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (fix videos courses container) (#34)
  content/en/3.resources/video-courses.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (fix themes container) (#35)
  content/en/3.resources/themes.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (HomeDiscover) gem spacing and outline-none button (#36)
  components/organisms/home/HomeDiscover.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (FooterColorModeSelector) fix bg color on light mode (#42)
  components/molecules/footer/FooterColorModeSelector.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: rework components/data fetching pages (#17)
  content/.new/.0.discover/1.features/component-discovery.md
  content/.new/.0.discover/1.features/data-fetching.md
  content/.new/.0.discover/1.features/nuxt-components.md
  content/en/0.docs/3.features/10.transitions.md
  content/en/0.docs/3.features/11.live-preview.md
  content/en/0.docs/3.features/4.data-fetching.md
  content/en/0.docs/3.features/8.nuxt-components.md
  content/en/0.docs/3.features/9.component-discovery.md
  content/en/0.docs/4.directory-structure/3.components.md
  content/en/0.docs/5.configuration-glossary/6.configuration-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add note about script lang for typescript JSX (#1496)
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration-render.md
  content/en/guides/configuration-glossary/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency husky to v7
  package.json
  yarn.lock
Due: yarn lint:prettier

Update github-pages.md
  content/en/guides/deployment/github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Update github-pages.md (#1507)
  content/en/guides/deployment/github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency textlint-filter-rule-allowlist to v3
  package.json
  yarn.lock
Due: yarn lint:prettier

chore: upgrade docus
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: header logo
  components/atoms/HeaderLogo.vue
  components/atoms/Logo.vue
  components/organisms/app/AppHeader.vue
  docus.config.ts
Due: yarn lint:eslint, yarn lint:prettier

fix: header logo
  components/atoms/HeaderLogo.vue
  components/atoms/Logo.vue
  components/organisms/app/AppHeader.vue
  docus.config.ts
  static/img/header/dark/logo.svg
  static/img/header/light/logo.svg
Due: yarn lint:eslint, yarn lint:prettier

feat: newsletter input (#37)
  components/molecules/footer/FooterFoot.vue
  components/molecules/footer/FooterNewsLetter.vue
  i18n/en-US.js
  package.json
  plugins/composables.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

chore: support page mvp
  components/organisms/support/SupportEntreprise.vue
  components/organisms/support/SupportPricing.vue
  content/en/support.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint
