Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Fix concepts book link on firefox (#1818)
  content/en/docs/1.get-started/5.conclusion.md
  content/fr/docs/1.get-started/5.conclusion.md
  content/ja/docs/1.get-started/5.conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix errors
  content/en/docs/1.get-started/5.conclusion.md
  content/en/docs/5.configuration-glossary/5.configuration-css.md
  content/fr/docs/1.get-started/5.conclusion.md
  content/fr/docs/5.configuration-glossary/5.configuration-css.md
  content/ja/docs/1.get-started/5.conclusion.md
  content/ja/docs/5.configuration-glossary/5.configuration-css.md
  content/pt/docs/5.configuration-glossary/5.configuration-css.md
  content/pt/docs/6.internals-glossary/6.internals-module-container.md
  content/pt/docs/6.internals-glossary/7.internals-builder.md
  content/pt/docs/6.internals-glossary/8.internals-generator.md
Due: yarn lint:prettier, yarn lint:markdownlint

complete translation on the file ar-Ar.js
  i18n/ar-AR.js
Due: yarn lint:eslint, yarn lint:prettier

Add translation in french for the pm2 guide
  content/fr/integrations/deployments/pm2.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 0.nuxt-static-improvements.md
  content/de/announcements/0.nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

Updates
  content/de/examples/1.routing/2.active-link-classes.md
  content/de/examples/1.routing/3.dynamic-pages.md
  content/de/examples/2.data-fetching/2.fetch-hook.md
  content/de/examples/4.transitions/1.transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Update] Examples/Loading
  content/de/examples/6.loading/1.customize-nuxt-loading.md
  content/de/examples/6.loading/2.customize-loading-indicator.md
  content/de/examples/6.loading/3.custom-loading-component.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Update] Examples/Miscellaneous
  content/de/examples/7.miscellaneous/2.lazy-loading-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Update] Examples/Middlewares
  content/de/examples/8.middlewares/2.named.md
  content/de/examples/8.middlewares/3.anonymous.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Update] Examples/Plugins
  content/de/examples/9.plugins/2.client-only.md
  content/de/examples/9.plugins/3.external-packages.md
  content/de/examples/9.plugins/4.custom.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Update] Examples/Modules
  content/de/examples/10.modules/1.local.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Update} Content/v3
  content/de/v3/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update index.md
  content/de/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/de/examples/8.middlewares/2.named.md
  content/de/examples/8.middlewares/2.named.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: add notes about development
  README.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix Japanese translation
  content/ja/docs/1.get-started/2.routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix Japanese translation (#1822)
  content/ja/docs/1.get-started/2.routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(sponsors): update movavi
  content/en/_collections/sponsors/sponsors/12.movavi.md
  content/fr/_collections/sponsors/sponsors/12.movavi.md
  content/ja/_collections/sponsors/sponsors/12.movavi.md
  content/pt/_collections/sponsors/sponsors/12.movavi.md
  static/img/sponsors/banner/dark/movavi.svg
  static/img/sponsors/banner/light/movavi.svg
  static/img/sponsors/sponsors-square/dark/movavi.svg
  static/img/sponsors/sponsors-square/light/movavi.svg
Due: yarn lint:prettier, yarn lint:markdownlint

docs(translation): Pm2 guide in French (#1819)
  content/fr/integrations/deployments/pm2.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: remove useless component + update PR content
  components/organisms/lists/PartnersBanner.vue
  content/fr/_collections/partners/agency/1.64robots.md
  content/fr/_collections/partners/technology/1.vercel.md
  content/fr/_collections/partners/technology/2.layer-0.md
  content/fr/_collections/partners/technology/5.vue-storefront.md
  content/ja/_collections/partners/agency/1.64robots.md
  content/ja/_collections/partners/technology/1.vercel.md
  content/ja/_collections/partners/technology/2.layer-0.md
  content/ja/_collections/partners/technology/5.vue-storefront.md
  content/pt/_collections/partners/agency/0.ship-shape.md
  content/pt/_collections/partners/agency/1.64robots.md
  content/pt/_collections/partners/technology/0.netlify.md
  content/pt/_collections/partners/technology/1.vercel.md
  content/pt/_collections/partners/technology/2.layer-0.md
  content/pt/_collections/partners/technology/3.storyblok.md
  content/pt/_collections/partners/technology/4.swell.md
  content/pt/_collections/partners/technology/5.vue-storefront.md
  content/pt/partners/0.netlify.md
  content/pt/partners/1.vercel.md
  content/pt/partners/2.layer-0.md
  content/pt/partners/3.storyblok.md
  content/pt/partners/4.swell.md
  content/pt/partners/5.ship-shape.md
  content/pt/partners/6.64robots.md
  content/pt/partners/7.vue-storefront.md
  content/pt/partners/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add nypr case study
  content/en/case-studies/7.new-york-public-radio.md
  static/img/case-studies/nypr/1.png
  static/img/case-studies/nypr/main.png
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add nypr case study to fr ja and pt languages
  content/fr/case-studies/7.new-york-public-radio.md
  content/ja/case-studies/7.new-york-public-radio.md
  content/pt/case-studies/7.new-york-public-radio.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix spacing error.
  i18n/ar-AR.js
Due: yarn lint:eslint, yarn lint:prettier

feat: update cover image
  content/en/case-studies/7.new-york-public-radio.md
  content/fr/case-studies/7.new-york-public-radio.md
  content/ja/case-studies/7.new-york-public-radio.md
  content/pt/case-studies/7.new-york-public-radio.md
  static/img/case-studies/nypr/cover.png
Due: yarn lint:prettier, yarn lint:markdownlint

fix(Modules): blink / fetch client slide (#1815)
  components/organisms/asides/AsideModules.vue
  components/organisms/lists/ModulesListing.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(translation): integration deployments
  content/fr/integrations/deployments/2.layer0.md
  content/fr/integrations/deployments/cloudflare.md
  content/fr/integrations/deployments/dokku.md
  content/fr/integrations/deployments/fume.md
  content/fr/integrations/deployments/qovery.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(translation): documentation
  content/fr/case-studies/0.github.md
  content/fr/case-studies/2.stores.md
  content/fr/case-studies/3.parent-scheme.md
  content/fr/case-studies/5.404-place-vendome.md
  content/fr/docs/5.configuration-glossary/6.configuration-components.md
  content/fr/integrations/deployments/2.layer0.md
  content/fr/integrations/deployments/fume.md
  content/fr/integrations/deployments/qovery.md
  content/fr/integrations/deployments/stormkitio.md
  content/fr/partners/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(translation): case studies
  content/fr/case-studies/0.github.md
  content/fr/case-studies/1.livementor.md
  content/fr/case-studies/2.stores.md
  content/fr/case-studies/3.parent-scheme.md
  content/fr/case-studies/4.line.md
  content/fr/case-studies/5.404-place-vendome.md
  content/fr/case-studies/6.komercia.md
  content/fr/case-studies/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(translation): configuration components & partners
  content/fr/docs/5.configuration-glossary/6.configuration-components.md
  content/fr/partners/0.netlify.md
  content/fr/partners/1.vercel.md
  content/fr/partners/2.layer-0.md
  content/fr/partners/3.storyblok.md
  content/fr/partners/4.swell.md
  content/fr/partners/5.ship-shape.md
  content/fr/partners/6.64robots.md
  content/fr/partners/7.vue-storefront.md
  content/fr/partners/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(translation): next integration deployment
  content/fr/integrations/deployments/heroku.md
  content/fr/integrations/deployments/stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

:recycle: (header.md) reverse color order
  content/en/_collections/navigations/header.md
  content/fr/_collections/navigations/header.md
  content/ja/_collections/navigations/header.md
  content/pt/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

:recycle: (Dropdown) add class props for main link
  components/atoms/selects/Dropdown.vue
Due: yarn lint:eslint, yarn lint:prettier

:recycle: (AppHeader) update items spacing
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:bento: (header) update icons
  static/img/header/sponsors.svg
  static/img/header/tweets.svg
Due: none

fix: minor fixes
  content/en/case-studies/7.new-york-public-radio.md
  content/fr/case-studies/7.new-york-public-radio.md
  content/ja/case-studies/7.new-york-public-radio.md
  content/pt/case-studies/7.new-york-public-radio.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(renovate-config): add `dependencies` label
  renovate.json
Due: none

:pencil: (header) update NuxtJS to Nuxt
  content/en/_collections/navigations/header.md
  content/fr/_collections/navigations/header.md
  content/ja/_collections/navigations/header.md
  content/pt/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

:lipstick: (header) update colors
  components/molecules/HeaderDropdownItem.vue
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (AppHeader) update hover color on dark mode
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
