Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: update vercel builder service worker routes (#1349)
  content/en/guides/deployment/vercel-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: finish carousel for sidebar partners block
  components/organisms/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: light mode color
  components/organisms/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

content: Add Storyblok logo
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
Due: yarn lint:eslint, yarn lint:prettier

docs: WIP on nuxt image blog post
  content/en/blog/optimise-your-images-with-nuxt-image.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/appengine-deployment
  content/ja/guides/deployment/appengine-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: WIP on hands-on nuxt image blog post
  content/en/blog/optimise-your-images-with-nuxt-image.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: fixes after PR review
  components/organisms/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

content: resize storyblok logo
  static/img/sponsors/dark/storyblok-logo.svg
  static/img/sponsors/light/storyblok-logo.svg
Due: none

Correctly link context.app to documentation
  content/en/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: correctly link `context.app` to documentation (#1477)
  content/en/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: WIP on Nuxt Image blog post
  content/en/blog/optimise-your-images-with-nuxt-image.md
  static/blog/hands-on-image-optimization-with-nuxt-image/blog.png
  static/blog/hands-on-image-optimization-with-nuxt-image/homepage.png
Due: yarn lint:prettier, yarn lint:markdownlint

Update SponsorsBlock.vue
  components/organisms/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

content: change partners list to carousel component + add Storyblok logo (#1474)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
Due: yarn lint:eslint, yarn lint:prettier

content: change partners list to carousel component + add Storyblok logo (#1474)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
  static/img/sponsors/dark/storyblok-logo.svg
  static/img/sponsors/light/storyblok-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

docs: add ben to ambassadors
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: add ben to ambassador list
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

📝 add Fume to the list of deployment options
  content/en/guides/deployment/deployment-fume.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/bip-deployment
  content/ja/guides/deployment/bip-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/appengine-deployment (#1476)
  content/ja/guides/deployment/appengine-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/bip-deployment (#1483)
  content/ja/guides/deployment/bip-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: Update Nuxt Image use-case and layouts
  content/en/blog/images-optimization-with-nuxt-image.md
  static/blog/hands-on-image-optimization-with-nuxt-image/homepage.png
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add ben to ambassador list (#1480)
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

📝 add Fume to the list of deployment options (#1481)
  content/en/guides/deployment/deployment-fume.md
Due: yarn lint:prettier, yarn lint:markdownlint

Typo
  content/es/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: typo (#1486)
  content/es/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration.md
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

copy english sentence
  content/id/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): add documentation for
  content/id/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: add Vercel as sponsor 🖤
  content/sponsors.js
  static/img/sponsors/dark/vercel.svg
  static/img/sponsors/light/vercel.svg
Due: yarn lint:eslint, yarn lint:prettier

chore: add Vercel as sponsor 🖤
  content/sponsors.js
Due: yarn lint:eslint, yarn lint:prettier

fix: typo
  content/ja/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
