Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Add information about runtimeOption properties (#1537)
  content/en/guides/configuration-glossary/configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: new copononent for externals links
  components/atoms/icons/IconExternalLink.vue
  components/organisms/app/HeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

Update HeaderNavigation.vue
  components/organisms/app/HeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (ContentCardTemplate) remove nuxtImg link + localpath internal links
  components/organisms/ContentCardTemplate.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (HomeCampfire) remove localPath on marketing link
  components/organisms/home/HomeCampfire.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (ResourcesList) remove localPath
  components/organisms/resources/ResourcesList.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (SectionContentItem) remove localPath
  components/organisms/section/SectionContentItem.vue
Due: yarn lint:eslint, yarn lint:prettier

reverse: refacto header
  components/organisms/app/HeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: new component for externals links (#1538)
  components/atoms/icons/IconExternalLink.vue
  components/organisms/app/HeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: remove english sentence on french module page
  content/fr/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add information about runtimeOption properties
  content/en/0.docs/5.configuration-glossary/9.configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

(fix) typo
  content/en/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

(fix) typo (#1541)
  content/en/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): new version 3 translation
  content/fr/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove localPath to external links (#1543)
  components/organisms/ContentCardTemplate.vue
  components/organisms/home/HomeCampfire.vue
  components/organisms/resources/ResourcesList.vue
  components/organisms/section/SectionContentItem.vue
Due: yarn lint:eslint, yarn lint:prettier

:recycle: (Components) replace import vue/composition to nuxtjs/composition
  components/atoms/NuxtButton.vue
  components/atoms/NuxtHref.vue
  components/atoms/NuxtSelectNative.vue
  components/atoms/NuxtTextInput.vue
  components/molecules/footer/FooterFoot.vue
  components/molecules/footer/FooterLink.vue
  components/molecules/footer/FooterNewsLetter.vue
  components/molecules/footer/FooterSocialLinks.vue
  components/organisms/HeroParallax.vue
  components/organisms/Nuxt3HeroParallax.vue
  components/organisms/app/AppFooter.vue
  components/organisms/home/CodeBlockAnimation.vue
  components/organisms/home/HomeLearnGuides.vue
  components/organisms/home/HomeTestimonials.vue
  components/organisms/nuxt3/Nuxt3Hero.vue
  components/organisms/team/TeamMember.vue
Due: yarn lint:eslint, yarn lint:prettier

refacto: (components) change imports @vue/composition-api to @nuxtjs/composition-api (#1544)
  components/atoms/NuxtButton.vue
  components/atoms/NuxtHref.vue
  components/atoms/NuxtSelectNative.vue
  components/atoms/NuxtTextInput.vue
  components/molecules/footer/FooterFoot.vue
  components/molecules/footer/FooterLink.vue
  components/molecules/footer/FooterNewsLetter.vue
  components/molecules/footer/FooterSocialLinks.vue
  components/organisms/HeroParallax.vue
  components/organisms/Nuxt3HeroParallax.vue
  components/organisms/app/AppFooter.vue
  components/organisms/home/CodeBlockAnimation.vue
  components/organisms/home/HomeLearnGuides.vue
  components/organisms/home/HomeTestimonials.vue
  components/organisms/nuxt3/Nuxt3Hero.vue
  components/organisms/team/TeamMember.vue
Due: yarn lint:eslint, yarn lint:prettier

:construction: (HomeLearnMaster) add observer
  components/organisms/home/HomeLearnMaster.vue
Due: yarn lint:eslint, yarn lint:prettier

:construction: (HomeLearnMaster) return ref
  components/organisms/home/HomeLearnMaster.vue
Due: yarn lint:eslint, yarn lint:prettier

:fire: (HomeLearnMaster) remove observer
  components/organisms/home/HomeLearnMaster.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (CodeBlockAnimation) observer to start anim when section visible
  components/organisms/home/CodeBlockAnimation.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: (HomeLearnMaster) add observer to start anim when section visible (#1545)
  components/organisms/home/CodeBlockAnimation.vue
  components/organisms/home/HomeLearnMaster.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: fetch sponsors in a single source
  components/organisms/resources/SustainabilitySection.vue
  content/_sponsors/mvp-partners/1.netlify.md
  content/_sponsors/mvp-partners/2.chrome.md
  content/_sponsors/mvp-partners/3.vercel.md
  content/_sponsors/partners/1.swell.md
  content/_sponsors/partners/2.strapi.md
  content/_sponsors/partners/3.ship-shape.md
  content/_sponsors/partners/4.layer-0.md
  content/_sponsors/partners/5.storyblok.md
  content/_sponsors/partners/6.64robots.md
  content/_sponsors/sponsors/1.vue-mastery.md
  content/_sponsors/sponsors/10.remotely.md
  content/_sponsors/sponsors/2.legal-nature.md
  content/_sponsors/sponsors/3.sparheld.md
  content/_sponsors/sponsors/4.icons-8.md
  content/_sponsors/sponsors/5.firestickhow.md
  content/_sponsors/sponsors/6.minitool.md
  content/_sponsors/sponsors/7.vps-server.md
  content/_sponsors/sponsors/8.fine-vpn.md
  content/_sponsors/sponsors/9.sendcloud.md
  content/en/sustainability/1.mvp-partners.md
  content/en/sustainability/2.partners.md
  content/en/sustainability/3.sponsors.md
  content/en/sustainability/index.md
  content/fr/sustainability/1.mvp-partners.md
  content/fr/sustainability/2.partners.md
  content/fr/sustainability/3.sponsors.md
  content/fr/sustainability/index.md
  static/img/sponsors/dark/finevpn.png
  static/img/sponsors/light/finevpn.png
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add agema and flashdrive as sponsors
  content/_sponsors/sponsors/1.vue-mastery.md
  content/_sponsors/sponsors/11.flashdrive.md
  content/_sponsors/sponsors/12.agema.md
  static/img/sponsors/dark/agema.png
  static/img/sponsors/dark/flashdrive.png
  static/img/sponsors/light/agema.png
  static/img/sponsors/light/flashdrive.png
Due: yarn lint:prettier, yarn lint:markdownlint

feat: extract sponsors section to component and improve sorting and filtering
  components/organisms/resources/SustainabilitySection.vue
  components/organisms/section/SectionSponsors.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: add .husky to gitignore
  .gitignore
  .husky/_/husky.sh
Due: none

:recycle: (Releases) refacto releases page
  components/templates/Releases.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (Releases) border b dark color
  components/templates/Releases.vue
Due: yarn lint:eslint, yarn lint:prettier

refacto: releases page (#1547)
  components/templates/Releases.vue
Due: yarn lint:eslint, yarn lint:prettier

Create firebase-hosting-deployment.md
  content/en/guides/deployment/firebase-hosting-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deployment-azure-portal
  content/ja/guides/deployment/deployment-azure-portal.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add new sponsors
  content/sponsors.js
  static/img/sponsors/dark/agema.png
  static/img/sponsors/dark/flashdrive.png
  static/img/sponsors/light/agema.png
  static/img/sponsors/light/flashdrive.png
Due: yarn lint:eslint, yarn lint:prettier

docs: translate missing part of newsletter block
  i18n/en-US.js
  i18n/fr-FR.js
  plugins/composables.js
Due: yarn lint:eslint, yarn lint:prettier

:bug: (Releases) fix horizontal overflow on mobile
  components/templates/Releases.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: translate 404 page
  components/templates/Error.vue
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

:bug: (Releases) fix horizontal overflow on mobile (#1551)
  components/templates/Releases.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: add missing translation strings (#1552)
  components/templates/Error.vue
  i18n/en-US.js
  i18n/fr-FR.js
  plugins/composables.js
Due: yarn lint:eslint, yarn lint:prettier

docs: add member community
  content/en/teams/2.community.md
  content/fr/teams/2.community.md
Due: yarn lint:prettier, yarn lint:markdownlint
