Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

fix: typo (#1491)
  content/ja/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/cleavr-deployment
  content/ja/guides/deployment/cleavr-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/cleavr-deployment (#1492)
  content/ja/guides/deployment/cleavr-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

resolved
  content/id/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

Docs(id): add documentation for `fetchKey` (#1489)
  content/id/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

perf: inline critical css in generated pages
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (readme) add readme
  README.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (readme) update readme
  README.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix typo
  content/en/_archives/api/configuration-router.md
  content/en/guides/configuration-glossary/configuration-router.md
  content/es/guides/configuration-glossary/configuration-router.md
  content/fr/guides/configuration-glossary/configuration-router.md
  content/ja/guides/configuration-glossary/configuration-router.md
  content/pt/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: fix typo, `prefetchPaylods` -> `prefetchPayloads` (#1494)
  content/en/_archives/api/configuration-router.md
  content/en/guides/configuration-glossary/configuration-router.md
  content/es/guides/configuration-glossary/configuration-router.md
  content/fr/guides/configuration-glossary/configuration-router.md
  content/ja/guides/configuration-glossary/configuration-router.md
  content/pt/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): lock file maintenance
  yarn.lock
Due: none

:bug: (HomeTestimonials) blurry images
  static/img/home/community/addy.png
  static/img/home/community/ajay.png
  static/img/home/community/dave.png
  static/img/home/community/dominik.png
  static/img/home/community/evan.png
  static/img/home/community/guillermo.png
  static/img/home/community/sadek.png
  static/img/home/community/sarah.png
Due: none

:bug: (HomeDiscoverParnters) fix wrong link /sponsoring to /sponsors-nuxtjs
  content/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add category prop
  components/organisms/home/HomeDiscover.vue
Due: yarn lint:eslint, yarn lint:prettier

:fire: (HomeDiscover) remove unused props parameters
  components/organisms/home/HomeDiscover.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (ButtonLink) override button link to fix wrong size
  components/atoms/ButtonLink.vue
  content/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (HeaderNavigation) add target blank to video courses link
  components/organisms/app/HeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: update homepage cta (#2)
  components/organisms/section/SectionContentItem.vue
  content/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (MarketingLink) change to Link component to fix external links (#7)
  components/molecules/MarketingLink.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: sustainability link in footer (#8)
  components/organisms/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

Update content/en/guides/configuration-glossary/configuration-components.md
  content/en/guides/configuration-glossary/configuration-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (AdsFallback) fix style on dark mode (#11)
  components/molecules/ads/AdsFallback.vue
Due: yarn lint:eslint, yarn lint:prettier
