Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-transition.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-transition
  content/ja/guides/configuration-glossary/configuration-transition.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-vue-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-vue-config
  content/ja/guides/configuration-glossary/configuration-vue-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-watch.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-watch
  content/ja/guides/configuration-glossary/configuration-watch.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-watchers.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-watchers
  content/ja/guides/configuration-glossary/configuration-watchers.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix: improper verb conjugation
  content/en/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: new sandboxes
  content/en/examples/custom-loading-component.md
  content/en/examples/customize-loading-indicator.md
  content/en/examples/customize-nuxt-loading.md
  content/en/examples/helpers.md
  content/en/examples/lazy-loading-components.md
  content/en/examples/middleware-anonymous.md
  content/en/examples/middleware-named.md
  content/en/examples/middleware-router.md
  content/en/examples/seo-html-head.md
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: improvements to texts
  content/en/examples/modules-axios.md
  content/en/examples/modules-internal.md
  content/en/examples/plugins-client-only.md
  content/en/examples/plugins-custom.md
  content/en/examples/plugins-external-packages.md
  content/en/examples/plugins-vue.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: title tag
  content/en/examples/hello-world.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: curly brackets after filename in docs (#999)
  content/en/guides/components-glossary/pages-middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix: improper verb conjugation (#1003)
  content/en/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

Added original English file
  content/id/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add cli bannerMessage
  content/en/guides/configuration-glossary/configuration-cli.md
  static/docs/2.x/cli-badge.png
Due: yarn lint:prettier, yarn lint:markdownlint

Add translation for components.md
  content/id/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Added original English file
  content/id/guides/directory-structure/content.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add cli bannerMessage (#1004)
  content/en/guides/configuration-glossary/configuration-cli.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add cli bannerMessage (#1004)
  content/en/guides/configuration-glossary/configuration-cli.md
  static/docs/2.x/cli-badge.png
Due: yarn lint:prettier, yarn lint:markdownlint

[ImgBot] Optimize images
  static/docs/2.x/cli-badge.png
  static/docs/2.x/context.svg
  static/docs/2.x/plugins.svg
  static/themes/bolster.jpg
  static/themes/luma-nuxt.jpg
  static/themes/multikart.jpg
  static/themes/sofbox.jpg
  static/themes/veluxi.jpg
Due: none

docs(id): added translation configuration-build.md
  content/id/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

update: links nav
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

fix: sandboxes
  content/en/examples/custom-loading-component.md
  content/en/examples/customize-loading-indicator.md
  content/en/examples/customize-nuxt-loading.md
  content/en/examples/seo-html-head.md
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

editor view
  content/en/examples/data-fetching-async-data.md
  content/en/examples/data-fetching-fetch-hook.md
  content/en/examples/hello-world.md
  content/en/examples/helpers.md
  content/en/examples/layouts.md
  content/en/examples/lazy-loading-components.md
  content/en/examples/middleware-anonymous.md
  content/en/examples/middleware-named.md
  content/en/examples/middleware-router.md
  content/en/examples/modules-axios.md
  content/en/examples/modules-internal.md
  content/en/examples/plugins-client-only.md
  content/en/examples/plugins-custom.md
  content/en/examples/plugins-external-packages.md
  content/en/examples/plugins-vue.md
  content/en/examples/pre-processors.md
  content/en/examples/routing-active-links-classes.md
  content/en/examples/routing-dynamic-pages.md
  content/en/examples/routing-nested-pages.md
  content/en/examples/transitions.md
  content/en/examples/vuex-store.md
  content/en/examples/webpack-assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: update redirects
  _redirects
Due: none

fix: footer link to resources
  components/templates/TheFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: footer link to resources (#1008)
  components/templates/TheFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(en): Add section about nuxt webpack command (#942)
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

ci: implement preliminary workflow
  .github/bin/update-status.sh
  .github/workflows/deployment.yml
  .github/workflows/main.yml
  functions/webhook.js
  package.json
  scripts/check-redirects.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix: rename folder to `lambda`
  lambda/webhook.js
Due: yarn lint:eslint, yarn lint:prettier

ci: make script executable
  .github/bin/update-status.sh
Due: none
