Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: alert for memeory leak inject to plugins
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add quote for string
  content/ko/guides/get-started/conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate context-helpers.md into Korean
  content/ko/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: improvements
  components/global/bases/BaseAuthor.vue
  components/global/bases/DocsButton.vue
  components/global/bases/NpmButtons.vue
  content/en/resources/cms-integrations/content.md
  content/en/resources/cms-integrations/sanity.md
  content/en/resources/databases/strapi.md
  content/en/resources/devtools/storybook.md
  content/en/resources/images/cloudinary.md
  content/en/resources/performance/pwa.md
  content/en/resources/security/auth.md
  content/en/resources/testing/test-utils.md
  content/en/resources/ui-framework/tailwindcss.md
  pages/resources/_category/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add slider
  content/en/resources/cms-integrations/content.md
  content/en/resources/cms-integrations/sanity.md
  content/en/resources/databases/strapi.md
  content/en/resources/performance/pwa.md
  content/en/resources/security/auth.md
  content/en/resources/testing/test-utils.md
  content/en/resources/ui-framework/tailwindcss.md
  nuxt.config.js
  package.json
  pages/resources/index.vue
  plugins/vue-carousel.client.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: translations for resources categories
  components/TheAsideNavResources.vue
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier

feat: title in bold
  components/partials/resources/ResourceCards.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add new sponsor moovweb
  components/partials/SponsorsBlock.vue
  components/partials/home/HomeSponsors.vue
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/moovweb-logo.png
  static/img/sponsors/light/moovweb-logo.png
Due: yarn lint:eslint, yarn lint:prettier

feat: add new sponsor moovweb (#506)
  components/partials/SponsorsBlock.vue
  components/partials/home/HomeSponsors.vue
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add new sponsor moovweb (#506)
  components/partials/SponsorsBlock.vue
  components/partials/home/HomeSponsors.vue
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/moovweb-logo.png
  static/img/sponsors/light/moovweb-logo.png
Due: yarn lint:eslint, yarn lint:prettier

Update installation.md
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add prismic
  content/en/resources/cms-integrations/prismic.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: improve texts
  content/en/resources/cms-integrations/content.md
  content/en/resources/cms-integrations/prismic.md
  content/en/resources/cms-integrations/sanity.md
  content/en/resources/cms-integrations/strapi.md
  content/en/resources/devtools/storybook.md
  content/en/resources/performance/pwa.md
  content/en/resources/security/auth.md
  content/en/resources/testing/test-utils.md
  content/en/resources/ui-framework/tailwindcss.md
  pages/resources/_category/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update installation.md (#507)
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update dependency @nuxtjs/tailwindcss to v3
  package.json
  yarn.lock
Due: yarn lint:prettier

feat: guides/concepts pt-br translations
  content/pt/guides/concepts/context-helpers.md
  content/pt/guides/concepts/nuxt-lifecycle.md
  content/pt/guides/concepts/server-side-rendering.md
  content/pt/guides/concepts/static-site-generation.md
  content/pt/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor: retranslated "learn more" on get-started guides
  content/pt/guides/get-started/directory-structure.md
  content/pt/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor: translate nuxt-lifecycle - concepts guide - questions
  content/pt/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: deployment-targets, live-preview and rendering-modes pt-br translations
  content/pt/guides/features/deployment-targets.md
  content/pt/guides/features/live-preview.md
  content/pt/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix too much white-space in portrait mode
  assets/css/tailwind.css
  components/TheAsideNav.vue
  components/TheAsideNavNewDocs.vue
  components/partials/AffixBlock.vue
  pages/_section.vue
  pages/_section/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix too much white-space in portrait mode (#509)
  assets/css/tailwind.css
  components/TheAsideNav.vue
  components/TheAsideNavNewDocs.vue
  components/partials/AffixBlock.vue
  pages/_section.vue
  pages/_section/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

Update creating-blog-with-nuxt-content.md
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update creating-blog-with-nuxt-content.md (#510)
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: pt-br translations for the rest of feature guides
  content/pt/guides/features/configuration.md
  content/pt/guides/features/data-fetching.md
  content/pt/guides/features/file-system-routing.md
  content/pt/guides/features/loading.md
  content/pt/guides/features/meta-tags-seo.md
  content/pt/guides/features/nuxt-components.md
  content/pt/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

dos: add style extension
  content/en/guides/configuration-glossary/configuration-css.md
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove error.response not available in static hosting
  pages/_section/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove error.response not available in static hosting (#513)
  pages/_section/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: explanation of how ext works
  content/en/guides/configuration-glossary/configuration-css.md
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/configuration-glossary/configuration-css.md
  content/en/guides/configuration-glossary/configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration.md
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: translate nuxt - directory-structure - guide
  content/pt/guides/directory-structure/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency eslint to ^7.7.0
  package.json
  yarn.lock
Due: yarn lint:prettier

docs: add style extension (#512)
  content/en/guides/configuration-glossary/configuration-css.md
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

blog: minor fixes alerts
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
