Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

test: test preview sites for broken links (#1007)
  .github/bin/update-status.sh
  .github/workflows/deployment.yml
  .github/workflows/main.yml
  components/templates/home/HomeWelcome.vue
  lambda/webhook.js
  package.json
  pages/docs/2.x/_book/_slug.vue
  pages/examples/_slug.vue
  pages/themes.vue
  scripts/check-redirects.js
  scripts/crawl.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency @types/fs-extra to ^9.0.4
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: add netlify funcitons folder
  netlify.toml
Due: none

chore(deps): update dependency reading-time to ^1.2.1
  package.json
  yarn.lock
Due: yarn lint:prettier

feat(i18n): add hello world example
  content/es/examples/hello-world.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: require instead of import
  lambda/webhook.js
Due: yarn lint:eslint, yarn lint:prettier

fix: require instead of import (#1013)
  lambda/webhook.js
Due: yarn lint:eslint, yarn lint:prettier

fix: add netlify funcitons folder (#1010)
  netlify.toml
Due: none

docs(es): add example routing-active-links-classes.md
  content/es/examples/routing-active-links-classes.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update installation.md
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate get-started/commands
  content/ja/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: redirects
  _redirects
Due: none

fix: links
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  content/en/faq/duplicated-meta-tags.md
  content/en/faq/netlify-deployment.md
  content/en/guides/configuration-glossary/configuration-generate.md
  content/es/guides/configuration-glossary/configuration-generate.md
  content/es/guides/configuration-glossary/configuration-servermiddleware.md
  content/fr/faq/duplicated-meta-tags.md
  content/pt/guides/configuration-glossary/configuration-generate.md
  content/zh/faq/surge-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: links
  content/en/guides/directory-structure/pages.md
  content/es/guides/directory-structure/pages.md
  content/fr/_archives/guide/views.md
  content/fr/guides/directory-structure/pages.md
  content/id/guides/directory-structure/pages.md
  content/pt/guides/directory-structure/pages.md
  content/zh/guide/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: french link
  content/fr/faq/duplicated-meta-tags.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update installation.md (#1015)
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: redirects and links (#1018)
  _redirects
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  content/en/faq/duplicated-meta-tags.md
  content/en/faq/netlify-deployment.md
  content/en/guides/configuration-glossary/configuration-generate.md
  content/en/guides/directory-structure/pages.md
  content/es/guides/configuration-glossary/configuration-generate.md
  content/es/guides/configuration-glossary/configuration-servermiddleware.md
  content/es/guides/directory-structure/pages.md
  content/fr/_archives/guide/views.md
  content/fr/faq/duplicated-meta-tags.md
  content/fr/guides/directory-structure/pages.md
  content/id/guides/directory-structure/pages.md
  content/pt/guides/configuration-glossary/configuration-generate.md
  content/pt/guides/directory-structure/pages.md
  content/zh/faq/surge-deployment.md
  content/zh/guide/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency eslint to ^7.14.0
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(zh): Translate i18n
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): translate configuration-watch (#993)
  content/ja/guides/configuration-glossary/configuration-watch.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-watchers (#994)
  content/ja/guides/configuration-glossary/configuration-watchers.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-ssr (#995)
  content/ja/guides/configuration-glossary/configuration-ssr.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-srcdir (#996)
  content/ja/guides/configuration-glossary/configuration-srcdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

update: mastering nuxt banner
  components/organisms/MasteringNuxtBanner.vue
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency cypress to v6
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): lock file maintenance
  yarn.lock
Due: none

docs(zh): Translate i18n (#1020)
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
