Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(ja): enclosed wording with backticks in configuration-srcdir
  content/ja/guides/configuration-glossary/configuration-srcdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): modify description about configuration-srcdir (#1422)
  content/ja/guides/configuration-glossary/configuration-srcdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update nuxt-components.md
  content/ru/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix text typo
  content/ru/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update pages.md
  content/en/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: remove duplicated word (#1423)
  content/en/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency lint-staged to v11
  package.json
  yarn.lock
Due: yarn lint:prettier

Missing closing parenthesis
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): fix indonesia translate
  content/id/guides/directory-structure/assets.md
  content/id/guides/directory-structure/plugins.md
  content/id/guides/directory-structure/static.md
  content/id/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): added translation to commands.md
  content/id/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: overflow-x scroll on tables when device is mobile
  assets/css/content.scss
Due: yarn lint:prettier

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: Add LINE to companies
  components/templates/home/Companies.vue
  static/img/companies/original/line.png
  static/img/companies/preview/line.png
Due: yarn lint:eslint, yarn lint:prettier

fix: let tables scroll horizontally on mobile (#1428)
  assets/css/content.scss
Due: yarn lint:prettier

chore(deps): update devdependency @nuxtjs/tailwindcss to v4
  package.json
  yarn.lock
Due: yarn lint:prettier

Update content/ru/guides/features/nuxt-components.md
  content/ru/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: solve confusing on `watchQuery` description
  content/en/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: add hey to Japanese companies
  components/templates/home/Companies.vue
  static/img/companies/original/hey.svg
  static/img/companies/preview/hey.svg
Due: yarn lint:eslint, yarn lint:prettier

added translation
  content/ru/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: Adapt layout to new sponsorship tiers
  components/organisms/SponsorsBlock.vue
  components/templates/home/Sponsors.vue
  content/sponsors.js
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: improvements
  components/organisms/AdsBlock.vue
  components/organisms/AffixBlock.vue
  components/organisms/SponsorsBlock.vue
  components/organisms/ads/Carbon.vue
  components/organisms/ads/Fallback.vue
  content/ja/guides/directory-structure/content.md
  content/ja/guides/features/nuxt-components.md
  nuxt.config.js
  package.json
  pages/docs/2.x/_book/_slug.vue
  pages/docs/release-notes.vue
  pages/faq/_slug.vue
  plugins/adblock.client.js
  tailwind.config.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore: Adapt layout to new sponsorship tiers (#1433)
  components/organisms/AdsBlock.vue
  components/organisms/AffixBlock.vue
  components/organisms/SponsorsBlock.vue
  components/organisms/ads/Carbon.vue
  components/organisms/ads/Fallback.vue
  components/templates/home/Sponsors.vue
  content/ja/guides/directory-structure/content.md
  content/ja/guides/features/nuxt-components.md
  content/sponsors.js
  nuxt.config.js
  package.json
  pages/docs/2.x/_book/_slug.vue
  pages/docs/release-notes.vue
  pages/faq/_slug.vue
  pages/sponsor-nuxtjs.vue
  plugins/adblock.client.js
  tailwind.config.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore: add hey to Japanese companies (#1432)
  components/templates/home/Companies.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: add hey to Japanese companies (#1432)
  components/templates/home/Companies.vue
  static/img/companies/original/hey.svg
  static/img/companies/preview/hey.svg
Due: yarn lint:eslint, yarn lint:prettier

chore: Add LINE to companies (#1430)
  components/templates/home/Companies.vue
  static/img/companies/original/line.png
  static/img/companies/preview/line.png
Due: yarn lint:eslint, yarn lint:prettier

chore: Add LINE to companies (#1430)
  components/templates/home/Companies.vue
Due: yarn lint:eslint, yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
