Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update routing.md
  content/en/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

update GH Stars
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

Update content/ru/guides/get-started/installation.md
  content/ru/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update renovate.json
  renovate.json
Due: none

Update going-full-static.md
  content/en/blog/going-full-static.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update file-system-routing.md
  content/en/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add hint to mode doc in ssr property (#712)
  content/en/guides/configuration-glossary/configuration-ssr.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update file-system-routing.md (#719)
  content/en/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): fix guides/get-started translations (#706)
  content/fr/guides/get-started/conclusion.md
  content/fr/guides/get-started/directory-structure.md
  content/fr/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translation to Farsi(Persian) - installation.md & fa-IR.js footer (#710)
  content/fa/guides/get-started/installation.md
  i18n/fa-IR.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Applying recent changes to pt-br docs guides (#684)
  content/pt/guides/concepts/server-side-rendering.md
  content/pt/guides/directory-structure/components.md
  content/pt/guides/directory-structure/layouts.md
  content/pt/guides/features/deployment-targets.md
  content/pt/guides/features/file-system-routing.md
  content/pt/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

finish layout translation
  i18n/ru-RU.js
Due: yarn lint:eslint, yarn lint:prettier

chore: update version number
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

Update i18n/ru-RU.js
  i18n/ru-RU.js
Due: yarn lint:eslint, yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
