Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs: fixed typo (#1319)
  content/en/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add example complex store structure (#1320)
  content/en/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

ci: update branch name in workflows
  .github/workflows/links.yml
  .github/workflows/main.yml
Due: none

ci: update branch name in workflows (#1336)
  .github/workflows/links.yml
  .github/workflows/main.yml
Due: none

fix: update component paths to work with new names
  components/templates/blogpost/Author.vue
  components/templates/blogpost/Item.vue
  components/templates/blogpost/NavigationLinks.vue
  components/templates/blogpost/PreviewItem.vue
  components/templates/home/Companies.vue
  components/templates/home/Features.vue
  components/templates/home/Modes.vue
  components/templates/home/Sponsors.vue
  components/templates/home/Targets.vue
  components/templates/home/Welcome.vue
  components/templates/home/Why.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: use `token` consistently throughout post (#1237)
  content/en/blog/creating-a-nuxt-module.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: rename other components
  components/atoms/icon/Alert.vue
  components/atoms/icon/ArrowLeft.vue
  components/atoms/icon/ArrowRight.vue
  components/atoms/icon/Check.vue
  components/atoms/icon/ChevronRight.vue
  components/atoms/icon/ClipboardCheck.vue
  components/atoms/icon/ClipboardCopy.vue
  components/atoms/icon/Close.vue
  components/atoms/icon/ExternalLink.vue
  components/atoms/icon/Github.vue
  components/atoms/icon/Info.vue
  components/atoms/icon/Menu.vue
  components/atoms/icon/Next.vue
  components/atoms/icon/Star.vue
  components/atoms/icon/Translate.vue
  components/atoms/icon/Website.vue
  components/atoms/icon/X.vue
  components/molecules/illustration/MountainsGlobe.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: clarify that mixin flag should be unique (#1243)
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: update component paths to work with new names (#1337)
  components/atoms/icon/Alert.vue
  components/atoms/icon/ArrowLeft.vue
  components/atoms/icon/ArrowRight.vue
  components/atoms/icon/Check.vue
  components/atoms/icon/ChevronRight.vue
  components/atoms/icon/ClipboardCheck.vue
  components/atoms/icon/ClipboardCopy.vue
  components/atoms/icon/Close.vue
  components/atoms/icon/ExternalLink.vue
  components/atoms/icon/Github.vue
  components/atoms/icon/Info.vue
  components/atoms/icon/Menu.vue
  components/atoms/icon/Next.vue
  components/atoms/icon/Star.vue
  components/atoms/icon/Translate.vue
  components/atoms/icon/Website.vue
  components/atoms/icon/X.vue
  components/molecules/illustration/MountainsGlobe.vue
  components/templates/blogpost/Author.vue
  components/templates/blogpost/Item.vue
  components/templates/blogpost/NavigationLinks.vue
  components/templates/blogpost/PreviewItem.vue
  components/templates/home/Companies.vue
  components/templates/home/Features.vue
  components/templates/home/Modes.vue
  components/templates/home/Sponsors.vue
  components/templates/home/Targets.vue
  components/templates/home/Welcome.vue
  components/templates/home/Why.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix: update header link from `/faq` to `/resources`
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

docs: update node version in workflows
  content/en/guides/deployment/github-pages.md
  content/fr/faq/github-pages.md
  content/ja/faq/github-pages.md
  content/zh/faq/github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

ci: update workflows to node v14/ubuntu 20.04
  .github/workflows/links.yml
  .github/workflows/links/en.yml
  .github/workflows/links/es.yml
  .github/workflows/links/fr.yml
  .github/workflows/links/id.yml
  .github/workflows/links/ja.yml
  .github/workflows/links/ko.yml
  .github/workflows/links/pt.yml
  .github/workflows/links/ru.yml
  .github/workflows/links/zh.yml
  .github/workflows/main.yml
  .github/workflows/textlint.yml
Due: none

docs: update node version in github-pages workflow (#1339)
  content/en/guides/deployment/github-pages.md
  content/fr/faq/github-pages.md
  content/ja/faq/github-pages.md
  content/zh/faq/github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: use headings from translated pages as default
  i18n/es-ES.js
  i18n/id-ID.js
  i18n/pt-BR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

fix: update header link from `/faq` to `/resources` (#1338)
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

ci: update workflows to node v14/ubuntu 20.04 (#1340)
  .github/workflows/links.yml
  .github/workflows/links/en.yml
  .github/workflows/links/es.yml
  .github/workflows/links/fr.yml
  .github/workflows/links/id.yml
  .github/workflows/links/ja.yml
  .github/workflows/links/ko.yml
  .github/workflows/links/pt.yml
  .github/workflows/links/ru.yml
  .github/workflows/links/zh.yml
  .github/workflows/main.yml
  .github/workflows/textlint.yml
Due: none

fix: update edit on github links to point to main
  CONTRIBUTING.md
  _redirects
  components/templates/TheFooter.vue
  pages/blog/_slug.vue
  pages/docs/2.x/_book/_slug.vue
  pages/docs/release-notes.vue
  pages/examples/_slug.vue
  pages/faq/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: update edit on github links to point to main (#1341)
  CONTRIBUTING.md
  _redirects
  components/templates/TheFooter.vue
  pages/blog/_slug.vue
  pages/docs/2.x/_book/_slug.vue
  pages/docs/release-notes.vue
  pages/examples/_slug.vue
  pages/faq/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Windows doc update for injection of env.
  content/en/guides/configuration-glossary/configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix typo
  content/fr/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update titles for Nuxt components (#1250)
  assets/css/content.scss
  content/en/guides/features/nuxt-components.md
  pages/docs/2.x/_book/_slug.vue
  pages/docs/release-notes.vue
  pages/examples/_slug.vue
  pages/faq/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(fr): fix typo (#1343)
  content/fr/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

Added a couple of new translations to the spanish translation
  i18n/es-ES.js
Due: yarn lint:eslint, yarn lint:prettier

Update deployment-cloud-run.md
  content/en/guides/deployment/deployment-cloud-run.md
Due: yarn lint:prettier, yarn lint:markdownlint
