Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: add ohmyfetch to build.transpile
  nuxt.config.ts
Due: none

feat: [Homepage] Add sentences to video steps (#44)
  components/organisms/home/HomeDiscover.vue
  content/en/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore: updated content (#45)
  components/atoms/Highlight.vue
  content/en/0.docs/3.features/5.meta-tags-seo.md
  content/en/1.examples/1.routing/1.hello-world.md
  content/en/1.examples/1.routing/2.active-link-classes.md
  content/en/1.examples/1.routing/3.dynamic-pages.md
  content/en/1.examples/1.routing/4.nested-pages.md
  content/en/1.examples/10.modules/1.local.md
  content/en/1.examples/10.modules/2.axios.md
  content/en/1.examples/2.data-fetching/1.async-data.md
  content/en/1.examples/2.data-fetching/2.fetch-hook.md
  content/en/1.examples/3.assets-management/1.pre-processors.md
  content/en/1.examples/3.assets-management/2.webpack-assets.md
  content/en/1.examples/4.transitions/1.transitions.md
  content/en/1.examples/5.seo/1.html-head.md
  content/en/1.examples/5.seo/2.twitter-og.md
  content/en/1.examples/6.loading/1.customize-nuxt-loading.md
  content/en/1.examples/6.loading/2.customize-loading-indicator.md
  content/en/1.examples/6.loading/3.custom-loading-component.md
  content/en/1.examples/7.miscellaneous/1.layouts.md
  content/en/1.examples/7.miscellaneous/2.lazy-loading-components.md
  content/en/1.examples/7.miscellaneous/3.vuex-store.md
  content/en/1.examples/7.miscellaneous/4.helpers.md
  content/en/1.examples/8.middlewares/1.router.md
  content/en/1.examples/8.middlewares/2.named.md
  content/en/1.examples/8.middlewares/3.anonymous.md
  content/en/1.examples/9.plugins/1.vue.md
  content/en/1.examples/9.plugins/2.client-only.md
  content/en/1.examples/9.plugins/3.external-packages.md
  content/en/1.examples/9.plugins/4.custom.md
  content/en/index.md
  content/fr/index.md
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

content: add movavi sponsor
  content/sponsors.js
  static/img/sponsors/dark/movavi.svg
  static/img/sponsors/light/movavi.svg
Due: yarn lint:eslint, yarn lint:prettier

content: add movavi sponsor (#1509)
  content/sponsors.js
  static/img/sponsors/dark/movavi.svg
  static/img/sponsors/light/movavi.svg
Due: yarn lint:eslint, yarn lint:prettier

fix: customize prevnext hover border token (#46)
  docus.config.ts
Due: none

:bug: (aside nav mobile) fix link and collapse (#47)
  content/en/0.docs/index.md
  content/en/2.blog/index.md
  content/en/sustainability/index.md
  content/fr/0.docs/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (Themes) update container size
  content/fr/3.resources/themes.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (VideosCourses) update container size
  content/fr/3.resources/video-courses.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deploying-to-21yunbox
  content/ja/guides/deployment/deploying-to-21yunbox.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deploying-to-21yunbox (#1511)
  content/ja/guides/deployment/deploying-to-21yunbox.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja):asyncData merging type (#1254) (#1499)
  content/ja/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): clarify what values are added to global process (#1369) (#1500)
  content/ja/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): update titles for Nuxt components (#1250) (#1501)
  content/ja/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deploy-on-moovweb (#1502)
  content/ja/guides/deployment/deploy-on-moovweb.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: translate animation wording to fr (#48)
  content/fr/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add i18n to missing parts (#49)
  components/molecules/ads/AdsFallback.vue
  components/molecules/footer/FooterFoot.vue
  components/organisms/resources/ResourcesList.vue
  components/organisms/resources/SponsorsBlock.vue
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

fix: change footer newsletter position and fr wording on button (#50)
  components/molecules/InputGroupButton.vue
  components/molecules/footer/FooterNewsLetter.vue
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

:bug: (HomeLearnMaster) add text primary color on highlighted texts
  content/en/index.md
  content/fr/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:fire: (HomeLearnMaster) remove highlight component
  content/en/index.md
  content/fr/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (SustainabilitySection) add where with locale for avoiding duplicate (#51)
  components/organisms/resources/SustainabilitySection.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: use localepath on custom links (#52)
  components/molecules/footer/FooterLink.vue
  components/organisms/app/AsideBottom.vue
  components/organisms/home/HomeCampfire.vue
  components/organisms/home/HomeHero.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: add i18n to sponsors block query (#54)
  components/organisms/resources/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
