Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

[Examples] SEO, German
  content/de/examples/5.seo/1.html-head.md
  content/de/examples/5.seo/2.twitter-og.md
  content/de/examples/5.seo/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

new icons
  assets/scss/icons/_social.scss
  static/favicon.ico
  static/fonts/social-font.eot
  static/fonts/social-font.svg
  static/fonts/social-font.ttf
  static/fonts/social-font.woff
  static/logo.png
  static/logo_nav.png
  static/logo_nav_mobile.png
  static/logo_noir.png
Due: yarn lint:prettier

add error page
  pages/_error.vue
  static/triangles.png
Due: yarn lint:eslint, yarn lint:prettier

add docs gitignore
  static/.gitignore
Due: none

remove doc gitignore
  static/.gitignore
Due: none

gitmodules
  static/.gitmodules
Due: none

add docs as gitmodules
  .gitmodules
  static/.gitmodules
Due: none

use http in gitmodules
  static/.gitmodules
Due: none

moved to static folder
  .gitmodules
  static/.gitmodules
Due: none

Add CNAME
  static/CNAME
Due: none

css
  pages/_error.vue
Due: yarn lint:eslint, yarn lint:prettier

Update version to 0.9.0
  store/index.js
Due: yarn lint:eslint, yarn lint:prettier

[Examples] Loader, German
  content/de/examples/6.loading/1.customize-nuxt-loading.md
  content/de/examples/6.loading/2.customize-loading-indicator.md
  content/de/examples/6.loading/3.custom-loading-component.md
  content/de/examples/6.loading/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Remove duplicated word on Dynamic Imports section
  content/en/docs/3.features/9.component-discovery.md
Due: yarn lint:prettier, yarn lint:markdownlint

navbar
  assets/scss/_base.scss
  assets/scss/_buttons.scss
  assets/scss/_content.scss
  assets/scss/base/_document.scss
  assets/scss/base/_embedded-content.scss
  assets/scss/base/_forms.scss
  assets/scss/base/_grouping-content.scss
  assets/scss/base/_hidden.scss
  assets/scss/base/_interactive.scss
  assets/scss/base/_scripting.scss
  assets/scss/base/_sections.scss
  assets/scss/base/_text-level.scss
  assets/scss/base/main.scss
  assets/scss/main.scss
  assets/scss/theme/_container.scss
  assets/scss/theme/main.scss
  components/Dropdown.vue
  components/FilesTree.vue
  components/Header.vue
  components/RecursiveList.vue
  components/Search.vue
  nuxt.config.js
  pages/index.vue
  static/flags/cn.svg
  static/flags/fr.svg
  static/flags/gb.svg
Due: yarn lint:eslint, yarn lint:prettier

[Examples] Miscellaneous, German
  content/de/examples/7.miscellaneous/1.layouts.md
  content/de/examples/7.miscellaneous/2.lazy-loading-components.md
  content/de/examples/7.miscellaneous/3.vuex-store.md
  content/de/examples/7.miscellaneous/4.helpers.md
  content/de/examples/7.miscellaneous/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

affix
  assets/scss/_base.scss
  assets/scss/base/_text-level.scss
  assets/scss/icons/_more_vertical.scss
  assets/scss/icons/main.scss
  assets/scss/main.scss
  assets/scss/theme/_buttons.scss
  assets/scss/theme/_content.scss
  assets/scss/theme/main.scss
  components/Header.vue
  components/Search.vue
  pages/guide.vue
  pages/index.vue
  static/flags/cn.svg
  static/flags/en.png
  static/flags/fr.png
  static/flags/fr.svg
  static/flags/gb.png
  static/flags/gb.svg
  static/flags/hlfus.png
  static/flags/us.png
  static/logo_home.png
  static/logo_home_mobile.png
Due: yarn lint:eslint, yarn lint:prettier

new architecture
  components/Affix.vue
  components/Footer.vue
  components/Header.vue
  layouts/error.vue
  nuxt.config.js
  old/api.vue
  old/api/_slug.vue
  old/examples.vue
  old/guide.vue
  old/guide/release-notes.vue
  pages/_category.vue
  pages/_category/_slug.vue
  pages/_category/index.vue
  pages/index.vue
  store/index.js
Due: yarn lint:eslint, yarn lint:prettier

examples category
  components/Affix.vue
  package.json
  pages/_category/_slug.vue
  pages/_category/release-notes.vue
  pages/examples.vue
  pages/examples/_slug.vue
  pages/index.vue
  static/logo_home.png
Due: yarn lint:eslint, yarn lint:prettier

clean
  assets/scss/theme/_container.scss
  assets/scss/theme/_content.scss
  package.json
  pages/_category.vue
  pages/_category/_slug.vue
  pages/examples.vue
  pages/examples/_slug.vue
  pages/index.vue
  static/flags/gb.png
  static/flags/hlfus.png
  static/flags/us.png
Due: yarn lint:eslint, yarn lint:prettier

flags
  components/Header.vue
  static/flags/en.png
Due: yarn lint:eslint, yarn lint:prettier

scrollTo update
  components/Affix.vue
  components/HtmlParser.vue
Due: yarn lint:eslint, yarn lint:prettier

style and doc
  components/Affix.vue
Due: yarn lint:eslint, yarn lint:prettier

Remove git module
  static/.gitmodules
Due: none

add russian flag support
  assets/scss/icons/_flags.scss
  assets/scss/icons/main.scss
  components/Header.vue
  static/flags.png
  static/flags/en.png
  static/flags/fr.png
Due: yarn lint:eslint, yarn lint:prettier

add cn translate
  README.md
  assets/scss/icons/_flags.scss
  components/Header.vue
  static/flags.png
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

add gif FAQ
  static/flash_css.gif
Due: none

new header with flex box
  components/Dropdown.vue
  components/Header.vue
  components/HeaderNav.vue
  components/HeaderNavLang.vue
  components/HeaderNavMenu.vue
  components/HeaderNavMenuDropdown.vue
  components/HeaderNavSearch.vue
  components/Search.vue
  static/logo_nav_mobile.png
Due: yarn lint:eslint, yarn lint:prettier

Add schema
  assets/scss/theme/_content.scss
  static/nuxt-schema.png
Due: yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
