Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs(ja): translate configuration-moduledir
  content/ja/guides/configuration-glossary/configuration-modulesdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-plugins
  content/ja/guides/configuration-glossary/configuration-plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

menambahkan berkas componens.md pada direktori directory-structure
  content/id/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

add: pre-translation file pages.md
  content/ja/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix: fix a wrong file path (#894)
  content/en/guides/features/file-system-routing.md
  content/es/guides/features/file-system-routing.md
  content/id/guides/features/file-system-routing.md
  content/ja/guides/features/file-system-routing.md
  content/pt/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Changed error(error) to error(e) as Nuxt crashes with `error is not a function` message (#893)
  content/en/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

Document the unit for the `interval` property
  content/en/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

copy content/ja/guides/concepts/views.md from en/
  content/ja/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: improve runtime docs
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add explation of wfor each
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Document the unit for the `interval` property (#899)
  content/en/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(perfs): force async script
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

add $config.axios.baseURL
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove unnecessary config
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: page for nuxt-config example
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/examples/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: update examplee nuxt config
  content/en/guides/examples/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate guides/configuration-glossary/configuration-indicator (#861)
  content/ja/guides/configuration-glossary/configuration-loading-indicator.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate guides/configuration-glossary/configuration-hooks (#863)
  content/ja/guides/configuration-glossary/configuration-hooks.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate config-glossary/config-modulesdir (#895)
  content/ja/guides/configuration-glossary/configuration-modulesdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate config-glossary/config-plugins (#896)
  content/ja/guides/configuration-glossary/configuration-plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(ja): translate guides/configuration-glossary/configuration-loading (#862)
  content/ja/guides/configuration-glossary/configuration-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Updated Nuxt Lifecycle Diagram
  content/en/guides/concepts/nuxt-lifecycle.md
  static/guides/nuxt-lifecycle.png
  static/guides/nuxt-lifecycle.svg
Due: yarn lint:prettier, yarn lint:markdownlint

add more themes
  pages/themes.vue
Due: yarn lint:eslint, yarn lint:prettier

add more themes
  pages/themes.vue
  static/themes/bolster-2x.jpg
  static/themes/bolster.jpg
  static/themes/luma-nuxt-2x.jpg
  static/themes/luma-nuxt.jpg
  static/themes/multikart-2x.jpg
  static/themes/multikart.jpg
  static/themes/sofbox-2x.jpg
  static/themes/sofbox.jpg
  static/themes/veluxi-2x.jpg
  static/themes/veluxi.jpg
Due: yarn lint:eslint, yarn lint:prettier

Updated Nuxt Lifecycle Diagram (#904)
  content/en/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

Updated Nuxt Lifecycle Diagram (#904)
  content/en/guides/concepts/nuxt-lifecycle.md
  static/guides/nuxt-lifecycle.png
  static/guides/nuxt-lifecycle.svg
Due: yarn lint:prettier, yarn lint:markdownlint

Update i18n/fa-IR.js
  i18n/fa-IR.js
Due: yarn lint:eslint, yarn lint:prettier

feat: add new ambassadors
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier
