Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update nginx.md
  content/en/integrations/deployments/nginx.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: typo fix (`as` -> `and`) (#1800)
  content/en/integrations/deployments/nginx.md
Due: yarn lint:prettier, yarn lint:markdownlint

Change Object to Array
  content/en/docs/5.configuration-glossary/6.configuration-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

:fire: (nuxt.config) remove tweets plugins
  nuxt.config.ts
Due: none

:fire: (TweetsCollection) remove tweets collection component
  components/organisms/lists/TweetsCollection.vue
Due: yarn lint:eslint, yarn lint:prettier

:fire: (tweets.js) remove tweets plugin
  plugins/tweets.js
Due: yarn lint:eslint, yarn lint:prettier

:fire: (wall of love) remove page
  content/en/wall-of-love/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:sparkles: (header) add link to tweets collection
  content/en/_collections/navigations/header.md
  content/fr/_collections/navigations/header.md
  content/ja/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update Object to Array for components property (#1801)
  content/en/docs/5.configuration-glossary/6.configuration-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(Showcases): make categories sticky on mobile + convert to select
  components/organisms/asides/AsideShowcases.vue
  components/organisms/lists/ShowcasesListing.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: avoid spamming non-lead
  .github/CODEOWNERS
Due: none

:bug: (AppLayout) add v-if on CookieBanner to remove component class
  components/theme/app/AppLayout.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: more improvements
  components/organisms/asides/AsideShowcases.vue
  components/organisms/heroes/PageHero.vue
  content/en/showcases/index.md
  content/fr/showcases/index.md
  content/ja/showcases/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat(Showcases): improve UX (#1799)
  components/organisms/asides/AsideShowcases.vue
  components/organisms/heroes/PageHero.vue
  components/organisms/lists/ShowcasesListing.vue
  content/en/showcases/index.md
  content/fr/showcases/index.md
  content/ja/showcases/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore: remove global codeowners
  .github/CODEOWNERS
Due: none

fix(Homepage): mountains overing content
  components/organisms/home/HomeFeatures.vue
  components/organisms/home/HomeTestimonials.vue
  components/organisms/lists/Testimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: header links to tweets collection (#1802)
  content/en/_collections/navigations/header.md
  content/fr/_collections/navigations/header.md
  content/ja/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(AppLayout): add v-if on CookieBanner to remove component class (#1804)
  components/theme/app/AppLayout.vue
Due: yarn lint:eslint, yarn lint:prettier

Update content/en/docs/3.features/2.deployment-targets.md
  content/en/docs/3.features/2.deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Include Page.key option in documentation (#1781)
  content/en/docs/4.directory-structure/9.pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Explain component directory better (#1751)
  content/en/docs/4.directory-structure/3.components.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(docs): add warning to use runtimeConfig instead of env
  content/en/docs/5.configuration-glossary/9.configuration-env.md
  content/fr/docs/5.configuration-glossary/9.configuration-env.md
  content/ja/docs/5.configuration-glossary/9.configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

:sparkles: (HomeHero) get started button instead of npm button
  components/organisms/home/HomeHero.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (home) add get started button link
  content/en/index.md
  content/fr/index.md
  content/ja/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (HomeHero) move z-20 on section class
  components/organisms/home/HomeHero.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: (HomeHero) get started button instead of npm button (#1807)
  components/organisms/home/HomeHero.vue
  content/en/index.md
  content/fr/index.md
  content/ja/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: add image sizes for each case study
  content/en/case-studies/0.github.md
  content/en/case-studies/1.livementor.md
  content/en/case-studies/2.stores.md
  content/en/case-studies/3.parent-scheme.md
  content/en/case-studies/4.line.md
  content/en/case-studies/5.404-place-vendome.md
  content/en/case-studies/6.komercia.md
  content/fr/case-studies/0.github.md
  content/fr/case-studies/1.livementor.md
  content/fr/case-studies/2.stores.md
  content/fr/case-studies/3.parent-scheme.md
  content/fr/case-studies/4.line.md
  content/fr/case-studies/5.404-place-vendome.md
  content/fr/case-studies/6.komercia.md
  content/ja/case-studies/0.github.md
  content/ja/case-studies/1.livementor.md
  content/ja/case-studies/2.stores.md
  content/ja/case-studies/3.parent-scheme.md
  content/ja/case-studies/4.line.md
  content/ja/case-studies/5.404-place-vendome.md
  content/ja/case-studies/6.komercia.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: don't use 2.x link
  content/fr/integrations/deployments/surge.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add image sizes for each case study (#1808)
  content/en/case-studies/0.github.md
  content/en/case-studies/1.livementor.md
  content/en/case-studies/2.stores.md
  content/en/case-studies/3.parent-scheme.md
  content/en/case-studies/4.line.md
  content/en/case-studies/5.404-place-vendome.md
  content/en/case-studies/6.komercia.md
  content/fr/case-studies/0.github.md
  content/fr/case-studies/1.livementor.md
  content/fr/case-studies/2.stores.md
  content/fr/case-studies/3.parent-scheme.md
  content/fr/case-studies/4.line.md
  content/fr/case-studies/5.404-place-vendome.md
  content/fr/case-studies/6.komercia.md
  content/fr/integrations/deployments/surge.md
  content/ja/case-studies/0.github.md
  content/ja/case-studies/1.livementor.md
  content/ja/case-studies/2.stores.md
  content/ja/case-studies/3.parent-scheme.md
  content/ja/case-studies/4.line.md
  content/ja/case-studies/5.404-place-vendome.md
  content/ja/case-studies/6.komercia.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(docs): Update server hosting informations (#1788)
  content/en/docs/3.features/2.deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(Homepage): mountains overing content (#1806)
  components/organisms/home/HomeFeatures.vue
  components/organisms/home/HomeTestimonials.vue
  components/organisms/lists/Testimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(docs): update features > configuration
  content/en/docs/3.features/6.configuration.md
  content/fr/docs/3.features/6.configuration.md
  content/ja/docs/3.features/6.configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

sync contents from #1801
  content/ja/docs/5.configuration-glossary/6.configuration-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

sync contents from #1802
  content/ja/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

sync contents from #1781
  content/fr/docs/4.directory-structure/9.pages.md
  content/ja/docs/4.directory-structure/9.pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
