Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update configuration.md
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update dependency defu to ^3.2.2
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: renameing of files
  content/en/examples/context.md
  content/en/examples/customize-nuxt-loading.md
  content/en/examples/data-fetching.md
  content/en/examples/directory-structure.md
  content/en/examples/hello-world.md
  content/en/examples/helpers.md
  content/en/examples/host-port.md
  content/en/examples/i18n.md
  content/en/examples/lazy-loading-components.md
  content/en/examples/middleware-anonymous.md
  content/en/examples/middleware-named.md
  content/en/examples/middleware-router.md
  content/en/examples/modules-axios.md
  content/en/examples/modules-external.md
  content/en/examples/modules-internal.md
  content/en/examples/plugins-client-only.md
  content/en/examples/plugins-custom.md
  content/en/examples/plugins-external-packages.md
  content/en/examples/plugins-vue.md
  content/en/examples/pre-processors.md
  content/en/examples/routing-active-links-classes.md
  content/en/examples/routing-dynamic_pages.md
  content/en/examples/routing-nested-pages.md
  content/en/examples/routing.md
  content/en/examples/seo-html-head.md
  content/en/examples/static-folder.md
  content/en/examples/static-site-generation.md
  content/en/examples/testing.md
  content/en/examples/tranistions-css.md
  content/en/examples/transitions-js.md
  content/en/examples/vuex-store.md
  content/en/examples/webpack-assets.md
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update select
  components/molecules/AppLangSelect.vue
  components/templates/TheFooterCondensed.vue
Due: yarn lint:eslint, yarn lint:prettier

responsive newsletter form
  components/organisms/NewsletterFormNew.vue
  components/templates/TheFooterCondensed.vue
Due: yarn lint:eslint, yarn lint:prettier

feat:style Selects
  components/organisms/DarkModeToggle.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove unused import in example
  content/en/guides/internals-glossary/nuxt-render-and-get-window.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update footer with social media
  assets/icons/discord.svg
  assets/icons/githubFooter.svg
  assets/icons/instagram.svg
  assets/icons/twitterFooter.svg
  assets/icons/youtube.svg
  components/organisms/NewsletterFormNew.vue
  components/templates/TheFooterCondensed.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(en): update fetch hook
  content/en/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove typing mistake
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/components-glossary/pages-fetch.md
  content/en/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove unused import in example (#971)
  content/en/guides/internals-glossary/nuxt-render-and-get-window.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ru): Translate directory features
  content/ru/guides/features/live-preview.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ru): Translate directory features (#975)
  content/ru/guides/features/live-preview.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove typing mistake (#974)
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: data fetching text
  content/en/examples/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency sass-loader to ^10.1.0
  package.json
  yarn.lock
Due: yarn lint:prettier

Update repository name & link
  content/en/_archives/guide/modules.md
  content/en/guides/directory-structure/modules.md
  content/es/guides/directory-structure/modules.md
  content/fr/guide/modules.md
  content/ja/guide/modules.md
  content/pt/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

Docs/fetch hook (#973)
  content/en/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

[ADD] en 配下にある layout.md を追加
  content/ja/guides/directory-structure/layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

[FIX] directory-structure/layouts.md の日本語訳を追加
  content/ja/guides/directory-structure/layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ru): Translate directory features
  content/ru/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ru/guides/features/rendering-modes.md
  content/ru/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(en): Added guide for deploying on Moovweb XDN
  content/en/faq/deploy-on-moovweb.md
  content/en/faq/deployment-pm2.md
  content/en/faq/nginx-proxy.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ru): Translate directory features (#981)
  content/ru/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update repository name & link (#978)
  content/en/_archives/guide/modules.md
  content/en/guides/directory-structure/modules.md
  content/es/guides/directory-structure/modules.md
  content/fr/guide/modules.md
  content/ja/guide/modules.md
  content/pt/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(en): Added guide for deploying on Moovweb XDN (#982)
  content/en/faq/deploy-on-moovweb.md
  content/en/faq/deployment-pm2.md
  content/en/faq/nginx-proxy.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
