Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs: add new sponsors (#1550)
  content/sponsors.js
  static/img/sponsors/dark/agema.png
  static/img/sponsors/dark/flashdrive.png
  static/img/sponsors/light/agema.png
  static/img/sponsors/light/flashdrive.png
Due: yarn lint:eslint, yarn lint:prettier

docs: remove english sentence on french module page (#1539)
  content/fr/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Added clarity for Azure deployment (#1536)
  content/en/guides/deployment/deployment-azure-portal.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: adding members (#1553)
  content/en/teams/2.community.md
  content/fr/teams/2.community.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: fix typo in nitro description
  content/en/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: fix typo in nitro description (#1554)
  content/en/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(typos): fix typos example
  content/fr/1.examples/1.routing/1.hello-world.md
  content/fr/1.examples/1.routing/2.active-link-classes.md
  content/fr/1.examples/1.routing/3.dynamic-pages.md
  content/fr/1.examples/1.routing/4.nested-pages.md
  content/fr/1.examples/2.data-fetching/1.async-data.md
  content/fr/1.examples/2.data-fetching/2.fetch-hook.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): apply suggestions from code review
  content/fr/0.docs/8.deployment/1.21yunbox.md
  content/fr/0.docs/8.deployment/2.amazon-web-services.md
  content/fr/0.docs/8.deployment/3.azure-portal.md
  content/fr/0.docs/8.deployment/4.azure-static-web-apps.md
  content/fr/0.docs/8.deployment/5.bip.md
  content/fr/0.docs/8.deployment/6.cleavr.md
  content/fr/0.docs/8.deployment/7.do-app-platform.md
  content/fr/1.examples/1.routing/1.hello-world.md
  content/fr/1.examples/1.routing/2.active-link-classes.md
  content/fr/1.examples/3.assets-management/1.pre-processors.md
  content/fr/1.examples/5.seo/1.html-head.md
  content/fr/1.examples/6.loading/2.customize-loading-indicator.md
  content/fr/1.examples/7.miscellaneous/2.lazy-loading-components.md
  content/fr/1.examples/8.middlewares/1.router.md
  content/fr/1.examples/8.middlewares/2.named.md
  content/fr/3.resources/video-courses.md
  content/fr/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update github-pages.md
  content/en/guides/deployment/github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add sustainability tiers to i18n glossary
  components/organisms/resources/SustainabilitySection.vue
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

:wrench: (nuxt.config) add color mode fallback and preference
  nuxt.config.ts
Due: none

:wrench: (nuxt.config) add color mode fallback and preference (#1557)
  nuxt.config.ts
Due: none

docs: personal access token not required for github pages
  content/en/guides/deployment/github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (DesignHero) fix download link
  components/organisms/design/DesignHero.vue
  content/fr/design.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (DesignColors) fix download button
  components/organisms/design/DesignColors.vue
  components/organisms/design/DesignSection.vue
  content/fr/design.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (DesignHero) fix download link (#1558)
  components/organisms/design/DesignHero.vue
  content/fr/design.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (DesignColors) fix download button (#1559)
  components/organisms/design/DesignColors.vue
  components/organisms/design/DesignSection.vue
  content/fr/design.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (HomeCampfire) add object-cover on image preview
  components/organisms/home/HomeCampfire.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (HomeCampfire) add object-cover on image preview (#1560)
  components/organisms/home/HomeCampfire.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (Support) fix style and translation
  components/organisms/support/SupportPricing.vue
  content/en/support.md
  content/fr/support.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (Support) fix style and translation (#1561)
  components/organisms/support/SupportPricing.vue
  content/en/support.md
  content/fr/support.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: add illustrations for Nitro and Bridge
  components/atoms/icons/IconNuxtBridge.vue
  components/atoms/icons/IconNuxtNitro.vue
  content/en/v3.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore: update icons
  components/atoms/icons/IconTypeScript.vue
  components/atoms/icons/IconVite.vue
Due: yarn lint:eslint, yarn lint:prettier

Update 10.github-pages.md
  content/en/0.docs/8.deployment/10.github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update Stormkit documentation
  content/en/guides/deployment/deployment-stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration-generate.md
  content/fr/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (team) rearrange md files
  content/_teams/1.framework.md
  content/_teams/2.community.md
  content/_teams/index.md
  content/en/teams/2.community.md
  content/fr/teams/1.framework.md
  content/fr/teams/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:recycle: (TeamSection) remove i18n filter due to unique team md file
  components/organisms/team/TeamSection.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: personal token not required for github pages deployment (#1562)
  content/en/0.docs/8.deployment/10.github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

:lipstick: (BlogPost) update max-w 3xl and add object-cover on main image
  components/templates/BlogPost.vue
Due: yarn lint:eslint, yarn lint:prettier

refacto: (TeamSection) Team members to single md file (#1565)
  components/organisms/team/TeamSection.vue
  content/_teams/1.framework.md
  content/_teams/2.community.md
  content/_teams/index.md
  content/en/teams/2.community.md
  content/fr/teams/1.framework.md
  content/fr/teams/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:lipstick: (BlogPost) update max-w 3xl and add object-cover on main image (#1566)
  components/templates/BlogPost.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: add script to ensure corresponding pages/redirects exist
  package.json
  scripts/crawl.ts
  yarn.lock
Due: yarn lint:prettier

docs: Update Stormkit documentation (#1563)
  content/en/guides/deployment/deployment-stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update text and link
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

Add close button·
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

Add Mastering Nuxt Summer Sale banner
  assets/css/tailwind.css
  components/organisms/MasteringNuxtBanner.vue
  layouts/default.vue
  tailwind.config.js
Due: yarn lint:eslint, yarn lint:prettier

Update Mastering Nuxt summer sale banner
  assets/css/tailwind.css
  components/organisms/MasteringNuxtBanner.vue
  static/img/banners/masteringnuxt/cup.png
  tailwind.config.js
Due: yarn lint:eslint, yarn lint:prettier
