Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update plugins.md (#1186)
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ja/guides/configuration-glossary/configuration-servermiddleware.md
  content/ja/guides/configuration-glossary/configuration-servermiddleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: deployment labels (#1185)
  components/atoms/AppLabel.vue
  components/templates/TheAsideNavNewDocs.vue
  content/en/guides/deployment/appengine-deployment.md
  content/en/guides/deployment/bip-deployment.md
  content/en/guides/deployment/deploy-on-moovweb.md
  content/en/guides/deployment/deploying-to-21yunbox.md
  content/en/guides/deployment/deployment-amazon-web-services.md
  content/en/guides/deployment/deployment-azure-portal.md
  content/en/guides/deployment/deployment-azure-static-web-apps.md
  content/en/guides/deployment/deployment-cloud-run.md
  content/en/guides/deployment/deployment-pm2.md
  content/en/guides/deployment/dokku-deployment.md
  content/en/guides/deployment/github-pages.md
  content/en/guides/deployment/heroku-deployment.md
  content/en/guides/deployment/netlify-deployment.md
  content/en/guides/deployment/nginx-proxy.md
  content/en/guides/deployment/surge-deployment.md
  content/en/guides/deployment/vercel-deployment.md
  pages/docs/2.x/_book.vue
  pages/docs/2.x/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: server middleware folder name (#1181)
  content/en/_archives/api/configuration-servermiddleware.md
  content/en/guides/concepts/server-side-rendering.md
  content/en/guides/configuration-glossary/configuration-servermiddleware.md
  content/es/guides/concepts/server-side-rendering.md
  content/es/guides/configuration-glossary/configuration-servermiddleware.md
  content/fr/_archives/api/configuration-servermiddleware.md
  content/fr/guides/concepts/server-side-rendering.md
  content/fr/guides/configuration-glossary/configuration-servermiddleware.md
  content/id/_archives/api/configuration-servermiddleware.md
  content/id/guides/concepts/server-side-rendering.md
  content/ja/_archives/api/configuration-servermiddleware.md
  content/ja/guides/concepts/server-side-rendering.md
  content/ja/guides/configuration-glossary/configuration-servermiddleware.md
  content/ko/_archives/api/configuration-servermiddleware.md
  content/ko/guides/concepts/server-side-rendering.md
  content/pt/guides/concepts/server-side-rendering.md
  content/pt/guides/configuration-glossary/configuration-servermiddleware.md
  content/ru/guides/concepts/server-side-rendering.md
  content/zh/_archives/api/configuration-servermiddleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: svg improvements
  assets/illustrations/examples.svg
  assets/illustrations/faq.svg
  assets/illustrations/modules.svg
  i18n/en-US.js
  pages/resources.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: redirect aut faq
  _redirects
  content/en/_archives/faq/auth-external-jwt.md
  content/en/_archives/faq/auth-routes.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: redirects
  _redirects
  yarn.lock
Due: none

fix: update api to servermiddleware
  content/en/guides/configuration-glossary/configuration-servermiddleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ru/guides/features/configuration.md
  content/ru/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: update api to servermiddleware (#1188)
  content/en/guides/configuration-glossary/configuration-servermiddleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated a part of data-fetching.md
  content/ru/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/concepts/server-side-rendering.md
  content/tr/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/concepts/static-site-generation.md
  content/tr/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

updated data-fetching.md
  content/ru/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(tr): translate guides/concepts/views.md
  content/tr/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

update: sponsoring via GitHub
  components/templates/home/HomeSponsors.vue
  pages/index.vue
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

Update content/ja/guides/directory-structure/dist.md
  content/ja/guides/directory-structure/dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate directory-structure-dist (#1081)
  content/ja/guides/directory-structure/dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ja/guides/directory-structure/store.md
  content/ja/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate guides/directory-structure/store.md (#1074)
  content/ja/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update nuxt-components.md
  content/ru/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): lock file maintenance
  yarn.lock
Due: none

docs(tr): translate guides/concepts (#1141)
  content/tr/guides/concepts/context-helpers.md
  content/tr/guides/concepts/nuxt-lifecycle.md
  content/tr/guides/concepts/server-side-rendering.md
  content/tr/guides/concepts/static-site-generation.md
  content/tr/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update dependency nuxt-edge to ^2.15.0-26856070.8350560
  package.json
  yarn.lock
Due: yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
