Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update content/en/blog/case-study-livementor.md
  content/en/blog/case-study-livementor.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: content highlights
  content/en/blog/case-study-livementor.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: add Clement as author
  content/en/blog/case-study-livementor.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: replace blog articles covers
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/blog/creating-a-nuxt-module.md
  content/en/blog/creating-blog-with-nuxt-content.md
  content/en/blog/going-dark-with-nuxtjs-color-mode.md
  content/en/blog/going-full-static.md
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  content/en/blog/introducing-smart-prefetching.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/nuxt-static-improvements.md
  content/en/blog/nuxtjs-from-terminal-to-browser.md
  content/en/blog/seed-round.md
  content/en/blog/understanding-how-fetch-works-in-nuxt-2-12.md
  static/blog/build-dev-to-clone-with-nuxt-new-fetch/main.jpeg
  static/blog/build-dev-to-clone-with-nuxt-new-fetch/main.png
  static/blog/creating-blog-with-nuxt-content/main.jpeg
  static/blog/creating-blog-with-nuxt-content/main.png
  static/blog/creating-nuxt-module/main.jpeg
  static/blog/creating-nuxt-module/main.png
  static/blog/going-dark-with-nuxtjs-color-mode/main.jpeg
  static/blog/going-dark-with-nuxtjs-color-mode/main.png
  static/blog/going-full-static/main.jpeg
  static/blog/going-full-static/main.png
  static/blog/improve-developer-experience-nuxt-components/main.jpeg
  static/blog/improve-developer-experience-nuxt-components/main.png
  static/blog/introducing-smart-prefetching/main.jpeg
  static/blog/introducing-smart-prefetching/main.png
  static/blog/moving-from-nuxtjs-dotenv-to-runtime-config/main.jpeg
  static/blog/moving-from-nuxtjs-dotenv-to-runtime-config/main.png
  static/blog/nuxt-static-improvements/main.jpeg
  static/blog/nuxt-static-improvements/main.jpg
  static/blog/nuxtjs-from-terminal-to-browser/main.jpeg
  static/blog/nuxtjs-from-terminal-to-browser/main.png
  static/blog/seed-round/main.jpeg
  static/blog/seed-round/main.png
  static/blog/understanding-how-fetch-works-in-nuxt-2-12/main.jpeg
  static/blog/understanding-how-fetch-works-in-nuxt-2-12/main.png
Due: yarn lint:prettier, yarn lint:markdownlint

content: WIP on photos credits
  components/templates/blogpost/Item.vue
  content/en/blog/creating-a-nuxt-module.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

content: WIP on sponsors carousel
  components/organisms/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

content: replace covers with new text covers
  static/blog/build-dev-to-clone-with-nuxt-new-fetch/main.jpeg
  static/blog/creating-blog-with-nuxt-content/main.jpeg
  static/blog/creating-nuxt-module/main.jpeg
  static/blog/going-dark-with-nuxtjs-color-mode/main.jpeg
  static/blog/going-full-static/main.jpeg
  static/blog/improve-developer-experience-nuxt-components/main.jpeg
  static/blog/introducing-smart-prefetching/main.jpeg
  static/blog/moving-from-nuxtjs-dotenv-to-runtime-config/main.jpeg
  static/blog/nuxt-static-improvements/main.jpeg
  static/blog/nuxtjs-from-terminal-to-browser/main.jpeg
  static/blog/seed-round/main.jpeg
  static/blog/understanding-how-fetch-works-in-nuxt-2-12/main.jpeg
Due: none

content: Add credits to blog cover images
  components/templates/blogpost/Item.vue
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/blog/creating-a-nuxt-module.md
  content/en/blog/creating-blog-with-nuxt-content.md
  content/en/blog/going-dark-with-nuxtjs-color-mode.md
  content/en/blog/going-full-static.md
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  content/en/blog/introducing-smart-prefetching.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/nuxt-static-improvements.md
  content/en/blog/nuxtjs-from-terminal-to-browser.md
  content/en/blog/seed-round.md
  content/en/blog/understanding-how-fetch-works-in-nuxt-2-12.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

content: Fit image in wrapper
  components/molecules/AppImage.vue
  static/blog/creating-nuxt-module/main.jpeg
Due: yarn lint:eslint, yarn lint:prettier

content: replace blog articles covers (#1468)
  components/molecules/AppImage.vue
  components/templates/blogpost/Item.vue
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/blog/creating-a-nuxt-module.md
  content/en/blog/creating-blog-with-nuxt-content.md
  content/en/blog/going-dark-with-nuxtjs-color-mode.md
  content/en/blog/going-full-static.md
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  content/en/blog/introducing-smart-prefetching.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/nuxt-static-improvements.md
  content/en/blog/nuxtjs-from-terminal-to-browser.md
  content/en/blog/seed-round.md
  content/en/blog/understanding-how-fetch-works-in-nuxt-2-12.md
  static/blog/build-dev-to-clone-with-nuxt-new-fetch/main.jpeg
  static/blog/build-dev-to-clone-with-nuxt-new-fetch/main.png
  static/blog/creating-blog-with-nuxt-content/main.jpeg
  static/blog/creating-blog-with-nuxt-content/main.png
  static/blog/creating-nuxt-module/main.jpeg
  static/blog/creating-nuxt-module/main.png
  static/blog/going-dark-with-nuxtjs-color-mode/main.jpeg
  static/blog/going-dark-with-nuxtjs-color-mode/main.png
  static/blog/going-full-static/main.jpeg
  static/blog/going-full-static/main.png
  static/blog/improve-developer-experience-nuxt-components/main.jpeg
  static/blog/improve-developer-experience-nuxt-components/main.png
  static/blog/introducing-smart-prefetching/main.jpeg
  static/blog/introducing-smart-prefetching/main.png
  static/blog/moving-from-nuxtjs-dotenv-to-runtime-config/main.jpeg
  static/blog/moving-from-nuxtjs-dotenv-to-runtime-config/main.png
  static/blog/nuxt-static-improvements/main.jpeg
  static/blog/nuxt-static-improvements/main.jpg
  static/blog/nuxtjs-from-terminal-to-browser/main.jpeg
  static/blog/nuxtjs-from-terminal-to-browser/main.png
  static/blog/seed-round/main.jpeg
  static/blog/seed-round/main.png
  static/blog/understanding-how-fetch-works-in-nuxt-2-12/main.jpeg
  static/blog/understanding-how-fetch-works-in-nuxt-2-12/main.png
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

content: replace blog articles covers (#1468)
  components/molecules/AppImage.vue
  components/templates/blogpost/Item.vue
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/blog/creating-a-nuxt-module.md
  content/en/blog/creating-blog-with-nuxt-content.md
  content/en/blog/going-dark-with-nuxtjs-color-mode.md
  content/en/blog/going-full-static.md
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  content/en/blog/introducing-smart-prefetching.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/nuxt-static-improvements.md
  content/en/blog/nuxtjs-from-terminal-to-browser.md
  content/en/blog/seed-round.md
  content/en/blog/understanding-how-fetch-works-in-nuxt-2-12.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: change minimum node version to 12 (#1467)
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: add livementor case study (#1466)
  content/en/blog/case-study-livementor.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: add livementor case study (#1466)
  content/en/blog/case-study-livementor.md
  static/blog/case-study-livementor/main.png
  static/blog/case-study-livementor/mockup-m1-3.png
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add query string to blog image URLs to prevent Cloudinary caching
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/blog/creating-a-nuxt-module.md
  content/en/blog/creating-blog-with-nuxt-content.md
  content/en/blog/going-dark-with-nuxtjs-color-mode.md
  content/en/blog/going-full-static.md
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  content/en/blog/introducing-smart-prefetching.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/nuxt-static-improvements.md
  content/en/blog/nuxtjs-from-terminal-to-browser.md
  content/en/blog/seed-round.md
  content/en/blog/understanding-how-fetch-works-in-nuxt-2-12.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(blog): remove unncessary whitespace
  content/en/blog/case-study-livementor.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(blog): remove unncessary whitespace (#1472)
  content/en/blog/case-study-livementor.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add query string to blog image URLs to prevent Cloudinary caching (#1471)
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/blog/creating-a-nuxt-module.md
  content/en/blog/creating-blog-with-nuxt-content.md
  content/en/blog/going-dark-with-nuxtjs-color-mode.md
  content/en/blog/going-full-static.md
  content/en/blog/improve-your-developer-experience-with-nuxt-components.md
  content/en/blog/introducing-smart-prefetching.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/nuxt-static-improvements.md
  content/en/blog/nuxtjs-from-terminal-to-browser.md
  content/en/blog/seed-round.md
  content/en/blog/understanding-how-fetch-works-in-nuxt-2-12.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration-generate.md
  content/en/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: fix generated file name (#1473)
  content/en/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: Vercel deployment with PWA module exapmple
  content/en/guides/deployment/vercel-deployment.md
  content/ja/_archives/faq/vercel-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: revert change to archive content
  content/ja/_archives/faq/vercel-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update recommended Cache-Control header
  content/en/guides/deployment/vercel-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove unneeded headers
  content/en/guides/deployment/vercel-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: use routes object instead
  content/en/guides/deployment/vercel-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
