Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Create Hostman-deployment
  content/en/guides/deployment/Hostman-deployment
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

docs(ja): update configuration-glossary/configuration-build
  content/ja/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix Strapi link
  components/organisms/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: fix strapi link (#1408)
  components/organisms/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency stylelint-config-standard to v22
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

Add space around link
  content/ja/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix translation of quoted part
  content/ja/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): update configuration-glossary/configuration-build (#1407)
  content/ja/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: :memo: Add more Arabic translated sections
  i18n/ar-OM.js
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): translate env support iin directory-structure/nuxt-config
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): apply nuxt@7e1df8b
  content/ja/guides/configuration-glossary/configuration-alias.md
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add alias section to nuxt-config page
  content/ja/guides/configuration-glossary/configuration-alias.md
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: copy english docs
  content/id/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix to translate 「support」
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update heroku-deployment.md
  content/en/guides/deployment/heroku-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate .env support in directory-structure/nuxt-config (#1411)
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add alias section to nuxt-config page (#1412)
  content/ja/guides/configuration-glossary/configuration-alias.md
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update commands.md
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update components.md
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/get-started/commands.md
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add missing opening bracket (#1416)
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: fix typo (#1419)
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add deployment info for Qovery (#1352)
  content/en/guides/deployment/deployment-cloudflare.md
  content/en/guides/deployment/deployment-qovery.md
  content/en/guides/deployment/surge-deployment.md
  content/en/guides/deployment/vercel-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: fix typo, add correct file extension, and add order for sidebar
  content/en/guides/deployment/hostman-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): modify description about configuration-srcdir
  content/ja/guides/configuration-glossary/configuration-srcdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
