Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: plugin injects are only available in store actions (#460)
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

specify units of interval (#461)
  content/en/api/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

🔥 first structure of turkish translations
  i18n/tr-TR.js
  nuxt.config.js
  pages/support.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

Update pages-head.md
  content/id/api/pages-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update id-ID.js
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

Update id-ID.js (#466)
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

Add missing 'render' subkey in CSP-docs. (#448)
  content/en/api/configuration-render.md
  content/en/guides/configuration-glossary/configuration-render.md
  content/ja/api/configuration-render.md
  content/ko/api/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update pages-head.md (#465)
  content/id/api/pages-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix Update id-ID.js
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

comment out turkish for lang selector
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

Fix Update id-ID.js (#467)
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

revert back to en for this page
  pages/support.vue
Due: yarn lint:eslint, yarn lint:prettier

🔥 first structure of turkish translations (#464)
  i18n/tr-TR.js
  nuxt.config.js
  pages/support.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(eslint-loader): use cache
  content/en/guide/development-tools.md
Due: yarn lint:prettier, yarn lint:markdownlint

delete typo
  content/en/guides/features/loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: correct link to contribute
  pages/blog/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: correct link to Nuxt Docs
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add resources pages
  components/TheAsideNavResources.vue
  components/TheMobileAsideNavResources.vue
  content/en/resources/api.json
  i18n/en-US.js
  pages/resources.vue
  pages/resources/_category/_slug.vue
  pages/resources/_category/index.vue
  pages/resources/index.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: correct link to Nuxt Docs (#474)
  content/en/blog/nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

delete typo (#471)
  content/en/guides/features/loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: resources page
  components/TheAsideNavResources.vue
  content/en/resources/cms-integrations.json
  content/en/resources/databases.json
  content/en/resources/ui-framework.json
  pages/resources/_category/_slug.vue
  pages/resources/_category/index.vue
  pages/resources/index.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: correct link to contribute (#473)
  pages/blog/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add alerts to blog template
  _templates/new/blog/blog-template.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add alerts to blog template (#475)
  _templates/new/blog/blog-template.md
Due: yarn lint:prettier, yarn lint:markdownlint

init guides - get-started
  content/id/guides/get-started/conclusion.md
  content/id/guides/get-started/directory-structure.md
  content/id/guides/get-started/installation.md
  content/id/guides/get-started/routing.md
  content/id/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

dukungan bahasa Indonesia pada file installation.md
  content/id/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

dukungan bahasa Indonesia file routing.md
  content/id/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
