Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

en: add extra options example for extractCSS
  content/en/api/configuration-build.md
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate installaion.md info Korean
  content/ko/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate installaion.md info Korean (#493)
  content/ko/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate routing.md into Korean
  content/ko/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate directory-structure.md into Korean
  content/ko/guides/get-started/directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add copy icon
  assets/css/content.scss
  components/common/AppCopyButton.vue
  components/global/icons/IconClipboardCheck.vue
  components/global/icons/IconClipboardCopy.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add copy icon (#495)
  assets/css/content.scss
  components/common/AppCopyButton.vue
  components/global/icons/IconClipboardCheck.vue
  components/global/icons/IconClipboardCopy.vue
Due: yarn lint:eslint, yarn lint:prettier

Translate conclusion.md into Korean
  content/ko/guides/get-started/conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate upgrading.md into Korean
  content/ko/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate views.md into Korean
  content/ko/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix inconsistent whitespace
  content/en/guide/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

en: add extra options example for extractCSS (#492)
  content/en/api/configuration-build.md
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix inconsistent whitespace (#497)
  content/en/guide/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update moving-from-nuxtjs-dotenv-to-runtime-config.md (#494)
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

ko: Translate some pages into Korean (#496)
  content/ko/guides/concepts/views.md
  content/ko/guides/get-started/conclusion.md
  content/ko/guides/get-started/directory-structure.md
  content/ko/guides/get-started/routing.md
  content/ko/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update dependency nuxt-i18n to ^6.13.8
  package.json
  yarn.lock
Due: yarn lint:prettier

feat: add markdown instead of json
  assets/css/main.scss
  components/TheAsideNavResources.vue
  components/TheMobileAsideNavResources.vue
  components/global/bases/BaseAuthor.vue
  components/global/bases/DocsButton.vue
  components/partials/resources/ResourceCards.vue
  content/en/old-resources/cms-integrations.json
  content/en/old-resources/databases.json
  content/en/old-resources/devtools.json
  content/en/old-resources/images.json
  content/en/old-resources/ui-framework.json
  content/en/resources/cms-integrations/content.md
  content/en/resources/databases/strapi.md
  content/en/resources/devtools/storybook.md
  content/en/resources/images/cloudinary.md
  content/en/resources/performance/pwa.md
  content/en/resources/security/auth.md
  content/en/resources/ui-framework/tailwindcss.md
  pages/resources.vue
  pages/resources/_category/_slug.vue
  pages/resources/_category/index.vue
  pages/resources/index.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add sanity
  content/en/resources/cms-integrations/sanity.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add test-utils
  content/en/resources/testing/test-utils.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update plugins diagram
  content/en/guides/directory-structure/plugins.md
  static/guides/plugins.svg
  static/raw/plugins.drawio
Due: yarn lint:prettier, yarn lint:markdownlint

Update plugins diagram (#502)
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update plugins diagram (#502)
  content/en/guides/directory-structure/plugins.md
  static/guides/plugins.svg
  static/raw/plugins.drawio
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove empty long desc
  content/en/resources/testing/test-utils.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: authors
  components/global/bases/Authors.vue
  content/en/resources/testing/test-utils.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: resources categories
  components/TheAsideNavResources.vue
  components/TheMobileAsideNavResources.vue
  pages/resources.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add pt-BR i18n file and translate its properties to brazilian portuguese
  i18n/pt-BR.js
Due: yarn lint:eslint, yarn lint:prettier

chore(nuxt.config): add pt i18n locale for development purposes only
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

refactor(i18n): changed iso, header links name and get_started.
  i18n/pt-BR.js
Due: yarn lint:eslint, yarn lint:prettier

feat(content/pt): add translations of guides/get-started files
  content/pt/guides/get-started/conclusion.md
  content/pt/guides/get-started/directory-structure.md
  content/pt/guides/get-started/installation.md
  content/pt/guides/get-started/routing.md
  content/pt/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor(i18n): fix some pt-BR translations typos
  i18n/pt-BR.js
Due: yarn lint:eslint, yarn lint:prettier

docs: add to glossary plus fixes
  content/en/faq/nginx-proxy.md
  content/en/guides/concepts/context-helpers.md
  content/en/guides/internals-glossary/$nuxt.md
  content/fr/faq/nginx-proxy.md
  content/ja/faq/nginx-proxy.md
  content/ko/guides/get-started/conclusion.md
  content/zh/faq/nginx-proxy.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add to glossary plus fixes (#504)
  content/en/faq/nginx-proxy.md
  content/en/guides/concepts/context-helpers.md
  content/en/guides/internals-glossary/$nuxt.md
  content/fr/faq/nginx-proxy.md
  content/ja/faq/nginx-proxy.md
  content/ko/guides/get-started/conclusion.md
  content/zh/faq/nginx-proxy.md
Due: yarn lint:prettier, yarn lint:markdownlint
