Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Fixed the typo causing italic instead of bold
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fixed the typo causing italic instead of bold (#1192)
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: localhost link
  README.md
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/guides/get-started/installation.md
  content/es/guides/get-started/installation.md
  content/fa/guides/get-started/installation.md
  content/fr/guides/get-started/installation.md
  content/id/guides/get-started/installation.md
  content/ja/guides/get-started/installation.md
  content/ko/guides/get-started/installation.md
  content/pt/guides/get-started/installation.md
  content/ru/guides/get-started/installation.md
  content/zh/guide/development-tools.md
  content/zh/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update runtimeConfig example to show dynamic baseURL (#1193)
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: svg sizes
  assets/illustrations/examples.svg
  assets/illustrations/modules.svg
  assets/illustrations/theming.svg
Due: none

Deploy to digitalocean App Platform guide
  content/en/guides/deployment/deploying-to-do-app-platform.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: video padding responsive
  pages/video-courses.vue
Due: yarn lint:eslint, yarn lint:prettier

https://github.com/nuxt/nuxtjs.org/pull/1012#issuecomment-735420459 naming conventions
  content/es/examples/data-fetching-async-data.md
  content/es/examples/data-fetching-fetch-hook.md
  content/es/examples/middleware-named.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: cropped resource illustrations
  assets/illustrations/examples.svg
  assets/illustrations/modules.svg
  assets/illustrations/themes.svg
  assets/illustrations/videos.svg
Due: none

Update position
  content/en/guides/deployment/deploying-to-do-app-platform.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: theming svg
  assets/illustrations/theming.svg
Due: none

fix: svgs themes theming
  assets/illustrations/themes.svg
  assets/illustrations/theming.svg
Due: none

translate layout.md, lazy-loading-components.md
  content/es/examples/layouts.md
  content/es/examples/lazy-loading-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: ordering and padding
  pages/resources.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency @nuxtjs/color-mode to ^2.0.3
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: localhost link (#1194)
  README.md
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/guides/get-started/installation.md
  content/es/guides/get-started/installation.md
  content/fa/guides/get-started/installation.md
  content/fr/guides/get-started/installation.md
  content/id/guides/get-started/installation.md
  content/ja/guides/get-started/installation.md
  content/ko/guides/get-started/installation.md
  content/pt/guides/get-started/installation.md
  content/ru/guides/get-started/installation.md
  content/zh/guide/development-tools.md
  content/zh/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: resources page (#1177)
  assets/illustrations/examples.svg
  assets/illustrations/modules.svg
  assets/illustrations/themes.svg
  assets/illustrations/theming.svg
  assets/illustrations/videos.svg
  i18n/en-US.js
  pages/resources.vue
  pages/themes.vue
  pages/video-courses.vue
  static/courses/build-job-board-with-nuxt-2x.png
  static/courses/build-job-board-with-nuxt.png
  static/courses/build-server-rendered-app-with-nuxt-2x.png
  static/courses/build-server-rendered-app-with-nuxt.png
  static/courses/building-applications-with-vue-and-nuxt-2x.png
  static/courses/building-applications-with-vue-and-nuxt.png
  static/courses/create-news-app-with-vue-and-nuxt-2x.png
  static/courses/create-news-app-with-vue-and-nuxt.png
  static/courses/get-started-with-nuxt-2x.png
  static/courses/get-started-with-nuxt.png
  static/courses/learn-nuxt-with-debbie-2x.png
  static/courses/learn-nuxt-with-debbie.png
  static/courses/mastering-nuxt-2x.png
  static/courses/mastering-nuxt.png
  static/courses/nuxt-vue-steroids-2x.png
  static/courses/nuxt-vue-steroids.png
  static/courses/scaling-vue-with-nuxt-2x.png
  static/courses/scaling-vue-with-nuxt.png
  static/themes/nuxt-argon-dashboard-pro-laravel-2x.jpg
  static/themes/nuxt-argon-dashboard-pro-laravel.jpg
Due: yarn lint:eslint, yarn lint:prettier

feat: resources page (#1177)
  assets/illustrations/examples.svg
  assets/illustrations/modules.svg
  assets/illustrations/themes.svg
  assets/illustrations/theming.svg
  assets/illustrations/videos.svg
  i18n/en-US.js
  pages/resources.vue
  pages/themes.vue
  pages/video-courses.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: reduce faq (#1174)
  _redirects
  content/en/_archives/faq/async-data-components.md
  content/en/_archives/faq/auth-external-jwt.md
  content/en/_archives/faq/auth-routes.md
  content/en/_archives/faq/cached-components.md
  content/en/_archives/faq/css-flash.md
  content/en/_archives/faq/duplicated-meta-tags.md
  content/en/_archives/faq/extend-webpack.md
  content/en/_archives/faq/external-resources.md
  content/en/_archives/faq/ga.md
  content/en/_archives/faq/host-port.md
  content/en/_archives/faq/http-proxy.md
  content/en/_archives/faq/ios-phone-numbers.md
  content/en/_archives/faq/jsx.md
  content/en/_archives/faq/postcss-plugins.md
  content/en/_archives/faq/pre-processors.md
  content/en/_archives/faq/webpack-audio-files.md
  content/en/_archives/faq/webpack-plugins.md
  content/en/_archives/faq/window-document-undefined.md
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/guides/components-glossary/pages-head.md
  content/en/guides/concepts/server-side-rendering.md
  content/en/guides/configuration-glossary/configuration-head.md
  content/en/guides/deployment/using-nuxt-with-cloudflare.md
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/features/configuration.md
  content/en/guides/features/data-fetching.md
  content/en/guides/features/nuxt-components.md
  content/ja/guides/directory-structure/store.md
  content/ko/_archives/api/configuration-css.md
  content/tr/guides/concepts/context-helpers.md
  content/tr/guides/concepts/nuxt-lifecycle.md
  content/tr/guides/concepts/server-side-rendering.md
  content/tr/guides/concepts/static-site-generation.md
  content/tr/guides/concepts/views.md
  pages/faq/_slug.vue
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: canonical
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: revert changes
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

translate modules-axios.md, modules-internal.md, plugins-client-only.md, plugins-custom.md, plugins-external-packages.md, plugis-vue.md
  content/es/examples/modules-axios.md
  content/es/examples/modules-internal.md
  content/es/examples/plugins-client-only.md
  content/es/examples/plugins-custom.md
  content/es/examples/plugins-external-packages.md
  content/es/examples/plugins-vue.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update nuxt-components.md
  content/ru/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

zh-cn update concepts
  content/zh/guides/concepts/context-helpers.md
  content/zh/guides/concepts/nuxt-lifecycle.md
  content/zh/guides/concepts/server-side-rendering.md
  content/zh/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add note about ERR_REDIRECT to the docs
  content/en/guides/internals-glossary/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update context.md
  content/en/guides/internals-glossary/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update data-fetching.md
  content/ru/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

update data-fetching.md
  content/ru/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate routing-dynamic-pages.md, routing-nested-pages.md
  content/es/examples/routing-dynamic-pages.md
  content/es/examples/routing-nested-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix typo
  content/en/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint
