Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add vue storefront as partner (#1718)
  content/en/partners/7.vue-storefront.md
  static/img/partners/dark/vue-storefront.svg
  static/img/sponsors/banner/light/vue-storefront.svg
Due: yarn lint:prettier, yarn lint:markdownlint

:lipstick: (AppFooter) add more margin top
  components/organisms/sections/TeamSection.vue
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: test redirecting full URLs (#1716)
  static/_redirects
Due: none

:lipstick: (AppFooter) add more margin top (#1720)
  components/organisms/sections/TeamSection.vue
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

feat(accessibility): make focus rings green & only visible on tab focus
  assets/nuxt.css
  components/molecules/forms/AlgoliaSearchBox.vue
  components/theme/app/AppBanner.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AsideHeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: complete 2.x URLs
  static/_redirects
Due: none

fix: complete 2.x URLs (#1722)
  static/_redirects
Due: none

fix: remove catchAll rule
  static/_redirects
Due: none

fix: remove catchAll
  static/_redirects
Due: none

fix: remove catchAll (#1724)
  static/_redirects
Due: none

:bug: (contribution-guide) add contribution guide page
  components/templates/Post.vue
  content/en/_collections/navigations/footer.md
  content/en/contribution-guide/index.md
  content/fr/_collections/navigations/footer.md
  content/fr/contribution-guide/index.md
  content/ja/_collections/navigations/footer.md
  content/ja/contribution-guide/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:lipstick: (hero) update spacing for mobile
  components/organisms/heroes/PageHero.vue
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: contribution guide page (#1725)
  components/organisms/heroes/PageHero.vue
  components/templates/Post.vue
  components/theme/app/AppFooter.vue
  content/en/_collections/navigations/footer.md
  content/en/contribution-guide/index.md
  content/fr/_collections/navigations/footer.md
  content/fr/contribution-guide/index.md
  content/ja/_collections/navigations/footer.md
  content/ja/contribution-guide/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:pencil2: (hero) fix typo size on some heros
  components/organisms/heroes/ShowcasesHero.vue
  components/organisms/heroes/SponsorsHero.vue
Due: yarn lint:eslint, yarn lint:prettier

hotfix: use http 302 for redirects
  static/_redirects
Due: none

Update 0.github.md
  content/en/case-studies/0.github.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil2: (hero) fix typo size on some heros (#1727)
  components/organisms/heroes/ShowcasesHero.vue
  components/organisms/heroes/SponsorsHero.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: update github case study (#1728)
  content/en/case-studies/0.github.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(accessibility): make focus rings green & only visible on tab focus (#1721)
  assets/nuxt.css
  components/molecules/forms/AlgoliaSearchBox.vue
  components/theme/app/AppBanner.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AsideHeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(Home): UI fixes (#1717)
  components/organisms/home/HomeExplore.vue
  components/organisms/lists/PartnersBanner.vue
  components/theme/app/AppAside.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(navigation): AsideBottom display
  components/theme/app/AsideBottom.vue
  components/theme/app/AsideNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

:lipstick: fix some design issues
  components/molecules/cards/ContentCardTemplate.vue
  components/molecules/cards/ShowcasesCard.vue
  components/organisms/lists/ModulesListing.vue
  components/organisms/lists/ThemesList.vue
  components/organisms/lists/VideoCoursesList.vue
  components/organisms/sections/SupportContainer.vue
  components/organisms/sections/SupportPricing.vue
  content/en/docs/1.get-started/1.installation.md
  content/fr/docs/1.get-started/1.installation.md
  content/ja/docs/1.get-started/1.installation.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:ok_hand: (ButtonLink) remove class on md and add it to directly component
  components/atoms/buttons/ButtonLink.vue
  content/en/docs/1.get-started/1.installation.md
  content/fr/docs/1.get-started/1.installation.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: video course link
  content/fr/_collections/navigations/footer.md
  content/ja/_collections/navigations/footer.md
Due: yarn lint:prettier, yarn lint:markdownlint

add partner page for other langs
  content/fr/partners/7.vue-storefront.md
  content/ja/partners/7.vue-storefront.md
Due: yarn lint:prettier, yarn lint:markdownlint

sync case studies page
  content/fr/case-studies/0.github.md
  content/ja/case-studies/0.github.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/docs/1.get-started/1.installation.md
  content/en/docs/1.get-started/1.installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update _redirects
  static/_redirects
Due: none

:bento: (integrations) add integrations logos
  static/img/partners/dark/AWS_Dark.svg
  static/img/partners/dark/Azure.svg
  static/img/partners/dark/Cloudflare.svg
  static/img/partners/dark/Digital_Ocean.svg
  static/img/partners/dark/Fume.svg
  static/img/partners/dark/Github_Pages_Dark.svg
  static/img/partners/dark/Google_Cloud_run.svg
  static/img/partners/dark/Google_engine_app.svg
  static/img/partners/dark/Heroku.svg
  static/img/partners/dark/Hostman_Dark.svg
  static/img/partners/dark/Koyeb_Dark.svg
  static/img/partners/dark/Nginx.svg
  static/img/partners/dark/Platformsh_Dark.svg
  static/img/partners/dark/Qovery.svg
  static/img/partners/dark/Stormkit_Dark.svg
  static/img/partners/dark/Surge.svg
  static/img/partners/dark/Yunbox.svg
  static/img/partners/dark/bip.png
  static/img/partners/dark/dokku.png
  static/img/partners/dark/pm2.png
  static/img/partners/light/AWS_Light.svg
  static/img/partners/light/Azure.svg
  static/img/partners/light/Cloudflare.svg
  static/img/partners/light/Digital_Ocean.svg
  static/img/partners/light/Fume.svg
  static/img/partners/light/Github_Pages_Light.svg
  static/img/partners/light/Google_Cloud_run.svg
  static/img/partners/light/Google_engine_app.svg
  static/img/partners/light/Heroku.svg
  static/img/partners/light/Hostman_Light.svg
  static/img/partners/light/Koyeb_Light.svg
  static/img/partners/light/Nginx.svg
  static/img/partners/light/Platformsh_Light.svg
  static/img/partners/light/Qovery.svg
  static/img/partners/light/Stormkit_Light.svg
  static/img/partners/light/Surge.svg
  static/img/partners/light/Yunbox.svg
  static/img/partners/light/bip.png
  static/img/partners/light/dokku.png
  static/img/partners/light/pm2.png
Due: none

:pencil: (inegrations) update integrations logos path
  content/en/integrations/deployments/21yunbox.md
  content/en/integrations/deployments/amazon-web-services.md
  content/en/integrations/deployments/azure-portal.md
  content/en/integrations/deployments/azure-static-web-apps.md
  content/en/integrations/deployments/bip.md
  content/en/integrations/deployments/cloudflare.md
  content/en/integrations/deployments/digital-ocean.md
  content/en/integrations/deployments/dokku.md
  content/en/integrations/deployments/fume.md
  content/en/integrations/deployments/github-pages.md
  content/en/integrations/deployments/google-appengine.md
  content/en/integrations/deployments/google-cloud-run.md
  content/en/integrations/deployments/heroku.md
  content/en/integrations/deployments/hostman.md
  content/en/integrations/deployments/koyeb.md
  content/en/integrations/deployments/nginx.md
  content/en/integrations/deployments/platformsh.md
  content/en/integrations/deployments/pm2.md
  content/en/integrations/deployments/qovery.md
  content/en/integrations/deployments/stormkitio.md
  content/en/integrations/deployments/surge.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: grammar updates
  content/en/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: relevant social icon titles
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

fix conflicts with upstream
  content/en/docs/1.get-started/1.installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
