Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore(content): fix markdown irregularities
  content/fr/announcements/index.md
  content/fr/docs/index.md
  content/fr/v3/index.md
  content/ja/announcements/index.md
  content/ja/partners/index.md
  content/ja/sponsors/index.md
  content/ja/v3/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: quick localize fix (#1689)
  content/en/support/index.md
  content/ja/_collections/navigations/footer.md
  content/ja/_collections/navigations/header.md
  content/ja/announcements/index.md
  content/ja/case-studies/index.md
  content/ja/events/index.md
  content/ja/integrations/index.md
  content/ja/partners/index.md
  content/ja/releases/index.md
  content/ja/showcases/index.md
  content/ja/sponsors/index.md
  content/ja/support/index.md
  content/ja/tutorials/index.md
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix(v3): ClientOnly on Countdown
  components/organisms/heroes/Nuxt3Hero.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: rename List to PageList
  components/templates/PageList.vue
  content/en/integrations/index.md
  content/en/partners/index.md
  content/fr/integrations/index.md
  content/fr/partners/index.md
  content/ja/integrations/index.md
  content/ja/partners/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: dont use colorMode.value in templates
  components/molecules/cards/LogoCard.vue
  components/molecules/cards/SustainabilityCard.vue
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: more quick localizing
  content/ja/index.md
  content/ja/sponsors/index.md
  content/ja/v3/index.md
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore: rename file
  content/en/integrations/deployments/stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(SectionButton): properly handle links
  components/atoms/buttons/SectionButton.vue
  components/molecules/SustainabilityCardDonation.vue
  components/organisms/home/HomeDiscover.vue
  components/organisms/home/HomeHero.vue
  components/organisms/lists/ThemesList.vue
  components/organisms/lists/VideoCoursesList.vue
  components/organisms/sections/SustainabilityDetail.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: avoid layoutshift for countdown
  components/atoms/Countdown.vue
  components/organisms/heroes/Nuxt3Hero.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: broken link
  content/en/_collections/navigations/footer.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(AppLayout): use vue2 style computed
  components/theme/app/AppLayout.vue
  components/theme/app/AsideNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: add nuxt-components redirect rule
  static/_redirects
Due: none

chore: added cleavr logos for integrations page and cleaned up title
  static/img/partners/dark/cleavr.svg
  static/img/partners/light/cleavr.svg
Due: none

chore: added cleavr logo for integrations page and cleaned up title
  content/en/integrations/deployments/cleavr.md
  content/fr/integrations/deployments/cleavr.md
  content/ja/integrations/deployments/cleavr.md
  static/img/partners/dark/cleavr.svg
  static/img/partners/light/cleavr.svg
Due: yarn lint:prettier, yarn lint:markdownlint

fix: 2.x features redirects
  static/_redirects
Due: none

fix(AppLayout): use vue2 style computed (#1699)
  components/theme/app/AppLayout.vue
  components/theme/app/AsideNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: 2.x features redirects (#1702)
  static/_redirects
Due: none

docs: typo in enterprise
  content/en/_collections/navigations/footer.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: typo in enterprise (#1703)
  content/en/_collections/navigations/footer.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: added cleavr logos for integrations page and cleaned up title (#1700)
  content/en/integrations/deployments/cleavr.md
  content/fr/integrations/deployments/cleavr.md
  content/ja/integrations/deployments/cleavr.md
  static/img/partners/dark/cleavr.svg
  static/img/partners/light/cleavr.svg
Due: yarn lint:prettier, yarn lint:markdownlint

fix: broken link (#1698)
  content/en/_collections/navigations/footer.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 6.layouts.md
  content/en/docs/4.directory-structure/6.layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 6.layouts.md (#1706)
  content/en/docs/4.directory-structure/6.layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: more quick localizing (#1693)
  content/ja/index.md
  content/ja/sponsors/index.md
  content/ja/v3/index.md
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

correct grammatical errors in installation.md (#1692)
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: redicrection
  static/_redirects
Due: none

docs: correct grammatical errors in 1.installation.md
  content/en/docs/1.get-started/1.installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(AppLayout): refactor composition api
  components/theme/app/AppLayout.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(AppLayout): refactor composition api (#1711)
  components/theme/app/AppLayout.vue
Due: yarn lint:eslint, yarn lint:prettier

Footer & Error page fix illustration
  components/theme/Error.vue
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

Footer & Error page fix illustration (#1712)
  components/theme/Error.vue
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: add catchAll for 2.x redirects
  static/_redirects
Due: none

fix: add catchAll for 2.x redirects (#1713)
  static/_redirects
Due: none

:bug: replace condition to check if home
  components/atoms/selects/Dropdown.vue
  components/molecules/forms/ColorSwitcher.vue
  components/molecules/forms/LangSwitcher.vue
  components/organisms/home/HomeFeatures.vue
  components/theme/app/AppAside.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AsideHeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: test complete URLs for redirects
  static/_redirects
Due: none

fix: test redirecting full URLs
  static/_redirects
Due: none

fix(Home): UI fixes
  components/organisms/home/HomeExplore.vue
  components/organisms/lists/PartnersBanner.vue
  components/theme/app/AppAside.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: replace docus.currentPath to route.path (#1715)
  components/atoms/selects/Dropdown.vue
  components/molecules/forms/ColorSwitcher.vue
  components/molecules/forms/LangSwitcher.vue
  components/organisms/home/HomeFeatures.vue
  components/theme/app/AppAside.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AsideHeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add vue storefront as partner
  content/en/partners/7.vue-storefront.md
  static/img/partners/dark/vue-storefront.svg
  static/img/sponsors/banner/light/vue-storefront.svg
Due: yarn lint:prettier, yarn lint:markdownlint

chore: add emails
  content/fr/support/index.md
  content/ja/support/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
