Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Create index.md
  content/de/themes/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/video-courses/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/teams/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/support/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/showcases/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:sparkles: (CookieBanner) add event for click
  components/templates/CookieBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (Applayout) fix dynamic spacing on footer if banner
  components/theme/app/AppLayout.vue
Due: yarn lint:eslint, yarn lint:prettier

Create index.md
  content/de/v3/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update index.md
  content/de/v3/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translation #1765
  content/ja/integrations/deployments/digital-ocean.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/contribution-guide/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 3.nuxtjs-from-terminal-to-browser.md
  content/de/announcements/3.nuxtjs-from-terminal-to-browser.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 4.introducing-smart-prefetching.md
  content/de/announcements/4.introducing-smart-prefetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

Case Studies DE
  content/de/case-studies/0.github.md
  content/de/case-studies/1.livementor.md
  content/de/case-studies/2.stores.md
  content/de/case-studies/3.parent-scheme.md
  content/de/case-studies/4.line.md
  content/de/case-studies/5.404-place-vendome.md
  content/de/case-studies/6.komercia.md
  content/de/case-studies/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 5.conclusion.md
  content/de/docs/1.get-started/5.conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translation #1765 (#1771)
  content/ja/integrations/deployments/digital-ocean.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 6.upgrading.md
  content/de/docs/1.get-started/6.upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/docs/1.get-started/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor: release on dateime with named formatting
  components/templates/Releases.vue
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

Markdown Issues Fixed
  content/de/_collections/design/colors.md
  content/de/themes/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix
  content/de/announcements/1.going-full-static.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/docs/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 1.hello-world.md
  content/de/examples/1.routing/1.hello-world.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 1.hello-world.md
  content/de/examples/1.routing/1.hello-world.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 2.active-link-classes.md
  content/de/examples/1.routing/2.active-link-classes.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 3.dynamic-pages.md
  content/de/examples/1.routing/3.dynamic-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 4.nested-pages.md
  content/de/examples/1.routing/4.nested-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/examples/1.routing/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 1.async-data.md
  content/de/examples/2.data-fetching/1.async-data.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 1.async-data.md
  content/de/examples/2.data-fetching/1.async-data.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fetch DE
  content/de/examples/2.data-fetching/2.fetch-hook.md
  content/de/examples/2.data-fetching/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Assets Management DE
  content/de/examples/3.assets-management/1.pre-processors.md
  content/de/examples/3.assets-management/2.webpack-assets.md
  content/de/examples/3.assets-management/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Examples: Transitions DE
  content/de/examples/4.transitions/1.transitions.md
  content/de/examples/4.transitions/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Home page and routes to v3
  .gitignore
  assets/scss/main.scss
  assets/scss/normalize.scss
  components/Header.vue
  nuxt.config.js
  package.json
  pages/examples/index.vue
  pages/guide/index.vue
  pages/guide/release-notes.vue
  pages/index.vue
  static/favicon.ico
  static/logo.png
  static/logo_nav.png
  static/logo_noir.png
Due: yarn lint:eslint, yarn lint:prettier

Update logo nav
  static/logo_nav.png
Due: none

Fix logo
  components/Header.vue
  static/logo_nav.png
Due: yarn lint:eslint, yarn lint:prettier

Create markdown structure
  pages/guide/index.vue
  static/guide/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

guide content from component
  components/Content.vue
  nuxt.config.js
  package.json
  pages/guide.vue
  pages/guide/_index.vue
  pages/guide/_release-notes.vue
  pages/guide/release-notes.vue
  static/guide/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Optimise images
  static/logo.png
  static/logo_nav.png
  static/logo_noir.png
Due: none
