Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

:dizzy: (AnimFromCliCodeBlock) adding an opening div and format closing div
  components/organisms/animations/AnimFromCliCodeblock.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(navigation): AsideBottom display (#1730)
  components/theme/app/AsideBottom.vue
  components/theme/app/AsideNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: update digital ocean app platform docs with web service settings configured
  content/en/integrations/deployments/digital-ocean.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: update Contribution Guide broken link
  content/en/contribution-guide/index.md
  content/fr/contribution-guide/index.md
  content/ja/contribution-guide/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update contribution guide broken link (#1766)
  content/en/contribution-guide/index.md
  content/fr/contribution-guide/index.md
  content/ja/contribution-guide/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add an screenshot to clarify where to add yarn start and port
  content/en/integrations/deployments/digital-ocean.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: url checks based on `route.path`
  components/atoms/Logo.vue
  components/atoms/links/HeaderNavigationLink.vue
  components/atoms/selects/Dropdown.vue
  components/molecules/forms/ColorSwitcher.vue
  components/molecules/forms/LangSwitcher.vue
  components/organisms/home/HomeFeatures.vue
  components/organisms/lists/Testimonials.vue
  components/theme/app/AppAside.vue
  components/theme/app/AppBanner.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AsideBottom.vue
  components/theme/app/AsideHeaderNavigation.vue
  nuxt.config.ts
  plugins/nav.js
Due: yarn lint:eslint, yarn lint:prettier

docs: Nuxt server deploy on DO App platform update (#1765)
  content/en/integrations/deployments/digital-ocean.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: design issues (#1764)
  components/organisms/animations/AnimFromCliCodeblock.vue
  components/organisms/animations/AnimFromScratchCodeblock.vue
  components/organisms/sections/TeamSection.vue
  components/templates/Releases.vue
  static/img/case-studies/github/cover.png
  static/img/case-studies/komercia/cover.png
  static/img/case-studies/line/cover.png
  static/img/case-studies/livementor/cover.png
  static/img/case-studies/stores/cover.png
Due: yarn lint:eslint, yarn lint:prettier

use `useRoute`
  plugins/nav.js
Due: yarn lint:eslint, yarn lint:prettier

fix: url checks based on `route.path` (#1767)
  components/atoms/Logo.vue
  components/atoms/links/HeaderNavigationLink.vue
  components/atoms/selects/Dropdown.vue
  components/molecules/forms/ColorSwitcher.vue
  components/molecules/forms/LangSwitcher.vue
  components/organisms/home/HomeFeatures.vue
  components/organisms/lists/Testimonials.vue
  components/theme/app/AppAside.vue
  components/theme/app/AppBanner.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AsideBottom.vue
  components/theme/app/AsideHeaderNavigation.vue
  nuxt.config.ts
  plugins/nav.js
Due: yarn lint:eslint, yarn lint:prettier

Create 1.going-full-static.md
  content/de/announcements/1.going-full-static.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/design/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/events/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create colors.md
  content/de/_collections/design/colors.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create logos.md
  content/de/_collections/design/logos.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create monogram.md
  content/de/_collections/design/monogram.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 2019.md
  content/de/_collections/events/2019.md
Due: yarn lint:prettier, yarn lint:markdownlint

Events DE
  content/de/_collections/events/2019.md
  content/de/_collections/events/2020.md
  content/de/_collections/events/2021.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/_collections/events/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Navigation DE
  content/de/_collections/navigations/footer.md
  content/de/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

Donations DE
  content/de/_collections/sponsors/donation/1.github.md
  content/de/_collections/sponsors/donation/2.openCollective.md
Due: yarn lint:prettier, yarn lint:markdownlint

MVP DE
  content/de/_collections/sponsors/mvp/chrome.md
Due: yarn lint:prettier, yarn lint:markdownlint

Sponsors
  content/de/_collections/sponsors/index.md
  content/de/_collections/sponsors/sponsors/1.vue-mastery.md
  content/de/_collections/sponsors/sponsors/10.remotely.md
  content/de/_collections/sponsors/sponsors/11.flashdrive.md
  content/de/_collections/sponsors/sponsors/12.movavi.md
  content/de/_collections/sponsors/sponsors/13.hdnet.md
  content/de/_collections/sponsors/sponsors/2.legal-nature.md
  content/de/_collections/sponsors/sponsors/3.sparheld.md
  content/de/_collections/sponsors/sponsors/4.icons-8.md
  content/de/_collections/sponsors/sponsors/5.firestickhow.md
  content/de/_collections/sponsors/sponsors/6.minitool.md
  content/de/_collections/sponsors/sponsors/7.vps-server.md
  content/de/_collections/sponsors/sponsors/8.fine-vpn.md
  content/de/_collections/sponsors/sponsors/9.sendcloud.md
Due: yarn lint:prettier, yarn lint:markdownlint

Team
  content/de/_collections/teams/1.framework.md
  content/de/_collections/teams/2.community.md
  content/de/_collections/teams/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:wrench: (package.json) add vue-cookieconsent-component and vue-if-bot
  package.json
Due: yarn lint:prettier

:rotating_light: (AppFooter) change doublequote to single quote
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (CookieBanner) create cookie banner component
  components/templates/CookieBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (AppLayout) add cookie banner
  components/theme/app/AppLayout.vue
Due: yarn lint:eslint, yarn lint:prettier

:globe_with_meridians: (cookies) update translation for cookie banner
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

Create index.md
  content/de/_collections/testimonials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:fire: (CookieBanner) remove unused import
  components/templates/CookieBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

:fire: (AppLayout) remove unused computed
  components/theme/app/AppLayout.vue
Due: yarn lint:eslint, yarn lint:prettier

Partners DE
  content/de/partners/0.netlify.md
  content/de/partners/1.vercel.md
  content/de/partners/2.layer-0.md
  content/de/partners/3.storyblok.md
  content/de/partners/4.swell.md
  content/de/partners/5.ship-shape.md
  content/de/partners/6.64robots.md
  content/de/partners/7.vue-storefront.md
  content/de/partners/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/releases/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/modules/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update nuxt.config.ts
  nuxt.config.ts
Due: none

Create index.md
  content/de/tutorials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/testimonials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/sponsors/index.md
Due: yarn lint:prettier, yarn lint:markdownlint
