Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Update nuxt-components.md
  content/ru/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add example to disable serve placeholder
  content/en/guides/configuration-glossary/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

remove `/`
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix orthographic variants
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

change translate
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

add `.js`
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): guides/directory-structure/nuxt-config.md (#1139)
  content/ja/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: ubisoft logo in dark mode
  static/img/companies/original/ubisoft.svg
  static/img/companies/preview/ubisoft.svg
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

docs(id): added translation to configuration-alias.md
  content/id/guides/configuration-glossary/configuration-alias.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): added translation to configuration-css.md
  content/id/guides/configuration-glossary/configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: ubisoft logo in dark mode (#1211)
  static/img/companies/original/ubisoft.svg
  static/img/companies/preview/ubisoft.svg
Due: none

Deploy to digitalocean App Platform guide (#1195)
  content/en/guides/deployment/deploying-to-do-app-platform.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

[ImgBot] Optimize images
  assets/illustrations/examples.svg
  assets/illustrations/modules.svg
  assets/illustrations/themes.svg
  assets/illustrations/theming.svg
  assets/illustrations/videos.svg
  static/courses/build-job-board-with-nuxt-2x.png
  static/courses/build-server-rendered-app-with-nuxt-2x.png
  static/courses/build-server-rendered-app-with-nuxt.png
  static/courses/building-applications-with-vue-and-nuxt-2x.png
  static/courses/building-applications-with-vue-and-nuxt.png
  static/courses/create-news-app-with-vue-and-nuxt-2x.png
  static/courses/create-news-app-with-vue-and-nuxt.png
  static/courses/get-started-with-nuxt-2x.png
  static/courses/get-started-with-nuxt.png
  static/courses/learn-nuxt-with-debbie-2x.png
  static/courses/learn-nuxt-with-debbie.png
  static/courses/mastering-nuxt-2x.png
  static/courses/mastering-nuxt.png
  static/courses/nuxt-vue-steroids-2x.png
  static/courses/nuxt-vue-steroids.png
  static/courses/scaling-vue-with-nuxt-2x.png
  static/courses/scaling-vue-with-nuxt.png
  static/img/companies/original/GitHub_Logo.png
  static/img/companies/preview/GitHub_Logo.png
  static/themes/nuxt-argon-dashboard-pro-laravel-2x.jpg
  static/themes/nuxt-argon-dashboard-pro-laravel.jpg
Due: none

fix: minor fixes
  content/en/guides/deployment/deploying-to-21yunbox.md
  content/tr/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update terserOptions documentation (#1149)
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

updates path in plugins array
  content/en/guides/features/live-preview.md
Due: yarn lint:prettier, yarn lint:markdownlint

updates path in plugins array (#1216)
  content/en/guides/features/live-preview.md
Due: yarn lint:prettier, yarn lint:markdownlint

https://github.com/nuxt/nuxtjs.org/pull/1012#pullrequestreview-582081138 suggested changes
  content/es/examples/custom-loading-component.md
  content/es/examples/customize-loading-indicator.md
  content/es/examples/customize-nuxt-loading.md
  content/es/examples/data-fetching-fetch-hook.md
  content/es/examples/lazy-loading-components.md
  content/es/examples/pre-processors.md
  content/es/examples/seo-twitter-og.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: examples menu spanish
  i18n/es-ES.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

feat: examples menu spanish (#1217)
  i18n/es-ES.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

[Spanish] docs(es): add examples book (#1012)
  content/es/examples/custom-loading-component.md
  content/es/examples/customize-loading-indicator.md
  content/es/examples/customize-nuxt-loading.md
  content/es/examples/data-fetching-async-data.md
  content/es/examples/data-fetching-fetch-hook.md
  content/es/examples/hello-world.md
  content/es/examples/helpers.md
  content/es/examples/layouts.md
  content/es/examples/lazy-loading-components.md
  content/es/examples/middleware-anonymous.md
  content/es/examples/middleware-named.md
  content/es/examples/middleware-router.md
  content/es/examples/modules-axios.md
  content/es/examples/modules-internal.md
  content/es/examples/plugins-client-only.md
  content/es/examples/plugins-custom.md
  content/es/examples/plugins-external-packages.md
  content/es/examples/plugins-vue.md
  content/es/examples/pre-processors.md
  content/es/examples/routing-active-links-classes.md
  content/es/examples/routing-dynamic-pages.md
  content/es/examples/routing-nested-pages.md
  content/es/examples/seo-html-head.md
  content/es/examples/seo-twitter-og.md
  content/es/examples/transitions.md
  content/es/examples/vuex-store.md
  content/es/examples/webpack-assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add deploy instructions for Platform.sh.
  content/en/guides/deployment/deployment-platformsh.md
Due: yarn lint:prettier, yarn lint:markdownlint

Formatting and typos
  content/en/guides/deployment/deployment-platformsh.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add fixed height for the Deploy on Platform.sh button.
  content/en/guides/deployment/deployment-platformsh.md
Due: yarn lint:prettier, yarn lint:markdownlint

Added just a small info tab about global CSS files
  content/en/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

Added just a small info tab about global CSS files (#1220)
  content/en/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint
