Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Update content/ru/guides/features/data-fetching.md
  content/ru/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix typo (#1200)
  content/en/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

Update configuration-build.md
  content/fr/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration-build.md (#1201)
  content/fr/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(zh) update translation：content/zh/guides/concepts (#1184)
  content/zh/guides/concepts/context-helpers.md
  content/zh/guides/concepts/nuxt-lifecycle.md
  content/zh/guides/concepts/server-side-rendering.md
  content/zh/guides/concepts/static-site-generation.md
  content/zh/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update pages.md
  content/fr/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update pages.md (#1202)
  content/fr/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate pre-processors.md, seo-html-head.md
  content/es/examples/pre-processors.md
  content/es/examples/seo-html-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: asyncData comes after plugins as it uses injected values in context
  content/en/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add GitHub Logo
  components/templates/home/HomeCompanies.vue
  content/tr/guides/concepts/context-helpers.md
  static/img/companies/original/GitHub_Logo.png
  static/img/companies/preview/GitHub_Logo.png
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: asyncData comes after plugins as it uses injected values in context (#1204)
  content/en/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add GitHub Logo (#1205)
  components/templates/home/HomeCompanies.vue
  content/tr/guides/concepts/context-helpers.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add GitHub Logo (#1205)
  components/templates/home/HomeCompanies.vue
  content/tr/guides/concepts/context-helpers.md
  static/img/companies/original/GitHub_Logo.png
  static/img/companies/preview/GitHub_Logo.png
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

[ImgBot] Optimize images
  assets/illustrations/examples.svg
  assets/illustrations/modules.svg
  assets/illustrations/themes.svg
  assets/illustrations/theming.svg
  assets/illustrations/videos.svg
  static/courses/build-job-board-with-nuxt-2x.png
  static/courses/build-server-rendered-app-with-nuxt-2x.png
  static/courses/build-server-rendered-app-with-nuxt.png
  static/courses/building-applications-with-vue-and-nuxt-2x.png
  static/courses/building-applications-with-vue-and-nuxt.png
  static/courses/create-news-app-with-vue-and-nuxt-2x.png
  static/courses/create-news-app-with-vue-and-nuxt.png
  static/courses/get-started-with-nuxt-2x.png
  static/courses/get-started-with-nuxt.png
  static/courses/learn-nuxt-with-debbie-2x.png
  static/courses/learn-nuxt-with-debbie.png
  static/courses/mastering-nuxt-2x.png
  static/courses/mastering-nuxt.png
  static/courses/nuxt-vue-steroids-2x.png
  static/courses/nuxt-vue-steroids.png
  static/courses/scaling-vue-with-nuxt-2x.png
  static/courses/scaling-vue-with-nuxt.png
  static/docs/2.x/modules.svg
  static/docs/2.x/plugins.svg
  static/img/companies/original/GitHub_Logo.png
  static/img/companies/preview/GitHub_Logo.png
  static/themes/nuxt-argon-dashboard-pro-laravel-2x.jpg
  static/themes/nuxt-argon-dashboard-pro-laravel.jpg
Due: none

chore(deps): update dependency @nuxt/content to ^1.12.0
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: imagebot config
  .imgbotconfig
Due: none

translate vuex-sotre.md, webpack-assets.md
  content/es/examples/vuex-store.md
  content/es/examples/webpack-assets.md
Due: yarn lint:prettier, yarn lint:markdownlint
