Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

feat: add new team members
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: tests after change from guides to docs
  cypress/integration/home.spec.js
  cypress/integration/modal.spec.js
  cypress/integration/prev-next.spec.js
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

fix: tests after change from guides to docs (#931)
  cypress/integration/home.spec.js
  cypress/integration/modal.spec.js
  cypress/integration/prev-next.spec.js
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

feat: add new team members (#930)
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

Fix imgbot automatic SVG optimisation issue (#928)
  .imgbotconfig
  static/guides/plugins.svg
Due: none

Fix imgbot automatic SVG optimisation issue (#928)
  .imgbotconfig
Due: none

docs(en): add note about accesing refs with client rendered comps (#926)
  content/en/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(en): add runtime config (#890)
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix: remove warning for contribution
  components/common/AppContribute.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove warning for contribution (#932)
  components/common/AppContribute.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: move sponsors to sidebar
  pages/docs/2.x/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: move sponsors to sidebar (#933)
  pages/docs/2.x/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: broken links after route change
  content/en/blog/going-full-static.md
  content/en/guides/features/data-fetching.md
  content/es/guides/features/data-fetching.md
  content/id/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: new contributors API
  components/common/AppContribute.vue
  nuxt.config.js
  pages/blog/_slug.vue
  pages/docs/2.x/_book/_slug.vue
  pages/examples/_slug.vue
  pages/faq/_slug.vue
  plugins/contributors.js
Due: yarn lint:eslint, yarn lint:prettier

fix navlink
  components/TheAsideNavNewDocs.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove examples from guides
  content/en/guides/concepts/context-helpers.md
  content/en/guides/concepts/views.md
  content/en/guides/directory-structure/assets.md
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/dist.md
  content/en/guides/directory-structure/layouts.md
  content/en/guides/directory-structure/middleware.md
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/directory-structure/pages.md
  content/en/guides/directory-structure/plugins.md
  content/en/guides/directory-structure/static.md
  content/en/guides/directory-structure/store.md
  content/en/guides/features/configuration.md
  content/en/guides/features/data-fetching.md
  content/en/guides/features/loading.md
  content/en/guides/features/meta-tags-seo.md
  content/en/guides/features/nuxt-components.md
  content/en/guides/features/transitions.md
  content/en/guides/get-started/directory-structure.md
  content/en/guides/get-started/installation.md
  content/en/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: archive old examples
  content/en/_archives/examples/async-data.md
  content/en/_archives/examples/auth-external-jwt.md
  content/en/_archives/examples/auth-routes.md
  content/en/_archives/examples/custom-loading.md
  content/en/_archives/examples/custom-page-loading.md
  content/en/_archives/examples/custom-routes.md
  content/en/_archives/examples/global-css.md
  content/en/_archives/examples/hello-world.md
  content/en/_archives/examples/i18n.md
  content/en/_archives/examples/layouts.md
  content/en/_archives/examples/middleware.md
  content/en/_archives/examples/named-views.md
  content/en/_archives/examples/nested-routes.md
  content/en/_archives/examples/plugins.md
  content/en/_archives/examples/routes-transitions.md
  content/en/_archives/examples/seo-html-head.md
  content/en/_archives/examples/testing.md
  content/en/_archives/examples/vuex-store.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add more redirects
  _redirects
Due: none

fix: rename images folder
  static/docs/2.x/components.png
  static/docs/2.x/context.svg
  static/docs/2.x/modules.jpg
  static/docs/2.x/nuxt-content.svg
  static/docs/2.x/nuxt-lifecycle.svg
  static/docs/2.x/plugins.jpg
  static/docs/2.x/plugins.svg
  static/docs/2.x/views.png
Due: none

fix: update images in md
  content/en/guides/concepts/context-helpers.md
  content/en/guides/concepts/nuxt-lifecycle.md
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/content.md
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/plugins.md
  content/es/guides/concepts/context-helpers.md
  content/es/guides/concepts/nuxt-lifecycle.md
  content/es/guides/directory-structure/components.md
  content/es/guides/directory-structure/content.md
  content/es/guides/directory-structure/modules.md
  content/es/guides/directory-structure/plugins.md
  content/id/guides/concepts/context-helpers.md
  content/id/guides/concepts/nuxt-lifecycle.md
  content/id/guides/directory-structure/plugins.md
  content/ko/guides/concepts/context-helpers.md
  content/pt/guides/concepts/context-helpers.md
  content/pt/guides/concepts/nuxt-lifecycle.md
  content/pt/guides/directory-structure/components.md
  content/pt/guides/directory-structure/content.md
  content/pt/guides/directory-structure/modules.md
  content/pt/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove start_url and icons in pwa
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix: remove examples from guides
  content/en/guides/examples/anonymous-middleware.md
  content/en/guides/examples/assets.md
  content/en/guides/examples/client-only-plugins.md
  content/en/guides/examples/components.md
  content/en/guides/examples/context.md
  content/en/guides/examples/custom-plugins.md
  content/en/guides/examples/data-fetching.md
  content/en/guides/examples/directory-structure.md
  content/en/guides/examples/dynamic_pages.md
  content/en/guides/examples/external-packages-plugin.md
  content/en/guides/examples/hello-world.md
  content/en/guides/examples/helpers.md
  content/en/guides/examples/host-port.md
  content/en/guides/examples/layouts.md
  content/en/guides/examples/loading.md
  content/en/guides/examples/meta-tags-seo.md
  content/en/guides/examples/modules.md
  content/en/guides/examples/named-middleware.md
  content/en/guides/examples/nuxt-child.md
  content/en/guides/examples/nuxt-config.md
  content/en/guides/examples/nuxt-link-classes.md
  content/en/guides/examples/pre-processors.md
  content/en/guides/examples/router-middleware.md
  content/en/guides/examples/routing.md
  content/en/guides/examples/static-folder.md
  content/en/guides/examples/static-site-generation.md
  content/en/guides/examples/store.md
  content/en/guides/examples/transitions.md
  content/en/guides/examples/vue-plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint
