Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: add info on `--dotenv` cli option
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add warning about static path when `router.base` is set
  content/en/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add docs for `standalone` build mode
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(i18n-id): translate modules.md and several config section into Indonesia
  content/id/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

feat: add alias section to nuxt-config page (#1025)
  content/en/guides/configuration-glossary/configuration-alias.md
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add info on `--dotenv` cli option (#1166)
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add warning about static path when `router.base` is set (#1167)
  content/en/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add docs for `standalone` build mode (#1168)
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

ci: fix cypress tests (add trailing slash)
  cypress/integration/home.spec.js
  cypress/integration/modal-image.spec.js
  cypress/integration/prev-next.spec.js
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

ci: fix cypress tests (add trailing slash) (#1172)
  cypress/integration/home.spec.js
  cypress/integration/modal-image.spec.js
  cypress/integration/prev-next.spec.js
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

docs: reword standalone docs
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: reduce faq
  _redirects
  content/en/_archives/faq/async-data-components.md
  content/en/_archives/faq/cached-components.md
  content/en/_archives/faq/duplicated-meta-tags.md
  content/en/_archives/faq/extend-webpack.md
  content/en/_archives/faq/external-resources.md
  content/en/_archives/faq/ga.md
  content/en/_archives/faq/host-port.md
  content/en/_archives/faq/http-proxy.md
  content/en/_archives/faq/jsx.md
  content/en/_archives/faq/postcss-plugins.md
  content/en/_archives/faq/pre-processors.md
  content/en/_archives/faq/webpack-audio-files.md
  content/en/_archives/faq/webpack-plugins.md
  content/en/guides/components-glossary/pages-head.md
  content/en/guides/configuration-glossary/configuration-head.md
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/features/configuration.md
  content/en/guides/features/data-fetching.md
  content/en/guides/features/nuxt-components.md
  pages/faq/_slug.vue
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: add 301
  _redirects
  content/en/guides/deployment/deploying-to-21yunbox.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/deployment/nginx-proxy.md
  content/en/guides/deployment/nginx-proxy.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: update redirect
  _redirects
Due: none

feat: deployment book (#1150)
  _redirects
  content/en/faq/deployment-aws-amplify.md
  content/en/guides/deployment/appengine-deployment.md
  content/en/guides/deployment/bip-deployment.md
  content/en/guides/deployment/deploy-on-moovweb.md
  content/en/guides/deployment/deploying-to-21yunbox.md
  content/en/guides/deployment/deployment-amazon-web-services.md
  content/en/guides/deployment/deployment-azure-portal.md
  content/en/guides/deployment/deployment-azure-static-web-apps.md
  content/en/guides/deployment/deployment-cloud-run.md
  content/en/guides/deployment/deployment-pm2.md
  content/en/guides/deployment/dokku-deployment.md
  content/en/guides/deployment/github-pages.md
  content/en/guides/deployment/heroku-deployment.md
  content/en/guides/deployment/netlify-deployment.md
  content/en/guides/deployment/nginx-proxy.md
  content/en/guides/deployment/surge-deployment.md
  content/en/guides/deployment/vercel-deployment.md
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

translated configuration.md
  content/ru/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add new resources
  assets/illustrations/faq.svg
  assets/illustrations/modules.svg
  i18n/en-US.js
  pages/resources.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: redirects
  _redirects
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
  content/ko/_archives/api/configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

update: links
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier

feat: add new courses
  i18n/en-US.js
  pages/video-courses.vue
  static/courses/building-applications-with-vue-and-nuxt-2x.png
  static/courses/building-applications-with-vue-and-nuxt.png
  static/courses/get-started-with-nuxt-2x.png
  static/courses/get-started-with-nuxt.png
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency stylelint to ^13.9.0
  package.json
  yarn.lock
Due: yarn lint:prettier

feat: remove css-flash
  _redirects
  content/en/_archives/faq/css-flash.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add more video courses
  pages/video-courses.vue
  static/courses/build-job-board-with-nuxt-2x.png
  static/courses/build-job-board-with-nuxt.png
  static/courses/build-server-rendered-app-with-nuxt-2x.png
  static/courses/build-server-rendered-app-with-nuxt.png
  static/courses/create-news-app-with-vue-and-nuxt-2x.png
  static/courses/create-news-app-with-vue-and-nuxt.png
  static/courses/learn-nuxt-with-debbie-2x.png
  static/courses/learn-nuxt-with-debbie.png
  static/courses/mastering-nuxt-2x.png
  static/courses/mastering-nuxt.png
  static/courses/nuxt-vue-steroids-2x.png
  static/courses/nuxt-vue-steroids.png
  static/courses/scaling-vue-with-nuxt-2x.png
  static/courses/scaling-vue-with-nuxt.png
Due: yarn lint:eslint, yarn lint:prettier

feat: add new theme
  pages/themes.vue
  static/themes/nuxt-argon-dashboard-pro-laravel-2x.jpg
  static/themes/nuxt-argon-dashboard-pro-laravel.jpg
Due: yarn lint:eslint, yarn lint:prettier

fix: adopt review suggestion
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: reword standalone docs (#1173)
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: server docs
  content/en/guides/concepts/server-side-rendering.md
  content/es/guides/concepts/server-side-rendering.md
  content/fr/guides/concepts/server-side-rendering.md
  content/id/guides/concepts/server-side-rendering.md
  content/ja/guides/concepts/server-side-rendering.md
  content/ko/guides/concepts/server-side-rendering.md
  content/pt/guides/concepts/server-side-rendering.md
  content/ru/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: improve faq
  _redirects
  content/en/_archives/faq/window-document-undefined.md
  content/en/guides/concepts/server-side-rendering.md
  content/en/guides/deployment/using-nuxt-with-cloudflare.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
