Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: eslint errors
  .eslintcache
  content/en/guides/directory-structure/plugins.md
  content/es/guides/directory-structure/plugins.md
  pages/design.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: cypress ci
  .eslintcache
  .github/workflows/main.yml
Due: none

fix: cypress ci
  .github/workflows/main.yml
Due: none

fix: cypress ci start
  .github/workflows/main.yml
Due: none

test: test the tests
  cypress/integration/break-build.spec.js
Due: yarn lint:eslint, yarn lint:prettier

fix(css): update copy button style
  assets/css/content.scss
Due: yarn lint:prettier

test: test netlify doesn't build
  .eslintcache
  .github/workflows/main.yml
  components/partials/home/HomeWelcome.vue
  cypress/integration/break-build.spec.js
  cypress/integration/home.spec.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

test: skip broken test
  .eslintcache
  cypress/integration/home.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: fix broken tests so it builds
  .eslintcache
  package.json
Due: yarn lint:prettier

fix: fix build
  .github/workflows/main.yml
  package.json
Due: yarn lint:prettier

fix: test serve for Netlify / Cypress
  package.json
Due: yarn lint:prettier

fix: github actions
  .github/workflows/main.yml
  package.json
Due: yarn lint:prettier

test: test build
  components/partials/home/HomeWhy.vue
Due: yarn lint:eslint, yarn lint:prettier

test: add cypress install to test command
  .eslintcache
  package.json
Due: yarn lint:prettier

test: add install cyptess to generate command
  package.json
Due: yarn lint:prettier

chore(deps): update dependency lodash to v4.17.19 [security]
  yarn.lock
Due: none

feat: modal for images
  components/global/bases/AppModal.vue
  content/en/guides/concepts/context-helpers.md
  content/en/guides/concepts/nuxt-lifecycle.md
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: add code for
  .eslintcache
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: text fixes
  content/en/guides/concepts/context-helpers.md
  content/en/guides/configuration-glossary/configuration-servermiddleware.md
  content/en/guides/directory-structure/assets.md
  content/en/guides/directory-structure/nuxt.md
  content/en/guides/directory-structure/plugins.md
  content/en/guides/features/deployment-targets.md
  content/en/guides/features/loading.md
  content/en/guides/features/nuxt-components.md
  content/en/guides/get-started/conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add button to next book
  content/en/guides/concepts/nuxt-lifecycle.md
  content/en/guides/configuration-glossary/configuration-watchers.md
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/features/live-preview.md
  content/en/guides/internals-glossary/nuxt-render-route.md
Due: yarn lint:prettier, yarn lint:markdownlint

test: add test for modal
  .eslintcache
  components/global/bases/AppModal.vue
  content/en/guide/modules.md
  content/en/guides/directory-structure/modules.md
  content/fr/guide/modules.md
  content/id/guide/modules.md
  content/ja/guide/modules.md
  content/ko/guide/modules.md
  content/zh/guide/modules.md
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

lint: no console rule
  .eslintcache
  .eslintrc
  components/global/bases/AppModal.vue
Due: yarn lint:eslint, yarn lint:prettier

test: add test for prev next
  .eslintcache
  components/common/AppPrevNextNew.vue
  cypress/integration/home.spec.js
  cypress/integration/modal.spec.js
  cypress/integration/newsletter.spec.js
  cypress/integration/prev-next.spec.js
Due: yarn lint:eslint, yarn lint:prettier

tests: test the toc
  .eslintcache
  components/common/AppToc.vue
  cypress/integration/home.spec.js
  cypress/integration/newsletter.spec.js
  cypress/integration/prev-next.spec.js
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

fix: add force to cypress install to fix build
  .eslintcache
  package.json
Due: yarn lint:prettier

test: testing build
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: testing build
  .eslintcache
  cypress/integration/modal.spec.js
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: activate toc test
  .eslintcache
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

fix: fix tests
  .eslintcache
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

tests: add modal test
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: add to toc test
  .eslintcache
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

fix: remove url from toc test
  .eslintcache
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

fix: tests remove iframe
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: testing workflow for build
  .eslintcache
  .github/workflows/main.yml
Due: none

fix: add route to test
  .github/workflows/main.yml
  cypress/integration/newsletter.spec.js
Due: yarn lint:eslint, yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
