Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs(ja) fix directory-structure/static (#1096)
  content/ja/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): fix configuration-router (#1095)
  content/ja/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): Translate guides concepts SSR into Japanese (#1111)
  content/ja/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate pages-transition (#1108)
  content/ja/guides/components-glossary/pages-transition.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate pages-validate (#1109)
  content/ja/guides/components-glossary/pages-validate.md
Due: yarn lint:prettier, yarn lint:markdownlint

undo translating of menu item
  i18n/ru-RU.js
Due: yarn lint:eslint, yarn lint:prettier

Update commands.md
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create deploying-to-21yunbox.md
  content/en/faq/deploying-to-21yunbox.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate into Japanese (#1127)
  content/ja/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

translated nuxt lifecycle concept
  content/ru/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(en): add info about dynamic config (#1092)
  content/en/guides/configuration-glossary/configuration-build.md
  content/en/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add legal nature sponsor
  components/templates/home/HomeSponsors.vue
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/legalnature-logo.svg
  static/img/sponsors/light/legalnature-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

feat: add legal nature sponsor (#1130)
  components/templates/home/HomeSponsors.vue
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/legalnature-logo.svg
  static/img/sponsors/light/legalnature-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

feat: add legal nature sponsor (#1130)
  components/templates/home/HomeSponsors.vue
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): lock file maintenance
  yarn.lock
Due: none

docs(en) Proposed changes `addPlugin` API (#1067)
  content/en/guides/internals-glossary/internals-module-container.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: chinese examples
  README.md
  pages/examples/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: chinese examples (#1131)
  README.md
  pages/examples/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

update translation：content/zh/guides/get-start (#1116)
  content/zh/guides/get-started/commands.md
  content/zh/guides/get-started/conclusion.md
  content/zh/guides/get-started/directory-structure.md
  content/zh/guides/get-started/installation.md
  content/zh/guides/get-started/routing.md
  content/zh/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

add missing quotes to target property hints values (#1125)
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add documentation for `fetchKey` (#1087)
  content/en/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: example slug
  pages/examples/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(tr): translate guides/components-glossary (#1082)
  content/tr/guides/components-glossary/pages-fetch.md
  content/tr/guides/components-glossary/pages-head.md
  content/tr/guides/components-glossary/pages-key.md
  content/tr/guides/components-glossary/pages-layout.md
  content/tr/guides/components-glossary/pages-loading.md
  content/tr/guides/components-glossary/pages-middleware.md
  content/tr/guides/components-glossary/pages-scrolltotop.md
  content/tr/guides/components-glossary/pages-transition.md
  content/tr/guides/components-glossary/pages-validate.md
  content/tr/guides/components-glossary/pages-watchquery.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: fallback for index page
  pages/examples/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

Fix chinese examples (#1132)
  pages/examples/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fixes, was updated to the actual content of pages-fetch.md
  content/ru/guides/components-glossary/pages-fetch.md
  content/ru/guides/components-glossary/pages-key.md
Due: yarn lint:prettier, yarn lint:markdownlint
