Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: remove old examples slug
  pages/examples/-slug-copy.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: rename images folder (#936)
  content/en/guides/concepts/context-helpers.md
  content/en/guides/concepts/nuxt-lifecycle.md
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/content.md
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/plugins.md
  content/es/guides/concepts/context-helpers.md
  content/es/guides/concepts/nuxt-lifecycle.md
  content/es/guides/directory-structure/components.md
  content/es/guides/directory-structure/content.md
  content/es/guides/directory-structure/modules.md
  content/es/guides/directory-structure/plugins.md
  content/id/guides/concepts/context-helpers.md
  content/id/guides/concepts/nuxt-lifecycle.md
  content/id/guides/directory-structure/plugins.md
  content/ko/guides/concepts/context-helpers.md
  content/pt/guides/concepts/context-helpers.md
  content/pt/guides/concepts/nuxt-lifecycle.md
  content/pt/guides/directory-structure/components.md
  content/pt/guides/directory-structure/content.md
  content/pt/guides/directory-structure/modules.md
  content/pt/guides/directory-structure/plugins.md
  static/docs/2.x/components.png
  static/docs/2.x/context.svg
  static/docs/2.x/modules.jpg
  static/docs/2.x/nuxt-content.svg
  static/docs/2.x/nuxt-lifecycle.svg
  static/docs/2.x/plugins.jpg
  static/docs/2.x/plugins.svg
  static/docs/2.x/views.png
Due: yarn lint:prettier, yarn lint:markdownlint

fix: rename images folder (#936)
  content/en/guides/concepts/context-helpers.md
  content/en/guides/concepts/nuxt-lifecycle.md
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/content.md
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/plugins.md
  content/es/guides/concepts/context-helpers.md
  content/es/guides/concepts/nuxt-lifecycle.md
  content/es/guides/directory-structure/components.md
  content/es/guides/directory-structure/content.md
  content/es/guides/directory-structure/modules.md
  content/es/guides/directory-structure/plugins.md
  content/id/guides/concepts/context-helpers.md
  content/id/guides/concepts/nuxt-lifecycle.md
  content/id/guides/directory-structure/plugins.md
  content/ko/guides/concepts/context-helpers.md
  content/pt/guides/concepts/context-helpers.md
  content/pt/guides/concepts/nuxt-lifecycle.md
  content/pt/guides/directory-structure/components.md
  content/pt/guides/directory-structure/content.md
  content/pt/guides/directory-structure/modules.md
  content/pt/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: default param for slug
  pages/examples/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: ordering
  content/en/examples/anonymous-middleware.md
  content/en/examples/assets.md
  content/en/examples/client-only-plugins.md
  content/en/examples/components.md
  content/en/examples/context.md
  content/en/examples/custom-plugins.md
  content/en/examples/data-fetching.md
  content/en/examples/dynamic_pages.md
  content/en/examples/external-packages-plugin.md
  content/en/examples/helpers.md
  content/en/examples/host-port.md
  content/en/examples/i18n.md
  content/en/examples/layouts.md
  content/en/examples/loading.md
  content/en/examples/modules.md
  content/en/examples/named-middleware.md
  content/en/examples/nuxt-child.md
  content/en/examples/nuxt-config.md
  content/en/examples/nuxt-link-classes.md
  content/en/examples/pre-processors.md
  content/en/examples/router-middleware.md
  content/en/examples/seo-html-head.md
  content/en/examples/static-folder.md
  content/en/examples/static-site-generation.md
  content/en/examples/transitions.md
  content/en/examples/vue-plugins.md
  content/en/examples/vuex-store.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: cat for auth
  content/en/faq/auth-routes.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ja/guides/directory-structure/pages.md
  content/ja/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-modules
  content/ja/guides/configuration-glossary/configuration-modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix content/ja/guides/concepts/views.md
  content/ja/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update context.md
  content/ja/guides/internals-glossary/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: Typo footer section About -> Help
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier

chore: add banner
  components/organisms/MasteringNuxtBanner.vue
  components/templates/TheHeader.vue
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: Banner Final Version
  components/organisms/MasteringNuxtBanner.vue
  components/templates/TheHeader.vue
  i18n/en-US.js
  tailwind.config.js
Due: yarn lint:eslint, yarn lint:prettier

update: reverse-shadow & links utms
  components/organisms/MasteringNuxtBanner.vue
  i18n/en-US.js
  tailwind.config.js
Due: yarn lint:eslint, yarn lint:prettier

Add missing state parameter to toggle mutation
  content/en/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

update: Add section about nuxt webpack command
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

initClientOnlyComp usable without modifications
  content/en/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add components to global folder for markdown components and fix broken tests due to banner
  components/global/AppModal.vue
  components/global/BarChartCacheBuild.vue
  components/global/BaseAlert.vue
  components/global/CodeBlock.vue
  components/global/CodeGroup.vue
  components/global/CodeSandbox.vue
  components/global/LazyAppCodeSandbox.vue
  components/global/Quiz.vue
  cypress/integration/modal-image.spec.js
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

fix: add components to global folder for markdown components and fix broken tests due to banner (#944)
  components/global/AppModal.vue
  components/global/BarChartCacheBuild.vue
  components/global/BaseAlert.vue
  components/global/CodeBlock.vue
  components/global/CodeGroup.vue
  components/global/CodeSandbox.vue
  components/global/LazyAppCodeSandbox.vue
  components/global/Quiz.vue
  cypress/integration/modal-image.spec.js
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

docs(i18n-id): Provide Indonesian translation for interals, builder, and generator
  content/id/guides/internals-glossary/internals-builder.md
  content/id/guides/internals-glossary/internals-generator.md
  content/id/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update footer with footer condensed
  components/organisms/NewsletterFormNew.vue
  components/templates/TheFooterCondensed.vue
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: update
  components/templates/TheFooterCondensed.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency sass to ^1.29.0
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(i18n-id): Remove backticks for meta tags and fixed some misspellings
  content/id/guides/internals-glossary/internals-builder.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(i18n-id): Remove inconsistent spacing between paragraphs
  content/id/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(i18n-id): Rephrase some translation
  content/id/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

update banner colors
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

Banner clickable
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: broken link to runtime config
  content/en/guides/configuration-glossary/configuration-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
