Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

sync contents from #1751
  content/fr/docs/4.directory-structure/3.components.md
  content/ja/docs/4.directory-structure/3.components.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate
  content/fr/docs/4.directory-structure/3.components.md
  content/ja/docs/4.directory-structure/3.components.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate https://github.com/nuxt/nuxtjs.org/commit/740d8b39a87bd41abe9b190d7d11e6c0055b9997
  content/ja/docs/5.configuration-glossary/9.configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate #1807
  content/ja/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate
  content/ja/docs/1.get-started/1.installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

sync contents #1788
  content/ja/docs/3.features/2.deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

translations
  content/fr/docs/4.directory-structure/9.pages.md
  content/ja/docs/4.directory-structure/9.pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(docs): update features > configuration (#1809)
  content/en/docs/3.features/6.configuration.md
  content/fr/docs/3.features/6.configuration.md
  content/ja/docs/3.features/6.configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: updated untranslated files with official en docs
  content/pt/_collections/navigations/header.md
  content/pt/_collections/testimonials/index.md
  content/pt/case-studies/0.github.md
  content/pt/case-studies/1.livementor.md
  content/pt/case-studies/2.stores.md
  content/pt/case-studies/3.parent-scheme.md
  content/pt/case-studies/4.line.md
  content/pt/case-studies/5.404-place-vendome.md
  content/pt/case-studies/6.komercia.md
  content/pt/docs/3.features/2.deployment-targets.md
  content/pt/docs/3.features/6.configuration.md
  content/pt/docs/4.directory-structure/3.components.md
  content/pt/docs/4.directory-structure/9.pages.md
  content/pt/docs/5.configuration-glossary/6.configuration-components.md
  content/pt/docs/5.configuration-glossary/9.configuration-env.md
  content/pt/integrations/deployments/nginx.md
  content/pt/showcases/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: update Learn section text and CTA
  content/en/index.md
  content/fr/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(configuration-css): yarn add sass
  content/en/docs/5.configuration-glossary/5.configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add yarn install command for `sass` (#1812)
  content/en/docs/5.configuration-glossary/5.configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix several docs
  content/fr/docs/4.directory-structure/3.components.md
  content/fr/docs/4.directory-structure/9.pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(docs): PT add video create-nuxt-app
  content/pt/docs/1.get-started/1.installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 1.installation.md
  content/pt/docs/1.get-started/1.installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 4.commands.md
  content/pt/docs/1.get-started/4.commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: ja contents translation and latest contents syncing (#1810)
  content/fr/docs/4.directory-structure/3.components.md
  content/fr/docs/4.directory-structure/9.pages.md
  content/ja/_collections/navigations/header.md
  content/ja/docs/1.get-started/1.installation.md
  content/ja/docs/3.features/2.deployment-targets.md
  content/ja/docs/4.directory-structure/3.components.md
  content/ja/docs/4.directory-structure/9.pages.md
  content/ja/docs/5.configuration-glossary/6.configuration-components.md
  content/ja/docs/5.configuration-glossary/9.configuration-env.md
  content/ja/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(docs): PT typos (#1813)
  content/pt/docs/1.get-started/1.installation.md
  content/pt/docs/1.get-started/4.commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update Learn section text and CTA (#1811)
  content/en/index.md
  content/fr/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

continue working on ar lang
  i18n/ar-AR.js
Due: yarn lint:eslint, yarn lint:prettier

:bento: (header) icons dropdown
  static/img/header/community/announcements.svg
  static/img/header/community/events.svg
  static/img/header/community/releases.svg
  static/img/header/community/sponsors.svg
  static/img/header/community/teams.svg
  static/img/header/community/tweets.svg
  static/img/header/discover/case-studies.svg
  static/img/header/discover/showacses.svg
  static/img/header/discover/testimonials.svg
  static/img/header/explore/deployments.svg
  static/img/header/explore/modules.svg
  static/img/header/explore/themes.svg
  static/img/header/explore/video-courses.svg
  static/img/header/learn/docs.svg
  static/img/header/learn/examples.svg
  static/img/header/learn/master-courses.svg
  static/img/header/learn/tutorials.svg
Due: none

:bento: (header) move assets
  static/img/header/community/tutorials.svg
  static/img/header/discover/showcases.svg
  static/img/header/explore/integrations.svg
  static/img/header/learn/releases.svg
Due: none

:pencil: (header) add subtitle and icon
  content/en/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

:construction: (header) update
  components/atoms/links/HeaderNavigationLink.vue
  components/molecules/HeaderDropdown.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(content): fix EN doc + update localised doc
  content/en/docs/5.configuration-glossary/5.configuration-css.md
  content/fr/docs/5.configuration-glossary/5.configuration-css.md
  content/ja/docs/5.configuration-glossary/5.configuration-css.md
  content/pt/docs/5.configuration-glossary/5.configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(content): fix EN doc + update localised doc (#1814)
  content/en/docs/5.configuration-glossary/5.configuration-css.md
  content/fr/docs/5.configuration-glossary/5.configuration-css.md
  content/ja/docs/5.configuration-glossary/5.configuration-css.md
  content/pt/docs/5.configuration-glossary/5.configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

:construction: (HeaderDropdown) update dropdown header
  components/atoms/links/HeaderNavigationLink.vue
  components/atoms/selects/Dropdown.vue
  components/molecules/HeaderDropdown.vue
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (header) update content
  content/en/_collections/navigations/header.md
  content/en/docs/5.configuration-glossary/5.configuration-css.md
  content/fr/_collections/navigations/header.md
  content/ja/_collections/navigations/header.md
  content/pt/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(Modules): blink / fetch client slide
  components/organisms/asides/AsideModules.vue
  components/organisms/lists/ModulesListing.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (header) add icon colors class
  content/en/_collections/navigations/header.md
  content/fr/_collections/navigations/header.md
  content/ja/_collections/navigations/header.md
  content/pt/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

:wrench: (windi.config) add colors
  windi.config.js
Due: yarn lint:eslint, yarn lint:prettier

:bento: (header) update img
  static/img/header/announcements.svg
  static/img/header/case-studies.svg
  static/img/header/community/announcements.svg
  static/img/header/community/events.svg
  static/img/header/community/sponsors.svg
  static/img/header/community/teams.svg
  static/img/header/community/tutorials.svg
  static/img/header/community/tweets.svg
  static/img/header/discover/case-studies.svg
  static/img/header/discover/showcases.svg
  static/img/header/discover/testimonials.svg
  static/img/header/docs.svg
  static/img/header/events.svg
  static/img/header/examples.svg
  static/img/header/explore/integrations.svg
  static/img/header/explore/modules.svg
  static/img/header/explore/themes.svg
  static/img/header/explore/video-courses.svg
  static/img/header/integrations.svg
  static/img/header/learn/docs.svg
  static/img/header/learn/examples.svg
  static/img/header/learn/master-courses.svg
  static/img/header/learn/releases.svg
  static/img/header/master-courses.svg
  static/img/header/modules.svg
  static/img/header/releases.svg
  static/img/header/showcases.svg
  static/img/header/sponsors.svg
  static/img/header/teams.svg
  static/img/header/testimonials.svg
  static/img/header/themes.svg
  static/img/header/tutorials.svg
  static/img/header/tweets.svg
  static/img/header/video-courses.svg
Due: none

:sparkles: (HeaderItemDropdown) force darkmode on home and refacto icons
  components/molecules/HeaderDropdown.vue
  components/molecules/HeaderItemDropdown.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (AppHeader) force darkmode on home for dropdown items
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier
