Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat(ColorSwitcher): hide on homepage
  components/theme/app/AppAside.vue
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

Create LICENSE
  LICENSE
Due: none

fix: redirects URLs
  static/_redirects
Due: none

fix: icons design
  components/organisms/heroes/SponsorsHero.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: add robots.txt
  static/robots.txt
Due: none

fix(Banner): cut off on small screens
  components/organisms/home/HomeHero.vue
  components/theme/app/AppBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (app) fix dark color home on locale languages
  components/atoms/selects/Dropdown.vue
  components/molecules/forms/ColorSwitcher.vue
  components/molecules/forms/LangSwitcher.vue
  components/organisms/home/HomeFeatures.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AsideHeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (home) fr content home and add events collections on another lang
  content/fr/_collections/events/2019.md
  content/fr/_collections/events/2020.md
  content/fr/_collections/events/2021.md
  content/fr/_collections/events/index.md
  content/fr/index.md
  content/ja/_collections/events/2019.md
  content/ja/_collections/events/2020.md
  content/ja/_collections/events/2021.md
  content/ja/_collections/events/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:fire: remove console.log
  components/organisms/home/HomeCampfire.vue
  components/organisms/lists/PartnersBanner.vue
  components/templates/Post.vue
Due: yarn lint:eslint, yarn lint:prettier

update: LICENSE to CC BY-ND
  LICENSE
Due: none

feat(HomeHero): Nuxt init button copy to clipboard
  components/organisms/home/HomeHero.vue
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

chore: add gtag
  nuxt.config.ts
  plugins/gtag.client.js
Due: yarn lint:eslint, yarn lint:prettier

fix(Releases): disable aside
  content/en/releases/index.md
  content/fr/releases/index.md
  content/ja/releases/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(Releases): padding & divider
  components/theme/Releases.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: remove videos and add online playground buttons
  components/atoms/buttons/ButtonLink.vue
  content/en/docs/1.get-started/1.installation.md
  content/en/docs/1.get-started/2.routing.md
  content/en/docs/1.get-started/4.commands.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: remove `min-h-fill-available` on AsideShowcases & AsideModules for Safari support
  components/organisms/asides/AsideModules.vue
  components/organisms/asides/AsideShowcases.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(design): releases
  components/templates/Releases.vue
  content/en/releases/index.md
  content/fr/releases/index.md
  content/ja/releases/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix(HomeHero): Section buttons on columns on xs screens
  components/organisms/home/HomeHero.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(Showcases): groups & showcases order
  components/organisms/lists/ShowcasesListing.vue
  plugins/showcases.js
Due: yarn lint:eslint, yarn lint:prettier

chore: update error page
  components/theme/Error.vue
  static/img/error/bg-error_desktop.svg
  static/img/error/bg-error_mobile.svg
  static/img/error/bg-error_tablet.svg
Due: yarn lint:eslint, yarn lint:prettier

chore: fix modules fallback icon
  components/molecules/cards/ModulesCard.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(PartnersBanner): link
  components/organisms/lists/PartnersBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (HomeFeatures) colors
  components/organisms/home/HomeFeatures.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (PartnersBanner) add full logo
  components/organisms/lists/PartnersBanner.vue
  content/en/index.md
  content/en/partners/0.netlify.md
  content/en/partners/1.vercel.md
  content/en/partners/2.layer-0.md
  content/en/partners/3.storyblok.md
  content/en/partners/4.swell.md
  content/en/partners/5.ship-shape.md
  content/en/partners/6.64robots.md
  content/fr/_navigation/header.md
  content/fr/index.md
  content/fr/partners/0.netlify.md
  content/fr/partners/1.vercel.md
  content/fr/partners/2.layer-0.md
  content/fr/partners/3.storyblok.md
  content/fr/partners/4.swell.md
  content/fr/partners/5.ship-shape.md
  content/fr/partners/6.64robots.md
  content/fr/partners/index.md
  content/ja/_index_old.md
  content/ja/_navigation/header.md
  content/ja/index.md
  content/ja/partners/0.netlify.md
  content/ja/partners/1.vercel.md
  content/ja/partners/2.layer-0.md
  content/ja/partners/3.storyblok.md
  content/ja/partners/4.swell.md
  content/ja/partners/5.ship-shape.md
  content/ja/partners/6.64robots.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore(lint): clean code
  components/organisms/lists/ShowcasesListing.vue
  components/organisms/lists/SponsorsBlock.vue
  components/templates/Guide.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: path checks
  components/atoms/Logo.vue
  components/theme/app/AppAside.vue
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: improve v3 page
  content/en/v3/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix component name
  content/en/v3/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (integrations) vercel dark and light logo
  content/en/integrations/deployments/0.vercel.md
  content/fr/integrations/deployments/0.vercel.md
  content/ja/integrations/deployments/0.vercel.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: translation ja
  content/ja/announcements/index.md
  content/ja/tutorials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

correct grammatical errors in installation.md
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: add basic readme
  .github/logo.svg
  LICENSE.md
  README.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(releases): translation
  components/templates/Releases.vue
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

:globe_with_meridians: (content/fr) fr translation
  content/fr/announcements/index.md
  content/fr/events/index.md
  content/fr/integrations/index.md
  content/fr/releases/index.md
  content/fr/showcases/index.md
  content/fr/sponsors/index.md
  content/fr/tutorials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: mvp sponsors bug fr & ja
  content/fr/_collections/sponsors/mvp/chrome.md
  content/ja/_collections/sponsors/mvp/chrome.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: translation fr
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

:fire: (PagePrevNext) remove page prev next on docs
  components/theme/app/PagePrevNext.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(examples): container bug
  content/fr/examples/index.md
  content/ja/examples/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: translation en/fr
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
