Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

fix: missing team.md on /en and broken github images profil (#55)
  components/organisms/team/TeamSection.vue
  content/en/team.md
  nuxt.config.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: use i18n on query to fetch only current language (#53)
  components/organisms/blog/BlogpostList.vue
  components/organisms/home/HomeCampfire.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: translate community section to fr (#56)
  content/fr/teams/2.community.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: missing localePath (#57)
  components/atoms/Logo.vue
  components/organisms/resources/ResourcesList.vue
  components/organisms/section/SectionContentItem.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: translate aside nav to fr (#58)
  content/fr/0.docs/1.get-started/index.md
  content/fr/0.docs/3.features/index.md
  content/fr/0.docs/4.directory-structure/index.md
  content/fr/0.docs/5.configuration-glossary/index.md
  content/fr/0.docs/6.internals-glossary/index.md
  content/fr/0.docs/7.components-glossary/index.md
  content/fr/0.docs/8.deployment/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:wrench: (nuxt.config) add locales for translation (#59)
  nuxt.config.ts
Due: none

feat: nuxt 3 header banner (#43)
  components/atoms/HeaderNuxt3Banner.vue
  components/organisms/PageMobileToc.vue
  components/organisms/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: nuxt 3 header banner (#43)
  components/atoms/HeaderNuxt3Banner.vue
  components/organisms/PageMobileToc.vue
  components/organisms/app/AppHeader.vue
  static/img/banner/Nuxt3_Banner.png
  static/img/banner/banner-nuxt3.png
Due: yarn lint:eslint, yarn lint:prettier

:bug: (header) fix merge conflicts
  components/atoms/Logo.vue
  components/organisms/PageMobileToc.vue
  components/organisms/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (Header Logo) fix links to home and design-kit (#60)
  components/atoms/Logo.vue
  components/organisms/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: releases page container (#61)
  components/organisms/app/AppPage.vue
  content/en/releases.md
  content/fr/releases.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:wrench: (package.json) upgrade docus version
  package.json
Due: yarn lint:prettier

:ambulance: (AppPage) remove horizontal overflow wip
  components/organisms/app/AppPage.vue
Due: yarn lint:eslint, yarn lint:prettier

fix:version-ads-background (#62)
  components/molecules/ads/AdsFallback.vue
  components/organisms/app/AsideBottom.vue
Due: yarn lint:eslint, yarn lint:prettier

fix:button-missing-fr (#63)
  components/organisms/app/AsideBottom.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: partners banner - duplicate partners and missing width (#64)
  components/molecules/PartnersBanner.vue
  components/organisms/home/HomeDiscoverPartners.vue
Due: yarn lint:eslint, yarn lint:prettier

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

docs(ru): Features section (#1450)
  content/ru/guides/features/configuration.md
  content/ru/guides/features/data-fetching.md
  content/ru/guides/features/file-system-routing.md
  content/ru/guides/features/loading.md
  content/ru/guides/features/meta-tags-seo.md
  content/ru/guides/features/nuxt-components.md
  content/ru/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: refacto team section for title styling (works for all language) (#66)
  components/organisms/team/TeamSection.vue
  components/organisms/team/TeamTitle.vue
  content/en/team.md
  content/en/teams/2.community.md
  content/fr/team.md
  content/fr/teams/2.community.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: add vercel as sponsor (#68)
  components/molecules/PartnersBanner.vue
  content/en/sponsors/mvp-partners/3.vercel.md
  content/fr/sponsors/mvp-partners/3.vercel.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chores: bump docus version to 0.8.11 (#67)
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: banner (#65)
  assets/nuxt.css
  components/atoms/NuxtBanner.vue
  components/organisms/PageMobileToc.vue
  components/organisms/app/AppBanner.vue
  components/organisms/app/AppHeader.vue
  components/organisms/app/AppPage.vue
  docus.config.ts
  nuxt.config.ts
Due: yarn lint:eslint, yarn lint:prettier
