Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

translate 8.deployment/19.platformsh.md
  content/ja/0.docs/8.deployment/19.platformsh.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 8.deployment/20.pm2.md
  content/ja/0.docs/8.deployment/20.pm2.md
Due: yarn lint:prettier, yarn lint:markdownlint

translat 8.deployment/21.qovery.md
  content/ja/0.docs/8.deployment/21.qovery.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 8.deployment/22.surge.md
  content/ja/0.docs/8.deployment/22.surge.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 8.deployment/23.vercel.md
  content/ja/0.docs/8.deployment/23.vercel.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 8.deployment/24.cloudflare.md
  content/ja/0.docs/8.deployment/24.cloudflare.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 8.deployment/25.Stormkitio.md
  content/ja/0.docs/8.deployment/25.Stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translation preview (#1648)
  content/fr/0.docs/4.directory-structure/8.modules.md
  content/fr/0.docs/5.configuration-glossary/20.configuration-modules.md
  content/ja/0.docs/4.directory-structure/8.modules.md
  content/ja/0.docs/5.configuration-glossary/20.configuration-modules.md
  content/ja/0.docs/8.deployment/1.21yunbox.md
  content/ja/0.docs/8.deployment/10.github-pages.md
  content/ja/0.docs/8.deployment/11.google-appengine.md
  content/ja/0.docs/8.deployment/12.google-cloud-run.md
  content/ja/0.docs/8.deployment/13.heroku.md
  content/ja/0.docs/8.deployment/14.hostman.md
  content/ja/0.docs/8.deployment/15.koyeb.md
  content/ja/0.docs/8.deployment/16.layer0.md
  content/ja/0.docs/8.deployment/17.netlify.md
  content/ja/0.docs/8.deployment/18.nginx.md
  content/ja/0.docs/8.deployment/19.platformsh.md
  content/ja/0.docs/8.deployment/2.amazon-web-services.md
  content/ja/0.docs/8.deployment/20.pm2.md
  content/ja/0.docs/8.deployment/21.qovery.md
  content/ja/0.docs/8.deployment/22.surge.md
  content/ja/0.docs/8.deployment/23.vercel.md
  content/ja/0.docs/8.deployment/24.cloudflare.md
  content/ja/0.docs/8.deployment/25.Stormkitio.md
  content/ja/0.docs/8.deployment/3.azure-portal.md
  content/ja/0.docs/8.deployment/4.azure-static-web-apps.md
  content/ja/0.docs/8.deployment/5.bip.md
  content/ja/0.docs/8.deployment/6.cleavr.md
  content/ja/0.docs/8.deployment/7.do-app-platform.md
  content/ja/0.docs/8.deployment/8.dokku.md
  content/ja/0.docs/8.deployment/9.fume.md
  content/ja/0.docs/8.deployment/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): preview translation
  components/organisms/showcases/AsideShowcases.vue
  components/organisms/showcases/ShowcasesListing.vue
  content/fr/showcases.md
  content/ja/showcases.md
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

translate banner
  components/organisms/app/AppBanner.vue
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

docs: add StackBlitz online demo link to homepage fix data-cy typo
  components/templates/home/Why.vue
Due: yarn lint:eslint, yarn lint:prettier

sync from nuxt 2.x docs
  content/en/0.docs/4.directory-structure/3.components.md
  content/ja/0.docs/4.directory-structure/3.components.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/3.components.md
  content/ja/0.docs/4.directory-structure/3.components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add StackBlitz online demo link to homepage (#1651)
  components/templates/home/Why.vue
  cypress/integration/home.spec.js
Due: yarn lint:eslint, yarn lint:prettier

feat(adding persian translation fordirectory-structure section.): adding persian translation for
  content/fa/guides/directory-structure/assets.md
  content/fa/guides/directory-structure/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): more preview translation (#1653)
  components/organisms/app/AppBanner.vue
  components/organisms/showcases/AsideShowcases.vue
  components/organisms/showcases/ShowcasesListing.vue
  content/en/0.docs/4.directory-structure/3.components.md
  content/fr/showcases.md
  content/ja/0.docs/4.directory-structure/3.components.md
  content/ja/showcases.md
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore(lighthouse): first pass of optimisations
  components/molecules/ModulesCard.vue
  components/molecules/ads/AdsCarbon.vue
  components/molecules/footer/FooterFoot.vue
  components/molecules/footer/FooterLink.vue
  components/molecules/footer/FooterNewsLetter.vue
  components/molecules/footer/FooterSocialLinks.vue
  components/organisms/ContentCardTemplate.vue
  components/organisms/app/AppFooter.vue
  components/organisms/app/AppHeader.vue
  components/organisms/blog/BlogpostList.vue
  components/organisms/home/HomeTestimonials.vue
  components/organisms/modules/ModulesListing.vue
  components/organisms/showcases/ShowcasesCard.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(lighthouse): first pass of optimisations (#1655)
  components/molecules/ModulesCard.vue
  components/molecules/ads/AdsCarbon.vue
  components/molecules/footer/FooterFoot.vue
  components/molecules/footer/FooterLink.vue
  components/molecules/footer/FooterNewsLetter.vue
  components/molecules/footer/FooterSocialLinks.vue
  components/organisms/ContentCardTemplate.vue
  components/organisms/app/AppFooter.vue
  components/organisms/app/AppHeader.vue
  components/organisms/blog/BlogpostList.vue
  components/organisms/home/HomeTestimonials.vue
  components/organisms/modules/ModulesListing.vue
  components/organisms/showcases/ShowcasesCard.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: add options usage to example (#1619)
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add options usage to example
  content/.new/.1.learn/1.usage/7.modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix typo
  content/fr/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: Fix typo (#1657)
  content/fr/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

:construction: (support) add composable and reCaptcha
  components/molecules/support/SupportForm.vue
  i18n/en-US.js
  nuxt.config.ts
  package.json
  plugins/technicalSupportForm.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

:bento: (Logo) update logo
  components/atoms/Logo.vue
Due: yarn lint:eslint, yarn lint:prettier

:lipstick: (Logo) update logo height
  components/organisms/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

patch v2 to patch v8
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix ColorModeSelector translation
  components/molecules/footer/FooterColorModeSelector.vue
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

add HeaderActions
  components/organisms/app/AppHeader.vue
  components/organisms/app/HeaderActions.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: remove duplicate sponsor referrals
  content/sponsors.js
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): tweak ja docs translation
  content/ja/0.docs/index.md
  content/ja/1.examples/index.md
  content/ja/2.blog/index.md
  content/ja/3.resources/index.md
  content/ja/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate(ja): deployment/deployment-platformsh
  content/ja/guides/deployment/deployment-platformsh.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (design) update content
  content/en/design-kit/1.logos.md
  content/en/design-kit/colors.md
  content/en/design-kit/logos.md
  content/en/design-kit/monogram.md
  content/en/design.md
  content/ja/design-kit/1.logos.md
  static/design-kit/black-text.png
  static/design-kit/black-text.svg
  static/design-kit/colored-text.png
  static/design-kit/colored-text.svg
  static/design-kit/colored-white-text.png
  static/design-kit/colored-white-text.svg
  static/design-kit/white-text.png
  static/design-kit/white-text.svg
Due: yarn lint:prettier, yarn lint:markdownlint

:sparkles: (design) update components
  components/organisms/design/DesignLogos.vue
  components/organisms/design/DesignSection.vue
  components/organisms/design/DesignSections.vue
Due: yarn lint:eslint, yarn lint:prettier

:bento: (logo) update assets with new logo
  static/design-kit/black-logo.png
  static/design-kit/black-logo.svg
  static/design-kit/black-text.png
  static/design-kit/colored-logo.png
  static/design-kit/colored-logo.svg
  static/design-kit/colored-text.png
  static/design-kit/colored-white-logo.png
  static/design-kit/colored-white-logo.svg
  static/design-kit/colored-white-text.png
  static/design-kit/mono-logo.png
  static/design-kit/mono-logo.svg
  static/design-kit/white-logo.png
  static/design-kit/white-logo.svg
  static/design-kit/white-text.png
Due: none

:pencil: (design) update content
  content/fr/design-kit/colors.md
  content/fr/design-kit/logos.md
  content/fr/design-kit/monogram.md
  content/ja/design-kit/colors.md
  content/ja/design-kit/logos.md
  content/ja/design-kit/monogram.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (design) update fr and jap content
  content/fr/design.md
  content/ja/design.md
Due: yarn lint:prettier, yarn lint:markdownlint

:globe_with_meridians: (fr) fix back button translation: 'Dos' to 'Retour'
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

:bento: (resources) replace assets
  static/img/resources/themes.jpg
  static/img/resources/themes.png
  static/img/themes/argon_dashboard_pro.jpg
  static/img/themes/argon_dashboard_pro.png
  static/img/themes/argon_dashboard_pro_laravel.jpg
  static/img/themes/argon_dashboard_pro_laravel.png
  static/img/themes/nuxt_black_dashboard_pro.jpg
  static/img/themes/nuxt_black_dashboard_pro.png
  static/img/themes/nuxt_now_ui_kit.jpg
  static/img/themes/nuxt_now_ui_kit.png
  static/img/themes/scutum_dashboard.jpg
  static/img/themes/scutum_dashboard.png
Due: none

:pencil: (ressources) update assets path
  content/en/3.resources/index.md
  content/en/3.resources/themes.md
  content/fr/3.resources/index.md
  content/fr/3.resources/themes.md
  content/ja/3.resources/index.md
  content/ja/3.resources/themes.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bento: (video-courses) replace assets
  static/img/video-courses/jamstack_explorer.png
  static/img/video-courses/learn_nuxt_with_debbie.png
  static/img/video-courses/news_app.png
  static/img/video-courses/vuejs_on_steroids.png
Due: none

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
