Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs: update renderAndGetWindow example (#1262)
  content/en/guides/internals-glossary/nuxt-render-and-get-window.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: fix components naming
  components/organisms/AdsBlock.vue
  components/organisms/AppContribute.vue
  components/organisms/NewsletterForm.vue
  components/organisms/ads/Carbon.vue
  components/organisms/ads/CarbonText.vue
  components/organisms/ads/CodeFund.vue
  content/id/guides/internals-glossary/context.md
  pages/examples/_slug.vue
  pages/faq/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update nginx-proxy.md
  content/en/guides/deployment/nginx-proxy.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update creating-a-nuxt-module.md
  content/en/blog/creating-a-nuxt-module.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): added translation to nuxt-config.md
  content/id/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): improve translation to nuxt-config.md
  content/id/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update nested directory components
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update missing typo
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(generate): add nojekyll option in generator
  content/en/_archives/api/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/_archives/api/configuration-generate.md
  content/en/_archives/api/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

add option to active document
  content/en/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update AdsBlock.vue
  components/organisms/AdsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove recursive component reference in `<AdsBlock>` (#1281)
  components/organisms/AdsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency eslint-config-prettier to v8
  package.json
  yarn.lock
Due: yarn lint:prettier

update: i18n fr-FR
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

docs(fr): add guides/deployment files
  content/fr/guides/deployment/appengine-deployment.md
  content/fr/guides/deployment/bip-deployment.md
  content/fr/guides/deployment/cleavr-deployment.md
  content/fr/guides/deployment/deploy-on-moovweb.md
  content/fr/guides/deployment/deploying-to-21yunbox.md
  content/fr/guides/deployment/deploying-to-do-app-platform.md
  content/fr/guides/deployment/deployment-amazon-web-services.md
  content/fr/guides/deployment/deployment-azure-portal.md
  content/fr/guides/deployment/deployment-azure-static-web-apps.md
  content/fr/guides/deployment/deployment-cloud-run.md
  content/fr/guides/deployment/deployment-platformsh.md
  content/fr/guides/deployment/deployment-pm2.md
  content/fr/guides/deployment/dokku-deployment.md
  content/fr/guides/deployment/github-pages.md
  content/fr/guides/deployment/heroku-deployment.md
  content/fr/guides/deployment/netlify-deployment.md
  content/fr/guides/deployment/nginx-proxy.md
  content/fr/guides/deployment/surge-deployment.md
  content/fr/guides/deployment/using-nuxt-with-cloudflare.md
  content/fr/guides/deployment/vercel-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): translate guides/deployment/vercel
  content/fr/guides/deployment/vercel-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): translate guides/deployment/netlify
  content/fr/guides/deployment/netlify-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): translate configuration-glossary/alias
  content/fr/guides/configuration-glossary/configuration-alias.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): update guides (english February commits)
  content/fr/guides/configuration-glossary/configuration-build.md
  content/fr/guides/directory-structure/assets.md
  content/fr/guides/features/file-system-routing.md
  content/fr/guides/features/live-preview.md
  content/fr/guides/get-started/commands.md
  content/fr/guides/internals-glossary/nuxt-render-and-get-window.md
Due: yarn lint:prettier, yarn lint:markdownlint

remove from archive
  content/en/_archives/api/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add videos
  content/en/guides/get-started/commands.md
  content/en/guides/get-started/installation.md
  content/en/guides/get-started/routing.md
  nuxt.config.js
  package.json
  pages/docs/2.x/_book/_slug.vue
  plugins/youtube.client.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update to reflect current behavior
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate nuxt-config.md section into Indonesia
  content/id/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix prefix sub folder
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): added translation to modules.md
  content/id/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

simplify more
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update components.md
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

update docs about nested directories components (#1279)
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/configuration-glossary/configuration-generate.md
  content/en/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

(docs) Update version and star count
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

feat: YouTube component and key
  components/global/YouTubeLite.vue
  content/en/guides/get-started/commands.md
  content/en/guides/get-started/installation.md
  content/en/guides/get-started/routing.md
  pages/docs/2.x/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

(docs) Update version and star count (#1289)
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

feat: add videos (#1285)
  components/global/YouTubeLite.vue
  content/en/guides/get-started/commands.md
  content/en/guides/get-started/installation.md
  content/en/guides/get-started/routing.md
  nuxt.config.js
  package.json
  pages/docs/2.x/_book/_slug.vue
  plugins/youtube.client.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint
