Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs(ja): translate configuration-css
  content/ja/guides/configuration-glossary/configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update conclusion.md
  content/ru/guides/get-started/conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(plugins): fix md in alert (#728)
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update data-fetching.md
  content/en/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update data-fetching.md (#738)
  content/en/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor: tailwind config & CarbonAds.vue css
  assets/css/tailwind.css
  components/partials/ads/CarbonAds.vue
  tailwind.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix "xs:" usage in templates
  components/TheCookieBox.vue
  components/global/bases/AppModal.vue
Due: yarn lint:eslint, yarn lint:prettier

fix AppModal close button margin
  components/global/bases/AppModal.vue
Due: yarn lint:eslint, yarn lint:prettier

Update content/ru/guides/get-started/conclusion.md
  content/ru/guides/get-started/conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update nuxt-components.md
  content/es/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Spanish translation
  content/es/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): lock file maintenance
  yarn.lock
Due: none

Update installation.md
  content/ru/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add sync upstream action
  .github/workflows/sync_upstream.yml
Due: none

Changed menu item of SSR config item (#727)
  content/en/guides/configuration-glossary/configuration-ssr.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency start-server-and-test to ^1.11.4
  package.json
  yarn.lock
Due: yarn lint:prettier

refactor: tailwind config & CarbonAds.vue css (#739)
  assets/css/tailwind.css
  components/TheCookieBox.vue
  components/global/bases/AppModal.vue
  components/partials/ads/CarbonAds.vue
  tailwind.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix: svg of 404 page is responsive now (#735)
  pages/404.vue
Due: yarn lint:eslint, yarn lint:prettier

Update going-full-static.md (#713)
  content/en/blog/going-full-static.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add fixes for configuration.md
  content/es/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

Comment again config es section.
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

Translate guides directory-structure pages to spanish :pencil: (#705)
  content/en/guides/directory-structure/content.md
  content/en/guides/directory-structure/store.md
  content/es/guides/directory-structure/content.md
  content/es/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translation to Spanish - Nuxt-components.md document (#694)
  content/es/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

[docs-id] Translate guides/features (#631)
  content/id/guides/features/configuration.md
  content/id/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint
