Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:sparkles: (ssr) SSR for modules
  components/molecules/ModulesCard.vue
  components/organisms/modules/ModulesListing.vue
  nuxt.config.ts
  plugins/fuse.js
  plugins/modules.js
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (modules) fix modules card html
  components/molecules/ModulesCard.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: add note on modules using plugins
  content/en/guides/configuration-glossary/configuration-modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/10.plugins.md
  content/ja/0.docs/4.directory-structure/10.plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/11.static.md
  content/ja/0.docs/4.directory-structure/11.static.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deployment-cloud-run
  content/ja/guides/deployment/deployment-cloud-run.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/12.store.md
  content/ja/0.docs/4.directory-structure/12.store.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: update header and resources content
  components/organisms/app/HeaderNavigation.vue
  content/en/3.resources/index.md
  i18n/en-US.js
  i18n/fr-FR.js
  static/img/resources/blog.png
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

rename title 'modules directory' to 'modules'
  content/en/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/13.nuxt-config.md
  content/ja/0.docs/4.directory-structure/13.nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: update header and resources content (#1624)
  components/organisms/app/HeaderNavigation.vue
  content/en/3.resources/index.md
  i18n/en-US.js
  i18n/fr-FR.js
  static/img/resources/blog.png
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(ja): translation preview (#1606)
  content/fr/3.resources/video-courses.md
  content/ja/0.docs/3.features/10.transitions.md
  content/ja/0.docs/3.features/11.live-preview.md
  content/ja/0.docs/3.features/5.meta-tags-seo.md
  content/ja/0.docs/3.features/6.configuration.md
  content/ja/0.docs/3.features/7.loading.md
  content/ja/0.docs/3.features/8.nuxt-components.md
  content/ja/0.docs/3.features/9.component-discovery.md
  content/ja/0.docs/4.directory-structure/1.nuxt.md
  content/ja/0.docs/4.directory-structure/10.plugins.md
  content/ja/0.docs/4.directory-structure/11.static.md
  content/ja/0.docs/4.directory-structure/12.store.md
  content/ja/0.docs/4.directory-structure/13.nuxt-config.md
  content/ja/0.docs/4.directory-structure/2.assets.md
  content/ja/0.docs/4.directory-structure/4.content.md
  content/ja/0.docs/4.directory-structure/5.dist.md
  content/ja/0.docs/4.directory-structure/6.layouts.md
  content/ja/0.docs/4.directory-structure/7.middleware.md
  content/ja/0.docs/4.directory-structure/8.modules.md
  content/ja/0.docs/4.directory-structure/9.pages.md
  content/ja/0.docs/4.directory-structure/index.md
  content/ja/3.resources/video-courses.md
Due: yarn lint:prettier, yarn lint:markdownlint

rename title 'modules directory' to 'modules' (#1625)
  content/en/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deployment-cloud-run (#1623)
  content/ja/guides/deployment/deployment-cloud-run.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate modules page
  components/organisms/modules/ModulesListing.vue
  content/ja/3.resources/index.md
  content/ja/modules.md
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/1.configuration-alias.md
  content/ja/0.docs/5.configuration-glossary/1.configuration-alias.md
  content/ja/0.docs/5.configuration-glossary/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

tweaks
  content/ja/0.docs/3.features/8.nuxt-components.md
  content/ja/0.docs/5.configuration-glossary/1.configuration-alias.md
  content/ja/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/2.configuration-build.md
  content/ja/0.docs/5.configuration-glossary/2.configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/3.configuration-builddir.md
  content/ja/0.docs/5.configuration-glossary/3.configuration-builddir.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/4.configuration-cli.md
  content/ja/0.docs/5.configuration-glossary/4.configuration-cli.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): preview translation (#1626)
  components/organisms/modules/ModulesListing.vue
  content/ja/0.docs/3.features/8.nuxt-components.md
  content/ja/0.docs/5.configuration-glossary/1.configuration-alias.md
  content/ja/0.docs/5.configuration-glossary/2.configuration-build.md
  content/ja/0.docs/5.configuration-glossary/3.configuration-builddir.md
  content/ja/0.docs/5.configuration-glossary/4.configuration-cli.md
  content/ja/0.docs/5.configuration-glossary/index.md
  content/ja/3.resources/index.md
  content/ja/index.md
  content/ja/modules.md
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Added Nuxt Nation banner for the September conference
  components/organisms/NuxtNationBanner.vue
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

fix markdown typo
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix markdown typo (#1628)
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update internals-module-container.md
  content/ja/guides/internals-glossary/internals-module-container.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/5.configuration-css.md
  content/ja/0.docs/5.configuration-glossary/5.configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/6.configuration-components.md
  content/ja/0.docs/5.configuration-glossary/6.configuration-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/7.configuration-dev.md
  content/ja/0.docs/5.configuration-glossary/7.configuration-dev.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/8.configuration-dir.md
  content/ja/0.docs/5.configuration-glossary/8.configuration-dir.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/10.configuration-extend-plugins.md
  content/ja/0.docs/5.configuration-glossary/10.configuration-extend-plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/9.configuration-env.md
  content/ja/0.docs/5.configuration-glossary/9.configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/11.configuration-generate.md
  content/ja/0.docs/5.configuration-glossary/11.configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/12.configuration-global-name.md
  content/ja/0.docs/5.configuration-glossary/12.configuration-global-name.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 5.configuration-glossary/13.configuration-head.md
  content/ja/0.docs/5.configuration-glossary/13.configuration-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix markdown typo
  content/ja/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate(ja): deployment/deployment-cloudflare
  content/ja/guides/deployment/deployment-cloudflare.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix markdown typo (#1631)
  content/ja/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

Adjust margin width on the ipad pro size
  components/organisms/NuxtNationBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

Added hover effect when button to register is hovered
  components/organisms/NuxtNationBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
