Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs: translated pages-fetch guide to spanish (#581)
  content/es/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: translated pages-head guide to spanish (#584)
  content/es/guides/components-glossary/pages-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: pages-key spanish translation (#583)
  content/sp/guides/components-glossary/pages-key.md
  content/sp/guides/components-glossary/pages-layout.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: uncomment lang until subdomain is ready
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

Translating content/es/guides/get-started/conclusion.md into Spanish (#585)
  content/es/guides/get-started/conclusion.md
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix(guides): load pt locale on production
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: cypress test multilang for toc
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

Translating content/es/guides/get-started/directory-structure.md into Spanish
  content/es/guides/get-started/directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: cypress test multilang for toc (#586)
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

fix(guides): load pt locale on production (#582)
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

Translating content/es/guides/get-started/directory-structure.md into Spanish (#587)
  content/es/guides/get-started/directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: french translatation of i18n
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

Translating content/es/guides/get-started/installation.md into Spanish
  content/es/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Korean] translate deployment-targets.md
  content/ko/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update deployment-targets.md
  content/ko/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: french translatation of i18n (#588)
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

installation.md into Spanish (#589)
  content/es/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Korean] translate deployment-targets.md (#590)
  content/ko/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(team): change location
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

Translating content/es/guides/get-started/routing.md into Spanish
  content/es/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(team): change location (#591)
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

routing.md into Spanish (#592)
  content/es/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update ko-KO.js
  i18n/ko-KO.js
Due: yarn lint:eslint, yarn lint:prettier

Translating content/es/guides/get-started/upgrading.md into Spanish
  content/es/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate description english to korean (#593)
  i18n/ko-KO.js
Due: yarn lint:eslint, yarn lint:prettier

upgrading.md into Spanish (#594)
  content/es/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update devDependency @nuxtjs/svg to ^0.1.12
  package.json
  yarn.lock
Due: yarn lint:prettier
