Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update content/en/sponsors-nuxtjs.md
  content/en/sponsors-nuxtjs.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/team.md
  content/en/team.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: replace NuxtJS with Nuxt across content
  content/en/0.docs/8.deployment/9.fume.md
  content/en/2.blog/9.seed-round.md
  content/en/2.blog/index.md
  content/en/3.resources/index.md
  content/en/3.resources/themes.md
  content/en/3.resources/video-courses.md
  content/en/design.md
  content/en/index.md
  content/en/sponsors-nuxtjs.md
  content/en/team.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: use Nuxt instead of NuxtJS in nuxt config
  nuxt.config.ts
Due: none

chore: fix build error
  components/organisms/home/HomeDiscover.vue
Due: yarn lint:eslint, yarn lint:prettier

update copy and font size on large screen
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

:bento: (modules) update icons
  components/atoms/icons/IconSortAsc.vue
  components/atoms/icons/IconSortDesc.vue
Due: yarn lint:eslint, yarn lint:prettier

:wrench: (nuxt.config) add v-tooltip plugin
  nuxt.config.ts
Due: none

:wrench: (package.json) add vue-lazy-hydration and v-tooltip
  package.json
Due: yarn lint:prettier

:sparkles: (v-tooltip) add v-tooltip plugin
  plugins/v-tooltip.ts
Due: none

:sparkles: (modulesList) get categories function
  plugins/modulesList.js
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (ModulesCard) responsive
  components/molecules/ModulesCard.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (AsideModules) update
  components/organisms/modules/AsideModules.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (ObserveModules) add observer for scroll
  components/organisms/modules/ObserverModules.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (Modules) search, sort and responsive
  components/organisms/modules/Modules.vue
Due: yarn lint:eslint, yarn lint:prettier

Update mastering nuxt banner (#1601)
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

translate 3.features/1.rendering-modes.md
  content/ja/0.docs/3.features/1.rendering-modes.md
  content/ja/0.docs/3.features/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: fix new Docus syntax
  components/organisms/team/TeamSection.vue
  content/en/0.docs/1.get-started/1.installation.md
  content/en/0.docs/1.get-started/2.routing.md
  content/en/0.docs/1.get-started/4.commands.md
  content/en/v3.md
  content/fr/design.md
  content/fr/index.md
  content/fr/team.md
  content/fr/v3.md
  content/ja/0.docs/1.get-started/1.installation.md
  content/ja/0.docs/1.get-started/2.routing.md
  content/ja/0.docs/1.get-started/4.commands.md
  content/ja/2.blog/10.build-dev-to-clone-with-nuxt-new-fetch.md
  content/ja/2.blog/2.creating-a-nuxt-module.md
  content/ja/2.blog/3.nuxt-static-improvements.md
  content/ja/2.blog/4.creating-blog-with-nuxt-content.md
  content/ja/2.blog/6.going-full-static.md
  content/ja/2.blog/8.going-dark-with-nuxtjs-color-mode.md
  content/ja/design.md
  content/ja/index.md
  content/ja/sponsors-nuxtjs.md
  content/ja/support.md
  content/ja/team.md
  content/ja/v3.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

translate 3.features/2.deployment-targets.md
  content/ja/0.docs/3.features/2.deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): fix docus new syntax
  content/ja/3.resources/index.md
  content/ja/3.resources/themes.md
  content/ja/3.resources/video-courses.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: add description and title metas (#1600)
  content/en/0.docs/8.deployment/9.fume.md
  content/en/2.blog/9.seed-round.md
  content/en/2.blog/index.md
  content/en/3.resources/index.md
  content/en/3.resources/themes.md
  content/en/3.resources/video-courses.md
  content/en/design.md
  content/en/index.md
  content/en/releases.md
  content/en/sponsors-nuxtjs.md
  content/en/support.md
  content/en/team.md
  content/en/v3.md
  nuxt.config.ts
Due: yarn lint:prettier, yarn lint:markdownlint

translate 3.features/3.file-system-routing.md
  content/ja/0.docs/3.features/3.file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: only use yarn
  .gitignore
  package.json
  yarn.lock
Due: yarn lint:prettier

translate 3.features/4.data-fetching.md
  content/ja/0.docs/3.features/4.data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (modules) fix hero
  content/en/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translation (#1602)
  content/ja/0.docs/2.concepts/2.context-helpers.md
  content/ja/0.docs/2.concepts/3.server-side-rendering.md
  content/ja/0.docs/2.concepts/4.static-site-generation.md
  content/ja/0.docs/2.concepts/5.nuxt-lifecycle.md
  content/ja/0.docs/3.features/1.rendering-modes.md
  content/ja/0.docs/3.features/2.deployment-targets.md
  content/ja/0.docs/3.features/3.file-system-routing.md
  content/ja/0.docs/3.features/4.data-fetching.md
  content/ja/0.docs/3.features/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: wip on social preview
  docus.config.ts
  nuxt.config.ts
Due: none

chore: improvements
  components/molecules/ModulesCard.vue
  components/organisms/modules/ModulesListing.vue
  content/en/modules.md
  static/img/icons/ext.svg
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:fire: (AsideModules) remove top padding
  components/organisms/modules/AsideModules.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: add cache for module search
  plugins/modulesList.js
Due: yarn lint:eslint, yarn lint:prettier

feat: add links to video courses
  components/organisms/resources/VideoCoursesList.vue
  content/en/3.resources/video-courses.md
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: add links to video courses (#1603)
  components/organisms/resources/VideoCoursesList.vue
  content/en/3.resources/video-courses.md
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (AsideModules) fix emit error
  components/organisms/modules/AsideModules.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: update docus
  package.json
  yarn.lock
Due: yarn lint:prettier

add video course links
  content/fr/3.resources/video-courses.md
  content/ja/3.resources/video-courses.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (ModulesListing) keep query on refresh
  components/organisms/modules/ModulesListing.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (AsideModules) keep selected category on refresh
  components/organisms/modules/AsideModules.vue
Due: yarn lint:eslint, yarn lint:prettier

translate 3.features/5.meta-tags-seo.md
  content/ja/0.docs/3.features/5.meta-tags-seo.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update docus (#1604)
  package.json
  yarn.lock
Due: yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
