Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: footer (wip)
  components/molecules/footer/FooterFoot.vue
  components/molecules/footer/FooterLink.vue
  components/molecules/footer/FooterSocialLinks.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  content/en/_collections/navigations/footer.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:sparkles: (Post) create Post template
  components/templates/Post.vue
  components/theme/blog/BlogPost.vue
Due: yarn lint:eslint, yarn lint:prettier

:rotating_light: (docus.config.ts)
  docus.config.ts
Due: none

:rotating_light: (nuxt.config)
  nuxt.config.ts
Due: none

feat(header): update navigation actions
  components/atoms/Dropdown.vue
  components/atoms/icons/IconSystem.vue
  components/molecules/AlgoliaSearchBox.vue
  components/molecules/ColorSwitcher.vue
  components/molecules/LangSwitcher.vue
  components/organisms/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:wrench: (tsconfig.json) fix eslint error
  tsconfig.json
Due: none

:wrench: (package.json) upgrade docus theme
  package.json
Due: yarn lint:prettier

:sparkles: (Guide) create guide template
  components/templates/Guide.vue
Due: yarn lint:eslint, yarn lint:prettier

:fire: (PageToc) remove hr
  components/theme/PageToc.vue
Due: yarn lint:eslint, yarn lint:prettier

:fire: (PageTocBottom) remove sponsor block
  components/theme/PageTocBottom.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (content) update content due to arch changes
  content/en/modules/index.md
  content/en/showcases/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: modify cover image to include logos
  content/en/case-studies/404-place-vendome.md
  content/en/case-studies/github.md
  content/en/case-studies/komercia.md
  content/en/case-studies/line.md
  content/en/case-studies/livementor.md
  content/en/case-studies/parent-scheme.md
  content/en/case-studies/stores.md
  static/img/case-studies/404-place-vendome/cover.png
  static/img/case-studies/github/cover.png
  static/img/case-studies/komercia/cover.png
  static/img/case-studies/line/cover.png
  static/img/case-studies/livementor/cover.png
  static/img/case-studies/parent-scheme/cover.png
  static/img/case-studies/stores/cover.png
Due: yarn lint:prettier, yarn lint:markdownlint

feat: move descriptions to index
  content/en/case-studies/404-place-vendome.md
  content/en/case-studies/github.md
  content/en/case-studies/index.md
  content/en/case-studies/komercia.md
  content/en/case-studies/line.md
  content/en/case-studies/livementor.md
  content/en/case-studies/parent-scheme.md
  content/en/case-studies/stores.md
  yarn.lock
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove warning and add condition for dates
  components/templates/Post.vue
  components/theme/blog/BlogpostList.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (BlogPostList) add sortBy for fetch
  components/templates/Blog.vue
  components/theme/blog/BlogpostList.vue
  content/en/case-studies/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix:footer updated
  components/molecules/FooterColorModeSelector.vue
  components/molecules/FooterLocaleSelector.vue
  components/molecules/footer/FooterSocialLinks.vue
  components/theme/app/AppFooter.vue
  content/en/_collections/navigations/footer.md
  i18n/en-US.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: reorder content
  content/en/case-studies/0.github.md
  content/en/case-studies/1.livementor.md
  content/en/case-studies/2.stores.md
  content/en/case-studies/3.parent-scheme.md
  content/en/case-studies/4.line.md
  content/en/case-studies/5.404-place-vendome.md
  content/en/case-studies/6.komercia.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: case studies (#1668)
  components/templates/Post.vue
  components/theme/blog/BlogpostList.vue
  content/en/case-studies/0.github.md
  content/en/case-studies/1.livementor.md
  content/en/case-studies/2.stores.md
  content/en/case-studies/3.parent-scheme.md
  content/en/case-studies/4.line.md
  content/en/case-studies/5.404-place-vendome.md
  content/en/case-studies/6.komercia.md
  content/en/case-studies/index.md
  static/img/case-studies/404-place-vendome/cover.png
  static/img/case-studies/github/cover.png
  static/img/case-studies/komercia/cover.png
  static/img/case-studies/line/cover.png
  static/img/case-studies/livementor/cover.png
  static/img/case-studies/parent-scheme/cover.png
  static/img/case-studies/stores/cover.png
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:pencil: (design) move content design due to arch changes
  content/en/_collections/design/colors.md
  content/en/_collections/design/logos.md
  content/en/_collections/design/monogram.md
Due: yarn lint:prettier, yarn lint:markdownlint

:construction: (DesignColors) update query
  components/organisms/design/DesignColors.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): update and follow documentation
  content/fr/_navigation/header.md
  content/ja/_navigation/header.md
  content/ja/releases.md
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:pencil: (design) move content due to arch changes
  content/fr/_collections/design/colors.md
  content/fr/_collections/design/logos.md
  content/fr/_collections/design/monogram.md
  content/fr/design/index.md
  content/ja/_collections/design/colors.md
  content/ja/_collections/design/logos.md
  content/ja/_collections/design/monogram.md
  content/ja/design/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

sync to fr-FR from en-US
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

:recycle: (design) update fetch
  components/organisms/design/DesignColors.vue
  components/organisms/design/DesignLogos.vue
Due: yarn lint:eslint, yarn lint:prettier

:recycle: (sustainability / teams) update fetch
  components/organisms/sustainability/SustainabilitySection.vue
  components/organisms/team/TeamSection.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: prepare templates for partners
  components/organisms/sustainability/SustainabilityDetail.vue
  content/en/partners/64robots.md
  content/en/partners/google.md
  content/en/partners/layer-0.md
  content/en/partners/netlify.md
  content/en/partners/ship-shape.md
  content/en/partners/storyblok.md
  content/en/partners/swell.md
  content/en/partners/vercel.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: prepare templates for partners (#1670)
  components/organisms/sustainability/SustainabilityDetail.vue
  content/en/partners/64robots.md
  content/en/partners/google.md
  content/en/partners/layer-0.md
  content/en/partners/netlify.md
  content/en/partners/ship-shape.md
  content/en/partners/storyblok.md
  content/en/partners/swell.md
  content/en/partners/vercel.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (AppFooter) fix fetch
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (Appheader) fix fetch
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (header/footer) move files due to arch changes
  content/fr/_collections/navigations/footer.md
  content/fr/_collections/navigations/header.md
  content/ja/_collections/navigations/footer.md
  content/ja/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (content) update content due to arch changes
  content/en/announcements/index.md
  content/en/integrations/deployments/index.md
  content/en/partners/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:sparkles: (blog) add random img and post target
  components/organisms/ContentCardTemplate.vue
  components/theme/blog/BlogpostList.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add images to case studies
  components/templates/Post.vue
  content/en/case-studies/0.github.md
  content/en/case-studies/1.livementor.md
  content/en/case-studies/2.stores.md
  content/en/case-studies/3.parent-scheme.md
  content/en/case-studies/4.line.md
  content/en/case-studies/5.404-place-vendome.md
  content/en/case-studies/6.komercia.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: design
  components/atoms/Dropdown.vue
  components/molecules/AlgoliaSearchBox.vue
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add images to case studies (#1672)
  components/templates/Post.vue
  content/en/case-studies/0.github.md
  content/en/case-studies/1.livementor.md
  content/en/case-studies/2.stores.md
  content/en/case-studies/3.parent-scheme.md
  content/en/case-studies/4.line.md
  content/en/case-studies/5.404-place-vendome.md
  content/en/case-studies/6.komercia.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: support page (#1671)
  components/atoms/Logo.vue
  components/molecules/support/SupportCard.vue
  components/molecules/support/SupportForm.vue
  components/molecules/support/SupportStepTitle.vue
  components/organisms/support/SupportContainer.vue
  content/en/support/index.md
  content/fr/support.md
  i18n/en-US.js
  nuxt.config.ts
  package.json
  plugins/technicalSupportForm.js
  static/img/support/contribute.svg
  static/img/support/donate.svg
  static/img/support/report.svg
  static/img/support/suggest.svg
  static/img/support/technical.svg
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: update `aside` configuration
  components/templates/Blank.vue
  components/templates/Blog.vue
  components/templates/Guide.vue
  components/templates/Post.vue
  components/theme/Error.vue
  content/en/docs/index.md
  content/fr/docs/index.md
  content/ja/docs/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (support) add captcha key and captcha module
  .env.example
  package.json
Due: yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
