Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(fr): fix typo in Surge deploy (#1649)
  content/fr/guides/deployment/surge-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add StackBlitz online demo link to homepage (#1651)
  components/templates/home/Why.vue
  cypress/integration/home.spec.js
Due: yarn lint:eslint, yarn lint:prettier

docs: add options usage to example (#1619)
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: Fix typo (#1657)
  content/fr/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: correct `layout/` ->`layouts/` typo (#1666)
  content/en/examples/transitions.md
  content/es/examples/transitions.md
  content/es/guides/features/configuration.md
  content/fr/guides/directory-structure/layouts.md
  content/fr/guides/features/configuration.md
  content/id/guides/features/configuration.md
  content/ja/examples/transitions.md
  content/ja/guides/features/configuration.md
  content/ko/guides/features/configuration.md
  content/pt/guides/features/configuration.md
  content/ru/guides/features/configuration.md
  content/zh/examples/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate(ja): deployment/deployment-platformsh (#1661)
  content/ja/guides/deployment/deployment-platformsh.md
Due: yarn lint:prettier, yarn lint:markdownlint

adding arabic lanuage to the nuxt config file
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

adding arabic js file (ar-AR.js) to the i18n dir
  i18n/ar-AR.js
Due: yarn lint:eslint, yarn lint:prettier

docs: remove duplicated word (#1773)
  content/en/docs/3.features/9.component-discovery.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add beforeSerialize
  content/en/docs/2.concepts/2.context-helpers.md
  content/en/docs/6.internals-glossary/1.context.md
Due: yarn lint:prettier, yarn lint:markdownlint

:ok_hand: (AppLayout) update CookieBanner class
  components/theme/app/AppLayout.vue
Due: yarn lint:eslint, yarn lint:prettier

:recycle: (AppLayout) update footer dynamic class
  components/theme/app/AppLayout.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: cookie banner (#1770)
  components/templates/CookieBanner.vue
  components/theme/app/AppLayout.vue
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
  package.json
Due: yarn lint:eslint, yarn lint:prettier

refactor: release on datetime with named formatting (#1772)
  components/templates/Releases.vue
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

fix(Aside): desktop AsideNavigation stickiness
  components/theme/app/AppLayout.vue
  nuxt.config.ts
  package.json
  plugins/mq.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix(Aside): desktop AsideNavigation stickiness (#1769)
  components/theme/app/AppLayout.vue
  nuxt.config.ts
  package.json
  plugins/mq.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

Update de-DE.js
  i18n/de-DE.js
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): tweak translation
  content/ja/support/index.md
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:sparkles: (tweets.js) plugin to get tweets collection from twitter api
  plugins/tweets.js
Due: yarn lint:eslint, yarn lint:prettier

:wrench: (nuxt.config) add tweets plugin
  nuxt.config.ts
Due: none

:sparkles: (TweetsCollection) (wip) tweets collection component
  components/organisms/lists/TweetsCollection.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (tweets) wall of love page
  content/en/twitter/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): tweak translation (#1776)
  content/ja/support/index.md
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix(redirects): add localised urls
  static/_redirects
Due: none

Update header.md
  content/de/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update index.md
  content/de/_collections/testimonials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/de/_collections/testimonials/index.md
  content/de/_collections/testimonials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/de/announcements/1.going-full-static.md
  content/de/announcements/1.going-full-static.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix
  content/de/announcements/0.nuxt-static-improvements.md
  content/de/announcements/1.going-full-static.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 1.going-full-static.md
  content/de/announcements/1.going-full-static.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 3.nuxtjs-from-terminal-to-browser.md
  content/de/announcements/3.nuxtjs-from-terminal-to-browser.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/de/announcements/0.nuxt-static-improvements.md
  content/de/announcements/0.nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 0.nuxt-static-improvements.md
  content/de/announcements/0.nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
