Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Translation to Farsi(Persian) - upgrading.md
  content/fa/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/api/configuration-render.md
  content/en/api/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/configuration-glossary/configuration-render.md
  content/en/guides/configuration-glossary/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: improve static folder info (#707)
  content/en/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translation to Farsi(Persian) - upgrading.md (#708)
  content/fa/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate guides/directory-structure/content.md to Spanish :pencil:
  content/en/guides/directory-structure/content.md
  content/en/guides/directory-structure/store.md
  content/es/guides/directory-structure/content.md
  content/es/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update CSP Documentation (#687)
  content/en/api/configuration-render.md
  content/en/guides/configuration-glossary/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

Context helper translated. And minor fix in the English version.
  content/en/guides/concepts/context-helpers.md
  content/fa/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

Nuxt lifecycle translated to Persian
  content/fa/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translation to Farsi(Persian) - installation.md
  content/fa/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Added example of how to use serverMiddleware as an API endpoint
  content/en/guides/configuration-glossary/configuration-servermiddleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update integrations to latest
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: update content module
  package.json
  yarn.lock
Due: yarn lint:prettier

home page translation chunk #1
  i18n/ru-RU.js
Due: yarn lint:eslint, yarn lint:prettier

docs: add hint to mode doc in ssr property
  content/en/guides/configuration-glossary/configuration-ssr.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate fa-IR,js footer section to Persian
  i18n/fa-IR.js
Due: yarn lint:eslint, yarn lint:prettier

Update going-full-static.md
  content/en/blog/going-full-static.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate guides/get-started/directory-structure
  content/ja/guides/get-started/directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original guides/get-started/directory-structure
  content/ja/guides/get-started/directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

Server side rendering translated to Persian
  content/fa/guides/concepts/server-side-rendering.md
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Persian commented
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

add: meta-tags-seo.md
  content/ja/guides/features/meta-tags-seo.md
Due: yarn lint:prettier, yarn lint:markdownlint

add: description
  content/ja/guides/features/meta-tags-seo.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: improve design with new content
  components/partials/resources/ResourceCards.vue
  package.json
  pages/resources/integrations/_category.vue
  pages/resources/integrations/with/_name.vue
  pages/with/_name.vue
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

feat: add labels to cards
  components/partials/resources/ResourceCards.vue
  pages/resources/integrations/_category.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add video, articles, demo and learn more. needs styling (#701)
  assets/icons/desktop-computer.svg
  components/partials/resources/ResourceCards.vue
  pages/resources/integrations/_category.vue
  pages/resources/integrations/with/_name.vue
  pages/with/_name.vue
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

home page translation chunk #2
  i18n/ru-RU.js
Due: yarn lint:eslint, yarn lint:prettier

Updated installation.md
  content/ru/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(concepts/context-helpers): fixed some weird hyperlinks
  content/en/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: concepts/context-helpers done
  content/fr/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: concepts/server-side-rendering done
  content/fr/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(concepts/server-side-rendering): remove remaining english block
  content/fr/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: concepts/static-site-generation done
  content/fr/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate: resource hint and etc...
  content/ja/guides/features/meta-tags-seo.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: new integration text
  i18n/en-US.js
  pages/resources/integrations/index.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: text for resources page
  i18n/en-US.js
  pages/resources/integrations/index.vue
Due: yarn lint:eslint, yarn lint:prettier
