Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: solve confusing on `watchQuery` description (#1431)
  content/en/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Missing closing parenthesis (#1425)
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create Hostman-deployment (#1405)
  content/en/guides/deployment/hostman-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): update i18n and guides (#1283)
  content/fr/guides/configuration-glossary/configuration-alias.md
  content/fr/guides/configuration-glossary/configuration-build.md
  content/fr/guides/deployment/appengine-deployment.md
  content/fr/guides/deployment/bip-deployment.md
  content/fr/guides/deployment/cleavr-deployment.md
  content/fr/guides/deployment/deploy-on-moovweb.md
  content/fr/guides/deployment/deploying-to-21yunbox.md
  content/fr/guides/deployment/deploying-to-do-app-platform.md
  content/fr/guides/deployment/deployment-amazon-web-services.md
  content/fr/guides/deployment/deployment-azure-portal.md
  content/fr/guides/deployment/deployment-azure-static-web-apps.md
  content/fr/guides/deployment/deployment-cloud-run.md
  content/fr/guides/deployment/deployment-platformsh.md
  content/fr/guides/deployment/deployment-pm2.md
  content/fr/guides/deployment/dokku-deployment.md
  content/fr/guides/deployment/github-pages.md
  content/fr/guides/deployment/heroku-deployment.md
  content/fr/guides/deployment/netlify-deployment.md
  content/fr/guides/deployment/nginx-proxy.md
  content/fr/guides/deployment/surge-deployment.md
  content/fr/guides/deployment/using-nuxt-with-cloudflare.md
  content/fr/guides/deployment/vercel-deployment.md
  content/fr/guides/directory-structure/assets.md
  content/fr/guides/features/file-system-routing.md
  content/fr/guides/features/live-preview.md
  content/fr/guides/get-started/commands.md
  content/fr/guides/internals-glossary/nuxt-render-and-get-window.md
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update CODEOWNERS (#1401)
  .github/CODEOWNERS
Due: none

Update content/ru/guides/features/transitions.md
  content/ru/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update nuxt-config.md
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

content: Add Remotely as sponsor
  content/sponsors.js
  static/img/sponsors/dark/remotely-logo.svg
  static/img/sponsors/light/remotely-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

docs: add missing `dir` (#1435)
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

content: Add Remotely as sponsor (#1436)
  content/sponsors.js
Due: yarn lint:eslint, yarn lint:prettier

content: Add Remotely as sponsor (#1436)
  content/sponsors.js
  static/img/sponsors/dark/remotely-logo.svg
  static/img/sponsors/light/remotely-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

Update heroku-deployment.md (#1414)
  content/en/guides/deployment/heroku-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: correct `@nuxtjs/content` -> `@nuxt/content`
  content/en/guides/directory-structure/content.md
  content/es/guides/directory-structure/content.md
  content/fr/guides/directory-structure/content.md
  content/id/guides/directory-structure/content.md
  content/ja/guides/directory-structure/content.md
  content/pt/guides/directory-structure/content.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: revert changes to ja files
  content/ja/_archives/api/configuration-build.md
  content/ja/_archives/api/configuration-router.md
  content/ja/_archives/faq/external-resources.md
  content/ja/_archives/guide/commands.md
  content/ja/guides/configuration-glossary/configuration-modern.md
  content/ja/guides/directory-structure/components.md
  content/ja/guides/directory-structure/plugins.md
  content/ja/guides/features/configuration.md
  content/ja/guides/internals-glossary/internals-generator.md
  content/ja/guides/internals-glossary/internals-nuxt.md
  content/ja/guides/internals-glossary/internals-renderer.md
  content/ja/guides/internals-glossary/nuxt-render-and-get-window.md
  content/ja/guides/internals-glossary/nuxt-render-route.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: reduce diff
  components/organisms/AffixBlock.vue
  components/organisms/SponsorsBlock.vue
  components/templates/TheAsideNavNewDocs.vue
  components/templates/home/Companies.vue
  content/en/guides/configuration-glossary/configuration-build.md
  content/en/guides/deployment/deployment-cloud-run.md
  content/en/guides/deployment/deployment-qovery.md
  content/en/guides/features/nuxt-components.md
  content/fr/guides/deployment/cleavr-deployment.md
  content/fr/guides/deployment/vercel-deployment.md
  content/id/guides/directory-structure/content.md
  content/ja/guides/configuration-glossary/configuration-modern.md
  content/ja/guides/directory-structure/components.md
  content/ja/guides/directory-structure/content.md
  i18n/fr-FR.js
  pages/docs/2.x/_book.vue
  pages/docs/2.x/_book/_slug.vue
  pages/docs/release-notes.vue
  pages/faq/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: improvements
  components/templates/TheAsideNavNewDocs.vue
  content/en/guides/directory-structure/assets.md
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/content.md
  content/en/guides/directory-structure/dist.md
  content/en/guides/directory-structure/layouts.md
  content/en/guides/directory-structure/middleware.md
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/directory-structure/nuxt.md
  content/en/guides/directory-structure/pages.md
  content/en/guides/directory-structure/plugins.md
  content/en/guides/directory-structure/static.md
  content/en/guides/directory-structure/store.md
  pages/docs/2.x/_book.vue
  pages/docs/2.x/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: improvements (#1438)
  components/templates/TheAsideNavNewDocs.vue
  content/en/guides/directory-structure/assets.md
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/content.md
  content/en/guides/directory-structure/dist.md
  content/en/guides/directory-structure/layouts.md
  content/en/guides/directory-structure/middleware.md
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/directory-structure/nuxt.md
  content/en/guides/directory-structure/pages.md
  content/en/guides/directory-structure/plugins.md
  content/en/guides/directory-structure/static.md
  content/en/guides/directory-structure/store.md
  pages/docs/2.x/_book.vue
  pages/docs/2.x/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: textlint for Japanese
  .textlintrc
  content/ja/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: textlint for Japanese (#1439)
  .textlintrc
  content/ja/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: fix textlint for Japanese (#1439)
  .textlintrc
  content/ja/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
