Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Update content/id/guides/configuration-glossary/configuration-loading-indicator.md
  content/id/guides/configuration-glossary/configuration-loading-indicator.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/id/guides/configuration-glossary/configuration-server.md
  content/id/guides/configuration-glossary/configuration-server.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(i18n-id): Implement suggestion to rephrase translation on configuration-modules
  content/id/guides/configuration-glossary/configuration-modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): Translation from configuration-modern to configuration-modulesdir (#1322)
  content/id/guides/configuration-glossary/configuration-modern.md
  content/id/guides/configuration-glossary/configuration-modules.md
  content/id/guides/configuration-glossary/configuration-modulesdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): Translate configuration-glossary (#1324)
  content/id/guides/configuration-glossary/configuration-loading-indicator.md
  content/id/guides/configuration-glossary/configuration-loading.md
  content/id/guides/configuration-glossary/configuration-server.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): Provide Indonesian translation for configuration-runtime-config
  content/id/guides/configuration-glossary/configuration-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): Provide Indonesian translation for configuration-ssr
  content/id/guides/configuration-glossary/configuration-ssr.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration-runtime-config.md
  content/id/guides/configuration-glossary/configuration-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration-ssr.md
  content/id/guides/configuration-glossary/configuration-ssr.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): translation for configuration guides (runtime-config -> ssr) (#1326)
  content/id/guides/configuration-glossary/configuration-runtime-config.md
  content/id/guides/configuration-glossary/configuration-ssr.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(ja): fix features documents
  content/ja/guides/features/configuration.md
  content/ja/guides/features/data-fetching.md
  content/ja/guides/features/loading.md
  content/ja/guides/features/meta-tags-seo.md
  content/ja/guides/features/nuxt-components.md
  content/ja/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: link to blog
  content/ja/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add note about accesing refs with client rendered comps
  content/ja/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add info on new `render.asyncScripts` option
  content/ja/guides/configuration-glossary/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add example to disable serve placeholder
  content/ja/guides/configuration-glossary/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): document the unit for the `interval` property
  content/ja/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

update baseBranches in renovation.json
  renovate.json
Due: none

docs(ja): update untranslated documents
  content/ja/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update master -> main for renovate
  renovate.json
Due: none

chore: upgrade lint dependencies
  .husky/.gitignore
  components/global/YouTubeLite.vue
  package.json
  pages/examples/_slug.vue
  pages/video-courses.vue
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

chore: include eslint itself
  package.json
  yarn.lock
Due: yarn lint:prettier

chore: upgrade all deps
  package.json
  yarn.lock
Due: yarn lint:prettier

Update content/en/guides/directory-structure/plugins.md
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add info about fetch caching for static target (#1295)
  content/en/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): upgrade lint dependencies (#1333)
  .husky/.gitignore
  components/global/YouTubeLite.vue
  package.json
  pages/examples/_slug.vue
  pages/video-courses.vue
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): upgrade all deps (#1334)
  package.json
  yarn.lock
Due: yarn lint:prettier

docs: update folder structure example
  content/en/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint
