Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore(deps): update dependency @nuxt/content to ^1.7.0
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: set fallback to false
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix: set fallback to false (#571)
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

[Korean] translate rendering-modes.md
  content/ko/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Indonesia] Improve language structure
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
  pages/blog/index.vue
  pages/design.vue
  pages/resources.vue
  pages/shop.vue
  pages/team.vue
  pages/themes.vue
  pages/video-courses.vue
Due: yarn lint:eslint, yarn lint:prettier

Fix example
  content/en/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

[Korean] translate rendering-modes.md (#572)
  content/ko/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add i18n
  _templates/new/resource/resource-template.md
  content/en/resources/devtools/i18n.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add axios module
  content/en/resources/devtools/axios.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: [Indonesia] Improve language structure
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
  pages/blog/index.vue
  pages/design.vue
  pages/index.vue
  pages/resources.vue
  pages/shop.vue
  pages/sponsor-nuxtjs.vue
  pages/support.vue
  pages/team.vue
  pages/themes.vue
  pages/video-courses.vue
Due: yarn lint:eslint, yarn lint:prettier

[indonesia] perbarui terjemahan id_ID.js
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

Revert "Fix/pt guides (#566)"
  pages/guides/_book.vue
Due: yarn lint:eslint, yarn lint:prettier

Revert "fix: add pt guides (#561)"
  pages/guides/_book.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(pages): handle pt locale
  pages/guides/_book.vue
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(pages): handle pt locale (#576)
  pages/guides/_book.vue
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency @nuxtjs/pwa to ^3.0.2
  package.json
  yarn.lock
Due: yarn lint:prettier

Remove addPlugin to keep it simple
  content/en/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: change ambassadors name
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
  pages/blog/index.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: change NuxtJS to Nuxt.js
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

[Indonesia] Improve language structure (#573)
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
  pages/blog/index.vue
  pages/design.vue
  pages/index.vue
  pages/resources.vue
  pages/shop.vue
  pages/sponsor-nuxtjs.vue
  pages/support.vue
  pages/team.vue
  pages/themes.vue
  pages/video-courses.vue
Due: yarn lint:eslint, yarn lint:prettier

Fix example (#574)
  content/en/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Spanish] translate new guides
  i18n/es-ES.js
Due: yarn lint:eslint, yarn lint:prettier

[Spanish] translate new guides (#578)
  i18n/es-ES.js
Due: yarn lint:eslint, yarn lint:prettier

fix: overflow on toc menu in guides
  components/partials/AffixBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: overflow on toc menu in guides (#579)
  components/partials/AffixBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: translated pages-fetch guide to spanish
  content/es/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: pages-key spanish translation
  content/sp/guides/components-glossary/pages-key.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: more formal word
  content/es/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: translated pages-head guide to spanish
  content/es/guides/components-glossary/pages-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translating content/es/guides/get-started/conclusion.md into Spanish
  content/es/guides/get-started/conclusion.md
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: pages-layout spanish translation
  content/sp/guides/components-glossary/pages-layout.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: translated pages-fetch guide to spanish (#581)
  content/es/guides/components-glossary/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
