Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

feat: ship shape sponsor
  components/organisms/SponsorsBlock.vue
  components/templates/home/HomeSponsors.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(ja): parse errors
  content/ja/guides/directory-structure/middleware.md
  content/ja/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: ship shape sponsor (#1121)
  components/organisms/SponsorsBlock.vue
  components/templates/home/HomeSponsors.vue
Due: yarn lint:eslint, yarn lint:prettier

Adding spacing for the link to be recognized (#1118)
  content/pt/guides/directory-structure/layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add to sponsors page
  components/organisms/SponsorsBlock.vue
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

some fix with ja translation guide
  content/ja/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

change translation
  content/ja/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

small change - remove unnecessary space around link text - change page link of Hydration from en to ja - remove <CR>
  content/ja/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

change page link of NuxtLink en to ja
  content/ja/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: ship shape sponsor (#1123)
  components/organisms/SponsorsBlock.vue
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

Translate context-helpers.md
  content/ru/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency cypress to v6.2.1
  package.json
  yarn.lock
Due: yarn lint:prettier

Fix(ja): parse errors (#1122)
  content/ja/guides/directory-structure/middleware.md
  content/ja/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

add missing quotes to target property hints values
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

tanslate anchor tag
  content/ja/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate anchor tag
  content/ja/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate change of `navigation`
  content/ja/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

add space
  content/ja/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

anchor tag
  content/ja/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate change
  content/ja/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: make text bold
  content/ja/guides/directory-structure/dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: translate "fallback" to Japanese
  content/ja/guides/directory-structure/dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix typo (For Nuxt >= 2.13:) > (For Nuxt >= 2.13)
  content/en/guides/get-started/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate into Japanese
  content/ja/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ru/guides/concepts/context-helpers.md
  content/ru/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate pages-watchquery (#1094)
  content/ja/guides/components-glossary/pages-watchquery.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): Update docs (#1107)
  content/ja/guides/concepts/nuxt-lifecycle.md
  content/ja/guides/concepts/static-site-generation.md
  content/ja/guides/configuration-glossary/configuration-build.md
  content/ja/guides/configuration-glossary/configuration-hooks.md
  content/ja/guides/configuration-glossary/configuration-loading-indicator.md
  content/ja/guides/configuration-glossary/configuration-render.md
  content/ja/guides/configuration-glossary/configuration-router.md
  content/ja/guides/configuration-glossary/configuration-server.md
  content/ja/guides/configuration-glossary/configuration-telemetry.md
  content/ja/guides/configuration-glossary/configuration-watchers.md
  content/ja/guides/directory-structure/assets.md
  content/ja/guides/directory-structure/content.md
  content/ja/guides/directory-structure/dist.md
  content/ja/guides/directory-structure/modules.md
  content/ja/guides/directory-structure/nuxt-config.md
  content/ja/guides/directory-structure/nuxt.md
  content/ja/guides/directory-structure/plugins.md
  content/ja/guides/features/data-fetching.md
  content/ja/guides/features/live-preview.md
  content/ja/guides/features/loading.md
  content/ja/guides/features/nuxt-components.md
  content/ja/guides/features/transitions.md
  content/ja/guides/get-started/installation.md
  content/ja/guides/internals-glossary/nuxt-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja) fix directory-structure/static (#1096)
  content/ja/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint
