Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:bug: (AppFooter) add padding top (#12)
  components/organisms/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: fix path for resources (#13)
  content/3.resources/index.md
  content/3.resources/themes.md
  content/3.resources/video-courses.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: wrong path on themes (#14)
  content/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: blog posts ordering on homepage (#15)
  components/organisms/home/HomeCampfire.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (SimplePageHero) add back button (#16)
  components/organisms/SimplePageHero.vue
  content/3.resources/themes.md
  content/3.resources/video-courses.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: add more tokens (#10)
  docus.config.ts
Due: none

Add note about script lang for typescript JSX
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add typescript build module (#1)
  nuxt.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: yarn lint:prettier

fix: wrong link on support us button (#19)
  components/organisms/resources/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (Design kit) add logos section and fix wrong link on footer (#20)
  .gitignore
  components/organisms/app/AppFooter.vue
  content/design-kit/1.logos.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: home page container (#21)
  components/atoms/NuxtContainer.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add hover and clickability to content cards (#18)
  components/atoms/NuxtButton.vue
  components/molecules/InputGroupButton.vue
  components/organisms/ContentCardTemplate.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: contributors API path
  plugins/contributors.js
Due: yarn lint:eslint, yarn lint:prettier

fix: update contributors API path to use `main` branch (#1498)
  plugins/contributors.js
Due: yarn lint:eslint, yarn lint:prettier

social network link fixed (#22)
  content/teams/1.framework.md
  content/teams/2.community.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja):asyncData merging type (#1254) @inouetakuya @53able resolve https://github.com/vuejs-jp/ja.nuxtjs.org/issues/289
  content/ja/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): clarify what values are added to global process (#1369) @inouetakuya @53able
  content/ja/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): update titles for Nuxt components (#1250) @inouetakuya @53able
  content/ja/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deploy-on-moovweb
  content/ja/guides/deployment/deploy-on-moovweb.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (HomeLearnMaster) fix button size (#24)
  components/organisms/home/HomeLearnMaster.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: use marking links on resources page (#25)
  components/molecules/MarketingLink.vue
  components/organisms/resources/ResourcesList.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(en): 1497 - Fix ESLint Error in docs, missing await
  content/en/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
