Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

dukungan bahasa indonesia folder get-started selesai
  content/id/guides/get-started/conclusion.md
  content/id/guides/get-started/directory-structure.md
  content/id/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix English in guides/plugins.md
  content/en/guide/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add an Indonesian id\guides\get-started folder (#476)
  content/id/guides/get-started/conclusion.md
  content/id/guides/get-started/directory-structure.md
  content/id/guides/get-started/installation.md
  content/id/guides/get-started/routing.md
  content/id/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: typo in support page - made correction in i18n folder
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

Grammar Fix
  content/en/guides/get-started/directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix English in guides/plugins.md (#477)
  content/en/guide/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: typo in support page (#480)
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

Grammar Fix (#481)
  content/en/guides/get-started/directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add featured latest
  content/en/resources/cms-integrations.json
  content/en/resources/databases.json
  content/en/resources/devtools.json
  content/en/resources/ui-framework.json
  pages/resources/_category/_slug.vue
  pages/resources/_category/index.vue
  pages/resources/index.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: text
  content/en/resources/databases.json
Due: none

feat: link to docs
  pages/resources/_category/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

Update id-ID.js
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update dependency prismjs to ^1.21.0
  package.json
  yarn.lock
Due: yarn lint:prettier

support Indonesia language - guides\concepts
  content/id/guides/concepts/context-helpers.md
  content/id/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add cloudinary
  content/en/resources/cms-integrations.json
  content/en/resources/images.json
  pages/resources/_category/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: swear word
  assets/icons/search.svg
Due: none

Fix: swear word (#485)
  assets/icons/search.svg
Due: none

Update context-helpers.md
  content/en/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(ci): run e2e tests for pull requests
  .github/workflows/main.yml
Due: none

Update README.md
  content/README.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update id-ID.js (#482)
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

Update context-helpers.md (#487)
  content/en/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

support Indonesia language - guides\concepts (#484)
  content/id/guides/concepts/context-helpers.md
  content/id/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: BlogpostPreviewItem navigation
  components/partials/blog/BlogpostPreviewItem.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: improvements after call with Alex
  components/TheAsideNavResources.vue
  components/TheMobileAsideNavResources.vue
  components/partials/resources/ResourceCards.vue
  content/en/resources/cms-integrations.json
  content/en/resources/databases.json
  content/en/resources/devtools.json
  content/en/resources/images.json
  content/en/resources/ui-framework.json
  pages/resources/_category/_slug.vue
  pages/resources/_category/index.vue
  pages/resources/index.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: BlogpostPreviewItem navigation (#489)
  components/partials/blog/BlogpostPreviewItem.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update devdependency start-server-and-test to ^1.11.3
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): lock file maintenance
  yarn.lock
Due: none
