Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: improve hygen blog template
  _templates/new/blog/blog-template.md
Due: yarn lint:prettier, yarn lint:markdownlint

readMe: add blog to readMe
  README.md
Due: yarn lint:prettier, yarn lint:markdownlint

Hygen blog (#435)
  README.md
  _templates/new/blog/blog-template.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix Algolia search on mobile
  components/partials/AlgoliaSearchInput.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: mobile search (#436)
  components/partials/AlgoliaSearchInput.vue
Due: yarn lint:eslint, yarn lint:prettier

fix link to cached-components in the aside nav
  content/en/faq/cached-components.md
  content/fr/faq/cached-components.md
  content/id/faq/cached-components.md
  content/ja/faq/cached-components.md
  content/zh/faq/cached-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add cookie banner
  components/TheCookieBox.vue
  components/TheFooter.vue
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
  layouts/default.vue
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

feat: add cookie banner (#439)
  components/TheCookieBox.vue
  components/TheFooter.vue
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
  layouts/default.vue
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix link to cached-components in the aside nav (#437)
  content/en/faq/cached-components.md
  content/fr/faq/cached-components.md
  content/id/faq/cached-components.md
  content/ja/faq/cached-components.md
  content/zh/faq/cached-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

feat: add canocial and sitemap
  layouts/default.vue
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

feat: add canocial and sitemap (#440)
  layouts/default.vue
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix: remove sitemap
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

Canocial (#441)
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

Update en-US.js with missing space
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier

Update en-US.js with missing space (#442)
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier

Update internal links from absolute to relative
  content/en/guides/concepts/context-helpers.md
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update internal links from absolute to relative (#443)
  content/en/guides/concepts/context-helpers.md
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update context diagram
  content/en/guides/concepts/context-helpers.md
  static/guides/context.jpeg
  static/guides/context.svg
Due: yarn lint:prettier, yarn lint:markdownlint

Update context diagram (#444)
  content/en/guides/concepts/context-helpers.md
  static/guides/context.jpeg
  static/guides/context.svg
Due: yarn lint:prettier, yarn lint:markdownlint

Update context diagram (#444)
  content/en/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: changing heading and twitter handler
  components/common/AppToc.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: changing heading and twitter handler (#445)
  components/common/AppToc.vue
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

tests: add tests homepage and cookies
  components/TheCookieBox.vue
  components/partials/home/HomeWelcome.vue
  cypress/integration/cookie.spec.js
  cypress/integration/home.spec.js
Due: yarn lint:eslint, yarn lint:prettier

tests: add tests homepage and cookies (#446)
  components/TheCookieBox.vue
  components/partials/home/HomeWelcome.vue
  cypress/integration/cookie.spec.js
  cypress/integration/home.spec.js
Due: yarn lint:eslint, yarn lint:prettier

Add missing 'render' subkey in CSP-docs.
  content/en/api/configuration-render.md
  content/en/guides/configuration-glossary/configuration-render.md
  content/ja/api/configuration-render.md
  content/ko/api/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update link to target property
  content/en/guides/configuration-glossary/configuration-target.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add link to rendering modes
  content/en/guides/configuration-glossary/configuration-mode.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
