Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

fix: update examples
  _redirects
  content/en/examples/layouts.md
  content/en/examples/modules-external.md
  content/en/examples/modules-internal.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: hide banner
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: improve and remove mode
  content/en/faq/deploy-on-moovweb.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: improve and remove mode (#983)
  content/en/faq/deploy-on-moovweb.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: naming and redirects
  _redirects
  content/en/examples/custom-page-loading.md
  content/en/examples/modules-external.md
  content/en/examples/modules-internal.md
  content/en/examples/routing-dynamic-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: absolute URL
  content/en/blog/build-dev-to-clone-with-nuxt-new-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: URLs missing path
  _redirects
  content/en/examples/async-data.md
  content/en/examples/vuex-store.md
  content/en/faq/netlify-deployment.md
  content/en/guides/configuration-glossary/configuration-generate.md
  content/es/guides/configuration-glossary/configuration-generate.md
  content/fr/examples/async-data.md
  content/fr/examples/vuex-store.md
  content/fr/faq/github-pages.md
  content/fr/faq/nginx-proxy.md
  content/fr/faq/surge-deployment.md
  content/id/examples/async-data.md
  content/id/examples/vuex-store.md
  content/ja/examples/async-data.md
  content/ja/examples/vuex-store.md
  content/ja/faq/deployment-azure-static-web-apps.md
  content/ja/faq/nginx-proxy.md
  content/ja/faq/surge-deployment.md
  content/ko/examples/async-data.md
  content/ko/examples/vuex-store.md
  content/ko/faq/surge-deployment.md
  content/pt/guides/configuration-glossary/configuration-generate.md
  content/pt/guides/internals-glossary/context.md
  content/ru/examples/async-data.md
  content/zh/examples/async-data.md
  content/zh/examples/vuex-store.md
  content/zh/faq/nginx-proxy.md
  content/zh/faq/surge-deployment.md
  content/zh/guide/commands.md
  content/zh/guide/configuration.md
  content/zh/guide/directory-structure.md
  content/zh/guide/index.md
  content/zh/guide/routing.md
  content/zh/guide/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: URLs missing path
  _redirects
  content/en/examples/async-data.md
  content/en/examples/vuex-store.md
  content/en/faq/netlify-deployment.md
  content/en/guides/configuration-glossary/configuration-generate.md
  content/es/guides/configuration-glossary/configuration-generate.md
  content/fr/examples/async-data.md
  content/fr/examples/vuex-store.md
  content/fr/faq/github-pages.md
  content/fr/faq/nginx-proxy.md
  content/fr/faq/surge-deployment.md
  content/id/examples/async-data.md
  content/id/examples/vuex-store.md
  content/ja/examples/async-data.md
  content/ja/examples/vuex-store.md
  content/ja/faq/deployment-azure-static-web-apps.md
  content/ja/faq/nginx-proxy.md
  content/ja/faq/surge-deployment.md
  content/ko/examples/async-data.md
  content/ko/examples/vuex-store.md
  content/ko/faq/surge-deployment.md
  content/pt/guides/configuration-glossary/configuration-generate.md
  content/pt/guides/internals-glossary/context.md
  content/ru/examples/async-data.md
  content/zh/examples/async-data.md
  content/zh/examples/vuex-store.md
  content/zh/faq/nginx-proxy.md
  content/zh/faq/surge-deployment.md
  content/zh/guide/commands.md
  content/zh/guide/configuration.md
  content/zh/guide/directory-structure.md
  content/zh/guide/index.md
  content/zh/guide/routing.md
  content/zh/guide/views.md
  static/docs/2.x/context.svg
Due: yarn lint:prettier, yarn lint:markdownlint

fix: broken link
  CONTRIBUTING.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: update yarn lock file
  yarn.lock
Due: none

fix: typo in redirects
  _redirects
Due: none

fix: titles
  _redirects
  content/en/examples/custom-page-loading.md
  content/en/examples/data-fetching-async-data.md
  content/en/examples/data-fetching-fetch-hook.md
  content/en/examples/helpers.md
  content/en/examples/layouts.md
  content/en/examples/lazy-loading-components.md
  content/en/examples/pre-processors.md
  content/en/examples/seo-html-head.md
  content/en/examples/tranistions-css.md
  content/en/examples/transitions-js.md
  content/en/examples/vuex-store.md
  content/en/examples/webpack-assets.md
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-render (#959)
  content/ja/guides/configuration-glossary/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-rootdir (#960)
  content/ja/guides/configuration-glossary/configuration-rootdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-runtime-config (#961)
  content/ja/guides/configuration-glossary/configuration-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency @nuxtjs/eslint-config to v5
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(ru): Translate directory features
  content/ru/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

Typo: Updating example code in plugins.md
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix across all languages that use this example
  content/en/guides/directory-structure/plugins.md
  content/es/guides/directory-structure/plugins.md
  content/id/guides/directory-structure/plugins.md
  content/pt/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(en): add info on new `render.asyncScripts` option
  content/en/guides/configuration-glossary/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): lock file maintenance
  yarn.lock
Due: none

Update content/ja/guides/directory-structure/layouts.md
  content/ja/guides/directory-structure/layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

[FIX] 不自然な日本語を修正
  content/ja/guides/directory-structure/layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

[FIX] 消し忘れた英文を削除
  content/ja/guides/directory-structure/layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint
