Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Update content/fr/guides/configuration-glossary/configuration-generate.md
  content/fr/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update sass-loader recommendation to v10 (indonesian) (#1585)
  content/id/guides/configuration-glossary/configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update deployment-cloud-run.md
  content/en/guides/deployment/deployment-cloud-run.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: link to modules page
  content/en/3.resources/index.md
  content/fr/3.resources/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:package: (deps) change docus version (@docus)
  package.json
  yarn.lock
Due: yarn lint:prettier

:wrench: (nuxt) update nuxt config
  nuxt.config.ts
Due: none

:pencil: (docs) update content with new syntax
  content/en/0.docs/1.get-started/4.commands.md
  content/en/2.blog/10.build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/2.blog/2.creating-a-nuxt-module.md
  content/en/2.blog/3.nuxt-static-improvements.md
  content/en/2.blog/4.creating-blog-with-nuxt-content.md
  content/en/2.blog/6.going-full-static.md
  content/en/2.blog/8.going-dark-with-nuxtjs-color-mode.md
  content/en/3.resources/index.md
  content/en/3.resources/themes.md
  content/en/3.resources/video-courses.md
  content/en/design.md
  content/en/index.md
  content/en/sponsors-nuxtjs.md
  content/en/support.md
  content/en/team.md
  content/en/v3.md
  content/fr/0.docs/1.get-started/1.installation.md
  content/fr/2.blog/10.build-dev-to-clone-with-nuxt-new-fetch.md
  content/fr/2.blog/6.going-full-static.md
  content/fr/2.blog/8.going-dark-with-nuxtjs-color-mode.md
  content/fr/3.resources/index.md
  content/fr/3.resources/themes.md
  content/fr/3.resources/video-courses.md
  content/fr/design.md
  content/fr/index.md
  content/fr/sponsors-nuxtjs.md
  content/fr/support.md
  content/fr/team.md
  content/fr/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

:recycle: (update) update packages and imports
  components/organisms/home/HomeDiscover.vue
  nuxt.config.ts
  package-lock.json
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix: compatibility
  components/molecules/EditOnGithub.vue
  components/organisms/home/HomeDiscover.vue
  components/templates/BlogPost.vue
  content/en/0.docs/1.get-started/1.installation.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore: update docs
  content/en/0.docs/1.get-started/2.routing.md
  content/en/2.blog/4.creating-blog-with-nuxt-content.md
  content/en/index.md
  content/en/v3.md
  content/fr/2.blog/2.creating-a-nuxt-module.md
  content/fr/2.blog/3.nuxt-static-improvements.md
  content/fr/2.blog/4.creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add movavi as sponsor
  content/_sponsors/sponsors/12.agema.md
  content/_sponsors/sponsors/12.movavi.md
  static/img/sponsors/dark/movavi.svg
  static/img/sponsors/light/movavi.svg
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add movavi as sponsor (#1593)
  content/_sponsors/sponsors/12.agema.md
  content/_sponsors/sponsors/12.movavi.md
  static/img/sponsors/dark/movavi.svg
  static/img/sponsors/light/movavi.svg
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove language from sponsors query
  components/organisms/home/HomeDiscoverPartners.vue
  components/organisms/resources/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove language from sponsors queries
  components/organisms/home/HomeDiscoverPartners.vue
  components/organisms/resources/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: remove language from sponsors queries (#1595)
  components/organisms/home/HomeDiscoverPartners.vue
  components/organisms/resources/SponsorsBlock.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: 404 links
  components/molecules/EditOnGithub.vue
  content/en/0.docs/4.directory-structure/7.middleware.md
  content/fr/0.docs/1.get-started/6.upgrading.md
  content/fr/0.docs/7.components-glossary/1.fetch.md
  content/ja/0.docs/4.directory-structure/7.middleware.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate v3.md
  content/ja/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix typo
  content/ja/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate team.md
  content/ja/team.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate design.md
  content/ja/design.md
Due: yarn lint:prettier, yarn lint:markdownlint

updates
  content/ja/design.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration.md for host property.
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate support.md
  content/ja/support.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate sponsors-nuxtjs.md
  content/ja/sponsors-nuxtjs.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate resources/index.md
  content/ja/3.resources/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): ja translation for preview (#1596)
  content/ja/design.md
  content/ja/team.md
  content/ja/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

add themes.md on rexources
  components/organisms/resources/ThemesList.vue
  content/ja/3.resources/themes.md
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

translate video-courses.md on resoruces
  components/organisms/SimplePageHero.vue
  components/organisms/resources/VideoCoursesList.vue
  content/ja/3.resources/video-courses.md
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

more localization at home
  components/organisms/home/CodeBlockAnimation.vue
  components/organisms/home/HomeDiscover.vue
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

chore: update docs & build
  components/molecules/EditOnGithub.vue
  content/en/2.blog/index.md
  content/fr/2.blog/0.index.md
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:package: (deps) upgrade deps (@docus/app)
  package.json
  yarn.lock
Due: yarn lint:prettier

:bug: (transpile) ohmyfetch
  nuxt.config.ts
Due: none

:sparkles: (components) update components
  components/organisms/app/AsideBottom.vue
  components/organisms/design/DesignColors.vue
  components/organisms/design/DesignLogos.vue
  components/organisms/design/DesignSection.vue
  components/organisms/home/CodeBlockAnimation.vue
  components/organisms/home/HomeDiscover.vue
  components/organisms/home/HomeLearnMaster.vue
  components/organisms/resources/SustainabilitySection.vue
  components/organisms/support/SupportPricing.vue
  components/organisms/team/TeamMember.vue
  components/organisms/team/TeamSection.vue
Due: yarn lint:eslint, yarn lint:prettier

:wrench: (nvm) add nvmrc for cloudflare pages
  .nvmrc
Due: none

chore: update dates
  content/en/v3.md
  content/fr/v3.md
  content/ja/v3.md
  static/img/v3/step1.svg
  static/img/v3/step2.svg
  static/img/v3/step3.svg
Due: yarn lint:prettier, yarn lint:markdownlint

:package: (deps) upgrade dependencies (@docus/app)
  package.json
  yarn.lock
Due: yarn lint:prettier

Remove Mastering Nuxt banner
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

tweaks
  content/ja/index.md
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
