Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

translated(es-ES) configuration-transition.md @ es/guides
  content/es/guides/configuration-glossary/configuration-transition.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add colon
  content/ja/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

update: features of improving developer experience
  content/ja/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

updated informal spanish pages-loading.md
  content/es/guides/components-glossary/pages-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update ko-KO.js
  i18n/ko-KO.js
Due: yarn lint:eslint, yarn lint:prettier

use content module :}
  nuxt.config.js
  package.json
  pages/integrations.vue
  pages/integrations/_name.vue
  pages/integrations/cat/_category.vue
  plugins/integrations.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

Fix small typos and tiny inconsistencies
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: search field display is ruptured
  assets/css/rtl.scss
  components/partials/AlgoliaSearchInput.vue
Due: yarn lint:eslint, yarn lint:prettier

translate configuration-srcdir.md
  content/id/guides/configuration-glossary/configuration-srcdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate configuration-target.md
  content/id/guides/configuration-glossary/configuration-target.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate configuration-cli.md
  content/id/guides/configuration-glossary/configuration-cli.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate assets.md into Bahasa Indonesia
  content/id/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: indentation
  content/id/guides/configuration-glossary/configuration-cli.md
  content/id/guides/configuration-glossary/configuration-target.md
Due: yarn lint:prettier, yarn lint:markdownlint

copy the english version
  content/id/guides/features/configuration.md
  content/id/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor: handling rlt style using css attribute selector
  assets/css/rtl.scss
  components/partials/AlgoliaSearchInput.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: apply rtl styles for algolia when dir is `rtl` (#628)
  assets/css/rtl.scss
Due: yarn lint:prettier

[Korean] translate data-fetching.md
  content/ko/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fixed 'cache' term
  content/id/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: search field display is ruptured
  components/partials/AlgoliaSearchInput.vue
Due: yarn lint:eslint, yarn lint:prettier

refactor: handling rlt style using css attribute selector
  components/partials/AlgoliaSearchInput.vue
Due: yarn lint:eslint, yarn lint:prettier

refactor: update footer to enable translation
  components/TheFooter.vue
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier

fix: change a few words
  content/id/guides/configuration-glossary/configuration-cli.md
  content/id/guides/configuration-glossary/configuration-srcdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: change the default meaning
  content/id/guides/configuration-glossary/configuration-cli.md
  content/id/guides/configuration-glossary/configuration-srcdir.md
  content/id/guides/configuration-glossary/configuration-target.md
Due: yarn lint:prettier, yarn lint:markdownlint

Copy original English file
  content/id/guides/directory-structure/components.md
  content/id/guides/directory-structure/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

Modify i18n block on nuxt.config
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

add Directory Structures folder to content/id/guides
  content/id/guides/directory-structure/assets.md
  content/id/guides/directory-structure/components.md
  content/id/guides/directory-structure/content.md
  content/id/guides/directory-structure/dist.md
  content/id/guides/directory-structure/layouts.md
  content/id/guides/directory-structure/middleware.md
  content/id/guides/directory-structure/modules.md
  content/id/guides/directory-structure/nuxt-config.md
  content/id/guides/directory-structure/nuxt.md
  content/id/guides/directory-structure/pages.md
  content/id/guides/directory-structure/plugins.md
  content/id/guides/directory-structure/static.md
  content/id/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

add Directory Structures folder to content/id/guides
  content/en/guides/directory-structure/modules.md
  content/id/guides/directory-structure/assets.md
  content/id/guides/directory-structure/components.md
  content/id/guides/directory-structure/content.md
  content/id/guides/directory-structure/layouts.md
  content/id/guides/directory-structure/middleware.md
  content/id/guides/directory-structure/nuxt-config.md
  content/id/guides/directory-structure/nuxt.md
  content/id/guides/directory-structure/pages.md
  content/id/guides/directory-structure/plugins.md
  content/id/guides/directory-structure/store.md
  content/id/guides/get-started/assets.md
  content/id/guides/get-started/components.md
  content/id/guides/get-started/content.md
  content/id/guides/get-started/dist.md
  content/id/guides/get-started/layouts.md
  content/id/guides/get-started/middleware.md
  content/id/guides/get-started/modules.md
  content/id/guides/get-started/nuxt-config.md
  content/id/guides/get-started/nuxt.md
  content/id/guides/get-started/pages.md
  content/id/guides/get-started/plugins.md
  content/id/guides/get-started/static.md
  content/id/guides/get-started/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

add new directory-structure to content/id/guides
  content/id/guides/directory-structure/dist.md
  content/id/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

progress content/id/dist
  content/id/guides/directory-structure/dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

done content for dist, id translation
  content/id/guides/directory-structure/dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

done content/id/static, indonesian translation
  content/id/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translated(es-ES) es/guides/features
  .env.example
  content/es/guides/features/configuration.md
  content/es/guides/features/data-fetching.md
  content/es/guides/features/deployment-targets.md
  content/es/guides/features/file-system-routing.md
  content/es/guides/features/live-preview.md
  content/es/guides/features/loading.md
  content/es/guides/features/meta-tags-seo.md
  content/es/guides/features/nuxt-components.md
  content/es/guides/features/rendering-modes.md
  content/es/guides/features/transitions.md
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Make translation to the configuration-glossary files: extendPlugins, globalName, head & env
  content/es/guides/configuration-glossary/configuration-env.md
  content/es/guides/configuration-glossary/configuration-extend-plugins.md
  content/es/guides/configuration-glossary/configuration-global-name.md
  content/es/guides/configuration-glossary/configuration-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: limit global styles to scoped styles
  components/global/bases/AppModal.vue
  components/global/bases/BaseAlert.vue
Due: yarn lint:eslint, yarn lint:prettier

fix small syntax error in plugin docs
  content/en/guide/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Copy english version files
  content/id/guides/features/deployment-targets.md
  content/id/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

Progress rendering-modes.md
  content/id/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix word 'default' to 'bawaan' and a minor other fix
  content/id/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint
