Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

:pencil: (3.md) update content (#87)
  content/fr/3.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (home discover) translate to fr (#88)
  content/fr/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:package: (deps) upgrade docus (0.8.15)
  package.json
  yarn.lock
Due: yarn lint:prettier

:rewind: (rewind) import missing commits from branch change
  components/molecules/footer/FooterSocialLinks.vue
  content/fr/3.md
  content/fr/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:package: (deps) upgrade docus (0.8.15)
  package.json
Due: yarn lint:prettier

feat(preview): lazy load more homepage images
  components/organisms/home/HomeCampfire.vue
  components/organisms/home/HomeTestimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(preview): various team info (#1520)
  content/en/teams/2.community.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(preview): add some accessability props to homepage elements
  components/molecules/footer/FooterSocialLinks.vue
  components/organisms/animations/AnimFromCliCodeblock.vue
  components/organisms/animations/AnimFromScratchCodeblock.vue
  components/organisms/app/AppFooter.vue
  components/organisms/app/AppHeader.vue
  components/organisms/home/CodeBlockAnimation.vue
  components/organisms/home/HomeTestimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

remove aria-live
  components/organisms/animations/AnimFromCliCodeblock.vue
Due: yarn lint:eslint, yarn lint:prettier

update aria-label to title
  components/organisms/home/HomeTestimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): translate deployment/deploying-to-do-app-pltform
  content/ja/guides/deployment/deploying-to-do-app-platform.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deploying-to-do-app-pltform (#1525)
  content/ja/guides/deployment/deploying-to-do-app-platform.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: color consistency
  components/molecules/InputGroupButton.vue
  components/organisms/HeroParallax.vue
  components/organisms/animations/AnimFromCliCodeblock.vue
  components/organisms/animations/AnimFromScratchCodeblock.vue
  components/organisms/app/AppBanner.vue
  components/organisms/design/DesignColors.vue
  components/organisms/design/DesignHero.vue
  components/organisms/design/DesignLogos.vue
  components/organisms/home/HomeCampfire.vue
  components/organisms/home/HomeHero.vue
  components/organisms/home/HomeLearnGuides.vue
  components/organisms/resources/ResourcesList.vue
  components/organisms/resources/SponsorsBlock.vue
  components/organisms/resources/SustainabilitySection.vue
  components/organisms/resources/ThemesList.vue
  components/organisms/resources/VideoCoursesList.vue
  components/organisms/section/SectionContentItem.vue
  components/organisms/support/SupportPricing.vue
  components/organisms/team/TeamMember.vue
  components/templates/Error.vue
  content/en/design-kit/2.colors.md
  content/en/v3.md
  content/fr/design-kit/2.colors.md
  content/fr/team.md
  content/fr/v3.md
  windi.config.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: make it shorter
  content/en/teams/2.community.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: v3 ready progress
  components/atoms/Logo.vue
  components/atoms/icons/IconCAPI.vue
  components/atoms/icons/IconCLI.vue
  components/atoms/icons/IconDevtools.vue
  components/atoms/icons/IconFeather.vue
  components/atoms/icons/IconHybrid.vue
  components/atoms/icons/IconKit.vue
  components/atoms/icons/IconRabbit.vue
  components/atoms/icons/IconSuspense.vue
  components/atoms/icons/IconTypeScript.vue
  components/atoms/icons/IconVite.vue
  components/atoms/icons/IconVue.vue
  components/atoms/icons/IconWebpack.vue
  components/organisms/HeroParallax.vue
  components/organisms/Nuxt3HeroParallax.vue
  components/organisms/home/HomeFeatures.vue
  components/organisms/home/HomeLearnGuides.vue
  components/organisms/nuxt3/Nuxt3Hero.vue
  components/organisms/section/SectionContentItem.vue
  content/en/index.md
  content/en/v3.md
  content/fr/v3.md
  nuxt.config.ts
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: quick improvement
  components/organisms/section/SectionContentItem.vue
  content/en/v3.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: small tweaks to v3 wording
  content/en/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: improve content on v3
  components/atoms/Headline.vue
  content/en/v3.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Nuxt app tries to restart app using pm2 start
  content/en/guides/deployment/deployment-pm2.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update deploy with Qovery docs for V2
  content/en/guides/deployment/deployment-qovery.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add deployment documentation for Stormktio
  content/en/guides/deployment/deployment-stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update v3 page
  components/organisms/section/SectionContentItem.vue
  content/en/v3.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore: remove opacity
  components/organisms/home/HomeTestimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: fix carbon ads bg
  components/molecules/ads/AdsCarbon.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: Add deployment documentation for Stormktio (#1529)
  content/en/guides/deployment/deployment-stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

Updated node-sass sass-loader
  content/fr/guides/configuration-glossary/configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create 25.Stormkitio.md
  content/en/0.docs/8.deployment/25.Stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 25.Stormkitio.md
  content/en/0.docs/8.deployment/25.Stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Create 25.Stormkitio.md (#1531)
  content/en/0.docs/8.deployment/25.Stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: add plausible
  nuxt.config.ts
  package.json
  yarn.lock
Due: yarn lint:prettier

chore: add public runtime config
  nuxt.config.ts
Due: none

Update v3.md
  content/en/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update v3.md (#1532)
  content/en/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update sass packages example
  content/fr/guides/configuration-glossary/configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

Index page FR translations
  content/fr/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Index page FR translations (#1534)
  content/fr/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update nb of stars
  content/en/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): update stars
  content/fr/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Added clarity
  content/en/guides/deployment/deployment-azure-portal.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add information about runtimeOption properties
  content/en/guides/configuration-glossary/configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint
