Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Update content/de/announcements/0.nuxt-static-improvements.md
  content/de/announcements/0.nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 0.nuxt-static-improvements.md
  content/de/announcements/0.nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update 1.going-full-static.md
  content/de/announcements/1.going-full-static.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(redirects): add localised urls (#1778)
  static/_redirects
Due: none

Update content/de/announcements/1.going-full-static.md
  content/de/announcements/1.going-full-static.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add missing components used in markdown
  components/global/BarChartCacheBuild.vue
  components/global/BaseAlert.vue
  package.json
  windi.config.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

:pencil: rename twitter page to wall-of-love page
  content/en/twitter/index.md
  content/en/wall-of-love/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:recycle: (tweets) update comment
  plugins/tweets.js
Due: yarn lint:eslint, yarn lint:prettier

update chart gridLines color
  components/global/BarChartCacheBuild.vue
Due: yarn lint:eslint, yarn lint:prettier

:lipstick: change tertiary color to cloud or cloud-lighter in dark mode
  components/organisms/home/HomeDiscoverPartners.vue
  components/organisms/home/HomeExplore.vue
  components/organisms/home/HomeFeatures.vue
  components/organisms/home/HomeTestimonials.vue
  components/organisms/lists/Testimonials.vue
  components/templates/Post.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: add missing components used in markdown (#1779)
  components/global/BarChartCacheBuild.vue
  components/global/BaseAlert.vue
  package.json
  windi.config.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix: change tertiary color to cloud for more visibility (#1780)
  components/organisms/home/HomeDiscoverPartners.vue
  components/organisms/home/HomeExplore.vue
  components/organisms/home/HomeFeatures.vue
  components/organisms/home/HomeTestimonials.vue
  components/organisms/lists/Testimonials.vue
  components/templates/Post.vue
Due: yarn lint:eslint, yarn lint:prettier

Include Page.key option in documentation
  content/en/docs/4.directory-structure/9.pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: created get-started/installation guide
  content/pt/docs/1.get-started/1.installation.md
  content/pt/docs/1.get-started/index.md
  content/pt/docs/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: created get-started/routing guide
  content/pt/docs/1.get-started/2.routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: sync pt-br i18n file with en-US
  i18n/pt-BR.js
Due: yarn lint:eslint, yarn lint:prettier

feat: add events/talks by Alba Silvente
  content/en/_collections/events/2021.md
  static/img/events/dark/cityjs-london.jpeg
  static/img/events/dark/garaje-ideas.jpeg
  static/img/events/dark/gdg-spain.jpeg
  static/img/events/light/cityjs-london.jpeg
  static/img/events/light/garaje-ideas.jpeg
  static/img/events/light/gdg-spain.jpeg
Due: yarn lint:prettier, yarn lint:markdownlint

docs: created get-started/directory-structure
  content/pt/docs/1.get-started/3.directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: fixed 3.directory-structure file
  content/pt/docs/1.get-started/3.directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: home hero title selectable
  components/organisms/home/HomeHero.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: fixed 3.commands file
  content/pt/docs/1.get-started/4.commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

Server is really vague here and should be clarified.
  content/en/docs/3.features/2.deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(content): testimonials
  content/en/_collections/testimonials/index.md
  content/fr/_collections/testimonials/index.md
  content/ja/_collections/testimonials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(content): testimonials (#1789)
  content/en/_collections/testimonials/index.md
  content/fr/_collections/testimonials/index.md
  content/ja/_collections/testimonials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): contribution-guide.md
  content/fr/contribution-guide/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): typo changes
  content/fr/contribution-guide/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(Home): `SectionButton`s spacing
  components/organisms/home/HomeHero.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(fr): contribution-guide.md (#1790)
  content/fr/contribution-guide/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(Search): improve UI
  components/molecules/forms/AlgoliaSearchBox.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(Search): improve UI (#1792)
  components/molecules/forms/AlgoliaSearchBox.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(Home): `SectionButton`s spacing (#1791)
  components/organisms/home/HomeHero.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: Discord icon
  components/atoms/icons/IconDiscord.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: correct discord icon (#1798)
  components/atoms/icons/IconDiscord.vue
Due: yarn lint:eslint, yarn lint:prettier

feat(Showcases): improve UX
  components/organisms/asides/AsideShowcases.vue
  components/organisms/heroes/PageHero.vue
  components/organisms/lists/ShowcasesListing.vue
  content/en/showcases/index.md
  content/fr/showcases/index.md
  content/ja/showcases/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint
