Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Translate metatdata of context-helpers.md into Korean
  content/ko/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate some sentences more naturally
  content/ko/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate static-site-generation.md into Korean
  content/ko/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(guides): pt-br translations of the remaining configurations-glossary files
  content/pt/guides/configuration-glossary/configuration-build.md
  content/pt/guides/configuration-glossary/configuration-generate.md
  content/pt/guides/configuration-glossary/configuration-render.md
  content/pt/guides/configuration-glossary/configuration-router.md
  content/pt/guides/configuration-glossary/configuration-server.md
  content/pt/guides/configuration-glossary/configuration-servermiddleware.md
  content/pt/guides/configuration-glossary/configuration-telemetry.md
  content/pt/guides/configuration-glossary/configuration-transition.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(nuxt.config): comment pt-br i18n config to avoid conflicts
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

Fix Korean Typo in context.md
  content/ko/api/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix '\$config' Typo to '$config' and 'Res' Typo to 'res' in context.md
  content/en/api/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): Update guide/commands (#527)
  content/ja/guide/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency cypress to v5
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): lock file maintenance
  yarn.lock
Due: none

docs(guides): fix typo on internals-glossary > context guide (#530)
  content/en/guides/internals-glossary/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: incorrect link to router.scrollBeahvior.js (#535)
  content/en/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translation some pages into Korean (#536)
  content/ko/guides/concepts/context-helpers.md
  content/ko/guides/concepts/server-side-rendering.md
  content/ko/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix some typo in context.md (ko and en) (#538)
  content/en/api/context.md
  content/ko/api/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: parse issues korean
  content/ko/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: parse issues korean (#539)
  content/ko/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add 404 page
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
  layouts/404.vue
  nuxt.config.js
  pages/_section/_slug.vue
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: add 404 page (#540)
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/pt-BR.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
  layouts/404.vue
  nuxt.config.js
  pages/_section/_slug.vue
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: modulesdir docs
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/nuxt-config.md
  content/pt/guides/directory-structure/modules.md
  content/pt/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: modulesdir docs
  content/en/guides/directory-structure/nuxt-config.md
  content/pt/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix/modulesdir docs (#541)
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/nuxt-config.md
  content/pt/guides/directory-structure/modules.md
  content/pt/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency prettier to ^2.1.0
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(ja) update ja/guide/index
  content/ja/guide/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update dependency @nuxtjs/tailwindcss to ^3.0.1
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(ja): update ja/guide/installation
  content/ja/guide/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja) update ja/guide/index (#545)
  content/ja/guide/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): update ja/guide/installation (#552)
  content/ja/guide/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: activate pt lang
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier
