Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: add new ambassadors (#906)
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

Setup banner
  components/TheAsideNavNewDocs.vue
  components/TheHeader.vue
  components/TheMobileAsideNavNewDocs.vue
  components/partials/AffixBlock.vue
  layouts/default.vue
  store/index.js
  tailwind.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix: add surname
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

Feat/add ambassadors (#907)
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(guide): Fix typo on secret pages warning
  content/en/guide/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(guide): Fix grammar on secret pages warning
  content/en/guide/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Finish banner
  layouts/default.vue
  store/index.js
Due: yarn lint:eslint, yarn lint:prettier

Fix aside
  components/TheAsideNav.vue
  components/partials/ads/BannerMasteringNuxt.vue
  static/img/banners/masteringnuxt/arrow-right.svg
  static/img/banners/masteringnuxt/mn-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

Fix indentation
  components/partials/ads/BannerMasteringNuxt.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): add original
  content/ja/guides/internals-glossary/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): Updated Nuxt Lifecycle Diagram
  content/es/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): Changed error(error) to error(e)
  content/es/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): Update nuxt-config.md
  content/es/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): update plugins.md
  content/es/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

GET_STARS=>>SET_STARS
  content/zh/api/pages-fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

生成在打包后自动启动
  content/zh/guide/commands.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix typos (#909)
  content/en/guide/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

reduce size of button
  components/partials/ads/BannerMasteringNuxt.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: add env and better explanation
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add warn for exposing tokens
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): Update spanish (#910)
  content/es/guides/concepts/context-helpers.md
  content/es/guides/concepts/nuxt-lifecycle.md
  content/es/guides/directory-structure/nuxt-config.md
  content/es/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: change png to svg
  content/id/guides/concepts/nuxt-lifecycle.md
  content/pt/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: change png to svg (#915)
  content/id/guides/concepts/nuxt-lifecycle.md
  content/pt/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: eadd changes to errors in id and pt lang
  content/id/guides/concepts/context-helpers.md
  content/pt/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: eadd changes to errors in id and pt lang (#916)
  content/id/guides/concepts/context-helpers.md
  content/pt/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency sass to ^1.27.1
  package.json
  yarn.lock
Due: yarn lint:prettier

fix(second-read): directory structure half-done
  content/fr/guides/concepts/views.md
  content/fr/guides/configuration-glossary/configuration-modules.md
  content/fr/guides/configuration-glossary/configuration-srcdir.md
  content/fr/guides/configuration-glossary/configuration-transition.md
  content/fr/guides/directory-structure/assets.md
  content/fr/guides/directory-structure/components.md
  content/fr/guides/directory-structure/dist.md
  content/fr/guides/directory-structure/layouts.md
  content/fr/guides/directory-structure/modules.md
  content/fr/guides/directory-structure/nuxt.md
  content/fr/guides/directory-structure/pages.md
  content/fr/guides/directory-structure/static.md
  content/fr/guides/directory-structure/store.md
  content/fr/guides/get-started/installation.md
  content/fr/guides/get-started/routing.md
  content/fr/guides/get-started/upgrading.md
  content/fr/guides/internals-glossary/internals-generator.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(second-read): small typos
  content/fr/guides/configuration-glossary/configuration-transition.md
  content/fr/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: grammar
  content/fr/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove strange file
  +
Due: none

fix: order of files
  content/en/guides/get-started/conclusion.md
  content/en/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: order of files (#918)
  content/en/guides/get-started/conclusion.md
  content/en/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
