Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs: add link to rendering modes
  content/en/guides/configuration-glossary/configuration-mode.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(build): improve split chunks example
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(build): improve split chunks example (#449)
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

Remove duplicated text
  content/fr/api/configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration-env.md
  content/fr/api/configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration-env.md (#451)
  content/fr/api/configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

add video links (en)
  content/en/guides/concepts/static-site-generation.md
  content/en/guides/directory-structure/pages.md
  content/en/guides/directory-structure/store.md
  content/en/guides/features/data-fetching.md
  content/en/guides/get-started/directory-structure.md
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

pwa: remove pwa errors
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

pwa: remove pwa errors (#452)
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix(components): copy button as a component
  assets/css/content.scss
  components/common/AppCopyButton.vue
  mixins/copyCodeBlock.js
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): move to @nuxt/content 1.5.3 instead of dev
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: copy button (#453)
  assets/css/content.scss
  components/common/AppCopyButton.vue
  mixins/copyCodeBlock.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix(pages): update contributors api path
  pages/_section/_slug.vue
  pages/blog/_slug.vue
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(pages): update contributors api path (#455)
  pages/_section/_slug.vue
  pages/blog/_slug.vue
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix: remove badges
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: add paragraph to hygen blog
  _templates/new/blog/blog-template.md
Due: yarn lint:prettier, yarn lint:markdownlint

Team page (#457)
  _templates/new/blog/blog-template.md
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: context docs
  content/en/guides/concepts/context-helpers.md
  content/en/guides/features/meta-tags-seo.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: tooltip text
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: spacings on modal
  components/global/bases/AppModal.vue
Due: yarn lint:eslint, yarn lint:prettier

Fix tooltip modal (#458)
  components/global/bases/AppModal.vue
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fixed syntax for passing module options
  content/en/guide/modules.md
  content/en/guides/directory-structure/modules.md
  content/id/guide/modules.md
  content/ko/guide/modules.md
  content/zh/guide/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

fixed syntax for passing module options (#459)
  content/en/guide/modules.md
  content/en/guides/directory-structure/modules.md
  content/id/guide/modules.md
  content/ko/guide/modules.md
  content/zh/guide/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: plugin injects are only available in store actions
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

specify units of interval
  content/en/api/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add categories for new resources
  content/en/resources/ui-framework.json
  nuxt.config.js
  pages/partners.vue
  pages/resources/_category.vue
  pages/resources/index.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: newsletter test
  cypress/integration/newsletter.spec.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix: newsletter test (#462)
  cypress/integration/newsletter.spec.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier
