Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: design
  components/molecules/cards/SustainabilityCard.vue
  components/molecules/cards/SustainabilityCardDonation.vue
Due: yarn lint:eslint, yarn lint:prettier

feat(Aside): update `AsideHeaderNavigation` style
  components/atoms/links/HeaderNavigationLink.vue
  components/theme/app/AsideHeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

feat(Aside): update `AsideHeaderNavigation` style
  components/theme/app/AsideHeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: Refactor partners page with new LogoCard component and custom template
  components/molecules/EventsCard.vue
  components/organisms/events/AsideEvents.vue
  components/templates/Events.vue
  content/en/_collections/events/2019.md
  content/en/_collections/events/2020.md
  content/en/_collections/events/2021.md
  content/en/events/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency cypress to v8
  package.json
  yarn.lock
Due: yarn lint:prettier

translations(french): fix missing files
  content/fr/_collections/sponsors/mvp-partners/1.netlify.md
  content/fr/_collections/sponsors/mvp-partners/3.vercel.md
  content/fr/_collections/sponsors/mvp/chrome.md
  content/fr/_collections/sponsors/partners/1.swell.md
  content/fr/_collections/sponsors/partners/2.ship-shape.md
  content/fr/_collections/sponsors/partners/3.layer-0.md
  content/fr/_collections/sponsors/partners/4.storyblok.md
  content/fr/_collections/sponsors/partners/5.64robots.md
Due: yarn lint:prettier, yarn lint:markdownlint

:construction: (home) refacto home
  .env.example
  components/molecules/CampfireListItem.vue
  components/molecules/SustainabilityCardDonation.vue
  components/organisms/heroes/Nuxt3Timeline.vue
  components/organisms/home/HomeCampfire.vue
  components/organisms/home/HomeDiscover.vue
  components/organisms/home/HomeDiscoverDx.vue
  components/organisms/home/HomeDiscoverPartners.vue
  components/organisms/home/HomeExplore.vue
  components/organisms/home/HomeHero.vue
  components/organisms/home/HomeLearnGuides.vue
  components/organisms/home/HomeLearnMaster.vue
  components/organisms/home/HomeTestimonials.vue
  components/organisms/sections/SectionContentItem.vue
  components/templates/Blank.vue
  content/en/index.md
  content/en/v3/index.md
  content/fr/v3/index.md
  content/ja/v3.md
  static/img/home/campfire/book.svg
  static/img/home/campfire/campfire-illustration-big.svg
  static/img/home/campfire/campfire-illustration.svg
  static/img/home/discover/dx/discover-mountain.svg
  static/img/home/discover/partners/partners-illustration.svg
  static/img/home/explore/gem-explore-1.svg
  static/img/home/explore/gem-explore-2.svg
  static/img/home/explore/gem-explore-3.svg
  static/img/home/explore/landscape-explore.svg
  static/img/home/learn/guides/gem-1.svg
  static/img/home/learn/guides/gem-2.svg
  static/img/home/learn/guides/gem-3.svg
  static/img/home/learn/guides/gem-4.svg
  static/img/home/testimonials/landscape-community.svg
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:sparkles: (HomeLearnMaster) add illustrations
  components/organisms/home/HomeHero.vue
  components/organisms/home/HomeLearnMaster.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (home) replace discover block by learn animations
  content/en/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:sparkles: (testimonials) fetch content and update padding
  components/organisms/lists/Testimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

:recycle: (testimonials) update content
  content/en/_collections/testimonials/index.md
  content/en/index.md
  content/en/testimonials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:lipstick: (Home) update text color
  components/organisms/home/HomeCampfire.vue
  components/organisms/home/HomeLearnMaster.vue
Due: yarn lint:eslint, yarn lint:prettier

:wrench: (docus.config) add shortcut for home header
  docus.config.ts
Due: none

:recycle: (CodeBlockAnimations) update colors
  components/organisms/animations/AnimFromCliCodeblock.vue
  components/organisms/animations/AnimFromScratchCodeblock.vue
  components/organisms/home/CodeBlockAnimation.vue
Due: yarn lint:eslint, yarn lint:prettier

:lipstick: (Testimonials) update colors and spacing
  components/organisms/home/HomeTestimonials.vue
  components/organisms/lists/Testimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (home) update header and footer color for home
  components/atoms/selects/Dropdown.vue
  components/molecules/forms/AlgoliaSearchBox.vue
  components/molecules/forms/ColorSwitcher.vue
  components/molecules/forms/InputGroupButton.vue
  components/molecules/forms/LangSwitcher.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:lipstick: (HomeHero) update spacing
  components/organisms/heroes/HeroParallax.vue
  components/organisms/home/HomeHero.vue
Due: yarn lint:eslint, yarn lint:prettier

:lipstick: (home) update spacing
  components/organisms/home/HomeCampfire.vue
  components/organisms/home/HomeLearnGuides.vue
  components/organisms/home/HomeTestimonials.vue
  static/img/home/footer.svg
Due: yarn lint:eslint, yarn lint:prettier

translations: fix testimonials in fr and ja
  content/en/testimonials/index.md
  content/fr/_collections/testimonials/index.md
  content/fr/testimonials/index.md
  content/ja/_collections/testimonials/index.md
  content/ja/testimonials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: markdown typo
  content/fr/sponsors/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix typo
  content/en/sponsors/index.md
  content/fr/sponsors/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor(navigation): fixes & enhancements
  components/atoms/links/HeaderNavigationLink.vue
  components/theme/app/AppAside.vue
  components/theme/app/AppFooter.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AppLayout.vue
  components/theme/app/AsideHeaderNavigation.vue
  content/en/_collections/navigations/header.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix(showcases): missing var
  components/organisms/heroes/ShowcasesHero.vue
Due: yarn lint:eslint, yarn lint:prettier

Heading update on markdown
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add card footer + change CTA depending on date
  components/molecules/cards/LogoCard.vue
  components/templates/Events.vue
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix: case study description
  content/en/case-studies/5.404-place-vendome.md
  content/fr/case-studies/5.404-place-vendome.md
  content/ja/case-studies/5.404-place-vendome.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix case study description
  content/en/case-studies/5.404-place-vendome.md
  content/fr/case-studies/5.404-place-vendome.md
  content/ja/case-studies/5.404-place-vendome.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add events collection (#1673)
  components/molecules/cards/LogoCard.vue
  components/templates/Events.vue
  content/en/_collections/events/2019.md
  content/en/_collections/events/2020.md
  content/en/_collections/events/2021.md
  content/en/_collections/events/index.md
  content/en/events/index.md
  i18n/en-US.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:recycle: (Partners) update due to home refacto
  components/organisms/home/HomeDiscoverPartners.vue
  components/organisms/lists/PartnersBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

:wrench: (docus.config) add css classes for header
  docus.config.ts
Due: none

:lipstick: (Aside) update color for home
  components/theme/app/AppAside.vue
  components/theme/app/AppHeader.vue
  components/theme/app/AsideHeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

fix events description
  content/en/events/index.md
  content/fr/events/index.md
  content/ja/events/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: update redirects
  _redirects
Due: none

feat: update redirects (#1681)
  _redirects
Due: none

fix: design and partners
  components/organisms/heroes/PageHero.vue
  components/organisms/heroes/SponsorsHero.vue
  components/templates/List.vue
  content/en/announcements/index.md
  content/en/partners/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: card event design
  components/molecules/cards/LogoCard.vue
  components/templates/Events.vue
Due: yarn lint:eslint, yarn lint:prettier

fix support page buttons
  components/molecules/cards/SupportCard.vue
  content/en/support/index.md
  content/en/tutorials/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
