Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: server docs (#1180)
  content/en/guides/concepts/server-side-rendering.md
  content/es/guides/concepts/server-side-rendering.md
  content/fr/guides/concepts/server-side-rendering.md
  content/id/guides/concepts/server-side-rendering.md
  content/ja/guides/concepts/server-side-rendering.md
  content/ko/guides/concepts/server-side-rendering.md
  content/pt/guides/concepts/server-side-rendering.md
  content/ru/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: servermiddleware folder
  content/en/_archives/api/configuration-servermiddleware.md
  content/en/guides/concepts/server-side-rendering.md
  content/en/guides/configuration-glossary/configuration-servermiddleware.md
  content/es/guides/concepts/server-side-rendering.md
  content/es/guides/configuration-glossary/configuration-servermiddleware.md
  content/fr/_archives/api/configuration-servermiddleware.md
  content/fr/guides/concepts/server-side-rendering.md
  content/fr/guides/configuration-glossary/configuration-servermiddleware.md
  content/id/_archives/api/configuration-servermiddleware.md
  content/id/guides/concepts/server-side-rendering.md
  content/ja/_archives/api/configuration-servermiddleware.md
  content/ja/guides/concepts/server-side-rendering.md
  content/ja/guides/configuration-glossary/configuration-servermiddleware.md
  content/ko/_archives/api/configuration-servermiddleware.md
  content/ko/guides/concepts/server-side-rendering.md
  content/pt/guides/concepts/server-side-rendering.md
  content/pt/guides/configuration-glossary/configuration-servermiddleware.md
  content/ru/guides/concepts/server-side-rendering.md
  content/zh/_archives/api/configuration-servermiddleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: responsive styling
  pages/video-courses.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: update yarn to resolve conflicts
  yarn.lock
Due: none

fix: performance issues
  components/templates/TheFooter.vue
  components/templates/TheHeader.vue
  components/templates/TheMobileBottomNav.vue
  nuxt.config.js
  pages/index.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: broken link for faq
  pages/faq/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: performance issues (#1182)
  components/templates/TheFooter.vue
  components/templates/TheHeader.vue
  components/templates/TheMobileBottomNav.vue
  nuxt.config.js
  pages/index.vue
Due: yarn lint:eslint, yarn lint:prettier

Update nuxt-components.md
  content/ru/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update dependency nuxt-edge to ^2.15.0-26853192.498f8553
  package.json
  yarn.lock
Due: yarn lint:prettier

Update content/ru/guides/features/configuration.md
  content/ru/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: move phone nums to ssr page
  _redirects
  content/en/_archives/faq/ios-phone-numbers.md
  content/en/guides/concepts/server-side-rendering.md
  pages/faq/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

update zh translation concepts/views
  content/zh/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: deployment labels
  components/templates/TheAsideNavNewDocs.vue
  content/en/guides/deployment/appengine-deployment.md
  content/en/guides/deployment/bip-deployment.md
  content/en/guides/deployment/deploy-on-moovweb.md
  content/en/guides/deployment/deploying-to-21yunbox.md
  content/en/guides/deployment/deployment-amazon-web-services.md
  content/en/guides/deployment/deployment-azure-portal.md
  content/en/guides/deployment/deployment-azure-static-web-apps.md
  content/en/guides/deployment/deployment-cloud-run.md
  content/en/guides/deployment/deployment-pm2.md
  content/en/guides/deployment/dokku-deployment.md
  content/en/guides/deployment/github-pages.md
  content/en/guides/deployment/heroku-deployment.md
  content/en/guides/deployment/netlify-deployment.md
  content/en/guides/deployment/nginx-proxy.md
  content/en/guides/deployment/surge-deployment.md
  content/en/guides/deployment/vercel-deployment.md
  pages/docs/2.x/_book.vue
  pages/docs/2.x/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: nginx static and server
  content/en/guides/deployment/nginx-proxy.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: colors for labels
  components/atoms/AppLabel.vue
  components/templates/TheAsideNavNewDocs.vue
  content/en/guides/deployment/appengine-deployment.md
  content/en/guides/deployment/deploy-on-moovweb.md
  content/en/guides/deployment/deploying-to-21yunbox.md
  content/en/guides/deployment/deployment-azure-portal.md
  content/en/guides/deployment/deployment-cloud-run.md
  content/en/guides/deployment/deployment-pm2.md
  content/en/guides/deployment/dokku-deployment.md
  content/en/guides/deployment/heroku-deployment.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: styling
  components/atoms/AppLabel.vue
  components/templates/TheAsideNavNewDocs.vue
Due: yarn lint:eslint, yarn lint:prettier

Update plugins.md
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

Update plugins.md (#1186)
  content/en/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
