Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

update homepage
  assets/scss/icons/_flags.scss
  assets/scss/theme/_buttons.scss
  components/HeaderNavLang.vue
  components/HeaderNavMenu.vue
  components/VueToNuxtLogo.vue
  pages/index.vue
  static/flags.png
  static/logo_home.png
  static/logo_home_mobile.png
Due: yarn lint:eslint, yarn lint:prettier

update ads
  components/CarbonAds.vue
  pages/api.vue
  pages/api/_slug.vue
  pages/examples.vue
  pages/examples/_slug.vue
  pages/faq.vue
  pages/faq/_slug.vue
  pages/guide.vue
  pages/guide/_slug.vue
  static/vuejobs.png
Due: yarn lint:eslint, yarn lint:prettier

add views schema
  static/nuxt-views-schema.png
Due: none

Optimise logo size
  static/logo_nav.png
Due: none

update schema
  static/nuxt-views-schema.png
Due: none

add ko flag
  assets/scss/icons/_flags.scss
  static/flags.png
Due: yarn lint:prettier

Update schema
  static/nuxt-schema.png
Due: none

Fix typo in schema/flowchart (closes #86)
  static/nuxt-schema.png
Due: none

lang: Add indonesian language
  assets/scss/icons/_flags.scss
  components/HeaderNavLang.vue
  layouts/default.vue
  now.json
  static/flags.png
Due: yarn lint:eslint, yarn lint:prettier

Images needed for docs PR 519
  static/github_pages_appveyor_01.png
  static/github_pages_appveyor_02.png
  static/github_pages_travis_01.png
  static/github_pages_travis_02.png
  static/github_pages_travis_03.png
  static/github_pages_travis_04.png
Due: none

docs: Add Shuttleworth funded logo
  components/Footer.vue
  pages/index.vue
  static/shuttleworth-funded.jpg
Due: yarn lint:eslint, yarn lint:prettier

[Examples] Middlewares, German
  content/de/examples/8.middlewares/1.router.md
  content/de/examples/8.middlewares/2.named.md
  content/de/examples/8.middlewares/3.anonymous.md
  content/de/examples/8.middlewares/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

home: Improve sponsors
  components/Footer.vue
  static/shuttleworth-funded.png
Due: yarn lint:eslint, yarn lint:prettier

add VueMastery Sponsor Logo
  .DS_Store
  components/Affix.vue
  static/vueMastery-brand.svg
Due: yarn lint:eslint, yarn lint:prettier

add tidelift and vuemastery on homepage
  .DS_Store
  components/Footer.vue
  pages/index.vue
  static/tidelift.svg
Due: yarn lint:eslint, yarn lint:prettier

Create index.md
  content/de/examples/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

add tidelift on guide section
  .DS_Store
  components/.DS_Store
  components/Affix.vue
  static/.DS_Store
Due: yarn lint:eslint, yarn lint:prettier

feat: add continuous loading gif (#161)
  static/api-continuous-loading.gif
Due: none

add new style for partnership
  .DS_Store
  assets/scss/theme/_promote.scss
  assets/scss/theme/main.scss
  static/async-data-with-nuxtjs.png
Due: yarn lint:prettier

vueschool: Add picture
  static/nuxt-fundamentals.png
Due: none

Convert schemas to SVGs
  static/nuxt-schema.svg
  static/nuxt-views-schema.svg
Due: none

Fix typo in nuxt-schema.svg
  static/nuxt-schema.svg
Due: none

Adjust text alignment in nuxt-views-schema.svg
  static/nuxt-views-schema.svg
Due: none

add logos
  partials/home/backers.vue
  static/tidelift-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

app: Support ad blockers, upgrade Nuxt
  components/CodeFundAds.vue
  nuxt.config.js
  package.json
  plugins/adblock.client.js
  plugins/ga.client.js
  static/ad-blocked.svg
  store/index.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix: svg blocked by ad blocked ><
  components/CodeFundAds.vue
  static/blocked.svg
Due: yarn lint:eslint, yarn lint:prettier

Static Site Generation course illustration
  static/static-site-generation-with-nuxtjs.png
Due: none

perf: start using nuxt-svg-loader
  assets/images/blocked.svg
  assets/images/tidelift.svg
  components/Affix.vue
  components/CodeFundAds.vue
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

Merge branch 'master' of https://github.com/nuxt/nuxtjs.org
  components/Affix.vue
  components/Footer.vue
  nuxt.config.js
  partials/home/backers.vue
  static/async-data-with-nuxtjs-2x.png
  static/async-data-with-nuxtjs.png
  static/nuxt-fundamentals-2x.png
  static/nuxt-fundamentals.png
  static/shuttleworth-funded-2x.png
  static/shuttleworth-funded.png
  static/static-site-generation-with-nuxtjs-2x.png
  static/static-site-generation-with-nuxtjs.png
  static/storyblok-logo.svg
  static/tipe-io-cms-2x.png
  static/tipe-io-cms.png
  static/vuejobs.png
Due: yarn lint:eslint, yarn lint:prettier

feat(partners): Add two new open collective partners images
  static/vueschool-2x.png
  static/vueschool.png
  static/yakaz-partner-2x.png
  static/yakaz-partner.png
Due: none

feat(lazy): Add lazy loading image on homepage
  package.json
  partials/home/backers.vue
  static/oc-loading.svg
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

misc(DS_STORE): Remove
  static/.DS_Store
Due: none

update favicon
  static/favicon.ico
Due: none

change image for social network
  pages/index.vue
  static/meta_640.png
Due: yarn lint:eslint, yarn lint:prettier

add logo horizontal
  static/NUXTJS-logo-800.png
Due: none

add img 400px
  static/meta_400.png
Due: none

chore: new storyblok logo (#171)
  static/storyblok-logo.svg
Due: none

chore: add browserstack icon
  static/browserstack.svg
Due: none

Add Ship Shape logo
  components/Affix.vue
  partials/home/backers.vue
  static/shipshape-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

add partners logos
  components/partials/Partners.vue
  partials/home/why.vue
  static/img/partners/blokt-logo.png
  static/img/partners/hapi-logo.svg
  static/img/partners/shipshape-logo.svg
  static/img/partners/storyblok-logo.svg
  static/img/partners/vueMastery-brand.svg
  static/img/partners/yakaz-partner-2x.png
  static/img/partners/yakaz-partner.png
Due: yarn lint:eslint, yarn lint:prettier
