Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

test: modify modal test to not be multiple
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: skip modal test to test build
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: add one modal back in
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: test image modal test
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: remove first
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: skip modals so build works
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: netlify build plugin
  .eslintcache
  netlify.toml
  package.json
  yarn.lock
Due: yarn lint:prettier

test: add modal test to test netlify plugin
  cypress/integration/modal.spec.js
  package.json
Due: yarn lint:eslint, yarn lint:prettier

test: skip modal test
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: test memory size for netlify build
  .eslintcache
  cypress/integration/modal.spec.js
  netlify.toml
Due: yarn lint:eslint, yarn lint:prettier

test: add basic test
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: testing the modal simple test
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: add describe block test modal
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: modal and home
  .eslintcache
  components/partials/home/HomeSponsors.vue
  cypress/integration/home.spec.js
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: fix modal tests
  .eslintcache
  cypress/integration/home.spec.js
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: modal test use within
  .eslintcache
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: test modal
  .eslintcache
  cypress/integration/home.spec.js
  cypress/integration/modal.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: separate modals to test build
  .eslintcache
  cypress/integration/modal-image.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: skip image modal test
  .eslintcache
  cypress/integration/modal.spec.js
  netlify.toml
Due: yarn lint:eslint, yarn lint:prettier

test: skip modal image test
  .eslintcache
  cypress/integration/modal-image.spec.js
Due: yarn lint:eslint, yarn lint:prettier

test: remove Cypress.config().baseUrl
  .eslintcache
  cypress/integration/home.spec.js
  cypress/integration/modal-image.spec.js
  cypress/integration/modal.spec.js
  cypress/integration/newsletter.spec.js
  cypress/integration/prev-next.spec.js
  cypress/integration/toc.spec.js
Due: yarn lint:eslint, yarn lint:prettier

chore: improvements on aside
  components/TheAsideNav.vue
  components/TheAsideNavNewDocs.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: release notes redirect
  .eslintcache
  _redirects
  components/TheAsideNav.vue
  components/TheAsideNavNewDocs.vue
  content/en/guides/configuration-glossary/configuration-build.md
  content/en/guides/release-notes.md
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: remove old release page
  .eslintcache
  content/en/guide/release-notes.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: upgrade to latest nuxt
  package.json
  yarn.lock
Due: yarn lint:prettier

docs: use alert for next step and improve data fetching
  components/global/bases/BaseAlert.vue
  components/global/icons/IconNext.vue
  content/en/api/configuration-generate.md
  content/en/guides/concepts/nuxt-lifecycle.md
  content/en/guides/concepts/static-site-generation.md
  content/en/guides/concepts/views.md
  content/en/guides/configuration-glossary/configuration-cli.md
  content/en/guides/configuration-glossary/configuration-components.md
  content/en/guides/configuration-glossary/configuration-css.md
  content/en/guides/configuration-glossary/configuration-generate.md
  content/en/guides/configuration-glossary/configuration-watchers.md
  content/en/guides/directory-structure/assets.md
  content/en/guides/directory-structure/components.md
  content/en/guides/directory-structure/middleware.md
  content/en/guides/directory-structure/pages.md
  content/en/guides/features/data-fetching.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: remove nuxt export for smarter nuxt generate
  content/en/api/configuration-dev.md
  content/en/api/configuration-generate.md
  content/en/api/configuration-modern.md
  content/en/api/configuration-telemetry.md
  content/en/api/context.md
  content/en/api/internals-generator.md
  content/en/blog/going-full-static.md
  content/en/faq/deployment-aws-s3-cloudfront.md
  content/en/faq/deployment-azure-static-web-apps.md
  content/en/faq/github-pages.md
  content/en/faq/netlify-deployment.md
  content/en/faq/surge-deployment.md
  content/en/guides/concepts/static-site-generation.md
  content/en/guides/concepts/views.md
  content/en/guides/features/nuxt-components.md
  content/fr/api/configuration-telemetry.md
  content/fr/guides/get-started/installation.md
  content/ja/faq/deployment-azure-static-web-apps.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: remove eslintcache from git
  .gitignore
Due: none

fix: remove hooks chapter
  content/en/guides/features/hooks.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: release notes fix
  _redirects
  components/TheAsideNav.vue
  components/TheAsideNavNewDocs.vue
  content/en/guide/release-notes.md
  content/en/guides/get-started/conclusion.md
  content/en/guides/get-started/routing.md
  content/en/guides/get-started/upgrading.md
  nuxt.config.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: add base next
  .eslintcache
  content/en/guides/components-glossary/pages-fetch.md
  content/en/guides/components-glossary/pages-key.md
  content/en/guides/configuration-glossary/configuration-loading-indicator.md
  content/en/guides/configuration-glossary/configuration-loading.md
  content/en/guides/configuration-glossary/configuration-modules.md
  content/en/guides/configuration-glossary/configuration-plugins.md
  content/en/guides/directory-structure/content.md
  content/en/guides/directory-structure/nuxt-config.md
  content/en/guides/directory-structure/pages.md
  content/en/guides/features/file-system-routing.md
  content/en/guides/features/live-preview.md
  content/en/guides/features/meta-tags-seo.md
  content/en/guides/features/nuxt-components.md
  content/en/guides/features/rendering-modes.md
  content/en/guides/get-started/directory-structure.md
  content/en/guides/get-started/routing.md
  content/en/guides/internals-glossary/nuxt-render-route.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: links to guides
  content/en/guides/components-glossary/pages-fetch.md
  content/en/guides/components-glossary/pages-loading.md
  content/en/guides/components-glossary/pages-scrolltotop.md
  content/en/guides/components-glossary/pages-validate.md
  content/en/guides/components-glossary/pages-watchquery.md
  content/en/guides/configuration-glossary/configuration-build.md
  content/en/guides/configuration-glossary/configuration-dev.md
  content/en/guides/configuration-glossary/configuration-env.md
  content/en/guides/configuration-glossary/configuration-extend-plugins.md
  content/en/guides/configuration-glossary/configuration-generate.md
  content/en/guides/configuration-glossary/configuration-head.md
  content/en/guides/configuration-glossary/configuration-hooks.md
  content/en/guides/configuration-glossary/configuration-modern.md
  content/en/guides/configuration-glossary/configuration-modules.md
  content/en/guides/configuration-glossary/configuration-modulesdir.md
  content/en/guides/configuration-glossary/configuration-rootdir.md
  content/en/guides/configuration-glossary/configuration-router.md
  content/en/guides/configuration-glossary/configuration-server.md
  content/en/guides/configuration-glossary/configuration-servermiddleware.md
  content/en/guides/configuration-glossary/configuration-srcdir.md
  content/en/guides/configuration-glossary/configuration-transition.md
  content/en/guides/directory-structure/assets.md
  content/en/guides/directory-structure/middleware.md
  content/en/guides/directory-structure/modules.md
  content/en/guides/directory-structure/pages.md
  content/en/guides/directory-structure/plugins.md
  content/en/guides/features/configuration.md
  content/en/guides/features/data-fetching.md
  content/en/guides/features/file-system-routing.md
  content/en/guides/features/nuxt-components.md
  content/en/guides/internals-glossary/context.md
  content/en/guides/internals-glossary/internals-module-container.md
  content/en/guides/internals-glossary/internals.md
  content/en/guides/internals-glossary/nuxt-render-and-get-window.md
  content/en/guides/internals-glossary/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add router.prefetchPaylods option
  content/en/api/configuration-router.md
  content/en/guides/configuration-glossary/configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: fix broken link
  content/en/guides/directory-structure/nuxt-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix test script and remove old scripts
  package.json
Due: yarn lint:prettier

fix: fix github action
  .github/workflows/main.yml
Due: none

docs: add info for generate.cache
  content/en/api/configuration-generate.md
  content/en/api/context.md
  content/en/api/internals-generator.md
  content/en/guides/configuration-glossary/configuration-generate.md
  content/en/guides/features/telemetry.md
  content/en/guides/internals-glossary/$nuxt.md
  content/en/guides/internals-glossary/context.md
  content/en/guides/internals-glossary/internals-builder.md
  content/en/guides/internals-glossary/internals-generator.md
  content/en/guides/internals-glossary/internals-module-container.md
  content/en/guides/internals-glossary/internals-nuxt.md
  content/en/guides/internals-glossary/internals-renderer.md
  content/en/guides/internals-glossary/internals.md
  content/en/guides/internals-glossary/nuxt-render-and-get-window.md
  content/en/guides/internals-glossary/nuxt-render-route.md
  content/en/guides/internals-glossary/nuxt-render.md
  content/en/guides/internals-glossary/nuxt.md
  yarn.lock
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add toc to sidebar
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: full with home page on mobile
  .eslintcache
  components/partials/home/HomeWelcome.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: add static example to upgrading
  .eslintcache
  content/en/guides/get-started/upgrading.md
  yarn.lock
Due: yarn lint:prettier, yarn lint:markdownlint
