Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

fix: runtime link
  content/en/guides/configuration-glossary/configuration-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ja/guides/directory-structure/pages.md
  content/ja/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate context (#920)
  content/ja/guides/internals-glossary/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: 半角スペースの付与ルールに従って修正
  content/ja/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): Transrate guides concepts views into Japanese (#924)
  content/ja/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): guides/directory-structure/pages.md #143
  content/ja/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): fix position
  content/ja/guides/get-started/conclusion.md
  content/ja/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Typo in image references
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-modules (#937)
  content/ja/guides/configuration-glossary/configuration-modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: runtime link (#950)
  content/en/guides/configuration-glossary/configuration-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Typo in image references (#952)
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: redirect to valid url
  _redirects
Due: none

test: test preview sites for broken links
  .github/workflows/deployment.yml
  package.json
  scripts/crawl.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix: broken links
  content/en/_archives/api/configuration-rootdir.md
  content/en/faq/surge-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: more broken links
  content/en/blog/creating-blog-with-nuxt-content.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/guides/concepts/context-helpers.md
  content/es/guides/concepts/context-helpers.md
  content/id/guides/concepts/context-helpers.md
  content/ko/guides/concepts/context-helpers.md
  content/pt/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: ignore gifs too
  scripts/crawl.js
Due: yarn lint:eslint, yarn lint:prettier

fix: update repo link
  content/en/_archives/api/configuration-build.md
  content/en/guides/configuration-glossary/configuration-build.md
  content/es/guides/configuration-glossary/configuration-build.md
  content/fr/api/configuration-build.md
  content/id/api/configuration-build.md
  content/ja/api/configuration-build.md
  content/ja/guides/configuration-glossary/configuration-build.md
  content/pt/guides/configuration-glossary/configuration-build.md
  content/zh/api/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint
