Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

chore: add 9th testimonial
  components/organisms/home/HomeTestimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: improve testimonials ux
  components/organisms/home/HomeTestimonials.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: translate blog CTA (#79)
  components/organisms/home/HomeCampfire.vue
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

fix: change the sandbox code (#81)
  content/fr/1.examples/1.routing/1.hello-world.md
  content/fr/1.examples/1.routing/2.active-link-classes.md
  content/fr/1.examples/1.routing/3.dynamic-pages.md
  content/fr/1.examples/1.routing/4.nested-pages.md
  content/fr/1.examples/10.modules/1.local.md
  content/fr/1.examples/10.modules/2.axios.md
  content/fr/1.examples/2.data-fetching/1.async-data.md
  content/fr/1.examples/2.data-fetching/2.fetch-hook.md
  content/fr/1.examples/3.assets-management/1.pre-processors.md
  content/fr/1.examples/3.assets-management/2.webpack-assets.md
  content/fr/1.examples/4.transitions/1.transitions.md
  content/fr/1.examples/5.seo/1.html-head.md
  content/fr/1.examples/5.seo/2.twitter-og.md
  content/fr/1.examples/6.loading/1.customize-nuxt-loading.md
  content/fr/1.examples/6.loading/2.customize-loading-indicator.md
  content/fr/1.examples/6.loading/3.custom-loading-component.md
  content/fr/1.examples/7.miscellaneous/1.layouts.md
  content/fr/1.examples/7.miscellaneous/2.lazy-loading-components.md
  content/fr/1.examples/7.miscellaneous/3.vuex-store.md
  content/fr/1.examples/7.miscellaneous/4.helpers.md
  content/fr/1.examples/8.middlewares/1.router.md
  content/fr/1.examples/8.middlewares/2.named.md
  content/fr/1.examples/8.middlewares/3.anonymous.md
  content/fr/1.examples/9.plugins/1.vue.md
  content/fr/1.examples/9.plugins/2.client-only.md
  content/fr/1.examples/9.plugins/3.external-packages.md
  content/fr/1.examples/9.plugins/4.custom.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update beta-button bg (#82)
  components/organisms/nuxt3/Nuxt3Hero.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: new gems for nuxt 3 (#80)
  components/organisms/Nuxt3HeroParallax.vue
  components/organisms/nuxt3/Nuxt3Hero.vue
  static/img/home/hero3/gem-1.svg
  static/img/home/hero3/gem-2.svg
  static/img/home/hero3/gem-3.svg
  static/img/home/hero3/gem-4.svg
  static/img/home/hero3/gem-5.svg
  static/img/home/hero3/gem-6.svg
Due: yarn lint:eslint, yarn lint:prettier

feat: new gems for nuxt 3 (#80)
  components/organisms/Nuxt3HeroParallax.vue
  components/organisms/nuxt3/Nuxt3Hero.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: remove console.log
  components/organisms/blog/BlogpostList.vue
Due: yarn lint:eslint, yarn lint:prettier

:package: (deps) upgrade docus version (0.8.13)
  package.json
  yarn.lock
Due: yarn lint:prettier

docs: anounce nuxt 3 and timeline (#83)
  content/en/3.md
Due: yarn lint:prettier, yarn lint:markdownlint

:package: (deps) upgrade docus (0.8.14)
  package.json
  yarn.lock
Due: yarn lint:prettier

fix: 404 errors (#84)
  content/.new/.1.learn/1.usage/6.middleware.md
  content/.new/.1.learn/2.internals/0.concepts/1.context.md
  content/.new/.1.learn/2.internals/3.programmatical/6.nuxt-render-route.md
  content/.new/.3.campfire/2.tutorials/build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/0.docs/4.directory-structure/7.middleware.md
  content/en/0.docs/6.internals-glossary/11.nuxt-render-route.md
  content/en/2.blog/10.build-dev-to-clone-with-nuxt-new-fetch.md
  content/en/2.blog/2.creating-a-nuxt-module.md
  content/fr/.archives/api/context.md
  content/fr/.archives/guide/views.md
  content/fr/.faq/surge-deployment.md
  content/fr/0.docs/1.get-started/4.commands.md
  content/fr/0.docs/1.get-started/5.conclusion.md
  content/fr/0.docs/1.get-started/6.upgrading.md
  content/fr/0.docs/3.features/11.transitions.md
  content/fr/0.docs/3.features/4.data-fetching.md
  content/fr/0.docs/3.features/9.component-discovery.md
  content/fr/0.docs/4.directory-structure/7.middleware.md
  content/fr/0.docs/4.directory-structure/9.pages.md
  content/fr/0.docs/5.configuration-glossary/13.configuration-head.md
  content/fr/0.docs/5.configuration-glossary/26.configuration-runtime-config.md
  content/fr/0.docs/5.configuration-glossary/28.configuration-servermiddleware.md
  content/fr/0.docs/6.internals-glossary/1.context.md
  content/fr/0.docs/6.internals-glossary/11.nuxt-render-route.md
  content/fr/0.docs/8.deployment/14.hostman.md
  content/fr/0.docs/8.deployment/15.koyeb.md
  content/fr/0.docs/8.deployment/21.qovery.md
  content/fr/0.docs/8.deployment/9.fume.md
  content/fr/2.blog/10.build-dev-to-clone-with-nuxt-new-fetch.md
  content/fr/2.blog/2.creating-a-nuxt-module.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update internals-generator.md
  content/en/guides/internals-glossary/internals-generator.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update internals-generator.md
  content/fr/guides/internals-glossary/internals-generator.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update internals-builder.md
  content/en/guides/internals-glossary/internals-builder.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update internals-builder.md
  content/fr/guides/internals-glossary/internals-builder.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: component discovery
  content/fr/0.docs/3.features/9.component-discovery.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update light netlify logo
  static/img/sponsors/light/netlify-logo.svg
Due: none

chore: update light netlify logo (#1518)
  static/img/sponsors/light/netlify-logo.svg
Due: none

chore: add vercel.json
  vercel.json
Due: none

fix issue 1490: Debbie O'Brian status in the team
  pages/team.vue
Due: yarn lint:eslint, yarn lint:prettier

fix: location of Ricardo Gobbo de Souza
  content/en/teams/2.community.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: name + location of Nicolas Pennec
  content/en/teams/2.community.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: point to language-neutral twitter page (#85)
  components/molecules/footer/FooterSocialLinks.vue
Due: yarn lint:eslint, yarn lint:prettier
