Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: add 64 robots as partner (#1513)
  components/organisms/SponsorsBlock.vue
  content/sponsors.js
  static/img/sponsors/dark/64-robots.png
  static/img/sponsors/light/64-robots.png
Due: yarn lint:eslint, yarn lint:prettier

chore: update light netlify logo (#1518)
  static/img/sponsors/light/netlify-logo.svg
Due: none

docs(ja): translate deployment/deploying-to-do-app-pltform (#1525)
  content/ja/guides/deployment/deploying-to-do-app-platform.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Add deployment documentation for Stormktio (#1529)
  content/en/guides/deployment/deployment-stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update sass packages example
  content/fr/guides/configuration-glossary/configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add information about runtimeOption properties (#1537)
  content/en/guides/configuration-glossary/configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: remove english sentence on french module page (#1539)
  content/fr/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add new sponsors (#1550)
  content/sponsors.js
  static/img/sponsors/dark/agema.png
  static/img/sponsors/dark/flashdrive.png
  static/img/sponsors/light/agema.png
  static/img/sponsors/light/flashdrive.png
Due: yarn lint:eslint, yarn lint:prettier

docs: Added clarity for Azure deployment (#1536)
  content/en/guides/deployment/deployment-azure-portal.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: personal access token not required for github pages
  content/en/guides/deployment/github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Update Stormkit documentation (#1563)
  content/en/guides/deployment/deployment-stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deployment-azure-portal (#1549)
  content/ja/guides/deployment/deployment-azure-portal.md
Due: yarn lint:prettier, yarn lint:markdownlint

Change ship shape logo to white on dark mode (#1575)
  static/img/sponsors/dark/shipshape-logo.svg
Due: none

changed number of stars from 34k to 37k (#1576)
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

docs: Fix small typo (#1580)
  content/en/guides/configuration-glossary/configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Add Mastering Nuxt summer sale banner (#1568)
  assets/css/tailwind.css
  components/organisms/MasteringNuxtBanner.vue
  layouts/default.vue
  static/img/banners/masteringnuxt/cup.png
  tailwind.config.js
Due: yarn lint:eslint, yarn lint:prettier

docs: update sass-loader recommendation to v10 (indonesian) (#1585)
  content/id/guides/configuration-glossary/configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: correct name of component interacting with router-middleware (#1599)
  content/en/examples/middleware-router.md
  content/es/examples/middleware-router.md
  content/ja/examples/middleware-router.md
  content/zh/examples/middleware-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update mastering nuxt banner (#1601)
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: changed Prism section to make it more clear to readers on create a blog page (#1607)
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

Remove Mastering Nuxt banner (#1613)
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): translate deployment/deployment-azure-static-web-apps (#1615)
  content/ja/guides/deployment/deployment-azure-static-web-apps.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deployment-amazon-web-services (#1577)
  content/ja/guides/deployment/deployment-amazon-web-services.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add missing comma to addPlugin code example (#1616)
  content/en/guides/internals-glossary/internals-module-container.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix typo (#1621)
  content/en/video-courses/get-started-with-nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

rename title 'modules directory' to 'modules' (#1625)
  content/en/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deployment-cloud-run (#1623)
  content/ja/guides/deployment/deployment-cloud-run.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix markdown typo (#1628)
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix markdown typo (#1631)
  content/ja/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Add Nuxt Nation banner for the September conference (#1627)
  components/organisms/NuxtNationBanner.vue
  content/ja/guides/deployment/deployment-azure-static-web-apps.md
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: remove nested `<a>` tag (#1633)
  components/organisms/NuxtNationBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

Update internals-module-container.md (#1629)
  content/ja/guides/internals-glossary/internals-module-container.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate(ja): deployment/deployment-cloudflare (#1632)
  content/ja/guides/deployment/deployment-cloudflare.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: bodyParser is deprecated (#1620)
  content/en/guides/configuration-glossary/configuration-servermiddleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Consistent formatting (#1583)
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update codeowners
  .github/CODEOWNERS
Due: none

docs: update repository name in contribution guide (#1640)
  content/en/guide/contribution-guide.md
  content/fr/_archives/guide/contribution-guide.md
  content/ja/_archives/guide/contribution-guide.md
  content/ko/_archives/guide/contribution-guide.md
  content/zh/guide/contribution-guide.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add empty url variable initialisation (#1643)
  content/en/blog/creating-a-nuxt-module.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(examples): add missing key to v-for for data-fetching (#1645)
  content/en/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): translate Surge deployment (#1647)
  content/fr/guides/deployment/surge-deployment.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
