Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs: personal access token not required for github pages
  content/en/guides/deployment/github-pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Change banner text
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: add script to ensure corresponding pages/redirects exist (#1567)
  package.json
  scripts/crawl.ts
  yarn.lock
Due: yarn lint:prettier

Update Stormkit documentation
  content/en/0.docs/8.deployment/25.Stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: Diff ToC and Partners
  components/organisms/PageToc.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (context-helpers) remove wrong link
  content/en/0.docs/2.concepts/2.context-helpers.md
  content/fr/0.docs/2.concepts/2.context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (amazon-web-services) update wrong external link
  content/en/0.docs/8.deployment/2.amazon-web-services.md
  content/fr/0.docs/8.deployment/2.amazon-web-services.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: remove wrong links (#1573)
  content/en/0.docs/2.concepts/2.context-helpers.md
  content/en/0.docs/8.deployment/2.amazon-web-services.md
  content/fr/0.docs/2.concepts/2.context-helpers.md
  content/fr/0.docs/8.deployment/2.amazon-web-services.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update Stormkit documentation (#1570)
  content/en/0.docs/8.deployment/25.Stormkitio.md
Due: yarn lint:prettier, yarn lint:markdownlint

:construction: (modulesList) plugin to get modulesList from api
  plugins/modulesList.js
Due: yarn lint:eslint, yarn lint:prettier

:construction: (Modules) modules page
  components/organisms/modules/Modules.vue
  content/en/modules.md
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:construction: (Modules) get modules from api
  components/organisms/modules/Modules.vue
  plugins/modulesList.js
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): translate deployment/deployment-azure-portal (#1549)
  content/ja/guides/deployment/deployment-azure-portal.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bento: (v3) update assets for timeline
  static/img/v3/august.svg
  static/img/v3/july.svg
  static/img/v3/q4.svg
Due: none

:pencil: (v3) update img path for timeline section
  content/en/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: (v3) update timeline section images (#1574)
  content/en/v3.md
  static/img/v3/august.svg
  static/img/v3/july.svg
  static/img/v3/q4.svg
Due: yarn lint:prettier, yarn lint:markdownlint

Change ship shape logo to white on dark mode
  static/img/sponsors/dark/shipshape-logo.svg
Due: none

Change ship shape logo to white on dark mode (#1575)
  static/img/sponsors/dark/shipshape-logo.svg
Due: none

changed number of stars from 34k to 37k
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

docs(fr): uniformize nuxt3 coming soon page
  content/fr/v3.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deployment-amazon-web-services
  content/ja/guides/deployment/deployment-amazon-web-services.md
Due: yarn lint:prettier, yarn lint:markdownlint

changed number of stars from 34k to 37k (#1576)
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

Fix small typo
  content/en/guides/configuration-glossary/configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: Fix small typo (#1580)
  content/en/guides/configuration-glossary/configuration-env.md
Due: yarn lint:prettier, yarn lint:markdownlint

Reduce Mastering Nuxt banner heights and font sizes
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: Add Mastering Nuxt summer sale banner (#1568)
  assets/css/tailwind.css
  components/organisms/MasteringNuxtBanner.vue
  layouts/default.vue
  static/img/banners/masteringnuxt/cup.png
  tailwind.config.js
Due: yarn lint:eslint, yarn lint:prettier

:bento: (modules) add icon
  components/atoms/icons/IconDownload.vue
  components/atoms/icons/IconSearch.vue
  components/atoms/icons/IconStar.vue
Due: yarn lint:eslint, yarn lint:prettier

:wrench: (nuxtjs.config) add domain to nuxt img
  nuxt.config.ts
Due: none

:wrench: (package) add millify
  package.json
Due: yarn lint:prettier

:sparkles: (AsideModules) AsideModules component
  components/organisms/modules/AsideModules.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (ModulesCard) ModulesCard components
  components/molecules/ModulesCard.vue
Due: yarn lint:eslint, yarn lint:prettier

:construction: (modules) Modules Component
  components/organisms/modules/Modules.vue
Due: yarn lint:eslint, yarn lint:prettier

[ImgBot] Optimize images
  static/blog/build-dev-to-clone-with-nuxt-new-fetch/main.jpeg
  static/blog/case-study-livementor/main.png
  static/blog/case-study-livementor/mockup-m1-3.png
  static/blog/creating-blog-with-nuxt-content/main.jpeg
  static/blog/creating-nuxt-module/main.jpeg
  static/blog/going-dark-with-nuxtjs-color-mode/main.jpeg
  static/blog/going-full-static/main.jpeg
  static/blog/improve-developer-experience-nuxt-components/main.jpeg
  static/blog/introducing-smart-prefetching/main.jpeg
  static/blog/moving-from-nuxtjs-dotenv-to-runtime-config/main.jpeg
  static/blog/nuxt-static-improvements/main.jpeg
  static/blog/nuxtjs-from-terminal-to-browser/main.jpeg
  static/blog/seed-round/main.jpeg
  static/blog/understanding-how-fetch-works-in-nuxt-2-12/main.jpeg
  static/img/banners/masteringnuxt/cup.png
  static/img/companies/original/line.png
  static/img/companies/preview/line.png
  static/img/sponsors/dark/64-robots.png
  static/img/sponsors/dark/agema.png
  static/img/sponsors/dark/flashdrive.png
  static/img/sponsors/dark/netlify-logo.svg
  static/img/sponsors/dark/remotely-logo.svg
  static/img/sponsors/dark/storyblok-logo.svg
  static/img/sponsors/dark/strapi-logo.svg
  static/img/sponsors/dark/swell-logo.svg
  static/img/sponsors/dark/vercel.svg
  static/img/sponsors/light/64-robots.png
  static/img/sponsors/light/agema.png
  static/img/sponsors/light/flashdrive.png
  static/img/sponsors/light/layer0-logo.svg
  static/img/sponsors/light/movavi.svg
  static/img/sponsors/light/netlify-logo.svg
  static/img/sponsors/light/remotely-logo.svg
  static/img/sponsors/light/storyblok-logo.svg
  static/img/sponsors/light/strapi-logo.svg
  static/img/sponsors/light/swell-logo.svg
  static/img/sponsors/light/vercel.svg
Due: none

Consistent formatting
  content/en/guides/features/configuration.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update sass-loader recommendation to v10 (indonesian)
  content/id/guides/configuration-glossary/configuration-css.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add contributors to docs pages
  components/molecules/EditOnGithub.vue
  docus.config.ts
Due: yarn lint:eslint, yarn lint:prettier

docs: fix vue-i18n named interpolation
  components/organisms/resources/ResourcesList.vue
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier
