Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

:ok_hand: (docs) remove classes on button link
  content/ja/docs/1.get-started/1.installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor: (PartnersBanner) use NuxtImg component and update UI (#1755)
  components/organisms/lists/PartnersBanner.vue
  content/en/partners/0.netlify.md
  content/en/partners/1.vercel.md
  content/en/partners/2.layer-0.md
  content/en/partners/3.storyblok.md
  content/en/partners/4.swell.md
  content/en/partners/5.ship-shape.md
  content/en/partners/6.64robots.md
  content/fr/partners/0.netlify.md
  content/fr/partners/1.vercel.md
  content/fr/partners/2.layer-0.md
  content/fr/partners/3.storyblok.md
  content/fr/partners/4.swell.md
  content/fr/partners/5.ship-shape.md
  content/fr/partners/6.64robots.md
  content/fr/partners/7.vue-storefront.md
  content/ja/partners/0.netlify.md
  content/ja/partners/1.vercel.md
  content/ja/partners/2.layer-0.md
  content/ja/partners/3.storyblok.md
  content/ja/partners/4.swell.md
  content/ja/partners/5.ship-shape.md
  content/ja/partners/6.64robots.md
  content/ja/partners/7.vue-storefront.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: add titles for social icons (#1739)
  components/theme/app/AppFooter.vue
Due: yarn lint:eslint, yarn lint:prettier

fix(LogoCard): link should work when clicking on external slot
  components/molecules/cards/LogoCard.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (surge) rename Nuxt.js to Nuxt
  content/fr/integrations/deployments/surge.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix : design issues (#1732)
  components/atoms/buttons/ButtonLink.vue
  components/molecules/cards/ContentCardTemplate.vue
  components/molecules/cards/ShowcasesCard.vue
  components/organisms/lists/ModulesListing.vue
  components/organisms/lists/ThemesList.vue
  components/organisms/lists/VideoCoursesList.vue
  components/organisms/sections/SupportContainer.vue
  components/organisms/sections/SupportPricing.vue
  content/fr/docs/1.get-started/1.installation.md
  content/ja/docs/1.get-started/1.installation.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat(events): improve UI (#1753)
  components/molecules/cards/LogoCard.vue
  components/templates/Events.vue
  content/en/_collections/events/2019.md
  content/en/_collections/events/2020.md
  content/en/_collections/events/2021.md
  content/fr/_collections/events/2019.md
  content/fr/_collections/events/2020.md
  content/fr/_collections/events/2021.md
  content/ja/_collections/events/2019.md
  content/ja/_collections/events/2020.md
  content/ja/_collections/events/2021.md
  i18n/en-US.js
  i18n/fr-FR.js
  static/img/events/dark/gotopia.svg
  static/img/events/dark/jamstack_paris.svg
  static/img/events/dark/reactive_conf.svg
  static/img/events/dark/strapi.jpeg
  static/img/events/dark/vue_day.svg
  static/img/events/dark/vueconf_toronto.svg
  static/img/events/dark/vuejs.svg
  static/img/events/dark/vuejs_amsterdam.svg
  static/img/events/dark/vuejs_fwdays.svg
  static/img/events/light/gotopia.svg
  static/img/events/light/jamstack_paris.svg
  static/img/events/light/reactive_conf.svg
  static/img/events/light/strapi.jpeg
  static/img/events/light/vue_day.svg
  static/img/events/light/vueconf_toronto.svg
  static/img/events/light/vuejs.svg
  static/img/events/light/vuejs_amsterdam.svg
  static/img/events/light/vuejs_fwdays.svg
  static/img/icons/ext.svg
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: change example to `head` object and remove resource hints
  content/en/docs/3.features/5.meta-tags-seo.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add hdnet as sponsor (#1757)
  content/en/_collections/sponsors/sponsors/13.hdnet.md
  static/img/sponsors/sponsors-square/dark/hdnet.svg
  static/img/sponsors/sponsors-square/light/hdnet.svg
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add guides, legacy redirects and fix internals redirects (#1756)
  static/_redirects
Due: none

docs: change example to `head` object and remove resource hints (#1582)
  content/en/docs/3.features/5.meta-tags-seo.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: link in support
  content/en/support/index.md
  content/fr/support/index.md
  content/ja/support/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/en/index.md
  content/en/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: restore change
  content/en/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: grammatical improvements (#1738)
  content/en/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: grammar fixes in install guide and add `scrollBehaviour` note (#1740)
  content/en/docs/1.get-started/1.installation.md
  content/en/docs/5.configuration-glossary/25.configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: clarifications
  content/en/docs/2.concepts/2.context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add definitions for acronyms + technical terms (#1579)
  content/en/docs/2.concepts/2.context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: more traductions
  content/en/releases/index.md
  content/fr/_collections/navigations/footer.md
  content/fr/_collections/navigations/header.md
  content/fr/announcements/index.md
  content/fr/case-studies/index.md
  content/fr/docs/5.configuration-glossary/14.configuration-hooks.md
  content/fr/docs/7.components-glossary/8.transition.md
  content/fr/index.md
  content/fr/integrations/index.md
  content/fr/releases/index.md
  content/fr/tutorials/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: updates docs (#1737)
  content/fr/_collections/navigations/footer.md
  content/fr/case-studies/0.github.md
  content/ja/_collections/navigations/footer.md
  content/ja/case-studies/0.github.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update renovate.json
  renovate.json
Due: none

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

chore(deps): update devdependency eslint-plugin-prettier to v4
  package.json
  yarn.lock
Due: yarn lint:prettier

Update 1.fetch.md (#1745)
  content/ja/docs/7.components-glossary/1.fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency millify to v4
  package.json
  yarn.lock
Due: yarn lint:prettier

Create de-DE.js
  i18n/de-DE.js
Due: yarn lint:eslint, yarn lint:prettier

Create 0.nuxt-static-improvements.md
  content/de/announcements/0.nuxt-static-improvements.md
Due: yarn lint:prettier, yarn lint:markdownlint

Create index.md
  content/de/announcements/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update `render.static` false option
  content/en/docs/5.configuration-glossary/23.configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update translation
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

docs: update translation (#1762)
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

:bento: (case-studies) update cover img
  static/img/case-studies/github/cover.png
  static/img/case-studies/komercia/cover.png
  static/img/case-studies/line/cover.png
  static/img/case-studies/livementor/cover.png
  static/img/case-studies/stores/cover.png
Due: none

:lipstick: (TeamSection) update description spacing
  components/organisms/sections/TeamSection.vue
Due: yarn lint:eslint, yarn lint:prettier

:lipstick: (Releases) update vertical spacing
  components/templates/Releases.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: fix scrollbehavior spelling
  content/en/docs/5.configuration-glossary/25.configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: fix scrollbehavior spelling (#1763)
  content/en/docs/5.configuration-glossary/25.configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

:dizzy: (AnimFromScratchCodeblock) remove excess space on h1
  components/organisms/animations/AnimFromScratchCodeblock.vue
Due: yarn lint:eslint, yarn lint:prettier
