Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

[Update] Remove example
  content/en/guides/features/live-preview.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: spanish translation of context-helpers.md.
  content/es/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: files moved to the correct folder
  content/es/guides/components-glossary/pages-key.md
  content/es/guides/components-glossary/pages-layout.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated pages-loading.md
  content/es/guides/components-glossary/pages-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated pages-middleware.md
  content/es/guides/components-glossary/pages-middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated pages-scrolltotop.md
  content/es/guides/components-glossary/pages-scrolltotop.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: translate spanish
  i18n/es-ES.js
Due: yarn lint:eslint, yarn lint:prettier

updated title in pages-scrolltotop.md
  content/es/guides/components-glossary/pages-scrolltotop.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(pt-br): update modules.md
  content/pt/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(pt-br): fix typo on guides/components and pt-BR i18n file.
  content/pt/guides/directory-structure/components.md
  i18n/pt-BR.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

[indonesia] add files in components-glossary
  content/id/guides/components-glossary/pages-fetch.md
  content/id/guides/components-glossary/pages-head.md
  content/id/guides/components-glossary/pages-key.md
  content/id/guides/components-glossary/pages-layout.md
  content/id/guides/components-glossary/pages-loading.md
  content/id/guides/components-glossary/pages-middleware.md
  content/id/guides/components-glossary/pages-scrolltotop.md
Due: yarn lint:prettier, yarn lint:markdownlint

misc
  _templates/new/blog/blog.ejs.t
  _templates/new/blog/prompt.js
Due: yarn lint:eslint, yarn lint:prettier

translated(es-ES) internals-builder @ es/guides
  content/es/guides/internals-glossary/internals-builder.md
  content/es/guides/internals-glossary/internals-generator.md
  content/es/guides/internals-glossary/internals-module-container.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Fix] Typos at internals-builder.md
  content/es/guides/internals-glossary/internals-builder.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated(es-ES) internals-generator @ es/guides
  content/es/guides/internals-glossary/internals-generator.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated(es-ES) module-container @ es/guides
  content/es/guides/internals-glossary/internals-module-container.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated(es-ES) internals.md @ es/guides
  content/es/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

Feat/translate spanish (#599)
  i18n/es-ES.js
Due: yarn lint:eslint, yarn lint:prettier

docs(pt-br): update docs to reflect changes and fix some typos (#600)
  content/pt/guides/directory-structure/components.md
  content/pt/guides/directory-structure/modules.md
  i18n/pt-BR.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

translated(es-ES) $nuxt.md @ es/guides
  content/es/guides/internals-glossary/$nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

context-helpers sp translation (#597)
  content/es/guides/components-glossary/pages-key.md
  content/es/guides/components-glossary/pages-layout.md
  content/es/guides/concepts/context-helpers.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated(es-ES) context.md @ es/guides
  content/es/guides/internals-glossary/context.md
Due: yarn lint:prettier, yarn lint:markdownlint

Change the spacing in ko-KO.js
  i18n/ko-KO.js
Due: yarn lint:eslint, yarn lint:prettier

Create file-system-routing.md
  content/ko/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update es-ES.js
  i18n/es-ES.js
Due: yarn lint:eslint, yarn lint:prettier

translation(es-ES)/internals glossary (#602)
  _templates/new/blog/blog.ejs.t
  _templates/new/blog/prompt.js
  content/es/guides/internals-glossary/$nuxt.md
  content/es/guides/internals-glossary/context.md
  content/es/guides/internals-glossary/internals-builder.md
  content/es/guides/internals-glossary/internals-generator.md
  content/es/guides/internals-glossary/internals-module-container.md
  content/es/guides/internals-glossary/internals.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

[Indonesia] add files in components-glossary (#601)
  content/id/guides/components-glossary/pages-fetch.md
  content/id/guides/components-glossary/pages-head.md
  content/id/guides/components-glossary/pages-key.md
  content/id/guides/components-glossary/pages-layout.md
  content/id/guides/components-glossary/pages-loading.md
  content/id/guides/components-glossary/pages-middleware.md
  content/id/guides/components-glossary/pages-scrolltotop.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add information to preview mode (#534)
  content/en/guides/features/live-preview.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(pt-br): add information to preview mode (#534)
  content/pt/guides/features/live-preview.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(pt-br): add information to preview mode (#534) (#603)
  content/pt/guides/features/live-preview.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: nuxt-lifecycle guide spanish translation
  content/es/guides/concepts/nuxt-lifecycle.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: initial implementation
  components/TheAsideNavResources.vue
  components/TheMobileAsideNavResources.vue
  components/global/bases/DocsButton.vue
  components/partials/resources/ResourceCards.vue
  package.json
  pages/resources.vue
  pages/resources/_category.vue
  pages/resources/_category/_slug.vue
  pages/resources/_category/index.vue
  pages/resources/index.vue
  pages/resources/modules/_name.vue
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier
