Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

docs: indicate warning for scrollBehavior
  content/en/docs/5.configuration-glossary/25.configuration-router.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(fr): Surge integration
  content/fr/integrations/deployments/surge.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: discord logo
  components/atoms/icons/IconDiscord.vue
Due: yarn lint:eslint, yarn lint:prettier

Update 1.fetch.md
  content/ja/docs/7.components-glossary/1.fetch.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor(heroes): migrate titles & descriptions to slots
  components/organisms/heroes/HeroTemplate.vue
  components/organisms/heroes/PageHero.vue
  components/organisms/heroes/ShowcasesHero.vue
  components/organisms/heroes/SimplePageHero.vue
  components/organisms/heroes/SponsorsHero.vue
  components/templates/Blog.vue
  components/templates/Events.vue
  components/templates/PageList.vue
  components/templates/Releases.vue
  content/en/modules/index.md
  content/en/showcases/index.md
  content/en/sponsors/index.md
  content/en/support/index.md
  content/en/teams/index.md
  content/en/v3/index.md
  content/fr/modules/index.md
  content/fr/showcases/index.md
  content/fr/sponsors/index.md
  content/fr/support/index.md
  content/fr/teams/index.md
  content/ja/modules/index.md
  content/ja/showcases/index.md
  content/ja/sponsors/index.md
  content/ja/support/index.md
  content/ja/teams/index.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(fr): Surge integration (#1742)
  content/fr/integrations/deployments/surge.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: add funding and codeowners
  .github/CODEOWNERS
  .github/FUNDING.yml
Due: none

chore(docus): update GitHub default branch
  docus.config.ts
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

refactor: unify heroes
  components/organisms/heroes/PageHero.vue
  components/organisms/heroes/PartnersBottomHero.vue
  components/organisms/heroes/ShowcasesBottomHero.vue
  components/organisms/heroes/ShowcasesHero.vue
  components/organisms/heroes/SponsorsBottomHero.vue
  components/organisms/heroes/SponsorsHero.vue
  components/templates/PageList.vue
  content/en/partners/index.md
  content/en/showcases/index.md
  content/en/sponsors/index.md
  content/fr/partners/index.md
  content/fr/showcases/index.md
  content/fr/sponsors/index.md
  content/ja/partners/index.md
  content/ja/showcases/index.md
  content/ja/sponsors/index.md
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: Explain what does `fetchKey` do
  content/en/docs/3.features/4.data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: fix code from CLI / from Scratch
  components/organisms/animations/AnimFromCliCodeblock.vue
  components/organisms/animations/AnimFromScratchCodeblock.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: fix codeblock animations
  components/organisms/animations/AnimFromCliCodeblock.vue
  components/organisms/animations/AnimFromScratchCodeblock.vue
Due: yarn lint:eslint, yarn lint:prettier

Feat/fix codelearn (#1749)
  components/organisms/animations/AnimFromCliCodeblock.vue
  components/organisms/animations/AnimFromScratchCodeblock.vue
Due: yarn lint:eslint, yarn lint:prettier

feat(events): improve UI
  components/templates/Events.vue
  content/en/_collections/events/2019.md
  content/en/_collections/events/2020.md
  content/en/_collections/events/2021.md
  content/fr/_collections/events/2019.md
  content/fr/_collections/events/2020.md
  content/fr/_collections/events/2021.md
  content/ja/_collections/events/2019.md
  content/ja/_collections/events/2020.md
  content/ja/_collections/events/2021.md
  static/img/events/dark/gotopia.svg
  static/img/events/dark/jamstack_paris.svg
  static/img/events/dark/reactive_conf.svg
  static/img/events/dark/strapi.jpeg
  static/img/events/dark/vue_day.svg
  static/img/events/dark/vueconf_toronto.svg
  static/img/events/dark/vuejs.svg
  static/img/events/dark/vuejs_amsterdam.svg
  static/img/events/dark/vuejs_fwdays.svg
  static/img/events/light/gotopia.svg
  static/img/events/light/jamstack_paris.svg
  static/img/events/light/reactive_conf.svg
  static/img/events/light/strapi.jpeg
  static/img/events/light/vue_day.svg
  static/img/events/light/vueconf_toronto.svg
  static/img/events/light/vuejs.svg
  static/img/events/light/vuejs_amsterdam.svg
  static/img/events/light/vuejs_fwdays.svg
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore: heroes unified & slots-compliant (#1748)
  components/organisms/heroes/HeroTemplate.vue
  components/organisms/heroes/PageHero.vue
  components/organisms/heroes/PartnersBottomHero.vue
  components/organisms/heroes/ShowcasesBottomHero.vue
  components/organisms/heroes/ShowcasesHero.vue
  components/organisms/heroes/SimplePageHero.vue
  components/organisms/heroes/SponsorsBottomHero.vue
  components/organisms/heroes/SponsorsHero.vue
  components/templates/Blog.vue
  components/templates/Events.vue
  components/templates/PageList.vue
  components/templates/Releases.vue
  content/en/modules/index.md
  content/en/partners/index.md
  content/en/showcases/index.md
  content/en/sponsors/index.md
  content/en/support/index.md
  content/en/teams/index.md
  content/en/v3/index.md
  content/fr/modules/index.md
  content/fr/partners/index.md
  content/fr/showcases/index.md
  content/fr/sponsors/index.md
  content/fr/support/index.md
  content/fr/teams/index.md
  content/ja/modules/index.md
  content/ja/partners/index.md
  content/ja/showcases/index.md
  content/ja/sponsors/index.md
  content/ja/support/index.md
  content/ja/teams/index.md
  i18n/en-US.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

chore(docus): update GitHub default branch (#1747)
  docus.config.ts
Due: none

docs: Explain component directory better
  content/en/docs/4.directory-structure/3.components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add renovate.json
  renovate.json
Due: none

fix: Updated "thanksful" to thankful.
  content/en/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: correct typo (`thanksful` -> `thankful`)
  content/en/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: only keep kazupon for reviewer
  .github/CODEOWNERS
Due: none

chore: add UTM to masteringnuxt website
  content/en/_collections/navigations/footer.md
  content/en/_collections/navigations/header.md
  content/en/index.md
  content/en/video-courses/index.md
  content/fr/_collections/navigations/footer.md
  content/fr/_collections/navigations/header.md
  content/fr/index.md
  content/ja/_collections/navigations/footer.md
  content/ja/_collections/navigations/header.md
  content/ja/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: (partners) update logo height and add vue-storefront on fr/ja
  content/en/partners/1.vercel.md
  content/en/partners/2.layer-0.md
  content/en/partners/6.64robots.md
  content/fr/partners/1.vercel.md
  content/fr/partners/2.layer-0.md
  content/fr/partners/6.64robots.md
  content/fr/partners/7.vue-storefront.md
  content/ja/partners/1.vercel.md
  content/ja/partners/2.layer-0.md
  content/ja/partners/6.64robots.md
  content/ja/partners/7.vue-storefront.md
Due: yarn lint:prettier, yarn lint:markdownlint

:recycle: (PartnersBanner) use NuxtImg for partners img
  components/organisms/lists/PartnersBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

feat(events): add conf link
  components/molecules/cards/LogoCard.vue
  components/templates/Events.vue
  content/en/_collections/events/2019.md
  content/en/_collections/events/2020.md
  content/en/_collections/events/2021.md
  content/fr/_collections/events/2019.md
  content/fr/_collections/events/2020.md
  content/fr/_collections/events/2021.md
  content/ja/_collections/events/2019.md
  content/ja/_collections/events/2020.md
  content/ja/_collections/events/2021.md
  i18n/en-US.js
  i18n/fr-FR.js
  static/img/icons/ext.svg
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs: Clearer explanation for `fetchKey`
  content/en/docs/3.features/4.data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add explanation for use of `fetchKey` (#1750)
  content/en/docs/3.features/4.data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: update discord logo (#1744)
  components/atoms/icons/IconDiscord.vue
Due: yarn lint:eslint, yarn lint:prettier

:bento: (heroku) update heroku img
  static/img/partners/dark/Heroku.svg
  static/img/partners/dark/Heroku_Dark.svg
  static/img/partners/light/Heroku.svg
  static/img/partners/light/Heroku_Light.svg
Due: none

fix: add guides redirects
  static/_redirects
Due: none

feat: add hdnet as sponsor
  content/en/_collections/sponsors/sponsors/13.hdnet.md
  static/img/sponsors/sponsors-square/dark/hdnet.svg
  static/img/sponsors/sponsors-square/light/hdnet.svg
Due: yarn lint:prettier, yarn lint:markdownlint

:ok_hand: (integrations) update content due to code review changes
  content/en/integrations/deployments/nginx.md
  content/fr/integrations/deployments/21yunbox.md
  content/fr/integrations/deployments/bip.md
  content/fr/integrations/deployments/cleavr.md
  content/fr/integrations/deployments/nginx.md
  content/fr/integrations/deployments/surge.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: add contribution guide
  static/_redirects
Due: none

:bug: (partners) close SustainabilityDetail component
  content/en/partners/0.netlify.md
  content/en/partners/1.vercel.md
  content/en/partners/2.layer-0.md
  content/en/partners/3.storyblok.md
  content/en/partners/4.swell.md
  content/en/partners/5.ship-shape.md
  content/en/partners/6.64robots.md
  content/en/partners/7.vue-storefront.md
  content/fr/partners/0.netlify.md
  content/fr/partners/1.vercel.md
  content/fr/partners/2.layer-0.md
  content/fr/partners/3.storyblok.md
  content/fr/partners/4.swell.md
  content/fr/partners/5.ship-shape.md
  content/fr/partners/6.64robots.md
  content/fr/partners/7.vue-storefront.md
  content/ja/partners/0.netlify.md
  content/ja/partners/1.vercel.md
  content/ja/partners/2.layer-0.md
  content/ja/partners/3.storyblok.md
  content/ja/partners/4.swell.md
  content/ja/partners/5.ship-shape.md
  content/ja/partners/6.64robots.md
  content/ja/partners/7.vue-storefront.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: use internals slug
  static/_redirects
Due: none

:ok_hand: (21yunbox) update spacing description before interrogation point
  content/fr/integrations/deployments/21yunbox.md
Due: yarn lint:prettier, yarn lint:markdownlint

:fire: (integrations) remove unused index
  content/ja/integrations/deployments/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: restore legacy redirects
  static/_redirects
Due: none
