Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Italize 'build' and 'legacy' because there's no Spanish translation for them.
  content/es/guides/configuration-glossary/configuration-dev.md
  content/es/guides/configuration-glossary/configuration-modern.md
Due: yarn lint:prettier, yarn lint:markdownlint

Italize 'build', 'spinner', and 'hook' because there's no translations for them in Spanish.
  content/es/guides/configuration-glossary/configuration-hooks.md
  content/es/guides/configuration-glossary/configuration-ignore.md
  content/es/guides/configuration-glossary/configuration-loading-indicator.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: improve rendering and depolyment pages (#670)
  content/en/guides/features/deployment-targets.md
  content/en/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: fix doc example
  content/en/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: fix doc example (#674)
  content/en/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add translation for meta-tags-seo.md and fixes for data-fetching.md
  content/es/guides/features/data-fetching.md
  content/es/guides/features/meta-tags-seo.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: add icons
  components/partials/resources/ResourceCards.vue
  static/icons/netlify.png
Due: yarn lint:eslint, yarn lint:prettier

transitions.md done
  content/id/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

Include corrections as proposed by @alvarosaburido.
  content/es/guides/configuration-glossary/configuration-hooks.md
  content/es/guides/configuration-glossary/configuration-ignore.md
  content/es/guides/configuration-glossary/configuration-loading-indicator.md
  content/es/guides/configuration-glossary/configuration-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Include corrections as proposed by @alvarosaburido.
  content/es/guides/configuration-glossary/configuration-modern.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add icons from integrations repo
  components/partials/resources/ResourceCards.vue
  static/icons/netlify.png
Due: yarn lint:eslint, yarn lint:prettier

fix: docs for targets
  content/en/guides/features/deployment-targets.md
  content/en/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Spanish] Translate guides configuration glossary (#665)
  content/es/guides/configuration-glossary/configuration-dev.md
  content/es/guides/configuration-glossary/configuration-dir.md
  content/es/guides/configuration-glossary/configuration-modern.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Spanish] Translate guides configuration glossary (#663)
  content/es/guides/configuration-glossary/configuration-hooks.md
  content/es/guides/configuration-glossary/configuration-ignore.md
  content/es/guides/configuration-glossary/configuration-loading-indicator.md
  content/es/guides/configuration-glossary/configuration-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

feat(guides): Translating content/es/guides/directory-structure/assets.md into Spanish
  content/es/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(guides): Translating content/es/guides/directory-structure/nuxt.md into Spanish
  content/es/guides/directory-structure/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(guides): Translating content/es/guides/directory-structure/dist.md into Spanish
  content/es/guides/directory-structure/dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(guides): Translating content/es/guides/directory-structure/layouts.md into Spanish
  content/es/guides/directory-structure/layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(guides): Translating content/es/guides/directory-structure/pages.md into Spanish
  content/es/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(guides): Translating content/es/guides/directory-structure/plugins.md into Spanish
  content/es/guides/directory-structure/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(guides): Translating content/es/guides/directory-structure/middleware.md into Spanish
  content/es/guides/directory-structure/middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(guides): Fix some typos in content/es/guides/directory-structure/*
  content/es/guides/directory-structure/assets.md
  content/es/guides/directory-structure/layouts.md
  content/es/guides/directory-structure/middleware.md
  content/es/guides/directory-structure/nuxt.md
  content/es/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(guides): Typo fixes on content/es/guides/directory-structure/
  content/es/guides/directory-structure/assets.md
  content/es/guides/directory-structure/components.md
  content/es/guides/directory-structure/nuxt.md
  content/es/guides/directory-structure/pages.md
  content/es/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(guides): Translating content/es/guides/directory-structure/static.md into Spanish
  content/es/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix(guides): Fix typo on layouts guide
  content/es/guides/directory-structure/layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(guides): Translating content/es/guides/directory-structure/components.md into Spanish
  content/es/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

[japanse] add campany use-case
  components/partials/home/HomeCompanies.vue
  static/img/companies/original/plaid.svg
  static/img/companies/preview/plaid.svg
Due: yarn lint:eslint, yarn lint:prettier

fix contribute path
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

add zenarchitects logo
  components/partials/home/HomeCompanies.vue
  static/img/companies/original/zenarchitects.svg
  static/img/companies/preview/zenarchitects.svg
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): add zenarchitects logo (#679)
  components/partials/home/HomeCompanies.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): add zenarchitects logo (#679)
  components/partials/home/HomeCompanies.vue
  static/img/companies/original/zenarchitects.svg
  static/img/companies/preview/zenarchitects.svg
Due: yarn lint:eslint, yarn lint:prettier

feat: add icon from integrations repo
  pages/resources.vue
Due: yarn lint:eslint, yarn lint:prettier

docs: fix contribute path (#678)
  pages/guides/_book/_slug.vue
Due: yarn lint:eslint, yarn lint:prettier

fix text trad on sidenav
  pages/guides/_book.vue
Due: yarn lint:eslint, yarn lint:prettier
