Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: use NUXT_LOCALE
  .env.example
  README.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix corejs option type
  content/en/api/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update dist.md
  content/en/guides/directory-structure/dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix Open Graph
  layouts/default.vue
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix Open Graph (#409)
  layouts/default.vue
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

Updated a link and added a warning
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

visibility fix
  components/global/bases/AppModal.vue
Due: yarn lint:eslint, yarn lint:prettier

optimize english guides
  content/en/guides/get-started/conclusion.md
  content/en/guides/get-started/installation.md
  content/en/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix installation document
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update installation.md
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix yarn with capital Y
  content/en/guides/get-started/installation.md
  content/fr/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix broken link
  content/en/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix filename for setting the target property
  content/en/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add a trailing comma for the NPM scripts JSON obj
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: interpolation fix
  components/partials/home/HomeWelcome.vue
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JA.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

fix: interpolation fix (#420)
  components/partials/home/HomeWelcome.vue
  i18n/en-US.js
  i18n/es-ES.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JA.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

fix: french translation is too long
  components/partials/home/HomeWelcome.vue
  i18n/en-US.js
  i18n/es-ES.js
  i18n/id-ID.js
  i18n/ja-JA.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

Translation fixes (#421)
  components/partials/home/HomeWelcome.vue
  i18n/en-US.js
  i18n/es-ES.js
  i18n/id-ID.js
  i18n/ja-JA.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

Add a trailing comma for the NPM scripts JSON obj (#419)
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix filename for setting the target property (#418)
  content/en/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix broken link (#417)
  content/en/guides/concepts/static-site-generation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix yarn with capital Y (#416)
  content/en/guides/get-started/installation.md
  content/fr/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update installation.md (#415)
  content/en/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

visibility fix (#412)
  components/global/bases/AppModal.vue
Due: yarn lint:eslint, yarn lint:prettier

Update dist.md (#408)
  content/en/guides/directory-structure/dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
