Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix wordings
  content/id/guides/directory-structure/dist.md
  content/id/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: capitalize word 'anda' -> 'Anda'
  content/id/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate to spanish guides -> components-glossary (#598)
  content/es/guides/components-glossary/pages-loading.md
  content/es/guides/components-glossary/pages-middleware.md
  content/es/guides/components-glossary/pages-scrolltotop.md
  content/es/guides/components-glossary/pages-transition.md
  content/es/guides/components-glossary/pages-validate.md
Due: yarn lint:prettier, yarn lint:markdownlint

translated(es-ES)/configuration glossary (#622)
  content/es/guides/configuration-glossary/configuration-builddir.md
  content/es/guides/configuration-glossary/configuration-cli.md
  content/es/guides/configuration-glossary/configuration-components.md
  content/es/guides/configuration-glossary/configuration-css.md
  content/es/guides/configuration-glossary/configuration-transition.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix small typos and tiny inconsistencies (#627)
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

Make translation to the configuration-glossary files: extendPlugins, globalName, head & env (#640)
  content/es/guides/configuration-glossary/configuration-env.md
  content/es/guides/configuration-glossary/configuration-extend-plugins.md
  content/es/guides/configuration-glossary/configuration-global-name.md
  content/es/guides/configuration-glossary/configuration-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: limit global styles to scoped styles (#639)
  components/global/bases/AppModal.vue
  components/global/bases/BaseAlert.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): translate guides/features/deployment-targets (#617)
  content/ja/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update nuxt.md (#620)
  content/fr/guides/directory-structure/nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

[docs-id] Translate guides/directory-structure/assets (#621)
  content/id/guides/directory-structure/assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

[docs-id] Translate guides/configuration-glossary (#629)
  content/id/guides/configuration-glossary/configuration-cli.md
  content/id/guides/configuration-glossary/configuration-srcdir.md
  content/id/guides/configuration-glossary/configuration-target.md
Due: yarn lint:prettier, yarn lint:markdownlint

[docs-id] Translate guides/directory-structure (#635)
  content/id/guides/directory-structure/dist.md
  content/id/guides/directory-structure/static.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix small syntax error in plugin docs (#641)
  content/en/guide/plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix minor writing error
  content/id/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

Refactor/275 update footer to enable translation (#632)
  components/TheFooter.vue
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier

copy guides/directory/structures/pages,plugins,store from en to id
  content/id/guides/directory-structure/pages.md
  content/id/guides/directory-structure/plugins.md
  content/id/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

save progress pages.md
  content/id/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

[korean] Translate quiz in data-fetching.md
  content/ko/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix korean typo
  content/ko/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update pages/integrations/_name.vue
  pages/integrations/_name.vue
Due: yarn lint:eslint, yarn lint:prettier

Update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

fixed typo
  content/en/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: npm package name
  pages/integrations/_name.vue
Due: yarn lint:eslint, yarn lint:prettier

fixed typo (#646)
  content/en/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

[korean] translate data-fetching.md and correct spacing ko-ko.js (#625)
  content/ko/guides/features/data-fetching.md
  i18n/ko-KO.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

Translated to Spanish content/es/guides/configuration-glossary/configuration-target.md, -vue-config.md, -watch.md, and -watchers.md
  content/es/guides/configuration-glossary/configuration-target.md
  content/es/guides/configuration-glossary/configuration-vue-config.md
  content/es/guides/configuration-glossary/configuration-watch.md
  content/es/guides/configuration-glossary/configuration-watchers.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
