Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

Update configuration-alias.md
  content/id/guides/configuration-glossary/configuration-alias.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update configuration-alias.md (#1390)
  content/id/guides/configuration-glossary/configuration-alias.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add example explanation for transpile
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate i18n
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): translate directory-structure/modules
  content/ja/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

removed extra "and" in sentence
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: remove duplicate word (#1394)
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

updated fr documentation broken link
  content/fr/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: fix broken link (#1396)
  content/fr/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add translate for question
  content/ja/guides/directory-structure/layouts.md
  content/ja/guides/directory-structure/pages.md
  content/ja/guides/features/configuration.md
  content/ja/guides/features/data-fetching.md
  content/ja/guides/features/file-system-routing.md
  content/ja/guides/features/loading.md
  content/ja/guides/features/meta-tags-seo.md
  content/ja/guides/features/nuxt-components.md
  content/ja/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate i18n (#1393)
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): translate directory-structure/modules (#1392)
  content/ja/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add translate for question (#1397)
  content/ja/guides/directory-structure/layouts.md
  content/ja/guides/directory-structure/pages.md
  content/ja/guides/features/configuration.md
  content/ja/guides/features/data-fetching.md
  content/ja/guides/features/file-system-routing.md
  content/ja/guides/features/loading.md
  content/ja/guides/features/meta-tags-seo.md
  content/ja/guides/features/nuxt-components.md
  content/ja/guides/features/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update deprecated slot attribute to v-slot
  content/en/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate directory-structure/components
  content/ja/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate directory-structure/components (#1400)
  content/ja/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update devdependency cypress to v7
  package.json
  yarn.lock
Due: yarn lint:prettier

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

assets: Add Strapi logos
  static/img/sponsors/dark/strapi-logo.svg
  static/img/sponsors/light/strapi-logo.svg
Due: none

feat: Replace sponsors list
  components/organisms/SponsorsBlock.vue
  components/templates/home/Sponsors.vue
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

Fix a tiny typo
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

Feature/sponsors/partners (#1403)
  components/organisms/SponsorsBlock.vue
  components/templates/home/Sponsors.vue
  pages/sponsor-nuxtjs.vue
Due: yarn lint:eslint, yarn lint:prettier

Feature/sponsors/partners (#1403)
  components/organisms/SponsorsBlock.vue
  components/templates/home/Sponsors.vue
  pages/sponsor-nuxtjs.vue
  static/img/sponsors/dark/strapi-logo.svg
  static/img/sponsors/light/strapi-logo.svg
Due: yarn lint:eslint, yarn lint:prettier

Fix a tiny typo (#1404)
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: use new slot shorthand (#1398)
  content/en/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: update wording
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add explanation of transpile example (#1391)
  content/en/guides/configuration-glossary/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint
