Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:sparkles: (AsideHeaderNavigation) update due to item header changes
  components/theme/app/AsideHeaderNavigation.vue
Due: yarn lint:eslint, yarn lint:prettier

:truck: (ItemHeaderNavigation) rename component
  components/molecules/ItemHeaderDropdown.vue
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:bug: (AppHeader) update
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:recycle: replace div to ul and li for logo card list
  components/molecules/cards/LogoCard.vue
  components/templates/PageList.vue
Due: yarn lint:eslint, yarn lint:prettier

:fire: (LogoCard) remove footer class
  components/molecules/cards/LogoCard.vue
Due: yarn lint:eslint, yarn lint:prettier

:construction: (PartnersSection) create section component for partners page
  components/organisms/sections/PartnersSection.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (PartnersSection) add services
  components/organisms/sections/PartnersSection.vue
Due: yarn lint:eslint, yarn lint:prettier

:rewind: revert changement div to ul and li (commit 0fb8a53b)
  components/molecules/cards/LogoCard.vue
  components/templates/PageList.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (partners) update content
  content/en/_collections/partners/technology/0.netlify.md
  content/en/partners/index.md
  content/fr/partners/index.md
  content/ja/partners/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:truck: (partners) move partners file into _collections folder
  content/fr/_collections/partners/agency/0.ship-shape.md
  content/fr/_collections/partners/agency/1.64robots.md
  content/fr/_collections/partners/technology/0.netlify.md
  content/fr/_collections/partners/technology/1.vercel.md
  content/fr/_collections/partners/technology/2.layer-0.md
  content/fr/_collections/partners/technology/3.storyblok.md
  content/fr/_collections/partners/technology/4.swell.md
  content/fr/_collections/partners/technology/5.vue-storefront.md
  content/ja/_collections/partners/agency/0.ship-shape.md
  content/ja/_collections/partners/agency/1.64robots.md
  content/ja/_collections/partners/technology/0.netlify.md
  content/ja/_collections/partners/technology/1.vercel.md
  content/ja/_collections/partners/technology/2.layer-0.md
  content/ja/_collections/partners/technology/3.storyblok.md
  content/ja/_collections/partners/technology/4.swell.md
  content/ja/_collections/partners/technology/5.vue-storefront.md
Due: yarn lint:prettier, yarn lint:markdownlint

:sparkles: (PartnerServices) create component list of partner services
  components/molecules/PartnerServices.vue
Due: yarn lint:eslint, yarn lint:prettier

:truck: (partners ) move partner files in _collection
  content/en/_collections/partners/agency/0.ship-shape.md
  content/en/_collections/partners/agency/1.64robots.md
  content/en/_collections/partners/technology/0.netlify.md
  content/en/_collections/partners/technology/1.vercel.md
  content/en/_collections/partners/technology/2.layer-0.md
  content/en/_collections/partners/technology/3.storyblok.md
  content/en/_collections/partners/technology/4.swell.md
  content/en/_collections/partners/technology/5.vue-storefront.md
  content/en/partners/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: update Partner UI (light mode & custom color)
  components/templates/Partner.vue
  content/en/_collections/partners/technology/0.netlify.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:pencil: (HomeDiscoverPartners) update section
  content/en/index.md
  content/fr/index.md
  content/ja/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

:recycle: (PartnersSection) update fetch
  components/organisms/sections/PartnersSection.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add partner detailed page
  components/atoms/icons/IconEmail.vue
  components/atoms/icons/IconPhone.vue
  components/organisms/sections/SustainabilityDetail.vue
  components/templates/Partner.vue
  content/en/_collections/partners/agency/0.ship-shape.md
  content/en/_collections/partners/agency/1.64robots.md
  content/en/_collections/partners/technology/0.netlify.md
  content/en/_collections/partners/technology/1.vercel.md
  content/en/_collections/partners/technology/2.layer-0.md
  content/en/_collections/partners/technology/3.storyblok.md
  content/en/_collections/partners/technology/4.swell.md
  content/en/_collections/partners/technology/5.vue-storefront.md
  content/fr/_collections/partners/agency/0.ship-shape.md
  content/fr/_collections/partners/agency/1.64robots.md
  content/fr/_collections/partners/technology/0.netlify.md
  content/fr/_collections/partners/technology/1.vercel.md
  content/fr/_collections/partners/technology/2.layer-0.md
  content/fr/_collections/partners/technology/3.storyblok.md
  content/fr/_collections/partners/technology/4.swell.md
  content/fr/_collections/partners/technology/5.vue-storefront.md
  content/ja/_collections/partners/agency/0.ship-shape.md
  content/ja/_collections/partners/agency/1.64robots.md
  content/ja/_collections/partners/technology/0.netlify.md
  content/ja/_collections/partners/technology/1.vercel.md
  content/ja/_collections/partners/technology/2.layer-0.md
  content/ja/_collections/partners/technology/3.storyblok.md
  content/ja/_collections/partners/technology/4.swell.md
  content/ja/_collections/partners/technology/5.vue-storefront.md
  i18n/en-US.js
  pages/partners/_slug/index.vue
  static/img/sponsors/sponsors-square/dark/netlify.svg
  static/img/sponsors/sponsors-square/light/netlify.svg
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:sparkles: (add id and scroll heading for hanchor link)
  components/organisms/sections/PartnersSection.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: Partners template info block stickiness
  components/templates/Partner.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: update Partner template
  components/templates/Partner.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: plug partner detail page to partners list page
  components/organisms/sections/PartnersSection.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (HomeDiscoverPartners) update section with partner cards
  components/organisms/home/HomeDiscoverPartners.vue
Due: yarn lint:eslint, yarn lint:prettier

:bento: (partners) category icons
  static/img/partners/categories/agency.svg
  static/img/partners/categories/technology.svg
Due: none

feat: update Partner page UI
  components/templates/Partner.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: add Partner page SEO
  pages/partners/_slug/index.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (HomePartnersCard) card partner for home partner section
  components/molecules/cards/HomePartnersCard.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (partners) remove category and update category icon
  content/en/_collections/partners/agency/0.ship-shape.md
  content/en/_collections/partners/agency/1.64robots.md
  content/en/_collections/partners/technology/0.netlify.md
  content/en/_collections/partners/technology/1.vercel.md
  content/en/_collections/partners/technology/2.layer-0.md
  content/en/_collections/partners/technology/3.storyblok.md
  content/en/_collections/partners/technology/4.swell.md
  content/en/_collections/partners/technology/5.vue-storefront.md
  content/en/partners/index.md
  content/fr/_collections/partners/agency/0.ship-shape.md
  content/fr/_collections/partners/agency/1.64robots.md
  content/fr/_collections/partners/technology/0.netlify.md
  content/fr/_collections/partners/technology/1.vercel.md
  content/fr/_collections/partners/technology/2.layer-0.md
  content/fr/_collections/partners/technology/3.storyblok.md
  content/fr/_collections/partners/technology/4.swell.md
  content/fr/_collections/partners/technology/5.vue-storefront.md
  content/fr/partners/index.md
  content/ja/_collections/partners/agency/0.ship-shape.md
  content/ja/_collections/partners/agency/1.64robots.md
  content/ja/_collections/partners/technology/0.netlify.md
  content/ja/_collections/partners/technology/1.vercel.md
  content/ja/_collections/partners/technology/2.layer-0.md
  content/ja/_collections/partners/technology/3.storyblok.md
  content/ja/_collections/partners/technology/4.swell.md
  content/ja/_collections/partners/technology/5.vue-storefront.md
  content/ja/partners/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: update links
  components/templates/Partner.vue
  content/en/index.md
  content/fr/index.md
  content/ja/index.md
  i18n/en-US.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix(ButtonLink): remove margin bottom
  components/atoms/buttons/ButtonLink.vue
  content/en/docs/1.get-started/1.installation.md
  content/fr/docs/1.get-started/1.installation.md
  content/ja/docs/1.get-started/1.installation.md
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

feat: home content for partners section
  content/en/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat: update i18n translations
  i18n/en-US.js
  i18n/fr-FR.js
  i18n/ja-JP.js
Due: yarn lint:eslint, yarn lint:prettier

Fix: Partner page's layout
  pages/partners/_slug/index.vue
Due: yarn lint:eslint, yarn lint:prettier

feat: update Partner "Join" banner
  components/templates/Partner.vue
  static/img/partners/banner.svg
Due: yarn lint:eslint, yarn lint:prettier

Fix concepts book link on firefox
  content/en/docs/1.get-started/5.conclusion.md
  content/fr/docs/1.get-started/5.conclusion.md
  content/ja/docs/1.get-started/5.conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

:fire: (AppHeader) remove unnecessary classes
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:ok_hand: (HeaderDopdownItem) rename component
  components/molecules/HeaderDropdownItem.vue
  components/theme/app/AppHeader.vue
Due: yarn lint:eslint, yarn lint:prettier

:ok_hand: (header) remove unecessary content
  content/en/_collections/navigations/header.md
  content/ja/_collections/navigations/header.md
  content/pt/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

:globe_with_meridians: (header) fr translation for subtitle
  content/fr/_collections/navigations/header.md
Due: yarn lint:prettier, yarn lint:markdownlint

:fire: (HeaderNavigationLink) remove capitalize for Subtitles
  components/atoms/links/HeaderNavigationLink.vue
Due: yarn lint:eslint, yarn lint:prettier

:ok_hand: (HeaderDropdownItem) add full width
  components/molecules/HeaderDropdownItem.vue
Due: yarn lint:eslint, yarn lint:prettier

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
