Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

:pencil: (chrome) update img path
  content/_sponsors/mvp-partners/2.chrome.md
Due: yarn lint:prettier, yarn lint:markdownlint

:construction: (wip) trying to fix modules
  components/organisms/modules/AsideModules.vue
  components/organisms/modules/ModulesListing.vue
  content/.new/.2.explore/0.integrations/hosting/github-pages.md
  content/fr/.faq/github-pages.md
  content/fr/0.docs/8.deployment/9.github-pages.md
  nuxt.config.ts
  package.json
  plugins/fuse.js
  plugins/modules.js
  plugins/modulesList.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

translate 3.features/8.nuxt-components.md
  content/ja/0.docs/3.features/8.nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 3.features/9.component-discovery.md
  content/ja/0.docs/3.features/9.component-discovery.md
Due: yarn lint:prettier, yarn lint:markdownlint

Remove Mastering Nuxt banner (#1613)
  layouts/default.vue
Due: yarn lint:eslint, yarn lint:prettier

translate 4.directory-structure/1.nuxt.md
  content/ja/0.docs/4.directory-structure/1.nuxt.md
  content/ja/0.docs/4.directory-structure/index.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/2.assets.md
  content/ja/0.docs/4.directory-structure/2.assets.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/4.content.md
  content/ja/0.docs/4.directory-structure/4.content.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix nuxt errors
  content/ja/0.docs/4.directory-structure/4.content.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/5.dist.md
  content/ja/0.docs/4.directory-structure/5.dist.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/6.layouts.md
  content/ja/0.docs/4.directory-structure/6.layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(zh): translate [rendering-modes] and [deployment-targets]
  content/zh/guides/features/deployment-targets.md
  content/zh/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/7.middleware.md
  content/ja/0.docs/4.directory-structure/7.middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deployment-azure-static-web-apps
  content/ja/guides/deployment/deployment-azure-static-web-apps.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deployment-azure-static-web-apps (#1615)
  content/ja/guides/deployment/deployment-azure-static-web-apps.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate deployment/deployment-amazon-web-services (#1577)
  content/ja/guides/deployment/deployment-amazon-web-services.md
Due: yarn lint:prettier, yarn lint:markdownlint

:wrench: (lint) import lint config
  .eslintignore
  .eslintrc.js
  .prettierrc
Due: yarn lint:eslint, yarn lint:prettier

:package: (deps) add linting deps
  package.json
  yarn.lock
Due: yarn lint:prettier

:sparkles: (plugins) ssr compatible modules plugins
  plugins/fuse.js
  plugins/modules.js
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (components) lint & update components
  components/molecules/ModulesCard.vue
  components/organisms/modules/AsideModules.vue
  components/organisms/modules/ModulesListing.vue
Due: yarn lint:eslint, yarn lint:prettier

:wrench: (gitignore) add yarn error to gitignore
  .gitignore
Due: none

translate 4.directory-structure/8.modules.md
  content/ja/0.docs/4.directory-structure/8.modules.md
Due: yarn lint:prettier, yarn lint:markdownlint

translate 4.directory-structure/9.pages.md
  content/ja/0.docs/4.directory-structure/9.pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add missing comma to addPlugin code example
  content/en/guides/internals-glossary/internals-module-container.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: add missing comma to addPlugin code example (#1616)
  content/en/guides/internals-glossary/internals-module-container.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs: bodyParser is deprecated
  content/en/guides/configuration-glossary/configuration-servermiddleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix typo
  content/en/video-courses/get-started-with-nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (branch) fix branch
  .gitignore
  nuxt.config.ts
  package.json
  plugins/modulesList.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

Fix typo (#1621)
  content/en/video-courses/get-started-with-nuxt.md
Due: yarn lint:prettier, yarn lint:markdownlint

:package: (deps) upgrade deps
  package.json
  yarn.lock
Due: yarn lint:prettier

:wrench: (package) cleanup resolutions
  package.json
Due: yarn lint:prettier

:lock: (..) ..
  yarn.lock
Due: none

:bento: (support) add assets
  static/img/support/contribute.svg
  static/img/support/donate.svg
  static/img/support/report.svg
  static/img/support/suggest.svg
  static/img/support/technical.svg
Due: none

:wrench: (package) update docus
  nuxt.config.ts
  package.json
Due: yarn lint:prettier

:sparkles: (SupportCard) support card component
  components/molecules/support/SupportCard.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (SupportForm) support form component
  components/molecules/support/SupportForm.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (SupportStepTitle) support step title component
  components/molecules/support/SupportStepTitle.vue
Due: yarn lint:eslint, yarn lint:prettier

:sparkles: (SupportContainer) support container component
  components/organisms/support/SupportContainer.vue
Due: yarn lint:eslint, yarn lint:prettier

:pencil: (support) update support page
  content/en/support.md
Due: yarn lint:prettier, yarn lint:markdownlint

:bug: (ModuleList) fix fetch error
  plugins/modulesList.js
Due: yarn lint:eslint, yarn lint:prettier
