Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

feat: blog post create a module
  content/en/blog/creating-a-nuxt-moudule.md
  content/en/guides/configuration-glossary/configuration-loading.md
  static/blog/creating-nuxt-module/main.png
  static/blog/creating-nuxt-module/nuxt-cli.png
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate directory-structure/middleware
  content/ja/guides/directory-structure/middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

Remove choonpu
  content/ja/guides/directory-structure/middleware.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): translate custom-loading-component.md
  content/en/examples/custom-loading-component.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): translate customize-loading-indicator.md
  content/en/examples/customize-loading-indicator.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): translate customize-nuxt-loading.md
  content/en/examples/customize-nuxt-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: demo url for blog
  content/en/blog/creating-blog-with-nuxt-content.md
  content/ru/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: update stars
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

fix: demo blog link (#1024)
  content/en/blog/creating-blog-with-nuxt-content.md
  content/ru/blog/creating-blog-with-nuxt-content.md
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

fix: correct main image
  static/blog/creating-nuxt-module/main.png
Due: none

chore(deps): update dependency @nuxt/content to ^1.11.1
  package.json
  yarn.lock
Due: yarn lint:prettier

ci: attempt purely gha workflow
  .github/workflows/links.yml
  .github/workflows/main.yml
  lambda/webhook.js
Due: yarn lint:eslint, yarn lint:prettier

ci: bump timeout to 600
  .github/bin/update-status.sh
  .github/workflows/links.yml
Due: none

ci: use `@actions/core` to set failure state
  package.json
  scripts/crawl.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

ci: check redirects and use cjs import for `@actions/core`
  .github/workflows/links.yml
  scripts/check-redirects.js
  scripts/crawl.js
Due: yarn lint:eslint, yarn lint:prettier

ci: move `setFailed` call earlier
  scripts/crawl.js
Due: yarn lint:eslint, yarn lint:prettier

ci: test multiple nuxt sites
  .github/workflows/links.yml
Due: none

ci: correct site names
  .github/workflows/links.yml
Due: none

ci: correct matrix name
  .github/workflows/links.yml
Due: none

fix: correct various links
  content/en/_archives/api/configuration-rootdir.md
  content/es/guides/features/deployment-targets.md
  content/fr/guides/features/deployment-targets.md
  content/id/guides/features/deployment-targets.md
  content/ja/_archives/api/configuration-rootdir.md
  content/ja/guides/features/deployment-targets.md
  content/ko/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): translate transitions.md
  content/es/examples/transitions.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: use normal links for external links
  content/en/guides/configuration-glossary/configuration-rootdir.md
  content/es/guides/configuration-glossary/configuration-rootdir.md
  content/ja/guides/configuration-glossary/configuration-rootdir.md
  content/pt/guides/configuration-glossary/configuration-rootdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: broken github link
  content/pt/guides/features/file-system-routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: remove extraneous space
  content/pt/guides/configuration-glossary/configuration-rootdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

ci: include external links in redirect checking
  scripts/check-redirects.js
Due: yarn lint:eslint, yarn lint:prettier

fix: token v authtoken
  content/en/blog/creating-a-nuxt-moudule.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: description
  content/en/blog/creating-a-nuxt-moudule.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(es): fix wrong files translated
  content/en/examples/custom-loading-component.md
  content/en/examples/customize-loading-indicator.md
  content/en/examples/customize-nuxt-loading.md
  content/es/examples/custom-loading-component.md
  content/es/examples/customize-loading-indicator.md
  content/es/examples/customize-nuxt-loading.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: type and add link
  content/en/blog/creating-a-nuxt-moudule.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: improvements
  content/en/blog/creating-a-nuxt-moudule.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: link to blog
  content/en/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add link to module
  content/en/blog/creating-a-nuxt-moudule.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: type in name
  content/en/blog/creating-a-nuxt-module.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: link to blog (#1030)
  content/en/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: add correct video
  content/en/blog/creating-a-nuxt-module.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

feat: add ngrok blog post (#1029)
  content/en/blog/creating-a-nuxt-module.md
  content/en/guides/configuration-glossary/configuration-loading.md
  static/blog/creating-nuxt-module/main.png
  static/blog/creating-nuxt-module/nuxt-cli.png
Due: yarn lint:prettier, yarn lint:markdownlint
