Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

:pencil: Translate configuration-rootdir.md
  content/en/guides/configuration-glossary/configuration-rootdir.md
  content/es/guides/configuration-glossary/configuration-rootdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: Translate configuration-runtime-config.md
  content/es/guides/configuration-glossary/configuration-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

Getting Started es-ES files updated for consistency
  content/es/guides/get-started/conclusion.md
  content/es/guides/get-started/installation.md
  content/es/guides/get-started/routing.md
  content/es/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

Modificar un par de traducciones por sugerencia de @Dawntraoz.
  content/es/guides/configuration-glossary/configuration-target.md
  content/es/guides/configuration-glossary/configuration-watch.md
Due: yarn lint:prettier, yarn lint:markdownlint

Last file on getting started, some headings missing
  content/es/guides/get-started/directory-structure.md
Due: yarn lint:prettier, yarn lint:markdownlint

Renderizado
  content/es/guides/get-started/conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

Delete tilde
  content/es/guides/get-started/installation.md
Due: yarn lint:prettier, yarn lint:markdownlint

Leave de as it is
  content/es/guides/get-started/routing.md
Due: yarn lint:prettier, yarn lint:markdownlint

:pencil: Translate configuration-srcdir.md
  content/en/guides/configuration-glossary/configuration-srcdir.md
  content/es/guides/configuration-glossary/configuration-runtime-config.md
  content/es/guides/configuration-glossary/configuration-srcdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

[SPANISH] Syntax review to maintain consistency (#649)
  content/es/guides/get-started/conclusion.md
  content/es/guides/get-started/directory-structure.md
  content/es/guides/get-started/installation.md
  content/es/guides/get-started/routing.md
  content/es/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

refactor(i18n): add footer translations to pt-br
  i18n/pt-BR.js
Due: yarn lint:eslint, yarn lint:prettier

docs(pt-br): applying #646 changes
  content/pt/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Progress deployment-targets.md
  content/id/guides/features/deployment-targets.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add translations for data-fetching.md
  content/es/guides/features/data-fetching.md
Due: yarn lint:prettier, yarn lint:markdownlint

progress pages.md
  content/id/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore: update GH stars
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

chore: update GH stars (#652)
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

refactor(i18n): add footer translations to pt-br (#650)
  i18n/pt-BR.js
Due: yarn lint:eslint, yarn lint:prettier

docs(pt-br): applying #646 changes (#651)
  content/pt/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

Translate guides configuration glossary pages to Spanish (es-ES) (#648)
  content/en/guides/configuration-glossary/configuration-rootdir.md
  content/en/guides/configuration-glossary/configuration-srcdir.md
  content/es/guides/configuration-glossary/configuration-rootdir.md
  content/es/guides/configuration-glossary/configuration-runtime-config.md
  content/es/guides/configuration-glossary/configuration-srcdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

[Spanish] Translate guides configuration glossary (#647)
  content/es/guides/configuration-glossary/configuration-target.md
  content/es/guides/configuration-glossary/configuration-vue-config.md
  content/es/guides/configuration-glossary/configuration-watch.md
  content/es/guides/configuration-glossary/configuration-watchers.md
Due: yarn lint:prettier, yarn lint:markdownlint

[docs-id] Translate guides/features (#642)
  content/id/guides/features/deployment-targets.md
  content/id/guides/features/rendering-modes.md
Due: yarn lint:prettier, yarn lint:markdownlint

Copy english version files
  content/id/guides/features/live-preview.md
  content/id/guides/features/meta-tags-seo.md
Due: yarn lint:prettier, yarn lint:markdownlint

[id] Footer section translation completed
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

Update es-ES.js
  i18n/es-ES.js
Due: yarn lint:eslint, yarn lint:prettier

Update fr-FR.js
  i18n/fr-FR.js
Due: yarn lint:eslint, yarn lint:prettier

Configuration glossary mode, modules and plugins
  content/es/guides/configuration-glossary/configuration-mode.md
  content/es/guides/configuration-glossary/configuration-modules.md
  content/es/guides/configuration-glossary/configuration-modulesdir.md
  content/es/guides/configuration-glossary/configuration-plugins.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix displaying the structure of the components directory
  content/en/guides/directory-structure/components.md
Due: yarn lint:prettier, yarn lint:markdownlint

(i18n): add footer translations (#653)
  i18n/es-ES.js
  i18n/fa-IR.js
  i18n/fr-FR.js
  i18n/id-ID.js
  i18n/ja-JP.js
  i18n/ko-KO.js
  i18n/ru-RU.js
  i18n/tr-TR.js
  i18n/zh-ZH.js
Due: yarn lint:eslint, yarn lint:prettier

chore(deps): lock file maintenance
  yarn.lock
Due: none

Add example for adding components to the default layout
  content/en/guides/directory-structure/layouts.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: improvements to layout docs
  content/en/guides/directory-structure/layouts.md
  content/fr/guides/get-started/conclusion.md
Due: yarn lint:prettier, yarn lint:markdownlint

Path conditions:
  yarn lint:eslint: (any of: *.js) or (any of: *.vue)
  yarn lint:prettier: ((((any of: *.js) or (any of: package.json)) or (any of: *.vue)) or (any of: *.scss)) or (any of: *.md)
  yarn lint:markdownlint: any of: *.md
