Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

feat: add videos (#1285)
  components/global/YouTubeLite.vue
  content/en/guides/get-started/commands.md
  content/en/guides/get-started/installation.md
  content/en/guides/get-started/routing.md
  nuxt.config.js
  package.json
  pages/docs/2.x/_book/_slug.vue
  plugins/youtube.client.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

docs(id): translate untranslated thing in id-ID.js
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

docs(id): translate untranslated thing in id-ID.js (#1291)
  i18n/id-ID.js
Due: yarn lint:eslint, yarn lint:prettier

docs(id): translate configuration head
  content/id/guides/configuration-glossary/configuration-head.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix error in example code in creating-blog-with-nuxt-content.md
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

remove unwanted particles
  content/ja/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): translate configuration hooks
  content/id/guides/configuration-glossary/configuration-hooks.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(id): translate configuration head and configuration hooks (#1292)
  content/id/guides/configuration-glossary/configuration-head.md
  content/id/guides/configuration-glossary/configuration-hooks.md
Due: yarn lint:prettier, yarn lint:markdownlint

Fix error in example code in creating-blog-with-nuxt-content.md (#1293)
  content/en/blog/creating-blog-with-nuxt-content.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/id/guides/directory-structure/modules.md
  content/id/guides/directory-structure/modules.md
Due: yarn lint:prettier, yarn lint:markdownlint
