Repository nuxt/website-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:eslint, yarn lint:prettier, yarn lint:markdownlint

.lintstagedrc:

{
  '*.js': ['yarn lint:eslint', 'yarn lint:prettier', 'git add'],
  '{!(package)*.json,*.code-snippets,.*rc}': [
    'yarn lint:prettier --parser json',
    'git add',
  ],
  'package.json': ['yarn lint:prettier', 'git add'],
  '*.vue': [
    'yarn lint:eslint',
    'yarn lint:prettier',
    'git add',
  ],
  '*.scss': ['yarn lint:prettier', 'git add'],
  '*.md': ['yarn lint:markdownlint', 'yarn lint:prettier', 'git add'],
}

test: add test for `_redirects` file
  package.json
  scripts/check-redirects.js
  yarn.lock
Due: yarn lint:eslint, yarn lint:prettier

fix: other broken redirects
  _redirects
Due: none

update GH Stars and version number
  nuxt.config.js
Due: yarn lint:eslint, yarn lint:prettier

docs(ja): fix position (#951)
  content/ja/guides/get-started/conclusion.md
  content/ja/guides/get-started/upgrading.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-render
  content/ja/guides/configuration-glossary/configuration-render.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-rootdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-rootdir
  content/ja/guides/configuration-glossary/configuration-rootdir.md
Due: yarn lint:prettier, yarn lint:markdownlint

Update content/ja/guides/directory-structure/pages.md
  content/ja/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(i18n-id): Replace all 'kita' with 'Anda'
  content/id/guides/internals-glossary/internals-builder.md
  content/id/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(i18n-id): Provide Indonesian translation for internals, builder, and generator (#946)
  content/id/guides/internals-glossary/internals-builder.md
  content/id/guides/internals-glossary/internals-generator.md
  content/id/guides/internals-glossary/internals.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): guides/directory-structure/pages.md (#919)
  content/ja/guides/directory-structure/pages.md
Due: yarn lint:prettier, yarn lint:markdownlint

ssr-page-translation
  content/ru/guides/concepts/server-side-rendering.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ru): Translate directory concepts
  content/ru/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): lock file maintenance
  yarn.lock
Due: none

feat: copy english docs
  content/id/guides/configuration-glossary/configuration-build.md
  content/id/guides/configuration-glossary/configuration-generate.md
Due: yarn lint:prettier, yarn lint:markdownlint

fix: redirect to valid urls (#954)
  _redirects
Due: none

fix: broken links (#956)
  content/en/_archives/api/configuration-build.md
  content/en/_archives/api/configuration-rootdir.md
  content/en/blog/creating-blog-with-nuxt-content.md
  content/en/blog/moving-from-nuxtjs-dotenv-to-runtime-config.md
  content/en/faq/surge-deployment.md
  content/en/guides/concepts/context-helpers.md
  content/en/guides/configuration-glossary/configuration-build.md
  content/es/guides/concepts/context-helpers.md
  content/es/guides/configuration-glossary/configuration-build.md
  content/fr/api/configuration-build.md
  content/id/api/configuration-build.md
  content/id/guides/concepts/context-helpers.md
  content/ja/api/configuration-build.md
  content/ja/guides/configuration-glossary/configuration-build.md
  content/ko/guides/concepts/context-helpers.md
  content/pt/guides/concepts/context-helpers.md
  content/pt/guides/configuration-glossary/configuration-build.md
  content/zh/api/configuration-build.md
Due: yarn lint:prettier, yarn lint:markdownlint

initClientOnlyComp usable without modifications (#943)
  content/en/guides/features/nuxt-components.md
Due: yarn lint:prettier, yarn lint:markdownlint

Add missing state parameter to toggle mutation (#939)
  content/en/guides/directory-structure/store.md
Due: yarn lint:prettier, yarn lint:markdownlint

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: yarn lint:prettier

docs(ja): add original
  content/ja/guides/configuration-glossary/configuration-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

docs(ja): translate configuration-runtime-config
  content/ja/guides/configuration-glossary/configuration-runtime-config.md
Due: yarn lint:prettier, yarn lint:markdownlint

feat(ci): test for sync upstream
  .github/workflows/sync.yml
Due: none

chore: change text
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

chore: change text (#967)
  components/organisms/MasteringNuxtBanner.vue
Due: yarn lint:eslint, yarn lint:prettier

docs(ru): Translate directory concepts (#962)
  content/ru/guides/concepts/views.md
Due: yarn lint:prettier, yarn lint:markdownlint
